[2019-10-13 11:23] ricky3dec commented on #510
Hello @yongtang I created an initial pull request for this : https://github.com/tensorflow/io/pull/540.

Though I see some failure in nightly build:https://travis-ci.org/tensorflow/io/jobs/597223205. Please let me know If I am missing something obvious, until I will try to debug the error. Since this is something new for me.

Please note I have not modified the python operations, please let me kno

[2019-10-13 12:40] ricky3dec commented on #510
@yongtang , I am able to debug locally now, please hold on the review for now, until I request again. Thanks!

[2019-10-13 16:01] ricky3dec commented on #510
Hello @yongtang , I hope there are no more obvious issues with build (except that some jobs are timing out especially macos ones and linux one executed fine, so not sure about that).

You may review the PR now: https://github.com/tensorflow/io/pull/540

These are minimalistic changes, to make things going. Please let me know anything additional to be done as part of this

[2019-10-14 03:28] #482 closed

[2019-10-14 03:55] yongtang commented on #459
As https://github.com/tensorflow/tensorflow/pull/33263 has been merged, I expect that TensorFlow 1.15.0 to be released in a couple of days (Monday or Tuesday).

We are good with PR #472 and is pretty ready for our v0.8.0 release.

[2019-10-14 13:37] shazhongcheng opened #546 "An unbelievable error in TensorFlow2.0 tutorials/load_data/images !!!!!!!!!!!!!!!"
when i run the [tutorial](https://tensorflow.google.cn/tutorials/load_data/images?hl=en) in tensorflow2.0 , it run error in
[code]
the information is:
[code]

And i don`t know why?
I try download form the [web](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/load_data/images.ipynb)

It also run error on the same place, i don`t know why and i don`t know how to fix it.

I want to Su

[2019-10-14 19:29] BryanCutler commented on #546
@shazhongcheng this issue doesn't belong in tensorflow-io, but I did try the tutorial and did not reproduce an error with TensorFlow 2.0. I would recommend asking the question on https://stackoverflow.com/questions/tagged/tensorflow or making an issue on https://github.com/tensorflow/tensorflow/issues

[2019-10-14 19:29] #546 closed

[2019-10-14 20:12] yongtang opened #548 "Support SQL input such as PostgreSQL server in tensorflow-io"
While looking into tensorflow's SqlDataset it looks like only sqlite is supported.  The usage of sqlite is popular but not so much in many production systems. It would be great to have true Sql server such as PostgreSQL supported in tensorflow-io, for a wider adoption of tensorflow-io.

[2019-10-14 20:33] yongtang commented on #537
We have way too many subdirectories. While we could leave the subdirectories alone for C++ code base, in python, I think it helps to group them into categories:
[code]

[2019-10-14 21:53] ricky3dec commented on #510
Thanks @yongtang for your support!

[2019-10-14 23:58] wookayin commented on #124
@psitronic That's correct. However starting from TF 1.15, tensorflow will by default include GPU support with just `tensorflow` pip package. See [this link](https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/iRCt5m4qUz0)

[2019-10-15 14:55] ricky3dec commented on #510
@yongtang thanks for working on fixing additional tests, looks like I should have re-checked changes after the merge from master. I shall take care of it next time.

That brings to me another point, could you please share the build and test steps reference, so that I can do some sanity checks on my end?
Also, I think we should document these naming conventions in development guide, so that anyone

[2019-10-15 18:01] yongtang commented on #510
@ricky3dec The developing and testing is covered in https://github.com/tensorflow/io#python

It may not be very detailed or complete. If you find anything missing, we can improve the documentation and update.

The naming conventions is a good content for docs. Would be great if you can help?

Our initial docs directory has been setup in https://github.com/tensorflow/io/pull/498

The tensorflow/doc

[2019-10-15 19:41] ricky3dec commented on #510
Sure @yongtang , I can work on that!

Can you please help create an issue and assign that to me, with details about what all needs to be taken care from documentation side?

[2019-10-16 03:45] yongtang opened #552 "Add naming conventions and prefixes in docs for development guide"
We should document naming conventions in development guide, so that anyone contributing can follow.

[2019-10-16 03:46] yongtang commented on #552
/cc @ricky3dec

[2019-10-16 19:38] yongtang opened #553 "tensorflow-io 0.10.0 release"
Since TensorFlow 1.15.0 and 2.0.0 has been released, we are in the process of releasing 0.8.0 (tracking #459) and 0.9.0 (tracking #517).

As we use the same code base for 0.8.0 (for TF 1.15.0) and 0.9.0 (for TF 2.0.0), we took quite a few compromises to maintain compatibility.

I think it makes sense for use to release a 0.10.0 soon, to create a clean baseline moving forward with TF 2.0. Several t

[2019-10-17 18:19] yongtang commented on #459
All tests pass now. The candidate wheel files for 0.8.0 release are located in:

https://www.dropbox.com/home/Apps/tensorflow-io-nightly/release/1990/wheelhouse

Will do some testing, if everything is fine, will label v0.8.0 release then push to PyPI.org (likely this afternoon).

[2019-10-17 18:51] ricky3dec commented on #510
Hello @yongtang , I did not get a chance to follow up on all discussions, but just wanted to know, did we face any issues with current naming convention "IO>"? I see we had to change it to 'Io' as a prefix in current release.

[2019-10-17 19:01] yongtang commented on #510
@ricky3dec The `"IO>"` works with `TF 1.15.0rc3 but not `TF 1.15.0` (final). Since we are pending release for 0.8.0 (compatible TF1.15.0), I switch to `Io` so that all python changes could remain (only C++ changes from  `"IO>"` => `"Io"`.

Our 0.9.0 release (will happen as soon as we release 0.8.0) with switch back to `"IO>"` as this is the way to move forward.

See https://github.com/tensorflow/i

[2019-10-17 19:58] yongtang commented on #459
Tested on Ubuntu 16.04 and 18.04, all works fine (python 2.7, 3.5, 3.6, 3.7). Below are the related wheel files:
[code]

[2019-10-17 20:02] yongtang commented on #459
Version 0.8.0 released:
https://github.com/tensorflow/io/releases/tag/v0.8.0

https://pypi.org/project/tensorflow-io/0.8.0/

👍 🎉 🎆 , thanks all!

[2019-10-17 20:02] #459 closed

[2019-10-17 20:27] ricky3dec commented on #510
Thanks for your explanation @yongtang !

[2019-10-17 20:31] ricky3dec commented on #552
On it now!

[2019-10-18 17:51] suphoff opened #557 "FYI: libtiff should probably be updated"
FYI:

https://www.cvedetails.com/vulnerability-list/vendor_id-2224/Libtiff.html

[2019-10-19 00:05] yongtang commented on #517
We releases a patch version of 0.7.1 with the help from @vlasenkoalexey 👍 🎉 , which fixes a bigquery issue for 1.14.0:
https://github.com/tensorflow/io/releases/tag/v0.7.1

For 0.9.0 release, all tests pass and the candidate binaries are located:
https://www.dropbox.com/home/Apps/tensorflow-io-nightly/release/2007/wheelhouse

I will do some additional testing, and, if everything is fine, I will ta

[2019-10-19 00:54] yongtang commented on #517
Tested on Ubuntu 16.04 + 18.04, with python 2.7, 3.5., 3.6, 3.7, all works fine. Below are the binaries:
[code]

0.9.0 is released in https://github.com/tensorflow/io/releases/tag/v0.9.0

👍 🎉 🎆

[2019-10-19 01:00] yongtang commented on #517
Thanks all for the great contributions! 👍 🎉 🎆

[2019-10-19 01:00] #517 closed

[2019-10-20 17:24] yongtang commented on #557
Thanks @suphoff. Since libtiff's latest release is 4.0.10 (which we already have), I have to bring a non-release commit  of libtiff (43b0c984f0a2c81565b05b6590bf9de7df61247). Think this commit should have fixes all vulnerabilities mentioned in the report.

The PR is #568.

[2019-10-20 18:20] yongtang commented on #411
With tensorflow-io 0.9.0 released (support tensorflow 2.0), this issue has been resolved.

[2019-10-20 18:20] #411 closed

[2019-10-20 18:59] #557 closed

[2019-10-21 12:03] yongtang commented on #521
tensorflow-io v0.9.0 is compatible with TF2.0 and has been released:
https://github.com/tensorflow/io/releases/tag/v0.9.0

Let us know if you run into any issues.

[2019-10-21 12:03] #521 closed

[2019-10-21 12:19] yongtang commented on #520
@epolitis I could not reproduce the issue locally, though from the error message this looks like a mismatch of protoc. Can you try with newer version 0.9.0 and see if issue still exists?

[2019-10-21 12:24] yongtang commented on #342
@CaptainDuke in 2.0 the output shape and dtype are implicitly probed. I believe the issue has been resolved. Will close the issue for now but feel free to reopen if issue still persists.

[2019-10-21 12:24] #342 closed

[2019-10-21 23:20] vlasenkoalexey opened #572 "tensorflow_io build is broken at master"
I believe this is due to https://github.com/tensorflow/io/pull/570
There is a typo in /.travis/bazel.build.sh, but tests are not passing even with the fix:
https://github.com/tensorflow/io/pull/571

And even with the fix on my machine, auditwheel does not generate whl files under wheelhouse folder. When I run auditwheel show, it said "The wheel requires no external shared libraries! :)"

[2019-10-21 23:36] yongtang commented on #572
Thanks @vlasenkoalexey! I enabled python 3.7 for macOS but looks like we just encountered too many issues with python 3.7 macOS. let me disable the python 3.7 on macOS and revert back.

[2019-10-22 00:02] MarkDaoust commented on #489
I'm still having a little trouble getting the api reference docs onto tensorflow.org.

I retried this with `!pip install tensorflow_io=0.9`, in a fresh virtual env with `pip install tensorflow==2.0`. Ubuntu 14.04.5 LTS. Python 3.7.

These are the errors I get now:

https://gist.github.com/MarkDaoust/8a399024b1b162fc61086119e3ddd947

Using this "recursive_import" function:

https://gist.github.com/

[2019-10-22 00:09] Conchylicultor opened #574 "NotImplementedError: unable to open file: libtensorflow_io_golang.so"
I'm trying to use `tensorflow_io` in https://github.com/tensorflow/datasets/pull/1113. However, [our tests](https://source.cloud.google.com/results/invocations/f42a5f4a-0c3f-46c8-9477-f8ac0e483846/targets/tensorflow_datasets%2Fgh_testing%2Fpresubmit/log) fails for both Python 2 and 3 when using TF 1.15.0, with the error:
[code]
From https://github.com/tensorflow/tensorflow/issues/19010, it may be

[2019-10-22 00:12] yongtang commented on #489
Thanks @MarkDaoust. Are you using dead snake's python 3.7 module (https://launchpad.net/~deadsnakes/+archive/ubuntu/ppa) with Ubuntu 14.04?

Let me take a look and see if I could fix the issue.

[2019-10-22 00:17] yongtang commented on #489
@MarkDaoust Looks like dead snake's python 3.7 version does not work with Ubuntu 14.04 due to the SSL version. Do you have a docker image with Ubuntu 14.04 + Python 3.7 you are using so that I can give it a try?

[2019-10-22 00:24] yongtang commented on #574
@Conchylicultor tensorflow-io 0.8.0 is compatible with TF 1.15 and tensorflow-io 0.9.0 is compatible with TF 2.0. Due to some name space changes in TensorFlow's C++ API, the two version does not work if exchanged.

Can you give it a try to pin to tensorflow-io==0.8.0 for 1.15, and see if the issue still exist.

[2019-10-22 00:28] yongtang commented on #574
The namespace change in 1.15 was mentioned in https://github.com/tensorflow/io/pull/472#issuecomment-542881041

TF 2.0 revert back the behavior.

[2019-10-22 01:07] yongtang commented on #572
Master build has been fixed in:
https://travis-ci.org/tensorflow/io/builds/601023351

[2019-10-22 01:07] #572 closed

[2019-10-22 03:59] yongtang commented on #574
@Conchylicultor Actually, I might be jump to conclusion too soon. Depending on which version is installed:
- tensorflow-io 0.8.0 + tensorflow 1.15 -- should work
- tensorflow-io 0.9.0 + tensorflow 2.0 -- should work
- tensorflow-io 0.8.0 + tensorflow 2.0 -- should not work due to namespace mismatch
- tensorflow-io 0.9.0 + tensorflow 1.15 -- should not work due to namespace mismatch

If the issue w

[2019-10-22 04:48] vlasenkoalexey commented on #489
Could you also check which pip version do you have (pip --version)?
By default Ubuntu installs 9.xx which, which is very old. If you run pip install tensorflow-io on pip 9.x it will only install tensorflow-io 0.7.x. In order to install 0.9.x you need to upgrade pip to latest version (19.x).

[2019-10-22 21:29] vlasenkoalexey commented on #574
One thing worth mentioning is that tensorflow-io might not work with manually built tensorflow if different compile flags were used, see https://github.com/tensorflow/io/issues/161#issuecomment-477401875

[2019-10-23 07:38] vihari1729 opened #579 "How does the model of tflite format provided by speech command android demo be converted?"
I used lite Converter to convert my model of pb format to tflite format in terminal but it didn't work well.

But when I used the tflite model provided by speech command android demo, it works pretty well. So I want to know how this model was converted?

https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md

Using the above link i trained the model with

[2019-10-23 08:59] carlthome opened #580 "to_dataset() method doesn't exist on IOTensor"
First of all, thanks for working on improving I/O in TensorFlow. It will be a crucial and very welcome addition (serializing `tf.Tensor` to bytestrings and squeezing them into `tf.train.Example` protobufs sucks). Especially lazy random access reads would be a killer feature for DL models on audio data (e.g. WAVs hosted on bucket storage).

On the latest PyPI release (0.9.0) I'm trying to use `to_d

[2019-10-23 14:00] carlthome opened #581 "tf.data doesn't work with AudioIOTensor"
AFAIK `tf.data` always applies `@tf.function` to everything for performance reasons (e.g. distributed compute). This means that `tfio.IOTensor.from_audio` cannot be used in a `tf.data` pipeline as the constructor calls `.numpy()`. Am I misunderstanding how `tfio.IOTensor` is intended to be used or is this a bug?

# MCVE
[code]

[code]

[2019-10-23 14:50] Mazagov opened #582 "audio sample rate support"
I am looking through  IODataset from_ffmpeg and from_audio and it's not clear to me how read audio at a specific sampling rate similar to what was provided in [tf.contrib.ffmpeg.decode_audio](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/contrib/ffmpeg/decode_audio).
Is this already implemented? if so can you point me out to how to do that, if not can we add support to that?

[2019-10-23 22:30] MarkDaoust commented on #489
Okay here is something reproducible (Ubuntu 18.04.3 LTS, python 3.6.8, pip-19.3.1):
(Remove the `grep` below to get more detail for each error.)

[code]
[code]

[2019-10-24 03:32] yongtang commented on #489
Thanks @MarkDaoust ! I am able to reproduce the issue.

There are several reasons causing the module load errors.

One issue was that **FFmpeg was not installed**. Because FFmpeg is LGPL license, we could not bundle FFmpeg into tensorflow-io. Instead, in runtime it is loaded dynamically.

If FFmpeg is installed, then several ERROR could be removed. Below is the output:
[code]

ERROR output (less n

[2019-10-24 03:35] yongtang opened #584 "Support Kafka configuration options in KafkaOutputSequence"
In tensorflow-io, KafkaDataset that is used for reading message from Kafka, is able to pass additional configuration such as SSL.

However, the API to write message to Kafka server (KafkaOutputSequence), is not able to pass additional configurations.

This issue is to track the progress to allow configuration for Kafka write.

[2019-10-24 03:35] yongtang commented on #584
/cc @kaiwaehner

[2019-10-24 04:28] yongtang commented on #582
The resample of the audio is not supported yet. We could add this feature. Ideally I think this could be implemented as a standalone custom ops, and used as
[code]

Will work on this feature later (likely after next week).

[2019-10-24 21:40] MarkDaoust commented on #489
It looks like you're working hard at fixing these!

One more question about FFMPEG. Depending on the machine I run on get this even with ffmpeg installed, does this ring any bells for anyone?:

[code]

[2019-10-24 23:26] yongtang commented on #489
Thanks @MarkDaoust! Since FFmpeg's library API changes from time to time, we could only support a limited range of shared object libraries. In tensorflow-io we try to probe a set of dependency on Ubuntu 14.04, 16.04, and 18.04. That is why you see there are three sets of libavformat.so with different version extensions.

In short tensorflow-io only support FFmpeg on **Ubuntu 14.04**, **16.04**, an

[2019-10-25 13:41] psitronic commented on #124
@wookayin Thank you for the reply. However, according to the link you mentioned two packages for cpu and gpu support still will exist and will be used. I wouldn't cancel a possibility to use `tensorflow-io` only with either gpu or cpu packages.

[2019-10-25 15:14] faroit commented on #581
this was exactly the same problem I came up in my first tf.io tests here. @yongtang could you help us?

[2019-10-25 16:42] yongtang commented on #581
@carlthome @faroit thanks for helping raise the issue here!

To explain some background. The tf.data pipeline, and tf.function creates subgraph in tensorflow and executes in graph mode. (Even if you invoke in 2.0 and eager mode enabled). The advantage is to have an efficient data pipeline without switch back and forth python binding.

In other words, all the functions passed in `tf.data.Dataset.ma

[2019-10-25 17:00] yongtang commented on #580
@carlthome Thanks for helping raise the issue! At the beginning IOTensor was only for either standalone Tensor with single data type (e.g., Audio), or for columnar Tensors where it consists of a set of Tensor with the same shape (or same dim[0]), but different data types.

However, later it was found out that some of the data input does not conform to the above two scenarios. One example is the HD

[2019-10-25 18:38] MarkDaoust commented on #581
Isn't this use-case also covered by `tfio.IODataset.from_audio(path)` which is a convienient way to load a wav as a dataset.

[2019-10-25 19:08] yongtang commented on #584
Added a PR #590 to address this issue.

[2019-10-25 22:02] Conchylicultor commented on #574
It looked like installing `tensorflow_io` `0.9.0` worked. Maybe this was due to us using tf-nightly.

[2019-10-25 22:02] #574 closed

[2019-10-25 22:09] #584 closed

[2019-10-25 23:27] MarkDaoust commented on #227
There's one notebook in the works here: https://github.com/tensorflow/io/pull/591, I've given some feedback on how they can integrate with the tensorflow.org setup.

[2019-10-27 00:23] yongtang opened #592 "Ops for Reading from Cloud Spanner"
This feature request was originally from tensorflow core repo tensorflow/tensorflow#9503

I think this could be a very useful feature that helps many users in tensorflow/io.

[2019-10-28 22:46] dalelane opened #593 "Kafka config options in from_kafka"
Where something like this works:

[code]

is it possible to do the equivalent using `from_kafka`, please?

[code]

[2019-10-31 05:11] yongtang commented on #593
Thanks @dalelane and sorry for the late reply. In from_kafka, it is not obvious though indeed you could pass servers and configurations, implicitly through `configuration=kwargs.get("configuration", None),`

Created a PR #597 to make it explicit, though you could use configurations even with existing release I believe.

[2019-10-31 07:23] #579 closed

[2019-10-31 13:21] yongtang opened #598 "Add Redis tf.data support"
While working on Kafka, realized that Redis could equally be used as a message broker. Kafka is more of a message broker with long live persistent storage and Redis is an in-memory K-V store that might fits better for short-lived messages.

This may not be suitable for training (unless Redis Pub/Sub could repeat), but makes lot of sense for inference. So it makes sense to have a tf.data support fo

[2019-10-31 15:08] ricky3dec commented on #598
Hello @yongtang , just trying to understand the use-case better, do we require this for near real time inference?

[2019-10-31 16:21] yongtang commented on #598
@ricky3dec in many enterprises (“traditional”), Redis are used widely for servers purposes. The biggest usage used to be “key-value” cache. (Redis is not a new framework and has been around for a long time). Later on Redis is also used for Pub/Sub types of tasks. This is similar to Kafka though Redis is in-memory and does not persist.  It serves different purposes compared with Kafka.

Since Redis

[2019-10-31 17:15] #593 closed

[2019-10-31 17:31] BryanCutler commented on #553
So should we make sure that each tests runs tf.keras also?

The steps for moving forward sound good to me and the API cleanup seems reasonable.

[2019-10-31 18:44] yongtang commented on #598
@ricky3dec execute in-memory queries in a distributed manner could be complicated, it might requires quite extra work to reach there. Having said that, TF architecture itself is well-designed and it is certainly possible to extend in many different directions (and may not be difficult if combined with python).

[2019-10-31 20:24] dalelane commented on #593
@yongtang That's fantastic - thanks for doing that!

[2019-11-01 02:31] yongtang commented on #553
Thanks @BryanCutler. I think it makes sense to make sure that each dataset runs with tf.keras. We could simplify as we only need to check if the tf.data + tf.keras pipeline is working.

I think something like a simple one or two layer of tf.keras, and a tf.data.Dataset of 10 elements should be good enough. It might even make sense to keep a template of tests so that it applies to every Dataset we

[2019-11-02 17:01] yongtang commented on #553
Some other thought during the trip to Contributor Summit:

**API stability**

Eventually we have to guarantee API is stable after 1.0, I think we have a long way to go (I could see we will reach 0.20 or later before 1.0 is released):
- We could designate v0, v1, v2 for stable releases, and experimental for non-stable release in python space.
- We may need to get to C++ API stability. As we discuss

[2019-11-04 14:12] #137 closed

[2019-11-04 16:00] ricky3dec commented on #598
Sure, thanks @yongtang !

[2019-11-04 20:16] dzubo commented on #581
that would be awesome to have something like this. I see that ` _AudioIODatasetFunction.__call__()` already has `start` and `stop` parameters, but we can't use them in Keras/Tensorflow code, right?

[2019-11-04 21:34] yongtang commented on #581
The initial idea was that IOTensor will read and parse the meta data of an input (e.g., audio file), and use meta data automatically without user knobs. For example, For AudioIOTensor, you don't need to know anything about the audio file before hand.

In order to wire up AudioIOTensor, all necessarily information, e.g., data type of uint8/16/32, shape, etc will need to be done in graph run time. I

[2019-11-04 21:50] yongtang commented on #581
Ah its still not possible as `tf.switch_case` requires the same data type across multiple branches.

In that situation, I think the viable solution would be to ask user to provide the data type (before graph runs) if the function is to be run with tf.data.Dataset.

[2019-11-05 12:46] purbanow opened #609 "macos/ERROR: No matching distribution found for tensorflow-io"
Hi,
Any idea why with pip2 is working but with pip3 it doesn't?

![image](https://user-images.githubusercontent.com/37292156/68208828-0794f980-000d-11ea-832d-372b248abbd9.png)

Thanks

[2019-11-05 13:03] #609 closed

[2019-11-05 14:24] yongtang commented on #609
@purbanow We don't have python 3.7 support yet, but are actively working on it (see PR #576). Python 3.7 support on Mac should be available in the next version of release.

[2019-11-05 20:07] daphneweinstein opened #610 "Please put a mac build of release 0.7.1 in PyPI"
I would like to use tensorflow-io 0.7.1 on a mac operating system and noticed that there is no 0.7.1 mac wheel in PyPI.

I need the fixes of 0.7.0 introduced in 0.7.1. I am working on a project where it is not currently tenable to upgrade to 0.8.0 or 0.9.0 because we are relying on an earlier version of tensorflow.

 I would just build the wheel locally from my downloaded zip of 0.7.1 but I also g

[2019-11-05 22:12] vlasenkoalexey commented on #610
Indeed I missed to uploade macos files.
The right way to build those is to sync your github repostitory to 0.7.1 tag and run following command: bash -x -e .travis/python.release.sh

I'll try to rebuild myself and upload macos files.

[2019-11-06 00:08] daphneweinstein commented on #610
Thanks! Will wait for the upload because I'm still having trouble building locally using the command you suggest.

[2019-11-06 00:55] yongtang opened #611 "KafkaDataset enhancement"
At the moment we are actively working on having the KafkaDataset combining with schema registry, pipeline, message write back, etc. to reflect production usage. We noticed several areas that could be improved:

- [x] In order to support schema registry, we use `decode_avro` messages. However, this is not really efficient because `decode_avro` takes the `schema` as input and parse the schema repeat

[2019-11-06 01:00] yongtang opened #612 "Enable CPU instructions when building the binary."
This was initially raised in #611, but I think it deserves wide discussion by its own:

In order to support the maximum range of users, we use the most generic CPU instructions when compiling C++ code. This ensures user will not encounter any invalid CPU instructions if their machine is old.

However, this is really bad in performance as the binary we shipped does not use modern instructions such

[2019-11-06 01:08] vlasenkoalexey commented on #610
Uploaded files to pypi: https://pypi.org/project/tensorflow-io/0.7.1/#files
Tested on my mac, everything works as expected.

Building on Mac is a bit tricky since everything is built without docker and you need all dependencies to be installed.
bash -x -e .travis/python.release.sh script worked for me after installing all python versions and manually upgrading pip for each version.

Closing bug, p

[2019-11-06 01:08] #610 closed

[2019-11-06 03:07] hollowgalaxy commented on #581
I got same error when I tried to use from `tensorflow_io.ffmpeg.VideoDataset` in a function with a `@tf.function` decorator.

[2019-11-06 03:58] yongtang commented on #581
@hollowgalaxy the Video Dataset might a different scenario. As you may know, all dataset are constructing a subgraph and all the `dataset.map()` always runs in graph mode. At the same time, tf.function is also constructing a subgraph. So combining tf.function with tf.data will not speed up. (tf.data.map actually did the autograph implicitly already).

Can you explain a little further about what yo

[2019-11-06 04:19] yongtang commented on #581
@hollowgalaxy If you are looking for `decode_video` types of ops to wire up the dataset then it is available: https://github.com/tensorflow/io/blob/3f9e8708ad8c22d1161b61f96c39cff1304e5156/tensorflow_io/core/python/experimental/ffmpeg_ops.py#L21

[2019-11-06 15:44] daphneweinstein commented on #610
Works perfectly. Thanks so much for the quick turnaround on this.

[2019-11-06 17:06] ricky3dec commented on #552
Hello @yongtang , anything more pending in this issue? Not sure, when we actually close the issues :-)

[2019-11-06 17:06] ricky3dec commented on #510
Hello @yongtang , anything more pending in this issue? Not sure, when we actually close the issues :-)

[2019-11-06 17:18] yongtang commented on #510
@ricky3dec All have been completed. Thanks for the great work! 👍 🎉

[2019-11-06 17:18] #510 closed

[2019-11-06 17:19] yongtang commented on #552
@ricky3dec All completed, thanks for the great contribution! 👍 🎉

[2019-11-06 17:19] #552 closed

[2019-11-06 17:58] #216 closed

[2019-11-06 18:04] yongtang commented on #611
CPU instruction compiler flag is covered in PR #613.

[2019-11-06 18:09] yongtang commented on #612
PR #613 adds SSE4.2 and AVX support which is inline with tensorflow-core.

AVX2 is not enabled, also inline with tensorflow-io.

[2019-11-06 18:35] yongtang commented on #611
Additional lodging is added in #614.

[2019-11-06 21:28] hollowgalaxy commented on #581
I was using the map function from a CSV dataset to create videos and labels. The tf.function was used to because some conditionals were being done and I wanted those conditionals to be part of the graph. It also has some stuff that processes the video such as (`skip` and `take` as example given those conditionals).

Looks like `decode_video` can do the job however, not sure what the index value is

[2019-11-07 08:44] faroit commented on #581
@yongtang reading your suggestions I feel that most users would probably like a `decode_audio` op that they can integrate in their `tf.data` pipeline. Is that possible?

[2019-11-07 15:12] yongtang commented on #581
Added PR ##615 to solve the `using IOTensor inside another tf.data.Dataset` or `using IODataset (a subclass of Dataset) inside another tf.data.Dataset` issue.

[2019-11-07 15:34] yongtang commented on #581
To explain a little about what was happening and why it could be challenging:
1) Initially tf.data was designed as a pipeline in graph mode with efficiency as the goal. The usage of tf.data.Dataset in eager mode was outside of the initial goal.
   Later on `for d in dataset` types of iteration was added but that is more of a complement.
2) It was not possible to random access with tf.data as tf.da

[2019-11-07 18:25] #581 closed

[2019-11-07 19:11] yongtang commented on #581
@hollowgalaxy the index is the video stream index within the video container (e.g., mp4), as you may have multiple sub streams.

For your need the decode_video may not work if the video is long. I will take a look and overt the IOTensor or IODataset into graph mode so that it could be used with your CSVDataset.

[2019-11-08 02:32] #612 closed

[2019-11-08 04:14] hollowgalaxy opened #616 "tfio.ffmpeg.VideoDataset doesn't work inside of tf.function"
To be more descriptive.... I'm trying to do something along the lines of
[code]
Tried using `tfio.ffmpeg.VideoDataset`
[code]

When I use `tfio.ffmpeg.decode_video(video_path,0)` as suggested by https://github.com/tensorflow/io/issues/581#issuecomment-550132324
[code]

Switched to using
`video = tfio.IOTensor.from_ffmpeg(video_path)._values[0].to_tensor()`
error similar to VideoDataset
[code]

Ide

[2019-11-08 04:15] hollowgalaxy commented on #581
@yongtang  thank you for the hard work. moving this to a new issue to avoid hijacking.https://github.com/tensorflow/io/issues/616

[2019-11-08 07:02] yongtang commented on #611
PR #613 and PR #614 have been merged.

[2019-11-08 20:28] hollowgalaxy commented on #616
I take it back slightly, removing `tf.function` still causes `VideoDataset` to fail inside of the flat_map function

[2019-11-09 00:02] vlasenkoalexey opened #619 "BigQuery reader is returning random values for integers that are null"
Looking at code, this also could be the case for other data types.

[2019-11-09 18:11] yongtang opened #621 "Kokoro CI error"
I notice Kokoro CI is returning an error for all build in `tensorflow/io`

[code]

Also noticed that the same thing is happening to `tensorflow/addons` repo as well (https://github.com/tensorflow/addons#official-builds). (/cc @seanpmorgan )

I guess there might be some internal infrastructure change that caused `readable_run: command not found`?

/cc @kokoro-team @ewilderj @martinwicke

[2019-11-09 18:44] yongtang commented on #553
The TF 2.1 release candidate was planned for 11/07:
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/DK4QK25ViA4

It might have been delayed though it looks like tensorflow's r2.1 branch has been created yesterday. For that I believe TF 2.1 rc0 (or rc1) will be released next week. That means TF 2.1 final might be released in another several weeks (likely December).

Relate to te

[2019-11-09 22:18] hollowgalaxy commented on #616
Also tried putting `VideoDataset` into `tf.py_function`.
This lead to OOM error. I didn't explore specifically why (as my video was sensible, [267,1080,720,3]) but believed that it may be that sseveral copies of the video accumulated one is a tf tensor another is a numpy ndarray and perhaps a 3rd one due to accumulation of `get_next` from the `VideoDataset`

[2019-11-09 23:40] hollowgalaxy commented on #616
Solved.
The magic sause I was missing
[code]

Works inside the tf.function as intended.

[2019-11-10 02:30] suyashkumar commented on #621
I noticed this on PR #620, and looked into it a little. I am fairly certain I identified the internal change that broke these builds, and sent a potential fix for review!

[2019-11-10 03:23] shazhongcheng commented on #546
This error turns out because the file path difference between windows and linux, linux‘/’ windows'\\'

[2019-11-10 18:48] suyashkumar commented on #621
Looks like the fix worked! Here's a passing build from #620: https://source.cloud.google.com/results/invocations/12b5c52d-ebea-4b10-940c-39c07d29a06f/targets

@yongtang feel free to close this issue out!

[2019-11-10 18:52] yongtang commented on #616
@hollowgalaxy Added PR #622 for the fix.

[2019-11-10 22:13] yongtang commented on #621
Thanks @suyashkumar, great work and much appreciated! 👍 🎉

[2019-11-10 22:13] #621 closed

[2019-11-11 00:02] #616 closed

[2019-11-11 00:20] suyashkumar commented on #621
No problem, happy to help!

[2019-11-11 13:26] carlthome commented on #580
Great! `tfio.IODataset.from_audio()` is what I was looking for, so this is more of a docstring bug than a feature request.

[2019-11-11 18:49] vlasenkoalexey commented on #612
I'll run few tests to see if it had any effect on bigquery performance.

[2019-11-11 19:21] yongtang commented on #612
@vlasenkoalexey Thanks! 👍

[2019-11-12 01:08] cjmcgraw opened #627 "BigQueryClient query with arrays"
Hey guys. I am attempting to pull a table from bigquery that has nested arrays of values inside of it. I would like to pull it into the dataset then do a flat_map across it to unnest the data.

Currently it seems that the BigQueryClient doesn't actually support arrays which is needed for my work with TensorflowRanking

here is a snippet of code:
[code]

Here feature2 and labels are both arrays in

[2019-11-12 01:16] yongtang commented on #611
PR #628 has been opened to compile avro schema once, and reuse multiple times (avoid recompile for each message).

[2019-11-12 02:28] vlasenkoalexey commented on #627
That's correct, reading nested data structures is not supported.
If your table is not very big you can write a query to flatten it, and materialize as another table which will be readable by BigQuery reader. Code to do this is pretty straightforward.

`from google.cloud import bigquery
client = bigquery.Client(project=PROJECT_ID)

dataset_id = 'alekseyv_census_dataset'

def create_bigquery_table_f

[2019-11-12 02:34] cjmcgraw commented on #627
@vlasenkoalexey is it not supported because of bq limitations or because of library limitations? Just wondering how difficult a solution is to this.

For my problem specifics:

I deal in very high cardinality datasets. Most other options are not very valid. I am also open to the bq -> avro -> tfio approach as needed to handled this problem.

[2019-11-12 11:29] #619 closed

[2019-11-12 18:54] vlasenkoalexey commented on #627
This is a BigQuery reader limitation, BigQuery can handle nested structures just fine.
I don't plan to add support for this in nearest future, but eventually it would be nice to have it implemented. The parser code is here, feel free to contribute: https://github.com/tensorflow/io/blob/master/tensorflow_io/bigquery/kernels/bigquery_lib.h

[2019-11-12 19:18] vlasenkoalexey opened #629 "tensorflow-io 0.8.1 release"
I'd like patch 0.8.0 release with  https://github.com/tensorflow/io/pull/626
Please let me know if you would also like to cherrypick any other fixes.

[2019-11-12 21:33] vlasenkoalexey opened #632 "tensorflow-io 0.9.1 release"
I'd like patch 0.9.0 release with #626
Please let me know if you would also like to cherrypick any other fixes.

[2019-11-12 23:12] yongtang opened #633 "Provide Keras native I/O though IO-Layer for Kafka"
This comes from one discussion about Kafka + TensorFlow IO for predict.

During `model.predict` we used to rely on KerasCallback to capture the output of the data in a continuous fashion. There are several issues:
1) KerasCallback is in eager mode so it means switching back and forth in graph/eager mode.
2) It is not easy to combine the input data with output data when we need to do some further p

[2019-11-12 23:17] yongtang commented on #633
Created a PR #634 for this issue. Here is a rough usage:

[code]

/cc @terrytangyuan @BryanCutler

Also /cc @zhjunqin @kaiwaehner @sbaier1 as it is related to Kafka and some discussions.

[2019-11-12 23:23] yongtang commented on #633
The PR is opened in #634

[2019-11-14 05:50] suyashkumar opened #636 "[Genomics] Expose tf.data.Dataset API for Genome Ops"
Opening this issue to track the development of the `tf.data.Dataset` API for `tfio.genome` ops discussed in my last PR #620.

We should be able to build a `tf.data.Dataset` in eager mode by combining some of current genome ops.

Ideally we would expose something like `tfio.IODataset.from_fastq(filenames, convert_quality=false, convert_to_onehot=false)` that would read the fastq file(s), and option

[2019-11-14 05:52] suyashkumar opened #637 "[Genomics] Write docs & tutorials using tfio.genome"
Opening this issue to write docs & tutorials using `tfio.genome` as the API and ops are developed and begin to mature. Will hopefully get to this this weekend or early next week.

[2019-11-14 09:10] ricky3dec commented on #633
Hello @yongtang , just few questions:

1. when we are writing the outputs to Kafka here, do we really bother about kafka broker leader acknowledgement? Do we care about write guarantee here?
2. should we configure kafka in way that topics be created on runtime rather than static names while creating io_layer?. Was thinking if we can somehow provide automatic data abstraction for model outputs.
3.

[2019-11-14 18:18] yongtang commented on #633
Thanks @ricky3dec,

I think this is a configuration choice we can set. In #634 I only set a minimal configuration and kafka producer is in asynchronous mode. We could pass additional configurations as needed to have different behavior.

I think that could be possible. We could allow the Layer to take two inputs, one is the kafka topic name and another is the value to send to kafka. There might be

[2019-11-14 19:27] ivelin opened #638 "Video optimized models"
Following up on the SIG IO [monthly call today](https://docs.google.com/document/d/1CB51yJxns5WA4Ylv89D-a5qReiGTC0GYum6DU-9nKGo/edit?pli=1#):

- Are there available TF models that remember the previous image frames and only calculate inference on partial image changes?
- If such models exist, it could stimulate work on video IO plugins. Most video streaming protocols have a notion of delta between

[2019-11-14 19:53] yongtang commented on #638
@ivelin It is actually possible to solve this issue in a native nn way I think:
1) When video stream comes in, we get both key frames and non-key-frames. Those frames should not be decoded (as it will defeat the purpose).
2) We construct two series of data inputs, one is the key-frame only, another is the non-keyframe.
3) We take both key-frame and non-keyframe as the input. That means the input w

[2019-11-14 20:21] yongtang commented on #638
From implementation point of view, the challenge is more about separating the demuxing and decoding. In this way, we could selectively decode key-frame only, and pass non-decoded-non-key-frame as is. However, in current FFmpeg implementation in tensorflow/io, we mix them together due to the complexity of FFmpeg.

[2019-11-14 20:33] ivelin commented on #638
Understood. ffmpeg has a flag that extract only key frames. I've tested it on a couple of projects:
`-skip_frame nokey`

Would be good to hear from other folks who might be working on video inputs whether there are good pre-trained models that can effectively process partial image updates.

[2019-11-14 22:48] vlasenkoalexey opened #640 "tensorflow-io 0.7.2 release"
I'd like patch 0.7.1 release with #626
Please let me know if you would also like to cherrypick any other fixes.

[2019-11-14 23:19] ricky3dec commented on #633
Thank you @yongtang for laying this out so clearly.

For the second question's comment :

"There might be some overheads if each message is sent to topically different topics."

- Actually what I was suggesting is to write different model's outputs to different topics, as it would become intuitive for kafka consumers, and also somehow we provide data abstraction.

[2019-11-15 03:39] yongtang commented on #633
Thanks @ricky3dec. If you are looking for parameterize the `topic` for the layer, I think it might be possible to place a `tf.Variable` for topic at the time of the model creation, and feed it later? I will take a look and see if this is feasible.

[2019-11-15 17:25] yongtang commented on #638
@ivelin To continue the discussion, I think this issue is very much codec-centric. Different codec may need to have different algorithms, so generalization does not apply.

However, in case of H265 it actually could be a good candidate for optimization here, as coding tree unit concept naturally fit the sub-area (thus benefits the image segmentation/object detection). So it is a pixelation+keyfram

[2019-11-15 19:02] tomgross commented on #632
On pypi the Python 3.7 wheel for mac is missing. Can you please provide this with 0.9.1?
Thanks!

[2019-11-15 20:59] #629 closed

[2019-11-15 20:59] #632 closed

[2019-11-15 20:59] #640 closed

[2019-11-15 21:02] vlasenkoalexey commented on #632
Normally we don't build mac packages for Python 3.7, but since I had to build everything manually and have setup working I can upload it as an exception. @yongtang FYI, I tested that it works fine, feel free to remove it if you think that we shouldn't provide packages for 3.7 for some reason.

[2019-11-16 15:11] yongtang commented on #632
Thanks @vlasenkoalexey! Python 3.7 for 0.9.1 makes sense as maOS's Catalina have 3.7.3 installed with xcode.

In the next version, we will be able to build python 3.7 with macOS as well I think.

[2019-11-16 15:11] #633 closed

[2019-11-17 17:10] yongtang opened #645 "Explore GitHub Workflow option"
GitHub workflow is a feature provided by GitHub that allows you to run CI. Since GitHub workflow's execution limit is 6 hours, this is substantially better than the current Travis CI.

I found out some of the Google repo is already using GitHub workflow. One example is Google's filament project:

https://github.com/google/filament

While trying to setup GitHub workflow for tensorflow/io, noticed t

[2019-11-17 21:53] faroit opened #647 "improve `from_audio` loading speed"
I am currently [evaluating](https://github.com/faroit/python_audio_loading_benchmark/pull/8/files#diff-76e989ed1c4ff81f51d6a966464d71af) the performance on tfio for fast wav loading compared to other libs.

I am using the approach as proposed in #615 by @yongtang. Compared to python function loaders such as scipy.io or soundfile, the native tensorflow ops are significantly slower (even though they

[2019-11-18 02:00] yongtang commented on #647
Thanks @faroit. I am currently running the test myself. Will be back soon.

One thing I want to note, is that in PR #613 that was merged a weeks ago, we enabled AVX and SSE4.2, which might have a positive impact on performance.

I also notice in your branch, the `tensorflow-io==0.10.0` was specified in `requirement.txt`. Since  tensorflow-io==0.10.0 has not been released, Not sure which version yo

[2019-11-18 02:05] yongtang commented on #647
Thanks @faroit for the work. I tried to run the branch `tf2_librosa7`, but seems to get a different result.

I did make several changes in the code, as `ar_mad` does not work inside the container. Also I only enabled `wav`.

Here are the places I made the change:

In benchmark_tf.py, comment out ar_mad, also use `loaders.load_tfio_fromaudio` if lib is `tfio_fromaudio`:
[code]

In plot.py, only tes

[2019-11-18 02:06] yongtang commented on #647
This seems to be quite different, let me try again.

[2019-11-18 02:13] yongtang commented on #647
This is another run. I removed aubio, ar_gstreamer, ar_ffmpeg as they takes longer and may skew the ratio.

There are some variations with respect to librosa, scipy, and tf_decode_wav, but not by much:

![benchmark_tf](https://user-images.githubusercontent.com/6932348/69019493-b8808a00-0965-11ea-8300-038519561e19.png)

[2019-11-18 02:15] yongtang commented on #647
In the mean time, here is the test setup:

My test is run on Ubuntu 18.04 AMI, with 4CPU+16GB (CPU is AMD).

I run the test inside a docker container.

`Docker version: 19.03.4`

During the `docker run`, I use `--net=host` to get directory to host network stack.

[2019-11-18 02:20] yongtang commented on #647
Here are some of the possible factors I can think of for the difference:
1) The benchmark_tf.py was changed, wondering during your test if this was enabled?
2) As I mentioned, we enabled SSE 4.2 and AVX a week ago (in PR #613). If your local install was not updated, then it might cause quite some difference.
3) I don't think docker usage or version could be an issue, though are you using default b

[2019-11-18 10:22] faroit commented on #647
@yongtang thanks for testing this. I wasn't expecting that you actually run my tests. I would have included more info for you how to run it. So thanks again for all your effort. I can only repeat how valuable and important a fast and seekable audio loader is for audio (especially music and environmental sounds), therefore 👍 for all your effort so far.

I used the latest 0.10.0 nightly, so #613 was

[2019-11-18 15:18] yongtang commented on #647
@faroit Ah I realized that SSE 4.2 and AVX may not be enabled on macOS yet. Let me double check.

[2019-11-18 17:01] yongtang commented on #647
@faroit There are quite a few optimizations that might be done. #649 is opened (not all covered yet). As I am in kubecon this week so things might be slowed. I will try to update PR if I can find some time.

[2019-11-18 17:07] yongtang opened #650 "Support ogg file format"
This issue is opened to track the progress for ogg audio format.

In tensorflow-io, we have the support for various audio format for FFmpeg. However, FFmpeg lacks fine control of the seek ability.

The plan is to support a small widely used audio format in `IOTensor.from_audio` natively (not through FFmpeg). And FFmpeg will only be a fallback method for user to use (without fine control of seek).

[2019-11-18 17:29] yongtang opened #651 "Standardize tests for dataset"
We are adding more and more formats to dataset, though the tests are pretty much ad hoc at the moment. Since tf.data's pipeline is pretty standard, we could standardize the tests for almost all Dataset in tensorflow-io by parametrization and fixture. We also need benchmark (with pytest-benchmark?).

/cc @BryanCutler as quite a few columnar dataset are from Arrow, I think it might be easier to stan

[2019-11-18 18:13] yongtang commented on #647
@faroit Ogg supported is tracked in #650

[2019-11-18 18:19] terrytangyuan opened #652 "Integration with Mars"
Mars is a tensor-based unified framework for large-scale data computation which scales Numpy, Pandas and Scikit-learn. More information can be found here: https://github.com/mars-project/mars.

Xuye (@qinxuye) from Alibaba Group is currently working on this integration. @qinxuye Feel free to ask any questions you have here and keep us posted on the progress.

[2019-11-18 18:59] BryanCutler commented on #651
Sounds like a really good idea to me!

[2019-11-18 19:50] faroit commented on #650
that sounds like a good plan but I am not sure if such an achievement would be a requirement for most users. My guess is that many users would be fine with coarse seeking so that they could do random chunked training of long files. In any case, the most widely used format is mp3 which does not support exact seeking.

I think I would prefer to focus on

* making from_ffmpeg as efficient and conveni

[2019-11-19 02:46] qinxuye commented on #652
Thank you @terrytangyuan , I will update status in this thread if I have any progress or question.

[2019-11-19 04:46] yongtang commented on #650
@faroit sounds good to me. Can you open an issue for it?

[2019-11-19 14:29] faroit opened #654 "from_audio crashes in graph model when used in parallel tf.data pipeline"
when using `from_audio` as part in a `tf.data` pipeline using:

[code]

`dataset = dataset.map(apply_source_loading, num_parallel_calls=k)`

the python interpreter randomly crashes for `k>1`:

[code]

I am using `0.10.0.dev2230` on tf 2.0.0 on OSX

[2019-11-19 17:59] yongtang commented on #654
Haven't had the chance to test myself but if it run into issues with parallel run, then mostly likely the mutex lock was not placed. Let me take a quick look and see if I can have a PR.

[2019-11-19 18:55] yongtang commented on #654
@faroit Added PR #656 for the fix.

[2019-11-19 21:58] #654 closed

[2019-11-20 09:37] faroit commented on #654
@yongtang just tested the nightly. it indeed fixes it.

Thanks

[2019-11-20 09:56] faroit opened #657 "Add ability to us from_ffmpeg as GraphIOTensor"
the audio graph modes as introduced in #615 greatly improves audio loading in `tf.data` pipelines. When external (ffmpeg) decoding is required, it would be great if `GraphIOTensor` support could be added to `from_ffmpeg` as well so that the following function could be used in a `dataset.map(loadfromffmpeg)`:

[code]

I don't know what the best api would be to support lazyloading using `get_item` s

[2019-11-25 15:27] terrytangyuan commented on #262
@jiachengxu The draft looks great! I've left some small comments. What's the status on that so far? In the meantime, we've made many improvements over the past few months so it would be good to make sure the code snippets in the blog post still work as expected.

[2019-11-30 14:58] zaccharieramzi commented on #174
Hi, I wanted also to work on the fastMRI dataset, and so far was using Sequences. I now want to switch to tf datasets, and was wondering if someone had an example of a tf dataset working on HDF5 files.

[2019-12-02 09:17] jiachengxu commented on #262
@terrytangyuan Thanks for your comments for the draft, Unfortunately, the PR is not accepted by Google Open Source blog, but I still want to keep it accessible so it can give people an overview of how to use tf-io :)

[2019-12-02 09:59] terrytangyuan commented on #262
@jiachengxu I see. Thanks for the good work!

[2019-12-02 13:53] zaccharieramzi opened #658 "Support for tensorflow 2.1.0"
Do you know when you will be able to support `tensorflow` 2.1.0?

Right now when I install `tfio-nightly` with no dependencies with `tensorflow` 2.1.0, when do `import tensorflow_io as tfio`, `tfio` is an empty module (i.e. `dir(tfio)` doesn't contain `IOTensor` etc...).

I can write a reproducible example if needed.

[2019-12-03 16:31] yongtang commented on #658
@zaccharieramzi sorry for the late reply. It is approaching to year end so a little slowed.

At the moment the plan is to get at least #649 in so that macOS and linux should have similar performance (with SSE4.2 and AVX). Then we will cut a release still based on TF 2.0.

I hope we will get the new release 0.10.0 in a couple of days.

Once a new release is out, we will switch to 2.1.0rc0 in nightl

[2019-12-03 16:55] yongtang commented on #553
With TF 2.1.0rc0 out, we could prepare for a 0.10.0 release (match TF 2.0).

After TF 2.1.0 final we then release 0.11.0 for TF 2.1.

[2019-12-04 23:10] yongtang commented on #553
Created PR #661 for the RELEASE note update.

[2019-12-05 17:11] yongtang commented on #553
With #661 merged in, we are pretty much ready to have the next release. The candidate binaries are stored in:
https://www.dropbox.com/home/Apps/tensorflow-io-nightly/release/2265/wheelhouse

I will do some additional local testing. If everything is fine and there is no objections, we will just push for a release today.

/cc @terrytangyuan @BryanCutler @vlasenkoalexey @dmitrievanthony

[2019-12-05 21:05] yongtang commented on #553
All looks good, will cut the release. Here is the binary:
[code]

[2019-12-05 21:10] yongtang commented on #553
tensorflow-io 0.10.0 has been released:

https://github.com/tensorflow/io/releases/tag/v0.10.0

Thanks all! 👍 🎉

[2019-12-05 21:10] #553 closed

[2019-12-05 21:12] yongtang commented on #647
@faroit With the release of tensorflow-io 0.10.0, SSE 4.2 and AVX are enabled on both Linux and macOS platforms. This should significantly improve the speed loading audio files. Would you mind rerun the test and check again?

[2019-12-05 21:15] yongtang commented on #658
PR #659 bumps TF to 2.1.0rc+

[2019-12-05 21:18] #658 closed

[2019-12-06 15:58] faroit commented on #647
![benchmark_tf](https://user-images.githubusercontent.com/72940/70336554-9fbf1200-1849-11ea-8b2f-a99b9ac829dc.png)

looks way better now. great work! thanks

[2019-12-06 16:07] #647 closed

[2019-12-06 16:15] terrytangyuan commented on #647
Perhaps we should add regression test for this to make sure the speed does not decrease? @yongtang

[2019-12-06 16:20] yongtang commented on #647
Thanks @faroit for the test! Let me know if you encounter any other issues.

@terrytangyuan Yes we should setup a benchmark test. I think adding pytest-benchmark will help. We also want to standardize the audio input (only support WAV but OGG is being added in #662, and I am looking into other audio types as well) across the board.

[2019-12-06 16:24] faroit commented on #657
@yongtang did you check if this is feasible?

[2019-12-06 16:43] yongtang commented on #657
@faroit Yes it is still in the works. There are several items needed to sort out, 1) the representation of time and how it could be used in `__getitem__`. 2) Ideally ffmpeg processing suited for Linux, but with other platforms (Windows and macOS) it might be better to go with platform specific codec. I am looking into macOS at the moment.

[2019-12-06 16:48] #650 closed

[2019-12-06 19:05] faroit commented on #657
Is there anything I could help with? I can think of concepts for 1)...

[2019-12-06 20:45] ricky3dec commented on #171
Hello @yongtang, can I please work on adding tests for gcloud bigtable using bigtable emulator? If that is not being taken up already?
Also, I see that pubsub related tests are skipped for now, any particular reason for that?

[2019-12-06 20:47] yongtang commented on #657
@faroit for time I am inclined to use int64 with milli/micro/nano scale. And treat audio as a time-series. May need to see the best suitable scale for audio.

Since there are several other places that uses time/time-series (pcap, prometheus, to name a few), we may want to consolidate into one time scale.

Also /cc @ivelin in case you are interested, as it might cover both audio and PCAP.

[2019-12-06 20:47] faroit commented on #647
@yongtang @terrytangyuan I would propose to look into FLAC next.

[2019-12-06 21:00] yongtang commented on #171
@ricky3dec That would be great! 👍 Let me know if you run into any issues.

For pubsub, at one point I encountered some issue with credential file on macOS so that was disabled at the moment. We definitely plan to re-enable it very soon. Help would be appreciated as well.

[2019-12-08 14:04] ricky3dec commented on #171
Sure @yongtang , please assign the issue to me.

Could you please point me to "original contrib.BigTable has its own internal test"? Would like to know what kind of tests were written earlier. Though I tried a bit to find out, but looks like this structure has changed over last few releases.

Thanks!

[2019-12-08 15:53] yongtang commented on #171
Thanks @ricky3dec!

It seems that google Bigtable has a emulator (similar to PubSub):
https://cloud.google.com/bigtable/docs/emulator

I think that might make our life a little easy.

Not sure about the original tensorflow.contrib.bigtable's internal test. Though from my past experience quite a few `tensorflow.contrib.`'s google cloud implementation use a C++ mock.

I am not sure we need to implem

[2019-12-08 17:04] ricky3dec commented on #171
Yes @yongtang , I had gone through the emulator part, as you had originally suggested above.

I just wanted to know, if there are already some baseline tests that minimally we should be have. But considering your comments, would try to write tests that should cover basic usage of the operation that interfaces with "BigTable" alongwith some exception scenarios.

Would be sending out the initial rev

[2019-12-08 17:20] yongtang commented on #171
Thanks @ricky3dec! We have ongoing discussions about standardize tests in #65

So far `io/tests/test_io_dataset_eager.py` is the initial efforts which tries to standardize the dataset.

You can also suggest any input to make the tests more consistent.

There were some confusions about operations in tf.data.Dataset but now it mostly sorted out:
1) To make tf.data.Dataset work with tf.keras inferenc

[2019-12-08 17:23] yongtang commented on #171
@ricky3dec sorry the discussions about standardize tests is in #651 ~~(not #65)~~

[2019-12-08 17:29] ricky3dec commented on #171
Sure @yongtang , would go through the guidelines above, and yes it makes sense to have reviews in mini  batch mode :-)

[2019-12-08 20:07] yongtang commented on #171
@ricky3dec I added a PR #667 to split tests into different feature supporting groups. It should be easier now to add additional tests (for different feature-compatibilities). You can take a look and see if it makes sense. You can also add parametrized tests on top of it one by one (for Bigtable, etc).

[2019-12-08 21:08] ricky3dec commented on #171
Sure @yongtang , thanks for following up on this and guiding me. 🔖

[2019-12-11 02:55] aspratyush commented on #174
Similar issue as @zaccharieramzi hit. Traceback below:

[code]

[2019-12-11 09:09] solalatus opened #673 "Kernel restart using HDF5 under TF 2.0"
I am using tfio 0.10 under TF 2.0.0 stable, everything from pip, Google Colab environment.

I am trying to load and train on multiple datasets.

First epoch runs fine, validation runs fine, then kernel just suddenly restarts.
I tried to check the logs, but nothing conclusive - may be unrelated even, but I put it here:

`python3: external/hdf5/src/H5FL.c:1235: H5FL__blk_gc_list: Assertion 0 == head

[2019-12-11 10:45] solalatus commented on #673
Rather curiously, though, if I train without validation, it works. Also if I put validation data as train, it works. The only case when it does not work - albeit consistently - is if I put both train and valid. I really don't get it. :-(

[2019-12-11 12:28] solalatus commented on #673
It turned out to be a silent memory issue - no logs or exceptions. If I ommit prefetch, it works.

[2019-12-11 12:28] #673 closed

[2019-12-11 17:50] yongtang commented on #174
@zaccharieramzi @aspratyush Do you have a sample file I could take a look?

[2019-12-11 23:24] aspratyush commented on #174
@yongtang here you go:
[test.zip](https://github.com/tensorflow/io/files/3953032/test.zip)

[2019-12-12 09:57] 0x1997 opened #676 "Publish to conda-forge"
I installed tensorflow from conda-forge and tensorflow_io with pip. However importing tensorflow_io failed with an error
[code]
It seems the tensorflow_io wheel on pypi was not built with C++11 ABI. Could you publish a compatible version to conda-forge if you have to support older OSs? Thanks.

[2019-12-12 13:31] ophiry opened #677 "tfio.IODataset.from_parquet ignores column names"
when reading a parquet file, column names are ignored, and the result is a tuple.
a better behaviour would be to return named columns - like the csv reader for example

code to reproduce the issue:
[code]

[2019-12-13 03:45] yongtang commented on #171
@ricky3dec The PubSub tests have been re-enabled.

[2019-12-13 14:51] yongtang commented on #676
We certainly want to support conda-forge. Though I don't have a lot of (or any) experience with conda-forge so it may take some time for me to get this thing going.

[2019-12-13 14:52] yongtang commented on #676
If anyone can help getting this started or some pointers, will be much appreciated.

[2019-12-13 17:52] ricky3dec commented on #171
Thanks @yongtang. Hope to send the initial review soon, didn't get chance to work on this until recently.

[2019-12-13 22:23] hollowgalaxy opened #680 "decode video causes memory leak in ram."
Code to replicate the issue.

[code]
The code above will print the metrics overtime *Note: This is CPU RAM* . However I put into a chart,
![Figure_2_all](https://user-images.githubusercontent.com/52365584/70837124-5fb2de80-1db7-11ea-8427-33245cb5de53.png)

[2019-12-13 22:43] hollowgalaxy commented on #680
with the code it never reaches the full 600 steps. Throws an OOM error.

[2019-12-13 23:56] yongtang commented on #174
@aspratyush Added PR #681 which covers all common types (including `string` which causes the issue).

[2019-12-14 01:19] hollowgalaxy commented on #680
I tried using the suggestion from https://github.com/tensorflow/io/pull/622#issue-339178915
however there is also a memory leak there as well. Code used:
[code]

Results in memory usage like this

![Figure_3_iodataset_test](https://user-images.githubusercontent.com/52365584/70841124-9e9f5f00-1dcc-11ea-9eb8-05a97f86edb7.png)

@yongtang  maybe you know something about this...

[2019-12-15 03:41] yongtang commented on #680
I don't see obvious memory leak by reading the code. May need to setup leak detector to check. Will take a look.

[2019-12-15 05:24] ophiry opened #684 "importing tensorflow-io after fsspec crashes"
the other way around work (at least doesn't crash)

fsspec version 0.6.1
tensorflow-io 0.10.0

[code]
[code]

[2019-12-15 18:10] yongtang opened #690 "Use oss-emulator for oss file systems testing"
Looks like there is an OSS emulator:
https://github.com/aliyun/oss-emulator?spm=a2c63.p38356.879954.17.16d21cb4aQDJnl

It could help to setup the emulator for OSS file system testing.

[2019-12-15 18:10] yongtang commented on #690
/cc @terrytangyuan

[2019-12-15 18:49] yongtang opened #692 "Support decode_json to decode json into Tensor"
This is a feature request (from gitter channel) to add `decode_json` so that it is possible to convert json strings such as below:
[code]

into Tensors.

The method `decode_json` could be efficiently combined with `tf.data` pipeline so that the following is possible:
[code]

/cc @noahtren

[2019-12-16 01:05] yongtang commented on #677
@ophiry Added PR #693 for the fix.

[2019-12-16 14:52] #677 closed

[2019-12-16 17:12] noahtren commented on #692
Is this what `tfio.IOTensor.from_json` should be doing? I'm running this function on a JSON file and get the following error.
[code]

Not sure why it's complaining about the JSON file format. Is there a specific table format it's looking for?

[2019-12-16 17:18] yongtang commented on #692
@noahtren There are two modes, one is the "records" mode, another is the "ndjson" mode. Can you share the content of your JSON file example?

[2019-12-16 18:48] noahtren commented on #692
It's comparable to the sample above. Some keys map to strings, some floats, and some arrays.

[2019-12-16 19:55] noahtren commented on #692
The above error was with the nightly version of tfio. Getting different errors with the current stable version unfortunately:

Loading it in `records` mode is giving me a segmentation fault

Loading it in `ndjson` mode gives me the following error
[code]

[2019-12-16 21:32] yongtang commented on #692
@noahtren JSON dataset expect a repeated records of same structure, either in ndjson format, or in a JSON array. So it may not be a good fit for what you are looking for if your JSON data is `one` record.

That is the `decode_json` tries to solve. Let me take a look and get back to you shortly.

[2019-12-16 21:42] noahtren commented on #692
Ah got it, thanks!

`decode_json` would produce a dict of tensors, right? Where each value of the JSON file is converted to a suitable Tensor? I'm thinking of it as doing something like calling `tf.convert_to_tensor` on each value in the JSON file and returning a tensor dictionary.

[2019-12-17 17:00] yongtang commented on #537
With recent updates we are mostly there. The remaining ones are:
- kafka
- bigquery
- gcs
- arrow
- ignite

They might impact wider usage so we will see what we could do (likely in several rounds of deprecation) next year.

[2019-12-17 17:00] #537 closed

[2019-12-17 17:01] yongtang commented on #520
@epolitis The latest version is 0.10.0 and we are planning to release 0.11.0 very soon (inline with TF 2.1 release). A lot of updates within those versions. Can you try building against the latest version and see if the issue still exist?

I will close this issue for now but feel free to re-open if the issue persist.

[2019-12-17 17:01] #520 closed

[2019-12-17 17:07] yongtang commented on #492
Update: still having trouble with build on Ubuntu 18.04 no matter how I change the flags. On macOS this is not an issue (clang).

[2019-12-17 17:09] yongtang commented on #373
I think this issue could be closed, as Travis CI cache is in place (not very ideal but somehow works.) There is a plan to eventually move most of the work to GitHub Actions. We will make the GitHub Actions move once tensorflow org is able to enable this feature.

[2019-12-17 17:09] #373 closed

[2019-12-17 17:23] yongtang commented on #500
@psitronic I recently created an Azure account and tried myself, with tensorflow 2.0 + tensorflow-io 0.10.0. It looks like the azure file system works correctly. Here is the code I use (as TF 2.0 made some changes):
[code]

It did through out an exception:
[code]

But as far as I could see this is not related to tensorflow-io's Azure file system, instead it is related to tensorflow issue  tensorfl

[2019-12-17 17:23] #500 closed

[2019-12-17 17:25] yongtang commented on #117
With the recently updates, most of the C++ files should have the correct namespace:
[code]

Think this issue could be closed.

[2019-12-17 17:25] #117 closed

[2019-12-17 17:27] yongtang commented on #212
We pretty much have only one .so now (`libtensorflow_io.so`). The exceptions:
- libtensorflow_ffmpeg_.so (due to FFmpeg license limitation)
- libtensorflow_golang.so (due to issue #492)

Think this issue could be closed.

[2019-12-17 17:27] #212 closed

[2019-12-17 17:28] yongtang commented on #191
Instead of add batch to creation directly, now we count on follow up op of `batch(n)` and `unbatch()` in tf.data.Dataset. Think this issue could be resolved.

[2019-12-17 17:28] #191 closed

[2019-12-17 17:30] yongtang commented on #403
We already updated the docker image so this issue could be resolved.

[2019-12-17 17:30] #403 closed

[2019-12-17 18:27] terrytangyuan opened #696 "Resolve R package check warnings and re-submit to CRAN"
I received the following email from CRAN team:

Please see the problems shown on
<https://cran.r-project.org/web/checks/check_results_tfio.html>.
Please correct before 2020-01-08 to safely retain your package on CRAN.
The CRAN Team

We need to resolve the issues that have been pointed out in https://cran.r-project.org/web/checks/check_results_tfio.html.

[2019-12-17 18:39] yongtang commented on #69
We are moving to utilize high level tf.data operations as much as possible. This issue can be resolved.

[2019-12-17 18:39] #69 closed

[2019-12-17 18:58] #234 closed

[2019-12-17 18:59] yongtang commented on #395
This has been covered in tests/test_gcs_config_ops.py, think it could be resolved.

[2019-12-17 18:59] #395 closed

[2019-12-17 19:10] yongtang commented on #680
On macOS I am able to build with `-fsanitize=address`, after some tweak around of Bazel (also see https://github.com/bazelbuild/bazel/issues/6932). However, the generated binary does not run due to the following:
[code]

Adding `DYLD_INSERT_LIBRARIES` does not help and it still crashes.

[2019-12-17 19:22] yongtang commented on #680
Will need to spend time looking into alternative of gcc on Linux.

[2019-12-18 02:16] hollowgalaxy commented on #680
are you referring to the profiler? or is this the wrong thread?

[2019-12-18 02:18] yongtang commented on #680
@hollowgalaxy I am trying to use `fsanitize-address` for memory instrumentation. Apparently it may have some issues with python calling a .so.

[2019-12-18 04:05] hollowgalaxy commented on #680
I see. Not familiar with that. Perhaps Tensorflow contributors have a memory profiler for this type of occasion?

[2019-12-18 15:48] yongtang opened #698 "Deprecation of python 2 after the release of 0.11.0"
At the moment we are planning on release of v0.11.0 which matches TF 2.1. As far as I know TF 2.1 is the last version with python 2 support. Combined with the fact that python 2 is reaching EOL in 12/31/2019, we could deprecate python 2 once v0.11.0 is released.

Since in Linux and macOS `python3` and `python` commands refer to different version, I think we want to use `python3` as the canonical c

[2019-12-18 15:50] yongtang opened #699 "tensorflow-io 0.11.0 release"
This is the issue to track tensorflow-io v0.11.0 release. At the moment we are largely waiting for TF 2.1 final to release v0.11.0.

[2019-12-18 16:44] yongtang opened #700 "Distributed dataset through interleave + multiple resource handles"
With the recent update we are gradually shifting to use a combination of `resource handle` + `indexing access` model (in comparison with the previous C++ manual subgraph implementation ). There are several reasons for that. One reason is the need to lower the barrier for contributors. It is easier to write a `ResourceKernel` as a specialized custom op, than a handcrafted subgraph in TF with C++.

[2019-12-18 17:33] #696 closed

[2019-12-18 20:52] #692 closed

[2019-12-19 06:39] henry090 opened #701 "AttributeError: module 'tensorflow_io' has no attribute 'video' >"
Hi, in R I am getting the following error:

[code]
Additional info:

[code]

[code]

[code]

[2019-12-19 06:50] henry090 commented on #701
I installed Github version but now the following error:

[code]

[2019-12-19 11:48] terrytangyuan commented on #701
The R package is out of date compared to Python API so there are compatibility issues with newer versions.

[2019-12-19 16:38] zaccharieramzi commented on #174
With a file from the fastMRI database (I cannot attach it as it's too big even zipped), when I run the following code (with the latest `tfio` -`pip install --no-deps --upgrade tensorflow-io-nightly`-), Python is crashing with a segfault:

[code]

I can send you the file via mail if you want.

(Sorry for the late reply I have been focusing on other projects).

[2019-12-19 16:45] terrytangyuan commented on #645
This list might be good to be explored in the future as well: https://github.com/sdras/awesome-actions

[2019-12-19 16:48] terrytangyuan commented on #381
@yongtang A lot of changes have been landed in Python API already. Let's outline what needs to be updated in the R package here and we'll re-vamp everything altogether.

[2019-12-19 17:03] yongtang commented on #174
@zaccharieramzi please send me through email or a link to download. You can find my email in git logs.

[2019-12-20 13:32] yongtang commented on #174
@zaccharieramzi I could not reproduce the set fault issue, I suspect it is related to the version mismatch of tf vs tfio. Are you using tensorflow-io-nightly with TF 2.0?

On another note, the complex data type was not supported in tensorflow-io. Supporting complex type is a little tricky as there is no native complex type in HDF5, only commonly used H5T_COMPOUND type (with 'r' and `i`) as the nam

[2019-12-20 13:39] zaccharieramzi commented on #174
No just `tensorflow` 2.0.
You will find attached a picture showing the chain of events I am facing.
This is done on my machine without GPUs.

![segfault](https://user-images.githubusercontent.com/6387497/71258453-7cf72800-2336-11ea-85e6-bc093083a29e.png)

[2019-12-20 15:20] yongtang commented on #174
@zaccharieramzi PR #704 has been merged and a new nightly build is available for Linux:
https://pypi.org/project/tensorflow-io-nightly/0.11.0.dev2383/#files

I think your issue should have been fixed with nightly `0.11.0.dev2383`. You do need to use tensor flow 2.1rc1 for this nightly version.

I will close this issue but feel free to reopen if the issue persist.

[2019-12-20 15:22] yongtang commented on #645
GitHub actions are supported now:

https://github.com/tensorflow/io/pull/706

I will see if I can move all Travis CI tasks to GitHub Actions. We had enough churn in the past for the Travis CI cache issue.

[2019-12-20 15:23] yongtang commented on #676
With GitHub Actions supported (See #645), I think conda-forge support will be easier.

[2019-12-20 15:25] yongtang commented on #501
With GitHub Actions supported (See #645), Windows support will be easier as GitHub actions give Windows through Azure pipelines (my understanding). We could start looking into adding windows support really soon.

[2019-12-20 16:49] zaccharieramzi commented on #174
Well updating to this nightly version and to tf 2.1rc1 did fix the segfault issue.
However, it now doesn't find the dataset.
[code]

[2019-12-20 17:17] yongtang commented on #174
@zaccharieramzi A prefix of '/' is needed as HDF5 dataset namespace could be recursive, e.g., `/foo/bar/x/y/z`.

The following should work (with '/' prefix):
[code]

[2019-12-20 17:48] zaccharieramzi commented on #174
Ah I see ok thanks! It does work now, although not as I expected.

Indeed, in my case (fastMRI dataset), each HDF5 file is not a dataset but rather an example. Therefore here, I think I need `tfio.IOTensor.from_hdf5` rather than `IODataset` and then call `map` on a list of file.

However, when I do:
[code]

I get the following error:
[code]

Sorry for my misunderstanding of how `IODataset` would w

[2019-12-20 20:42] yongtang commented on #174
@zaccharieramzi The issue is the scalar which was not taking into consideration before. Let me re-open this issue.

[2019-12-20 23:05] BryanCutler commented on #698
+1 sounds good to me

[2019-12-20 23:08] BryanCutler commented on #676
This would be good to have. I don't have much experience with publishing to Conda, but I can give this a shot if no one is able to get to it first.

[2019-12-21 00:39] zaccharieramzi commented on #174
Cool! Do you need some help fixing this (if it's pure Python I can do it)?

[2019-12-21 02:36] yongtang commented on #676
@BryanCutler That would be great 👍 ! I will try to see if I can help as well.

[2019-12-21 02:43] terrytangyuan commented on #698
+1

[2019-12-21 07:00] hollowgalaxy commented on #680
by any chance have you come across a way to clear that memory? or is the only way right now to do `tf.reset_graph`?

[2019-12-21 15:14] zaccharieramzi opened #707 "Support install from source with `pip install -e .`"
I forked the project and then in the directory tried to install the package with `pip install -e .`.

I got the following error:
[code]

[2019-12-21 15:20] yongtang commented on #680
@hollowgalaxy I am still work on it... A little slowed as I am a little occupied. Will try to make progress soon.

[2019-12-21 18:30] yongtang commented on #174
@zaccharieramzi It is a little involved in C++. I had added a PR #708 for scalar support with HDF5.

[2019-12-21 18:33] yongtang commented on #707
@zaccharieramzi The tensorflow-io package consists of C++ code that is compiled with Bazel (due to tensorflow's dependency). For that reason  `pip install -e .` needs additional work to make it work (not just python script).

I have changed title to "Support install from source with `pip install -e .`". I will take a look and see if it is possible to make `pip install -e .` with some update.

[2019-12-21 22:07] zaccharieramzi commented on #707
Right makes sense, I should have thought about it.

[2019-12-22 00:02] #174 closed

[2019-12-22 09:00] zaccharieramzi commented on #174
Thanks @yongtang , now in eager mode everything works just fine!

However at some point to get the values of the columns, you used `.numpy()` which makes it impossible to use in graph mode if I am not mistaken. For instance, as I want to use it in a dataset, I need to have the tensor created in a graph.

See the following minimal failing example (you need the file I sent you in your current dir).

[2019-12-22 19:28] hollowgalaxy commented on #680
No worries. I also double checked to make sure it wasn't the introduction of the Dataset in the tf.function. It is not. memory stayed the same when I used
[code]

[2019-12-23 08:13] yongtang opened #710 "Support graph mode HDF5 tensorflow-io"
This is the issue to track the progress for graph mode HDF5 support in tensorflow-io.

At the moment HDF5 is supported in tenorflow-io though it requires eager mode. It would be desirable to have graph mode support as well.

Note in case of graph mode, dtype has to be provided in advance. The shape information may also be needed (to be confirmed).

This issue originated from https://github.com/ten

[2019-12-23 08:14] yongtang commented on #174
@zaccharieramzi Some additional work is needed in order to support graph mode. I have created a new issue #710 to track this support.

[2019-12-23 13:45] zaccharieramzi commented on #710
@yongtang thanks for creating this!
I have 2 questions:
- do you think this is going to be treated soon or isn't really a priority at the moment?
- when you say that shape will have to be provided, do you mean that the rank will have to be fixed, or even the dimensions (the latter case being of course less user-friendly)?

[2019-12-24 00:31] yongtang commented on #710
@zaccharieramzi Exact shape information is definitely not needed. The rank may or may not be needed though I will have to take a look and see if it is possible. I will see if this could be addressed very soon, though due to the year end, it is likely to be done next year.

By the way, have a good holiday 🎉 !

[2019-12-24 08:03] zaccharieramzi commented on #710
Makes sense, thanks for all this and being so responsive.
Have a good holiday too!

[2020-01-03 22:38] hollowgalaxy commented on #528
just a heads up in case someone stumbles on this.
[code]

[2020-01-04 12:12] pshiko opened #716 "BigQueryClient doesn't work with TPUStrategy"
When we create a `BigQueryClient` instance in the scope of TPUStrategy, i got following error.

[code]

| module | version |
|---|---|
|tensorflow | 2.0 |
|tensorflow_io|0.10.0|

Following is the code for reproduction.
https://gist.github.com/pshiko/1309ddac8b90f7449e4c22ad4d9f294a

Is this bug? or limitation of BigQueryClient?
And, Is there any other way to read data directly from BigQuery?

If i

[2020-01-07 17:42] sbaier1 opened #717 "Reading from Prometheus yields incorrect tensor format"
I'm trying to ingest data from Prometheus for multivariate time-series analysis and am running into some issues.
My query returns multiple range vectors from different metrics, like such:
![Bildschirmfoto 2020-01-07 um 18 32 34](https://user-images.githubusercontent.com/20339314/71915472-1a968800-317c-11ea-9432-6874518e41e5.png)
with a long values array for each metric.

However, when running that

[2020-01-07 17:57] sbaier1 commented on #717
it appears that the go binding only writes values for the first metric in the matrix received from Prometheus (i don't really know Go though, so not sure if i am reading this correctly)
https://github.com/tensorflow/io/blob/master/tensorflow_io/core/go/prometheus.go#L38

[2020-01-07 19:32] BryanCutler commented on #676
I'm looking into this now, will report back soon

[2020-01-08 00:04] BryanCutler commented on #676
It looks like the latest version of TensorFlow in conda is v1.13.2 see https://anaconda.org/conda-forge/tensorflow/files?page=1. Would it be better to hold off on this until TF 2.0 is released in conda?

[2020-01-08 03:12] seanpmorgan commented on #676
We've had some discussion about this for tf-addons that may be of use:
https://github.com/tensorflow/addons/issues/201

Anaconda packages a tf2.0 but I'm not sure who is managing the conda-forge version.

[2020-01-08 14:17] yongtang commented on #676
Thanks @seanpmorgan @BryanCutler . By looking at https://github.com/conda-forge/tensorflow-feedstock it looks like tensorflow-feedstock repo is not well maintained. The last update was 09/30/2019 which is 3 months old.

Wondering if there is a way to move forward the tf 2.0 in conda-forge?

[2020-01-08 16:15] xhochy commented on #676
@yongtang There is already an open PR to update to 2.0 https://github.com/conda-forge/tensorflow-feedstock/pull/97 generated by the bot. Either fix this PR or port the way Anaconda builds `tensorflow` to conda-forge: https://github.com/AnacondaRecipes/tensorflow_recipes

[2020-01-08 20:14] vlasenkoalexey commented on #716
This is limitation of TPU platform. Internally TPUs are interfacing with a dedicated VM that doesn't have TF.IO installed (mostly for security reasons). We are working to change that.

[2020-01-09 11:26] pshiko commented on #716
OK! I understood!
BigQuery integration is essential to  learn huge size data with TPU.
I look forward to solving this problem.

[2020-01-09 15:15] yongtang commented on #717
@sbaier1 Thanks for raising the issue. I will take a look.

[2020-01-09 15:18] yongtang commented on #699
TF 2.1 final has been released:
https://github.com/tensorflow/tensorflow/releases/tag/v2.1.0

Will work on:
1) Geting Travis CI fixed
   We still use Travis Ci for 0.11 for this version, just to avoid any surprises in GitHub Actions. Once 0.11 is released we will drop Travis CI completely (replaced with already running GitHub Actions).
2) Update README.md and RELEASE.md
3) Upload to PyPI.org

[2020-01-09 23:58] yongtang commented on #676
Thanks @xhochy. Not very familiar with conda recipes/feedstock but I will try to take a look.

[2020-01-10 02:55] yongtang commented on #676
Created a working in progress PR https://github.com/conda-forge/tensorflow-feedstock/pull/101

Still too many issues to build. One dependency is the Bazel. When building Bazel gcc version is old. need more time to moving forward.

[2020-01-10 05:24] kyamagu commented on #680
Hi, I am experiencing the same issue in tensorflow-io==0.8.1.

In the current implementation, `av_read_frame` is called inside the do-while loop of `DecodePacket()`: https://github.com/tensorflow/io/blob/7032617c4598f1a4d2bc1800a6b01754379153cb/tensorflow_io/core/kernels/ffmpeg_kernels_deprecated.cc#L250

But it looks like this function is supposed to be always called with `av_packet_unref`:
https

[2020-01-10 09:35] sbaier1 commented on #717
great!

as a side note, i just thought about how this would be implemented (building a workaround for myself right now) and i believe it might make sense to assign the `metric` dictionary as the `name` field of the TensorSpec, or setting a selected field in the `metric` dictionary as the name of the tensorspec.

Prometheus will return the result columns in a non-deterministic order meaning that th

[2020-01-10 15:02] yongtang commented on #676
After several fixes, the windows and OS X build in https://github.com/conda-forge/tensorflow-feedstock/pull/101 are managed to run. However, it looks like after some time, there is no output anymore. (OS X timed out). Don't know what really happened. May need more time to figure it out.

[2020-01-10 15:34] ashahab opened #722 "Compiler errors while building on centos7 image"
Hi, We are trying to build tensonflow/io v0.10.0. We are using a centos7 base instead of an ubuntu base, but otherwise our build process is similar:
[code]
Here's docker file:
[code]
The error we get is attached.
[kafka-err.txt](https://github.com/tensorflow/io/files/4046375/kafka-err.txt)

[2020-01-10 20:23] yongtang commented on #699
Wheel builds are:
[code]

I will do a quick sanity. If everything is fine, then will upload to PyPI.org.

[2020-01-10 20:53] yongtang commented on #699
All works fine now. The wheel files have been uploaded to:
https://pypi.org/project/tensorflow-io/0.11.0/#files

[2020-01-10 20:53] yongtang commented on #699
@terrytangyuan would you like to help create a release in GitHub and send the email out?

[2020-01-10 20:55] terrytangyuan commented on #699
Yes, I am doing that now.

[2020-01-10 21:01] yongtang commented on #699
@terrytangyuan Thanks 👍 🎉 !

[2020-01-10 21:03] terrytangyuan commented on #699
It has been released: https://github.com/tensorflow/io/releases/tag/v0.11.0

I am closing this issue now. Thanks @yongtang and others for all the efforts!

[2020-01-10 21:03] #699 closed

[2020-01-11 23:24] yongtang commented on #722
After a small fix:

https://github.com/tensorflow/io/compare/master...yongtang:centos

I am able to build master on centos 7. However, it looks like the compiled program crashes when run. Will need to spend more time on fixing the issue.

[2020-01-12 02:59] ashahab commented on #722
Do you have a dockerfile?

On Sat, Jan 11, 2020, 3:24 PM Yong Tang <notifications@github.com> wrote:

[2020-01-12 14:13] yongtang commented on #722
@ashahab Below is the dockerfile, you will need to pull the `centos` branch (see https://github.com/tensorflow/io/compare/master...yongtang:centos) in my repo:
[code]

[2020-01-12 20:53] yongtang commented on #710
Created PR #732 for the fix.

[2020-01-13 17:18] yongtang commented on #698
With the recent addition of GitHub Actions, we pretty much dropped python2 from our build.

[2020-01-13 17:18] #698 closed

[2020-01-13 18:08] yongtang commented on #717
@sbaier1 I noticed that `__name__` could have a collision in case of multiple `jobs` or multiple `instances`. For example, a query with `up` might be:
[code]

with response:
[code]

In that situation, I think an option is to return a structured entries in:
[code]

TF is capable of processing structured dataset so this might not be an challenge. In eager mode the structure could be probed automatic

[2020-01-13 19:51] hollowgalaxy commented on #680
I don't have a quick way to test unless @yongtang can suggest something due to https://github.com/tensorflow/io/issues/707 and so I don't know of a way to recompile tfio to check this.

[2020-01-13 21:07] sbaier1 commented on #717
sounds like that would be the preferrable approach indeed moving forward 👍

[2020-01-14 16:07] #710 closed

[2020-01-14 22:17] vlasenkoalexey commented on #396
I added corresponding test to https://github.com/tensorflow/io/blob/master/tests/test_bigquery_eager.py

[2020-01-14 22:17] #396 closed

[2020-01-15 17:11] shpotes opened #740 "Dataset of DICOM images can't be resized"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version: 2.1
- TensorFlow-io version: 0.11
- Python version: 3.6.8
- Is GPU used?: yes

**Bug description**

I was trying to create a DICOM files input pipeline using `tf.data`, but does tensor can't be resized applying `tf.image.resize`.

**Code to reproduce the issue**

See [this](https://colab.research.google

[2020-01-16 23:17] yongtang commented on #501
PR #741 will enable nightly build for Windows, it only includes lmdb for now though, as porting everything to Windows will take some time.

[2020-01-17 02:47] yongtang commented on #740
Added PR #742 for the fix.

[2020-01-17 09:09] kyamagu commented on #680
I checked this part myself and seems not doing `av_packet_unref` after every call to `av_read_frame` is the cause. I will try making a PR

[2020-01-17 17:43] #740 closed

[2020-01-17 21:46] yongtang commented on #501
The nightly build of tensorflow-io for Windows platform is now available in:
https://pypi.org/project/tensorflow-io-nightly/0.11.0.dev20200117174350/#files

At the moment only LMDB is supported, though we plan on porting most of the ops into Windows gradually over time. Hopefully before 0.12.0 we should have most of the ops available in Windows.

[2020-01-17 21:49] yongtang commented on #722
GCC 4.8 and libstdc++.so on CentOS 7 may not be possible initally. I tried to build with Centos 7 and devtoolset 7, was close but get the following:
[code]

Looks like the libstdc++.so on CentOS 7 will need to be updated to get around this issue.

[2020-01-18 13:14] zaccharieramzi opened #745 "H5::DataSetIException when using HDF5 IOTensor in graph mode"
After #710 was fixed by #732 , I tried it on a single file (which I sent to @yongtang ), and it worked perfectly.

However, when trying it on the whole dataset, I got the following error (I don't know which file is causing this and I don't know how I could know except iterating through all of them):

[code]

Apparently this error appeared [here](https://github.com/steven-varga/h5cpp/issues/4) in `

[2020-01-19 16:30] yongtang commented on #717
Added PR #746 for structured value support.

The structure of the value (in a complex query) is automatically probed in eager mode.

In graph mode due to the way graph mode works, the spec has to be provided by user (through passing a `spec` arg).

I also moves the API from tfio.IODataset.from_prometheus to tfio.experimenta.IODataset.from_prometheus, as there are API changes. We will move back aft

[2020-01-19 18:03] yongtang commented on #745
@zaccharieramzi I don't have a good idea about the issue, as the related issue in `h5cpp` is not very clear. Though I think I can add some enhancement to the error message of the HDF5 Dataset (PR #748), so that it will shown up the file that triggers the error.

Once PR #748 is merged, maybe you could give it a try with the nightly, and see which file is causing the issue?

[2020-01-19 18:46] yongtang commented on #645
GitHub Workflow is in place now, as such this issue could be closed.

[2020-01-19 18:46] #645 closed

[2020-01-19 18:49] yongtang commented on #611
All items have been resolved. The `BaseCollectiveExecutor::StartAbort Out of range: End of sequence` is from tensorflow which I believe have been fixed in https://github.com/tensorflow/tensorflow/issues/35314

[2020-01-19 18:49] #611 closed

[2020-01-19 19:00] #262 closed

[2020-01-20 04:09] yongtang commented on #745
The latest nightly should have the error message enhancement now.

[2020-01-20 09:58] zaccharieramzi commented on #745
Hi @yongtang !

Thanks for this update, it's very useful. I actually have a lot of failing files, you can find one here: https://we.tl/t-qJL5uVdB7o.

The failing code is the following (on CPU):
[code]

Thanks for being so helpful.

[2020-01-21 16:33] yongtang commented on #745
@zaccharieramzi With individual files I could run the above code successfully, **tensorflow-io-nightly==0.11.0.dev20200121152445**

I am running the program on Ubuntu 18.04 + python3.

Can you share your environment?

[2020-01-21 16:44] zaccharieramzi commented on #745
I just ran with `tensorflow-io-nightly==0.11.0.dev20200121152445` in my python 3.6.8 + ubuntu 16.04 environment. `tensorflow` is 2.1.0.

Did you run with the 2 files I sent you (the one from before and this one) in the directory?

[2020-01-21 16:58] yongtang commented on #745
@zaccharieramzi Can you share the previous file again? The file is not available anymore.

[2020-01-21 17:06] yongtang commented on #745
@zaccharieramzi By the way, if possible maybe you can removing the line  `num_parallel_calls=tf.data.experimental.AUTOTUNE,` and give it a try again, to see if the issue persists.

HDF5 library by default is not thread safe and requires passing some special flags. I was in the process of trying to make a thread-safe version available but it is not in the current tensorflow-io build yet.

[2020-01-21 17:10] zaccharieramzi commented on #745
ok it's exactly that!
Awesome that you are working on it, can't wait to test it. Should I close this or keep it open?

[2020-01-21 17:21] yongtang commented on #745
@zaccharieramzi We can leave the issue open until this is fixed.

The test for thread-safe is in place (skipped now):
https://github.com/tensorflow/io/blob/5a601c02870d0ca37b2ff5b035974db6d22f1bc3/tests/test_io_dataset_eager.py#L898-L904

We will enable the `parallel=2` test case once HDF5 library is compiled with thread-safe.

[2020-01-21 23:40] liangyy opened #754 "Support hdf5 reading by column"
Hi there,

For some cases, samples are stored by columns in the hfd5 matrix.
It will be really helpful if the API has option to read the matrix by column.

Thanks!

Yanyu

[2020-01-22 16:46] #717 closed

[2020-01-23 18:16] yongtang commented on #651
Our tests for the majority of the dataset has been standardized in test_io_dataset_eager.py, with different scenarios testing increased functionality. Will continue to enhance the tests, but will close this issue as tests are there.

[2020-01-23 18:16] #651 closed

[2020-01-24 09:40] pshiko commented on #716
is there any update on this issue?
And also, where should i check for updates for this issue?

[2020-01-25 21:02] jjedele opened #758 "Segfault when using ffmpeg to decode MP3s"
I'm trying to use `tfio.IOTensor.from_ffmpeg` to build a simple data input pipeline reading MP3s, but it results in a segfault after processing a certain number of files. It did several tests to verify that it really is the number of files and not a corrupt file.

Code to reproduce:

[code]

I'm working with the German part of the [Mozilla CommonVoice](https://voice.mozilla.org/en/datasets) datase

[2020-01-27 16:58] yongtang commented on #745
@zaccharieramzi PR #760 update the hdf5, and added a global mutex to protect thread safety. (hdf5 lib does have the thread-safe mode. However, it is not multi-threaded. Rather it only serialize the API calls. Also the thread-safe mode in hdf5 does not work with C++ APIs. For that I added a global mutex).

Can you give the latest nightly build a try, and see if the issue has been resolved?

[2020-01-28 09:34] zaccharieramzi commented on #745
Hi @yongtang !

Just tried with multi-threading again (same code) and tfio `dev20200127123531`, it's still failing with the same error.

I also tried with a fixed number of parallel calls (2), and the error was the same.

[2020-01-29 08:58] zaccharieramzi commented on #745
I am not sure how relevant this is, but I wanted to move forward and check that everything was working without multithreading for the IO.
However, when fitting my model, I still get the same error, even when I don't use parallelism. I don't think `fit` is using parallelism without us knowing it (even if `__inference_distributed_function_141` seems to suggest otherwise), so I guess the problem come

[2020-01-29 13:05] helderm opened #762 "Internal error when fetching large BigQuery table"
tensorflow-io == 0.11.0
tensorflow == 2.1.0
Running on Dataproc --image-version 1.4-ubuntu18 and debian9

Hi! Whenever I create a session from a BigQuery table with more than 100M rows the reader fails with the following stacktrace. If I undersample the same table the reader works without any issues. Any ideas as to why this is happening?

Below the code. Things I tried: increasing streams, read_r

[2020-01-29 21:58] yongtang commented on #762
/cc @vlasenkoalexey to take a look.

[2020-01-30 23:21] vlasenkoalexey commented on #762
I tested BQ reader on 10GB+ datasets, and it worked just fine.
@helderm is your dataset publicly available, so I can reproduce this problem?
According to log Op:IO>BigQueryReadSession op fails, which means that BQ can't establish read session. Could you double check that you have read access and that BQ streaming API is enabled for your project.

[2020-01-30 23:22] vlasenkoalexey commented on #716
I'll follow up on this and provide an update.

[2020-02-02 14:03] helderm commented on #762
It turns out using the latest Debian image from Google on Dataproc made the problem fix itself for some reason. It couldn't be authentication errors since it was the same dataset and project, and the same table but undersampled. Anyway, I think this issue can be closed, thanks for the time!

[2020-02-03 16:51] niklas-mohr-jdas commented on #500
Does the above mentioned PR also fix the issue with utf-8 characters in the azure key?
[code]
triggers an error
[code]
using `tensorflow==2.1.0` and `tensorflow_io==0.11.0`.
The same code works with a key `os.environ['TF_AZURE_STORAGE_KEY']="Bur"`

[2020-02-05 20:07] #762 closed

[2020-02-07 15:08] yongtang commented on #501
With quite a few recent PRs, the Windows support has been enabled in more than half of the all available ops.

There are some remaining ops that has not been supported yet:
https://github.com/tensorflow/io/blob/c31de505c9ff67a8d5646e8bd6dbef4be23ee232/tensorflow_io/core/BUILD#L514-L551

Some file systems ops can only be enabled after TF 2.2 due to some issues in upstream TensorFlow. (See https://g

[2020-02-07 19:41] zaccharieramzi commented on #745
Hi @yongtang ,

Have you had a chance to reproduce the bug?
Do you know if you or someone else plans to work on this soon?

Cheers

[2020-02-10 17:57] yongtang commented on #745
@zaccharieramzi Sorry for the late reply. I am quite overwhelmed for the past week. I think I might be able to take a look either after Thursday this week or next week.

[2020-02-12 04:42] EstebanGuillen opened #779 "Get a DICOM tag that is a sequence"
Is it possible to access a DICOM tag that references a sequence type using io.dicom.decode_dicom_data()?

Using pydicom I can acess take 0x0008,0x1155 like this:

ds = pydicom.dcmread(file)
reference = ds[0x0008,0x1115][0][0x0008,0x1140][0][0x0008,0x1155].value

How would I do this with the io.dicom.decode_dicom_data() function?

[2020-02-12 19:18] MarkDaoust opened #783 "Publish tfio 0.12 to tensorflow.org"
Hi, I'm trying to execute the azure notebook for tensorflow.org

I get this error:

[code]
Any ideas?

[2020-02-12 21:09] yongtang commented on #783
Thanks @MarkDaoust. I am running the azure notebook from colab.research.google.com:

https://colab.research.google.com/github/tensorflow/io/blob/master/docs/tutorials/azure.ipynb

and it seems to be fine. Are you running the notebook locally?

Wondering if there is any difference between the environment you run and the colab.research.google.com?

[2020-02-12 21:11] yongtang commented on #783
One possible scenario is that I am pushing the button one by one on Google Colab. However, the line:
[code]

will need the previous action `get_ipython().system_raw('azurite-blob -s &')` fully up.

So if the notebook runs locally, the `azurite-blob -s &` may not be fully up yet.

Wondering if it makes a difference if you add a sleep (e..g, 5 sec) before `tf.io.gfile.mkdir(pathname)`?

[2020-02-13 00:31] MarkDaoust commented on #783
Thanks for the tips. It looks like the publisher got silently tripped up on the `npm install` step.

[2020-02-15 17:09] yongtang commented on #722
@ashahab The issue has been resolved. A newer version of gcc (devtoolset) in CentOS 7,  libstdc++ also has to be linked statically by passing the following at the beginning of the build on CentOS 7:
[code]

Finally, a tf_configure.bzl update is needed to capture the `lib64` vs. `lib` discrepancy in CentOS.

The PR is in #788. Once merged you can following the instructions on README.md to build wit

[2020-02-15 17:56] yongtang commented on #779
@EstebanGuillen Do you have a sample dicom file I can take a look?

[2020-02-15 18:06] ashahab commented on #722
Thank you for the update.

On Sat, Feb 15, 2020 at 9:09 AM Yong Tang <notifications@github.com> wrote:

[2020-02-15 21:35] #722 closed

[2020-02-15 22:43] yongtang commented on #722
@ashahab PR #788 has been merged. You can check https://github.com/tensorflow/io#centos-7 for building instructions on CentOS 7.

[2020-02-17 02:34] EstebanGuillen commented on #779
Hello,

Attached is a dicom that references another dicom file. When we annotate a
dicom an additional dicom gets created; it contains a reference (pointer to
another dicom file) and the annotation details (basically points for our
use case). I need to get access to the reference and the points. I wasn't
able to use 'io.dicom.decode_dicom_data' to access those values. Here is
code using pydicom wh

[2020-02-17 09:40] gruossomonica opened #791 "H5::DataSetIException when using IODataset"
Hi,
similar to [#745](https://github.com/tensorflow/io/issues/745), I tried to train my neural network with a dataset consisting of some hdf5 files and I got the following error:

`1511/1607 [===========================>..] - ETA: 6s - loss: 0.3598 - my_upsample_heatmap_before_proj_loss: 0.0019 - joints3D_prediction_before_proj_loss: 0.1732 - my_upsample_heatmap_before_proj_accuracy: 0.9798 - join

[2020-02-17 12:25] aliutkus commented on #582
any update ?

[2020-02-17 16:55] yongtang commented on #779
@EstebanGuillen I am not able to see the attachment. Looks like GitHub filters out the attachment from the email. Can you attach the file to this issue page?

[2020-02-17 20:22] EstebanGuillen commented on #779
Sure, here is file:

[example.zip](https://github.com/tensorflow/io/files/4216058/example.zip)

Let me know if this works

[2020-02-18 20:08] yongtang commented on #779
@EstebanGuillen I didn't have a lot of experience with DICOM before, though I took a look at the dump in C++:
[code]

[2020-02-18 20:11] yongtang commented on #779
@EstebanGuillen If I understand correctly, you are looking into accessing
[code]

which roughly equals to:

[code]

[2020-02-18 20:19] yongtang commented on #779
@EstebanGuillen The current `decode_dicom_data` does not handle sequences, and it does not handle recursive sequences as in your case.

The current `decode_dicom_data` only takes a `uint32` which is the tuple of `uint16` (e..g, `0x0008,0x1115`) and convert into `one` `uint32` as the input.

It is not very difficult to add the implementation for your need though.

I think a logical choice is to all

[2020-02-19 21:17] yongtang commented on #791
@gruossomonica Thanks for the report. I will take a look together with #745.

[2020-02-19 21:46] yongtang commented on #548
With #763 merged, this issue could be closed. Additional work might be needed to expand the PostgreSQL to support all data type (not just float or int types).

[2020-02-19 21:46] #548 closed

[2020-02-19 21:47] yongtang commented on #456
Not actively worked on. Close for now.

[2020-02-19 21:47] #456 closed

[2020-02-19 21:59] yongtang commented on #501
With recent changes, most of the ops for Windows build are enabled, and nightly is releasing Windows at the same time as Linux and macOS.

What are not ported to Windows yet are below, mostly due to a header file issue in TensorFlow. We will have to wait for TF 2.2:
- azfs (requires at least TF 2.2 to get a file system header file fix)
- ignite (same as azfs)
- oss (same as azfs)
- gcs_config_ops

[2020-02-19 23:02] yongtang commented on #754
Created a PR #795 to allow multiple dimension indexing/slicing, so that the following is possible:
[code]

[2020-02-20 04:36] #754 closed

[2020-02-20 04:37] yongtang commented on #754
This issue should have been resolved in #795.

[2020-02-20 13:36] JovanVeljanoski opened #799 "Training local TF model via ArrowStreamDataset raises "ValueError: Cannot take the length of shape with unknown rank.""
Hello,

I am trying to use arrow files as data-sources for creating a TF model. I have been following and trying to reproduce  The examples in [this article](https://blog.tensorflow.org/2019/08/tensorflow-with-apache-arrow-datasets.html), however I am running into trouble.

I include the code that I am using at the end of this post, which is the same code as in the article linked above, with the a

[2020-02-20 16:37] yongtang commented on #799
/cc @BryanCutler to take a look.

[2020-02-20 18:51] yongtang opened #800 "Update librdkafka to 1.0.0+"
This is an issue to update librdkafka to 1.0.0+. The biggest motivation for update is that our current version of librdkafka does not work correctly with OS X 10.13, due to https://github.com/Blizzard/node-rdkafka/issues/686#issue-499098109

Since we are publishing OS X 10.13 compatible wheels now, it is imperative to update librdkafka so that tensorflow-io on 10.13 works correctly.

Currently, th

[2020-02-20 19:55] BryanCutler commented on #799
Thanks for the report @JovanVeljanoski , I'll take a look

[2020-02-20 22:17] BryanCutler commented on #799
@JovanVeljanoski since you are streaming Arrow record batches and don't have the , the output shape is unknown initially. At the time of writing the above example keras could handle that, but since then it seems like something changed and the shape must be specified. If you change the above code to this, it should work (I also needed to change the type of the label column to `tf.int64`):

[code]

[2020-02-21 03:07] yongtang commented on #758
@jjedele Sorry for the late reply as debug with ffmpeg is a little challenging. Still looking into it.

In the meantime, if you are only looking for mp3 file, I added a mp3 decoder that is based on minimp3, which does not requires ffmpeg. It also works on Linux/macOS/Windows (ffmpeg only works on Ubuntu 16.04/18.04). You can give it a try with:
[code]

Note `from_audio` actually process wav/flac/o

[2020-02-21 10:08] jjedele commented on #758
@yongtang No worries, I can completely see how that's a pain. Thank you for looking into it.

That's awesome! Amusingly I started exactly the same project (MP3 read operator based on minimp3), but I'm not there yet since I neither worked with MP3 decoding nor with custom TF operators before. Will have a look at your code to get some inspiration ;)

[2020-02-21 16:13] dalelane opened #802 "Training models using streaming Kafka dataset"
I'm sure my problem is I'm using this wrong rather than that this is a bug.

I'm trying to train a model using a Kafka dataset, and continually refresh/retrain the model as new events appear on the topic.

A simplified version of my setup is:

[code]

I'm using `eof=False` to keep the consumer going as new messages arrive, and then repeatedly calling `model.fit` to keep improving the model using t

[2020-02-21 19:06] yongtang commented on #582
@Mazagov @aliutkus Created a PR #803 to add resample support, based on Xiph's speex library. Please take a look if interested.

[2020-02-22 14:26] yongtang commented on #802
@dalelane When a dataset is passed to `model.fit`, it is expected that dataset is `repeatable` so that at each epoch the same data (could be shuffled) is used again. In that case, the Kafka Dataset (or any other types of dataset passed to `model.fit`) will need to be both finite and repeatable. So EOF is necessary). The non-finite dataset (with `eof=False`) is mostly used for inference (`model.pre

[2020-02-22 17:52] dalelane commented on #802
Thanks for the reply! I don't have a strict requirement here - I'm more trying to understand what is possible using Kafka.

My initial hope was that I could treat each set of messages as a new batch - conceptually each new batch of Kafka events being part of one large never-ending epoch. I'd put a batch size of 10 just as a try-to-see-if-it-works rather than because I think that is a good value -

[2020-02-24 04:54] yongtang commented on #758
@jjedele nice to see interest in minimp3. I also created another PR #805 which is attempting to add mp4a support with minimp4 + AVFoundation on macOS. The plan is to use system-native APIs (e.g., Windows and macOS) when possible, and fall back to FFmpeg on Linux for very specific codec only.

[2020-02-24 09:10] JovanVeljanoski commented on #799
Hi @BryanCutler

Thank you for your reply and your help with this. It is much appreciated.

I tried your fix but I am getting another error. Not sure if this is from the keras side or the arrow/arrowstream side.

This is following the modifications you suggested:
[code]

[2020-02-24 14:58] nmatare opened #806 "[ArrowIO] - Old metadata version not supported"
While attempting to try out Arrow integration, I run into the below error:

**tensorflow.python.framework.errors_impl.InternalError: Invalid: Old metadata version not supported**

The below reproduces the error:

[code]

And the stacktrace:

2020-02-24 09:44:25.636894: W tensorflow/core/framework/op_kernel.cc:1655] OP_REQUIRES failed at iterator_ops.cc:941 : Internal: Invalid: Old metadata version

[2020-02-24 15:04] #582 closed

[2020-02-24 16:22] yongtang commented on #806
/cc @BryanCutler to take a look.

[2020-02-24 16:51] yongtang commented on #802
@dalelane I didn't work on retrain model before, though if I remember, it was possible to retrain the model with pure tensor input in the past. Whether or not the tf.data.Dataset works, we will have to find out.

You might need to save the model first (so that all the state information is finalized), then load the model from saved model file. After that, the model that was loaded could be used for

[2020-02-24 16:57] yongtang commented on #802
@dalelane By the way, tensorflow/io does have the lazy-load tensor format support for Kafka. So even if tf.data could not use used in model retrain, we could try with IOTensor instead.

[2020-02-24 19:56] dalelane commented on #802
@yongtang Thanks for the reply.

I tried doing a save/load but unfortunately it didn't help.

(One thing I noticed when testing to see if it helped was that the EVENT_ERROR always occurs after the 73rd call to `model.fit`. Always immediately after the 73rd call. I hadn't realised it was so consistent in when it fails in my earlier testing)

I'll have a look at IOTensor - I've not tried that before

[2020-02-24 19:58] Dr-Gandalf opened #809 "JPEG 2000 (Lossless Only) support for DICOM"
I've been working with this nice tools, but it can not decode all the images, the only common factor I see is the "JPEG 2000 (Lossless Only)" Transfer Syntax (1.2.840.10008.1.2.​4.​90).

does this tool have support for this compression method?

[2020-02-24 20:03] yongtang commented on #809
@Dr-Gandalf Do you have a sample file and the simple code that can produce the issue?

[2020-02-24 20:17] Dr-Gandalf commented on #809
yes but it is not anonymized.

[2020-02-24 20:26] yongtang commented on #809
@Dr-Gandalf If the image is not available can you show the code if possible?

[2020-02-24 21:13] Dr-Gandalf commented on #809
It can be reproduced using the notebook tutorial, I just uploaded the file an change the filename at the code

https://www.tensorflow.org/io/tutorials/dicom

[2020-02-25 00:09] yongtang commented on #809
@Dr-Gandalf Ah, I see it is related to dicom. For dicom my understanding is that DCMTK (the library we build with for dicom support) does not have open source support for JPEG2000 (only available in their commercial license which we are not using here). I think this is not a supported case.

[2020-02-25 00:29] BryanCutler commented on #806
Thanks for the report @nmatare.  Could you confirm which version of pyarrow you have installed?
`python -c "import pyarrow; print(pyarrow.__version__)"`

There was a change in the binary format in Arrow v0.15.0, and TensorFlow I/O v0.11.0 was built with Arrow v0.14.1. So if you are using pyarrow 0.16.0, it seems that it causes an invalid message version, which results in the error you see.  There

[2020-02-25 00:37] yongtang commented on #802
@dalelane I am a little occupied but will try to take a look later this week. In the mean time, I would suggest you to take a look at the re-training with tensor created from simple numpy, to see if the idea of re-training with save/load model works first. If at least the retraining works on tensor created from simply numpy then we know the retraining idea works. We can definitely find out a way t

[2020-02-25 00:54] BryanCutler commented on #799
Hi @JovanVeljanoski , the model is able to train for me with the above code. Could you post what OS you have and what version of pyarrow is installed?

[2020-02-25 08:50] JovanVeljanoski commented on #799
Hi,

Sure: I am on macOS 10.14.6 (Mojave). The pyarrow version is 0.15.1 (installed from conda-forge).
tensorflow (v2.1.0, from pip) and tensorflow-io (v.0.11.0 also from pip), all in the same environment of course.

[2020-02-25 12:45] maartenbreddels commented on #799
Hi BryanCutler,

thanks for your replies, and nice example @JovanVeljanoski, that made it easy to investigate.

Using the ArrowDataset (without stream), gives a clearer error message:
[code]
Which I traced to https://github.com/apache/arrow/blob/3bc01ec94eb2e310b28402a35196e1e8c5c9aec8/cpp/src/arrow/ipc/message.cc#L54

By downgrading till it works, I found it works with (py)arrow 0.14. What are th

[2020-02-25 14:19] terrytangyuan opened #810 "Use `black` for code auto formatting"
It would be good to use auto formatting for our current Python codebase so the style is consistent among developers without having to manually fixing lint, etc. I've had good experience using [black](https://github.com/psf/black) for other projects and it looks like both tensorflow/addons and TensorBoard are already using it.

Let's use this issue to discuss this and I am happy to work on this onc

[2020-02-25 15:29] yongtang commented on #810
I prefer black as well, we want to align with the overall tensorflow community so that common issues might be resolved together.

[2020-02-25 15:33] yongtang commented on #799
@maartenbreddels the tensorflow-io's master branch has already been upgraded to arrow 0.16.0. We could release another version of tensorflow-io almost any time (with arrow 0.16).

[2020-02-25 15:34] maartenbreddels commented on #799
@JovanVeljanoski and I just found out that the nightly pip install seems to work, would be great to see that released!

[2020-02-25 18:17] maartenbreddels commented on #799
Thanks for helping out! We have another question, but I'll open a separate issue for that, consider this solved.

[2020-02-25 18:19] BryanCutler commented on #799
Thanks @maartenbreddels !  The same issue also came up in #806 and it is caused by a change in the binary IPC protocol with Arrow 0.15.0 (this kind of change will be very rare). I posted some workarounds at https://github.com/tensorflow/io/issues/806#issuecomment-590618541, but in addition to what's already been suggested here, you can set an environment variable as follows, which will allow you t

[2020-02-25 18:41] BryanCutler commented on #810
It will be good to be on the same page as the rest of the community, so sounds good to me. Thanks @terrytangyuan !

[2020-02-25 19:31] maartenbreddels commented on #799
Great, thanks.

Our other issue is solved, it's off topic, but I'll put it here in case someone finds it useful:
The tf LinearRegressor needed a dict of named tensors, but the ArrowDataset could not do this, but using map it was easy to convert to a dictonary of tensors:

We spend a lot of time thinking how to solve this, but it was quite easy in the end, again, your medium article with the .map e

[2020-02-25 20:24] yongtang commented on #799
On a side note, it might be possible to generate the `map` automatically from implementation point of view: tensorflow has a `tf.nest.flatten` and `tf.nest.pack_sequence_as` which could convert an arbitrary structure into a flat tuple and back. So in theory, if the expected map is known in advance, then it could be converted to a tuple in a definitely way with `tf.nest.flatten` . Then this tuple c

[2020-02-26 10:44] jjedele opened #811 "Decoding MP3s from in-memory data"
Hi @yongtang,

As mentioned in #758 , I was working on my own operator implementation to decode MP3s. My implementation turned out a bit different than yours - it decodes data from in-memory data instead of a file name, similar to `tf.audio.decode_wav` and `tf.io.decode_image`. This is helpful if you have lots of smaller MP3 files inside a TFRecord file or something like this.

Would this be somet

[2020-02-26 15:07] yongtang commented on #811
@jjedele That makes a lot of sense!  We have "basic" ops in tensorflow/io that works on images, e.g., https://www.tensorflow.org/io/api_docs/python/tfio/image

A basic ops for audio encoding/decoding would be great 👍 Would you like to create a PR for that?

[2020-02-26 15:08] yongtang commented on #811
@jjedele The API could be placed under `tfio.audio.decode`/`tf.io.audio.encode` if you prefer.

[2020-02-26 15:15] jjedele commented on #811
@yongtang : Cool! Sure, I'll see if I get to starting one during the weekend. Will probably need some help integrating it correctly with the build, etc.

[2020-02-26 15:22] yongtang commented on #811
@jjedele Let me know if you need any help. And you can start a working-in-progress PR first.

I know bazel is not exactly a convenient tool 😄 , we stay with bazel to conform to TensorFlow core repo's overall build. I will be glad to help with any build issues.

[2020-02-26 15:26] yongtang commented on #809
Given DCMTK does not have JPEG 2000 support out of the box, the alternate path would be to rely on GDCM. This could be quite an effort I think.

I will mark this feature request as contribution welcome for now. Also, if there is enough more interests from community we will try to make this happen.

[2020-02-26 15:28] yongtang commented on #676
I gave another try with conda-forge recently https://github.com/conda-forge/staged-recipes/pull/10913

unfortunately still face lots of confusion issues. Will have to see if they could be done later.

[2020-02-26 21:36] BryanCutler commented on #799
Thanks for the tip @maartenbreddels , that is very helpful to know!

@yongtang yeah this sound like a great idea for an enhancement!

[2020-02-27 13:08] jjedele commented on #811
@yongtang I just tried to build the repo as is, and it already fails on my machine. Something related to libboost.

[code]

Any idea what could be going on? Seems like it's somehow mixing a tfio-local and a global installation of boost. I installed Bazel 2.1.0 instead of 2.0.0, but that hopefully shouldn't be the problem?

[2020-02-27 14:36] jjedele commented on #811
Ok, seems I fixed it. I had to uninstall my global libboost via brew as hinted at here: https://github.com/ray-project/ray/issues/6319.

[2020-02-27 18:49] nmatare commented on #806
Thanks for the explanation and response @BryanCutler.

I can confirm that the issue is solved when setting the environment variable `ARROW_PRE_0_15_IPC_FORMAT=1`. I was running pyarrow 0.15.1.

Alternatively, I checked with pyarrow 0.14.1 and that indeed works as well.

Thanks again.

[2020-02-27 19:07] yongtang opened #813 "tensorflow-io 0.12.0 release"
With TensorFlow 2.2 release on the horizon it is time for us to release tensorflow-io 0.12.0. Ideally we want to release 0.12.0 against TF 2.1 (before TF 2.2). And, after TF 2.2 is released we will release 0.13.0 against TF 2.2

Our release workflow has been significantly simplified with GitHub Actions. Here is the list of items for 0.12.0:

- [x] Update RELEASE.md/README.md to capture 0.12.0 chan

[2020-02-27 19:07] yongtang commented on #806
Added an issue #813 to capture the tensorflow-io 0.12.0 release tracking.

[2020-02-27 19:08] yongtang commented on #799
Added #813 to capture the tensorflow-io 0.12.0 release (which consists of arrow 0.16.0) tracking.

[2020-02-27 19:08] yongtang commented on #811
@jjedele glad it works. Let me know if you encounter any further issues.

[2020-02-27 22:53] bhack opened #814 "Video4Linux and Genicam"
Is there any planned to support Video4Linux and [Genicam](https://github.com/AravisProject/aravis) cameras?

[2020-02-27 22:55] bhack commented on #814
Another alternative for Genicam is https://github.com/genicam/harvesters

[2020-02-28 01:16] yongtang commented on #814
@bhack It looks like `Video4Linux` is GPL licensed. Not sure we could like it easily. For [Genicam](https://github.com/AravisProject/aravis) it looks like it is LGPL licensed. Might be possible for adding the support. Will spend some time to see if this is feasible or not.

/cc @ivelin in case you are interested as well.

[2020-02-28 08:21] bhack commented on #814
Some python wrappers seems to me LGPL https://github.com/duanhongyi/pyv4l2 cause I think the header Is `/* SPDX-License-Identifier: ((GPL-2.0+ WITH Linux-syscall-note) OR BSD-3-Clause) */
/*`
Check
https://linuxtv.org/downloads/v4l-dvb-apis/uapi/v4l/videodev.html#videodev2-h

[2020-02-28 08:28] bhack commented on #814
Another cross platform alternative for USB camera was the libuvc pythonwrappers but I don know its Is currently maintained upstream https://github.com/pupil-labs/pyuvc

[2020-02-28 09:03] bhack commented on #814
Another alternative for USB cams was to use ffmpeg directly https://trac.ffmpeg.org/wiki/Capture/Webcam

But then you will not control too much camera parameters.

[2020-02-28 14:38] terrytangyuan commented on #813
We should update the release document as well: https://github.com/tensorflow/community/blob/master/sigs/io/RELEASE.md

[2020-02-28 16:19] yongtang commented on #813
Created a PR for release document:
https://github.com/tensorflow/community/pull/211

[2020-02-28 17:08] terrytangyuan commented on #813
@yongtang I'd be happy to perform the rest of the release steps once RELEASE.md/README.md is updated.

[2020-02-28 18:21] yongtang commented on #813
Release note is being updated on #817.

We have quite a few exciting new features: Windows support,  PostgreSQL, MP3, ArrowIOTensor are all very significant. Could highlight them when sending the email out.

[2020-02-28 20:45] terrytangyuan commented on #813
We have just release v0.12.0 here: https://github.com/tensorflow/io/releases/tag/v0.12.0
I've done some preliminary checks locally and all artifacts have been uploaded to PyPI https://pypi.org/project/tensorflow-io/0.12.0/#files. Thanks for everyone's efforts!

[2020-02-28 20:45] #813 closed

[2020-02-28 21:32] BryanCutler commented on #813
Thanks all, great work!

[2020-02-28 21:39] BryanCutler commented on #806
Thanks @nmatare , tensorflow-io just released 0.12.0, which will solve this problem also. I'll go ahead and close this.

[2020-02-28 21:39] #806 closed

[2020-02-28 21:40] BryanCutler commented on #799
Now that tensorflow-io 0.12.0 has been released, I'll go ahead and close this.

[2020-02-28 21:40] #799 closed

[2020-02-28 21:54] maartenbreddels commented on #799
Thanks!

(from mobile phone)

On Fri, 28 Feb 2020, 22:40 Bryan Cutler, <notifications@github.com> wrote:

[2020-02-29 01:34] yongtang commented on #814
Thanks @bhack, that looks promising. I will take a look.

[2020-02-29 06:02] ivelin commented on #814
@yongtang thank you for the notice. At a first glance it is at a little bit lower level than my current plane of interest. I'm mostly working with cameras and other audio/video sources available over IP: RTP, RTSP , HTTP, RTMP, WebRTC. I will still keep an eye on this thread for intersections.

[2020-03-01 13:22] gabrieldemarmiesse commented on #810
If you guys are interested, in Addons, we managed to do a progressive (graceful) migration to black without git conflicts and without stopping anyone from working. See https://github.com/tensorflow/addons/issues/988

[2020-03-01 20:46] yongtang commented on #814
@ivelin With respect to WebRTC, I think it might be much easier to build a custom ops in C++ to read WebRTC into tf graph. This could be more useful in certain situations (than low level RTP/etc).

[2020-03-01 20:55] yongtang commented on #814
@bhack In order to use Video4Linux it looks like a USB camera might be needed. I don't have a USB camera or a Linux on hands, so it may take some more time.

I labeled the issue with `help wanted` in case anyone is interested in this topic and want to work together to bring Video4Linux/Video Capture into tensorflow-io.

In the mean time, I played with Video Camera on macOS, and is managed to build

[2020-03-01 21:03] bhack commented on #814
You don't need a camera. You can just run a Debian/Ubuntu image on Macosx with Docker and use a loopback device installing https://packages.debian.org/search?keywords=v4l2loopback

[2020-03-01 21:57] dalelane commented on #802
@yongtang Sorry, I haven't had much luck.

I did try using IODataset - swapping out my dataset creation for this

[code]

On the plus side, repeated calls to model.fit worked without error'ing, so that was better.

But I'm not sure it wasn't just repeatedly using the same data, as the committed offset for the consumer group never increased.

FWIW - I did find [this reference](https://github.com/ke

[2020-03-02 05:15] terrytangyuan commented on #810
@gabrieldemarmiesse Thanks! That’s a good idea. I’ll take a closer look on the details when I get a chance.

[2020-03-02 16:32] yongtang commented on #783
@MarkDaoust With tensorflow-io 0.12.0 released (see #813), I have updated docs in several places (PR #772 #819 #820), mostly to replace tensorflow-io-nightly with tensorflow-io. Can you take a look and see if those changes make sense. Maybe we could just push to tensorflow.org/io once the related PRs ( #772 #819 #820) are merged?

[2020-03-02 19:58] MarkDaoust commented on #783
Sure.

I've got the api-docs for 0.12 done.

And those PRs are merged now. I'm try the tutorials update and report back.

[2020-03-02 20:35] maartenbreddels opened #822 "Error loading tensorflow-io from pip: Library not loaded: /usr/lib/swift/libswiftCore.dylib"
We're having the above error msg in our CI at vaex:

https://travis-ci.org/vaexio/vaex/jobs/657325237?utm_medium=notification&utm_source=github_status
 (this PR https://github.com/vaexio/vaex/pull/622 )

I'm not sure if this is a build/linker issue, e.g. like here:
https://stackoverflow.com/questions/26024100/dyld-library-not-loaded-rpath-libswiftcore-dylib

Maybe people here know more.

(Version

[2020-03-02 23:52] MarkDaoust commented on #783
Okay.

postgresql went through, and I'm expecting prometheus to run this time.

But I'm still having trouble with azure.

I haven't found a set of commands that works to install azurite-blob both in colab and our site-builder VMs.

I was going to give up and save the output into the azure notebook, but it doesn't seem to run in colab anymore.

For me it's just hanging on the last code cell.  I'll

[2020-03-03 00:02] yongtang commented on #783
Thanks @MarkDaoust for the update. I tried myself and it looks like indeed the last cell hangs. That was not the case the last time I tried (around a couple of weeks ago). I will take a deep look and see if I can fix this issue.

[2020-03-03 03:37] yongtang commented on #822
Thanks @maartenbreddels for the report. From some of the links my guess is that the CI on Travis uses old version of macOS which does not comes with Swift library installed. See https://stackoverflow.com/a/55572389

The issue might be resolved by installing Swift 5 Runtime Support?

[2020-03-03 14:54] bhack commented on #814
Generally from "live" Video source you need to rectify/undistort frames.
OSX avfoundation has cameracalibration classes:
https://developer.apple.com/documentation/avfoundation/avcameracalibrationdata

What we could do for other cameras? Are there some helper ops that we could recover from https://github.com/tensorflow/graphics? What do you think?

[2020-03-03 15:41] yongtang commented on #814
@bhack The PR #821 has been updated and now both macOS (through AVFoundation) and Linux (through Video4Linux) are supported.

Note the raw format is NV12 on macOS and YUYV on Linux (at least from the loopback device I tested).

[2020-03-03 16:17] yongtang commented on #822
@maartenbreddels I don't have Brew installed on my machine, through it looks like there is a Swift 5 Runtime install:
https://github.com/thii/homebrew-swift-runtime

Wondering if that will resolve the issue you encounter?

[2020-03-03 16:28] yongtang commented on #814
@bhack Once PR #821 is merged, I think decode yuyv and nv12 will be the next step before we do any calibration.

[2020-03-03 16:31] yongtang opened #824 "Remove python2 specific code"
As tensorflow-io dropped the support for python 2, all python 2 specific code could be removed. For example, the following code that are common across almost all py files:

[code]

Mark this issue as `contribution welcome` and `good first issue`.

[2020-03-03 16:42] bhack commented on #814
On TF/Graphics they have started a stub color conversione namespace but who know if they talked with TF.image team?
https://github.com/tensorflow/graphics/issues/107

They had also request to expand over undistort:
https://github.com/tensorflow/graphics/issues/173

[2020-03-03 16:58] yongtang commented on #814
@bhack Making a change to other different repos might be a challenge, as it involved multiple teams, and tensorflow-io's maintainers are mostly outside of google. tensorflow-io also has image related APIs like decode_tiff/decode_webp/encode_bmp which are not available in tf.image. I think one solution is to have tensorflow-io have a consistent public facing namespace, and reuse APIs either tf.imag

[2020-03-03 17:00] bhack commented on #814
/cc @julienvalentin

[2020-03-03 17:16] #814 closed

[2020-03-03 17:26] yongtang opened #825 "Add support to convert from NV12 and YUYV to RGB"
Video capture has been supported in tensorflow-io (see PR #821), through Video4Linux on Linux and AVFoundation on macOS. Now we are able to extract video captures and output raw image format as a Dataset.

The raw format, by default, is kCVPixelFormatType_420YpCbCr8BiPlanarVideoRange (NV12) on macOS, and V4L2_PIX_FMT_YUYV (YUYV) on Linux, they will need to be converted to RGB so that they could be

[2020-03-03 17:30] yongtang commented on #814
@bhack PR #821 has been merged with video capture supported on Linux and macOS (Windows is not touched). Opened another issue #825 to track the progress on convert from NV12 and YUYV to RGB as the next step.

[2020-03-03 17:38] bhack commented on #825
@julienvalentin do you plan to expand color conversion namespace in tf.graphics or more It in tf.image?

[2020-03-03 17:40] bhack opened #826 "Genicam camera support"
Ref. https://github.com/tensorflow/io/issues/814 The majority of industrial and machine vision camera Need GeniCam support.

[2020-03-03 17:58] bhack commented on #809
An alternative could be https://github.com/DraconPern/fmjpeg2koj

[2020-03-03 18:15] yongtang commented on #783
@MarkDaoust I think I found out the issue. The issue seems to be that, when nodejs installs `azurite-blob`, the binary may not be exposed on `PATH` env. On Colab if I use:
[code]

Then it works through.

Let me spend a little more time. I will try to see if I can find a generic way to resolve this issue by automatically figure out the nodejs path.

[2020-03-03 18:49] yongtang commented on #783
@MarkDaoust I created a PR #827 to resolve the azure issue. Please take a look.

[2020-03-03 22:34] MarkDaoust opened #829 "prometheus.ipynb always fails the first time you run "IODataset.from_prometheus""
We thought this was a server startup-timing issue.
It's not.

From #783.

It _always_ fails on the first run after a "factory reset funtime" in Colab.
I don't know what the issue is.

I'm saving it with output so it can be published. If you resolve this issue please remove the output.

The full error text is:

https://gist.github.com/MarkDaoust/1c4365f92c26a1f53332e772b8243e60

It starts with:

[c

[2020-03-03 22:48] jjedele commented on #800
Ahrg, just downloaded 8GB Xcode to figure out it has this issue 😓

[2020-03-03 22:57] yongtang commented on #829
Thanks @MarkDaoust, I will take a look and come back once I find out the reason.

[2020-03-03 23:15] dxw1997 opened #831 "tif image decoding problem"
I'm using tensorflow to build my model and the image format in my dataset is tif.
when I try to decode a tif-format image using tf.io.decode_image(), tensorflow tells me that it
doesn's support tif format.

To solve this problem, I use tf.py_function() to map a load function。But the dimensions of the loaded tensors are different , and my model can't  work.Can you help me with my tif-format image r

[2020-03-04 10:23] jjedele commented on #800
Documenting this here in case anyone else runs into the problem.

This is what the error will actually look like when you run into it:
[code]

The problem seems to be the Xcode version rather than the OS version. I'm running macOS 10.4.6. With Xcode 11.x I got above error. Downgrading to Xcode 10.3 seems to have fixed the problem for me. Old versions can be downloaded here: https://developer.apple

[2020-03-04 12:24] zouxu09 opened #832 "[tensorflow_io.oss ] Fail to write tensorflow summary to alibabacloud oss"
We found an issue when use tensorflow_io.oss to write tensorflow summaries to oss.

A simple code to reproduce this issue:
[code]

The error message is:
[code]

[2020-03-04 12:56] zouxu09 opened #833 "[tensorflow_io.oss] Hang when use tf.gfile.Copy to copy a small file"
When we try to use tensorflow_io to copy a small file, it will hang forever.

A simple code to reproduce:
[code]

[2020-03-04 13:05] zouxu09 opened #834 "[tensorflow_io.oss] Fail to use tf.gfile.Rename to rename oss directory"
Code to reproduce:
[code]

Error message:
[code]

[2020-03-04 14:09] yongtang commented on #833
/cc @zou000 @terrytangyuan

[2020-03-04 14:10] yongtang commented on #832
/cc @terrytangyuan @zou000

[2020-03-04 14:10] yongtang commented on #834
/cc @zou000 @terrytangyuan

[2020-03-04 14:15] yongtang commented on #831
@dxw1997 TIFF is supported in tensorflow-io's experimental API:

https://www.tensorflow.org/io/api_docs/python/tfio/experimental/image/decode_tiff

Note TIFF could have multiple images with different shape, so you have to provide an index (default 0) to specify which image inside the TIFF to use.

[2020-03-04 14:37] yongtang commented on #800
@jjedele Sorry for the inconvenience. In order to move forward on https://github.com/edenhill/librdkafka/issues/2716 will need a simplified crash example. I will give another try today.

[2020-03-04 18:24] yongtang commented on #809
Add a PR #835 to bring fmjpeg2koj, which adds jpeg200 support for dicom

[2020-03-04 18:57] #783 closed

[2020-03-04 18:59] yongtang commented on #783
@MarkDaoust Can you take a look at TOC on the left side? I see PostgreSQL is already up (https://www.tensorflow.org/io/tutorials/postgresql) though it is not showing up on the left side bar?

[2020-03-04 19:03] MarkDaoust commented on #783
Okay, should be fixed now (if you force-reload the page).

[2020-03-04 19:07] yongtang commented on #783
@MarkDaoust Nice! Thanks again for the great work 👍 🎉 🎆 !

[2020-03-05 02:23] yongtang commented on #800
I am not able to find out the reason yet, though if I comment out the line then librdkafka 1.4.0 will work without crash.
https://github.com/edenhill/librdkafka/blob/master/src/rdkafka_cgrp.c#L2727-L2733

Will play a little more, and update the librdkafka either way.

[2020-03-05 21:11] yongtang commented on #800
@jjedele Added a PR #838 to upgrade librdkafka to 1.4.0-RC2.

[2020-03-05 22:25] yongtang opened #839 "Audio Processing API and tfio.audio"
This is about API design of the audio processing in tfio. Comments and discussions are welcomed.

When we started to get into reading audio for tfio, we start with a feature request from the community of 24bit WAV file   which was not possible in tf core repo. Since then, we also supported `Dataset` types of access that essentially is a sequential read, and random access (AudioIOTensor) which allo

[2020-03-06 02:07] yongtang commented on #809
@Dr-Gandalf  The latest tensorflow-io-nightly should consists of the jpeg 2000 support now. Can you give it a try?

[2020-03-06 03:00] #800 closed

[2020-03-06 03:01] yongtang commented on #800
@jjedele The librdkafka has been upgraded to 1.4.0RC2 in #838.

[2020-03-06 09:54] jjedele opened #840 "Evaluate Decord for video IO"
I stumbled upon [Decord](https://github.com/dmlc/decord) a while ago, played around with it a bit and it made working with video data really conventient.

Might be worth having a look if we could gain anything by integrating this instead of working with ffmpeg directly.

[2020-03-06 10:37] jjedele commented on #839
Thank you for writing up this detailed issue, @yongtang !

I'll try to connect the current API with what would be use cases in a ML context:

- `AudioIODataset`: We have an audio stream we want to process start to end but which is so big that we do not want to load it completely into memory. I think this mostly makes sense with unidirectional RNN-based models, e.g. seq2seq event classification on

[2020-03-06 14:04] nalyat opened #841 "from_hdf5 fails with cryptic error messages"
in version 0.12.0, installed from pip, I'm trying to use from_hdf function to create datasets, sample code is as follows:
[code]

Although the first file always succeeds, consecutive files (may) fail, where I get an error like:

[code]

Is this an expected error? If so, is it possible to make the error reason more apparent?

[2020-03-06 14:56] Dr-Gandalf commented on #809
I tried it works fine, thanks

great job

[2020-03-06 15:03] yongtang commented on #809
@Dr-Gandalf Thanks for the update. Think the issue could be closed.

[2020-03-06 15:03] #809 closed

[2020-03-06 15:03] bhack commented on #809
Please give a star to https://github.com/DraconPern/fmjpeg2koj. We need to support upstream effort :wink:

[2020-03-06 15:55] yongtang commented on #840
Thanks @jjedele. NV Codecs could be an interesting direction we want to explore.

There were some discussions about why FFmpeg is hard to integrate:
1. FFmpeg is LGPL so we could not built it directly, instead we have to link to it. But then which version to link, and what if user install a different version on their machine?
   For that reason in tensorflow-io we only explicit link against Ubuntu

[2020-03-06 15:57] yongtang commented on #840
Ref #536 which briefly covered the separation of color conversion and codec.

[2020-03-06 15:57] yongtang commented on #536
Close in favor of  #840

[2020-03-06 15:57] #536 closed

[2020-03-06 16:24] yongtang commented on #500
@niklas-mohr-jdas Sorry the GitHub notification email slip through my inbox. I will take a look.

[2020-03-06 16:27] yongtang opened #842 "[azfs] support utf-8 characters in the azure key."
This is from https://github.com/tensorflow/io/issues/500#issuecomment-581509214 @niklas-mohr-jdas

Does the above mentioned PR also fix the issue with utf-8 characters in the azure key?
[code]
triggers an error
[code]
using tensorflow==2.1.0 and tensorflow_io==0.11.0.
The same code works with a key os.environ['TF_AZURE_STORAGE_KEY']="Bur"

[2020-03-06 16:27] yongtang commented on #500
@niklas-mohr-jdas  I think this is a new scenario. Opened a new issue #842 to track.

[2020-03-06 16:48] yongtang commented on #839
@jjedele for `eager decode` actually it should be `graph or eager decode`, as we could make the decode work in both graph and eager mode.

The `decode` op itself is a very useful scenario that could be couple with other APIs to build a full continuous pipeline. For example, we could combine Kakfa with audio decode, so that kafka is used to read incoming audio data continuously and then decode:
[co

[2020-03-06 17:10] yongtang commented on #802
@dalelane Sorry for the late reply. The tf.keras code base changed a lot with extra indirections to support multiple types of input during the big 1.x => 2.0 migration. I will need to spend extra time to see how it works now. I will try to take a look during the weekend.

[2020-03-06 17:27] dalelane commented on #802
That’s very kind - thank you so much!

[2020-03-06 17:49] terrytangyuan commented on #810
Now that @yongtang has added black check in bazel https://github.com/tensorflow/io/pull/837. It might be better for individual developers to run black check on their new PRs instead of doing everything at once (like in https://github.com/tensorflow/io/pull/812) to avoid conflicts.

If everyone agrees, I'll close https://github.com/tensorflow/io/pull/812 and then everyone can contribute towards thi

[2020-03-06 17:52] gabrieldemarmiesse commented on #824
Hint from TF Addons: We used Pyugrade which was designed just for this :)

[2020-03-06 19:40] BryanCutler commented on #810
SGTM, thanks @terrytangyuan !

[2020-03-06 22:37] yongtang commented on #824
Thanks @gabrieldemarmiesse! I added a PR #843 so that it is possible to run pyupgrade through bazel without installation. The command line below will sanitize file.py:
[code]

[2020-03-06 22:40] yongtang commented on #810
Thanks sounds good to me. @terrytangyuan  @BryanCutler I think what we could do, is in build.yml's `lint` section, to invoke black on individual files that has been touched by:
[code]

Then we could run black (and pyupgrade) for those python files from the above list.

[2020-03-07 00:56] terrytangyuan commented on #810
@yongtang Good idea.

[2020-03-08 12:34] jjedele commented on #839
@yongtang Ah yes, with "eager" I meant decoding the whole data at once. It should obviously work in both modes.

For `dtype` you're right, adding it to the API explicitly is is probably sensible if we want to cover the majority of use cases.

For `desired_channels` and `desired_samples` I think our understanding differs. What you describe is exactly what I would want: enforcing static dimensions f

[2020-03-08 18:20] yongtang commented on #839
@jjedele Thanks. That makes a lot sense. I think what we could do is to add additional `processing` audio APIs such that, after the audio is read into a tensor (in original shape), we could easily run those `processing` audio APIs to further make it conforming to the input you expect?

For example:
[code]

Will the above work?

[2020-03-08 18:21] yongtang commented on #839
@jjedele By the way, there is already a `tfio.experimental.audio.resample` which changes the sample rate. The `normalize` could very well be another API similar to `resample`.

[2020-03-08 18:30] yongtang commented on #826
I looked into GenICam's specification. If I understand correctly, looks like for a device than conform to the specification, it likely exposes GenICam's Transport Layer (TL) in a .so (named as `.cti`). This covers image capture part. The configuration of a camera is in GenICam
API, which may not be needed for image capture (need to confirm).

Since TL is C API and is well-defined, we very much cou

[2020-03-08 18:57] yongtang commented on #839
@jjedele In case of random access and sequential access, random access needs a precise sample offset while sequential access only needs a `Next` api which could return any number of samples.

Not limit the number of samples will be useful, because in many formats samples are grouped into packet which could be any number of samples. Naturally `Next` could just return the next `chunk` of sampels nat

[2020-03-08 19:07] bhack commented on #826
It Is correct if we want to cover intially the capture part.
Also in V4L and OSX currently we are not covering camera settings control of these API if I remeber the PR correctly (could be useful later to have  camera control settings).

[2020-03-08 19:24] yongtang commented on #839
Update: I will take the `Next` part back. This will limit the case when tf.data.Dataset pipeline might have more than one thread.

[2020-03-09 11:30] JovanVeljanoski opened #845 "String types not supported via tensorflow_io.arrow"
Hello,

We (@maartenbreddels and I) are attempting to use `tensorflow_io.arrow` to feed arrow data to a tensorflow Estimator, and are encountering issues when the input features are of type string.

This is the error that is being raised:
`TypeError: Unsupported type in conversion from Arrow: string`
I am attaching a fully reproducible example below.

I assume this is a known issue or a known miss

[2020-03-09 13:55] jjedele commented on #839
@yongtang Yeah, treating this the same way as the resample operation does make perfect sense to me.

[2020-03-09 17:33] yongtang commented on #845
/cc @BryanCutler to take a look.

[2020-03-09 17:56] BryanCutler commented on #845
Thanks @JovanVeljanoski , this is something that has been on my todo list for a while but I just haven't had the time. As a workaround, could you encode your string features to a numeric array? PyArrow has support for dictionary encoding for this, only that `tensorflow_io.arrow` won't be able to use the dictionary batch.

[2020-03-09 21:06] #824 closed

[2020-03-10 00:03] yongtang commented on #840
@jjedele One more thing to think though, is that video is a little special for random access and whole buffer decode.

Unlike audio, where a small file could hold a long audio clip in long minutes, the video is pretty big. A minute of video, even if in mp4, could be huge. And the decoded frames could be even bigger.

So `decode_mp3 (audio)` <=> `decode_mp4 (video)` are not exactly a good compariso

[2020-03-10 17:08] vnvo2409 opened #848 "Problems with linking libcurl ( third-party )"
Hello everyones.
I have built successfully tensorflow.io on Windows as I want to use the libcurl in third-party for my project. However, I can not find a way to link the build output to my code. Could someone give the instruction how to link ( Visual Studio or CLion )
Below is the content of the build output directory:
[code]

[2020-03-10 17:35] yongtang commented on #848
@vnvo2409 you can create a BUILD file and in `deps` part of the `cc_library` (or `cc_binary`) include `"@curl"` and that will automatically link against curl.

See the following for an example: https://github.com/tensorflow/io/blob/a970831f38e3bb394ecdf401fde5e58f02e288b5/tensorflow_io/core/BUILD#L70-L85

Let me know if you encounter any issues.

[2020-03-10 17:44] vnvo2409 commented on #848
So It mean that I can not using the build output to link with other build system such as Cmake ?

[2020-03-10 18:09] yongtang commented on #848
@vnvo2409 In theory you still could link with different build systems. For any libraries if you have a header file, you can always link with other libraries (built by cmake, autoconfig, etc). Though it requires much manual effort.

Also, for many different reasons tensorflow stays with Bazel. It may not be exactly the best tool to use but it is there to stay (with all tensorflow related ecosystems

[2020-03-10 18:15] vnvo2409 commented on #848
Thank you. I will close the issue now. :smile:

[2020-03-10 18:15] #848 closed

[2020-03-11 10:05] JovanVeljanoski commented on #845
Hi @BryanCutler, thank you for your response. Indeed, we can encode the string features prior to passing them to `tensorflow_io.arrow`, but I was hoping to leverage some of the `tf.feature_column` hashing/embedding options. In any case I was just wondering what the status was.

Thank you for the great work on all this! Please let us know if/when you decide to tackle this feature. Cheers!

[2020-03-11 10:57] faroit commented on #839
Hi @yongtang and @jjedele I really appreciate your motivation making tf.io a great audio hub.
Just a few short points about use cases for tf.io:

I think the most important use-case for training is the use of `AudioIOTensor` inside of tf.data pipelines. I think this works already nicely and it would be great if more decoders (e.g. mp4) could be supported through the ffmpeg ops.

I think this is a

[2020-03-11 13:56] yongtang commented on #839
@faroit The tfrecord format may not be a good solution in many cases. tfrecord is a sequential serialization based on protobuf. It serves the purpose of generic serialization (as protobuf is a generic serialization that can take any input), but has has quite a few limitations: 1) No indexing support so performance will be very bad unless you run it that sequentially. 3) Serialization and deseriali

[2020-03-11 14:10] yongtang commented on #839
@faroit By the way, the initial mp4 audio support has been added in PR #805 . The mp4a support is not ready for prime time yet, as each packet will need a codec API call. So the performance is not expected to be good at the moment. The next step is to batch decode the packets to speed up (will have PRs soon).

We use minimp4 for parsing the mp4 container, and use
- AVFoundation's Swift API for AAC

[2020-03-11 15:01] faroit commented on #839
@yongtang mp4a support looks nice.

The decisions sound plausible. For inference on windows, users can still fallback to some of the ffmpeg cli wrappers.

[2020-03-11 15:02] faroit commented on #839
@yongtang Concerning mp4a, can I add substream selection to the feature list? See https://github.com/tensorflow/io/issues/453

[2020-03-11 15:23] faroit commented on #839
@yongtang Concerning your advice on tfrecords. I am pretty much on the same page and we use tf/io, loading WAV files with great success on our own clusters where we have access to performance SSDs. And like many audio researchers, we love that we can still work with audio files directly and we don't really want to move to any other format yet.

But, moving our pipeline to GCS, we found that random

[2020-03-11 16:28] yongtang commented on #839
@faroit There are many factors. One potential factor with seeking for GCS is slow might be due to the fact that GCS (or S3/Azure) are not truly file systems, instead it is just a key-value store with each key map to a blob object. In a more simple term, if you try to append one byte to the end of one GCS file, internally GCS actually will just create another blob and replace the old one (no append

[2020-03-13 23:49] yongtang commented on #501
With PR #851 which includes azfs and ignite, almost all ops are pretty much built into the Windows. The remaining ones like tf.genome has further dependencies and may not be ported any time soon. I will close this issue, but if you have a specific ops you would like to see in Windows, feel free to open a new issue.

[2020-03-13 23:49] #501 closed

[2020-03-14 12:50] bhack commented on #840
@yongtang Could the [snapshot feature] play a role (https://github.com/tensorflow/community/blob/master/rfcs/20200107-tf-data-snapshot.md)?
But I really don't if the mainstream case is about random slice.

[2020-03-14 13:03] yongtang commented on #840
@bhack Random slicing of video is more about feature engineering and preprocessing. For example, a video could be mapped to a subtitle that is in a time range. It is quite handy if long video could be easily cut and slice into small chunks that mapped to subtitle, as part of the input pipeline. It may not be maintain stream for training today, probably because in training the video clips are alrea

[2020-03-14 13:39] bhack commented on #840
@yongtang For random slicing, cause we cannot use snapshot feature, the only solution to scale-up seems to me what the TF team announced at https://youtu.be/n7byMbl2VUQ?t=499

[2020-03-14 14:23] yongtang commented on #840
@bhack In tensorflow-io we purposely implement Dataset as a `resource handle (DT_RESOURCE) + definite index` for most of the dataset ops, for exactly the reason to easily utilize the distribute strategy at the python level in the future. In tensorflow core, TFRecord/CSV Dataset are implemented as customized TF subgraphs constructed in C++. In tensorflow-io, we stay with DT_RESOURCE so that every D

[2020-03-14 17:15] yongtang commented on #810
Looks like pylint from Google requires 2 space while Black needs 4 spaces. This is causing issues and we may need to find a way to get around.

[2020-03-14 17:17] gabrieldemarmiesse commented on #810
4 spaces FTW

[2020-03-15 09:57] jjedele opened #855 "Build breaks in video.swift"
When trying to build the current master, it fails for me in `video.swift` with following error:

[code]

I did expunge and rebuild 2 times, but it didn't help. Also when I look at the [CMSampleBuffer API Docs](https://developer.apple.com/documentation/coremedia/cmsamplebuffer-u71), there is only a `sampleCount` and no `numSamples` attribute in there.

Any ideas what the problem could be?

[2020-03-15 11:05] yongtang commented on #855
@jjedele Do you know the Xcode version you are using? Maybe it is the version mismatch as the `numSamples` is in the docs:
https://developer.apple.com/documentation/coremedia/cmsamplebuffer

[2020-03-15 11:30] jjedele commented on #855
@yongtang 10.3. I will update it and see write here if it works helps.

[2020-03-15 11:46] yongtang commented on #855
@jjedele My Xcode is 11.3.1, let me know if upgrade works. Otherwise I can try to see if I can update the code to support both Xcode 10 and Xcode 11.

[2020-03-15 21:04] jjedele commented on #855
@yongtang I updated Xcode and now it builds, but when I'm trying to load the library I get following error:

[code]

Seems I have to update something else. Hope it's not the whole OS. Looking into it.

[2020-03-15 21:05] jjedele commented on #855
Xcode now also 11.3.1, OSX 10.14.6.

[2020-03-15 22:37] yongtang commented on #855
@jjedele It looks like it is due to the Swift 5 Runtime? Though I am not so sure. In old versions of macOS the Runtime needs to be installed separately, but 10.14.6 could be new enough already.

[2020-03-16 23:42] BryanCutler opened #858 "ArrowIOTensor can sometimes get corrupted data using tf.data.Dataset.map with Python 3.5"
As discussed in #850, this seems to be an issue with data corruption when used in map, with Python 3.5 only.

[2020-03-17 12:13] yongtang commented on #839
Additional thinking about data types. We started with WAV which natively stored as integers. For that reason we are very reluctant to use float numbers. The reason is that user may prefer to process native integers on their own, or the precision loss concerns.

While working on ogg it reminds me that lossy data format by nature is presented as float number after decoding. Even if we force the deco

[2020-03-17 12:18] faroit commented on #839
That makes sense but why not provide a `dtype='float64'` to the decoder and do the conversion inside the ops?

[2020-03-17 12:22] yongtang commented on #839
@faroit In ogg/vorbis the underlying library libvorbis only use float for internal processing. The float64 is not used internally. The minimp3 is similar:
https://github.com/lieff/minimp3/blob/682006f91a95058ad3927b46c7d99df1d674d3e1/minimp3.h#L30-L35

Notice that `mp3d_sample_t` is defined as `float` so the max precision is float.

[2020-03-17 12:25] faroit commented on #839
yes, sorry for being imprecise. I meant to implement a conversion op so that users will not have to deal with these issues (e.g. see [here](http://www.mega-nerd.com/libsndfile/FAQ.html#Q010))

[2020-03-17 12:27] faroit commented on #839
@yongtang regarding GCS

right, but for reading `tf.io.GFile` seems to support seeking, so is that bound the same limitations as well?

Then, regarding a quick solution: Do you have a cost effective work around for training raw audio from a GCS bucket without going through tfrecords serialization?

[2020-03-17 12:36] yongtang commented on #839
If each file is not large then you could just read the data into memory and do the decode of string. The tf.data.Dataset support parallel operations so you could use `num_parallel_calls=...`
[code]

[2020-03-17 12:42] faroit commented on #839
WAVs are too large to keep in memory but with MP3s it might be possible - waiting for #815 then

[2020-03-17 12:42] yongtang commented on #839
There are also some other considerations, as WAV could have 24bit or even higher, and could also be 8bit which is unsigned bytes. And user may simply prefer to work on native types (in case of lower precision) as integer is much faster. Another semi-related issue is  tensorflow/tensorflow#1763 which is about image, but could apply to audio for certain users as well.

[2020-03-17 12:47] faroit commented on #839
yes, totally agree here. We use integer augmentations after loading wav with tfio and converting to float early in the pipeline slows down the pipeline a lot.

Then why not go with native formats (either float or int) for the decode/encode ops (+add good documention) and offer conversion for `AudioIODataset` and `AudioIOTensor`?

[2020-03-17 12:58] jjedele commented on #839
@faroit Right now I'm unfortunately a bit blocked from working on #815 (had some unexpected changes at work and now things are chaotic). In case you need `decode_mp3` urgently, I can point you to my prototype repo (https://github.com/jjedele/tf-decode-mp3). Doesn't have a convenient pip install though.

My motivation for creating it was similar to yours (GCS, TFRecord). We've seen some really good

[2020-03-17 13:09] faroit commented on #839
@jjedele thanks, will give it a shot (and probably make comments there instead of here)

[2020-03-17 13:29] yongtang commented on #839
@faroit Added PR #859 for that.

[2020-03-17 13:34] yongtang commented on #839
@jjedele Thanks for the work so far! We are looking for next release v0.13.0 aligning with the release of TF 2.2.0 final. I would expect the TF 2.2.0 to be released at least several weeks later (it is in RC0 now, normally with at least RC1 and RC2 and each RC takes one or two weeks). Let's see if #815 could be merged before v0.13.0. I can also help carry the PRs if needed.

[2020-03-17 13:45] yongtang commented on #810
It looks like pylint disagree with black in quite a few places. The biggest issue is the `bad-continuation` which more or less like a pylint bug https://github.com/PyCQA/pylint/issues/289

Another issue is that black will format line exceeding 80 in certain situations with causes  `Line too long (86/80) ` from pylint. In this case we probably could consider both pylint and black are correct.

Goog

[2020-03-17 13:55] gabrieldemarmiesse commented on #810
@yongtang In addons, we didn't drop pylint entirely, we replaced it by flake8 and we changed some default settings. We didn't have any issues yet with it, as we took it from the black documentation. See https://github.com/tensorflow/addons/blob/master/.flake8

[2020-03-17 14:49] terrytangyuan commented on #810
Yes I agree. I've had good experience with the combination of black and flake8 but not with pylint. We can drop it.

[2020-03-17 19:11] yongtang commented on #810
Thanks @gabrieldemarmiesse @terrytangyuan, I made some adjustment to pylint with the following overrides:
[code]

That makes both black and pylint happy. Created a PR #860 with black. We can look into flake8 later.

[2020-03-17 20:25] #810 closed

[2020-03-17 20:59] yongtang opened #861 "Adjust docstring of python code to align top and bottom"
After we use` black` to format python code, it looks like the doctsring of python is not aligned as `black` indent the top one but does not indent the whole string. As an example, below is the docstring after `black`:
[code]

But instead we should have the following:
[code]

Otherwise docs team may have trouble generating the website. (and the non-aligned one does not look good aesthetically).

Th

[2020-03-18 22:23] jjedele commented on #855
@yongtang Haven't been able to figure this out yet unfortunately. Apparently Swift 5 is in XCode 11.3 which I have installed. Is there an way to deactivate compiling the Swift parts selectively?

[2020-03-18 23:42] yongtang commented on #855
@jjedele It may not be straightforward though you could:
1. In `tensorflow_io/core/BUILD` remove line 216 `"//tools/build/swift:audio_swift",`
2. In `tensorflow_io/core/BUILD` remove line 236 `"//tools/build/swift:video_swift",`
3. In `tensorflow_io/core/kernels/audio_mp4_kernels.cc` remove line 23-33 so that you have dump functions: https://github.com/tensorflow/io/blob/master/tensorflow_io/core/

[2020-03-19 01:03] xmurobi opened #862 "Build source from tag v0.8.1 for tensorflow 1.15.0 failed."
OS: macOS 10.13.6
build command: bazel build -c opt --copt=-march=native --copt=-fPIC -s --verbose_failures //tensorflow_io/... --python_path="/usr/local/bin/python3" --action_env PYTHON_BIN_PATH="/usr/local/bin/python3" --action_env PYTHON_LIB_PATH="/usr/local/lib/python3.7/site-packages"

Got error:
ERROR: /Users/robi/Documents/git.hub/io/tensorflow_io/grpc/BUILD:51:1: output 'tensorflow_io/grpc

[2020-03-19 01:06] yongtang commented on #862
It is likely the bazel version. For v0.8.1 it might need an old bazel 0.29.0. You may want to give it a try.

[2020-03-19 16:56] tanguycdls opened #863 "[Arrow] Variable length array support"
Hi,
as my understanding from () currently variable length array are not supported by TFIO Arrow.
https://github.com/tensorflow/io/blob/d46154bd0dfd5e3868a14cca8521c51ac67dd7cb/tests/test_arrow_eager.py#L995

Do you have any plan or todo list to support it the same way TF records supports it (make it a sparse tensor or ragged tensors) ?

In the mean time what's your advice to use arrow files in ten

[2020-03-19 18:41] jjedele commented on #855
@yongtang Thx, that kind of worked. Unfortunately I'm now back to (like before the Kafka update)

[code]

I'm getting the feeling that something's messed up with my environment, it somehow also says the library is built for OSX 10.15 despite I'm on 10.14.

[2020-03-19 18:46] BryanCutler commented on #863
Thanks @tanguycdls , yes it would be great to expand variable length support for tfio Arrow. It's on my todo list, but for now it is actually supported as long as the records aren't batched, e.g. `batch_size=None` and I added a test in #864 to verify this.  As another work around, you could pad the arrow arrays to be the same fixed length before bringing into tfio.

[2020-03-19 20:47] yongtang commented on #855
Ah, I think you may need to pass
[code]

to bazel, so:
[code]

We actually passes those two options in our CI:
https://github.com/tensorflow/io/blob/master/.github/workflows/build.yml#L84-L106

So it was not getting noticed. Probably should pass those two options in .bazelrc (created from https://github.com/tensorflow/io/blob/master/tools/build/configure.py#L104-L106 ), so that it is not needed to

[2020-03-20 04:11] yongtang commented on #839
@jjedele @faroit PR #865 adds `tfio.experimental.audio.decode_mp3` support.

I also tried to come up with a encode_mp3, though I haven't been able to find a feasible mp3 encoder with Apache/MIT/BSD License. So just skipped this part. If there is enough interests we could revisit to see what could be done for mp3 encoder.

On another note, maybe mp3 encoder is not that relevant after all, as people

[2020-03-20 05:32] Abhipray opened #867 "Multiple HDF5 datasets"
I am using `tfio.IODataset.from_hdf5` to load multiple HDF5 files at the same time. With version 0.12.0, I run into an issue with the two returned datasets pointing to the same underlying HDF5 file. This problem does not exist in 0.11.0.

See this colab notebook for an example of two differently instantiated HDF5IODatasets pointing to the same underlying data https://colab.research.google.com/driv

[2020-03-20 07:18] cfangplus opened #868 "Does tensorflow io project plan to support Apache Spark RDD"
Hi,
We know that loading data for tensorflow is the first thing if we want to use tf for training model.
And thanks to the tf io community, a full list of supported file systems and file formats are supported , that's really great.
Now I have a question, as Apache Spark is a choice in big data area, people always use Apache Spark to do data processing in a distributed way, after that they may choo

[2020-03-20 10:10] lieff commented on #839
Here BSD licensed mp3 encoder:
https://github.com/lieff/mp3-enc-bsd
quality not so good as lame though.

[2020-03-20 13:25] terrytangyuan commented on #868
This might be what you are looking for (though I haven't tried it out yet): https://github.com/spotify/spotify-tensorflow
It has `tf.data` integration with [Featran](https://github.com/spotify/featran) which supports conversion from Spark RDD.

[2020-03-20 13:46] tanguycdls commented on #863
@BryanCutler Thank you for the prompt answer and the PR describing it ! I will try !

In the docs you states that using batch_size at the data loader level is faster than at the Tensorflow batch level: is the difference noticeable or would it be fine ?
i'm working on batch size of size 10**5 usually.

Thanks !

[2020-03-20 15:21] yongtang commented on #839
@lieff Ah thanks! I will take a look.

[2020-03-20 17:05] yongtang commented on #867
@Abhipray Thanks for the report. Will take a look.

[2020-03-21 00:40] yongtang commented on #839
@lieff It looks like mp3-enc-bsd is file based, which might not fit tensor as tensor is in memory. We could create a temporarily file and copy back into tensor but that likely will have quite some performance impact.

I take a look at LAME, it looks like the API is very stable. And since the license is LGPL, we could dynamically load the API at runtime. This works for linux. (The reason we are try

[2020-03-21 08:46] lieff commented on #839
Yes, currently this BSD code have many drawbacks. It's also uses global variables and not thread safe. Around week of work required to reach needed condition.

[2020-03-21 18:23] yongtang commented on #839
Thanks @lieff. I think we are fine with LAME for now, as it is quite stable in API.

[2020-03-21 18:27] yongtang commented on #839
@faroit @jjedele With PR #865 we are almost there for mp3 encode/decode. Before we finalize the API and move to `tfio.audio`, there might be one more consideration about naming:

At the moment we mix the usage of container name and codec name for Ogg. In theory Ogg is just a container so it could fit with Vorbis, Flac, Spex. The same is true for (soon to be supported) MP4 as MP4 is just a containe

[2020-03-21 20:58] jjedele commented on #839
@yontang I think that makes sense. `decode_aac` sounds completely natural, I also think many other programs use AAC rather than MP4. `decode_vorbis` sounds a bit weird, but as you said, it's consistent.

[2020-03-23 15:33] faroit commented on #839
@yongtang sorry, I was a busy and couldn't actually test the issue regarding float conversion of minimp3 decoding inside tf.data...

does `tfio.IOTensor.graph(tf.int16).from_audio(path)` yield a correctly scaled `tf.int16` for mp3s?

[2020-03-23 15:57] yongtang commented on #839
@faroit in 0.12.0 it takes the int16 which is scaled in minimp3 internally. In the next release we will use `tf.float32` instead.

[2020-03-24 01:33] nmatare opened #873 "[tf.estimator] - Support for non eagerly executing contexts"
Many tensorflow-io calls trigger an eager op to derive metadata before returning the tf.data.Dataset object. This prevents us from using io functions in non eagerly executed contexts -- like those often found with tf.estimators.

As per the tensorflow [docs](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator):

For example:

[code]

Are there any workarounds or plans to support call

[2020-03-24 02:03] yongtang commented on #873
@nmatare Yes we plan to support graph (non-eager) mode for all ops in tensorflow-io. We already have quite a few supported. For example, all audio ops, AudioIOTensor and AudioIODataet, and hdf5 are just some examples. Technically this is not a big challenge. The only hard requirement is that in graph mode, data types has to be provided by user. Other than that, shapes, meta data, etc all could be

[2020-03-24 02:14] nmatare commented on #873
Ahh, great looking forward to it! Thanks for the speedy response and helpful details.

[2020-03-24 15:55] yongtang commented on #839
In mp4a with AAC codec, one issue we have to deal with, is the encoder-delay. Normally AAC adds a delay at the beginning and padding at the end. In one case I noticed that if no delay information is present, then the decoded samples from mp4a/aac will be larger than the original PCM.

@lieff @faroit @jjedele do you know if there is a way to find out the delay from the mp4a file?

[2020-03-24 17:22] lieff commented on #839
In mp3 delay and padding information can be stored in vbr tag. As I can see, there some similar support exists in mp4 container for aac: https://developer.apple.com/library/archive/documentation/QuickTime/QTFF/QTFFAppenG/QTFFAppenG.html

[2020-03-24 17:44] yongtang commented on #839
Thanks @lieff. I didn't realize delay and padding also exists in mp3. In tensorflow-io the `decode_mp3` I implemented didn't capture the delay and padding into consideration. I am wondering if it is possible to expose the vbr tag (or delay and padding info) in minimp3?

[2020-03-24 18:25] lieff commented on #839
All minimp3_ex functions already uses information from vbr tag (if found) to remove delay and padding samples (same as lame decoder).
For mp3dec_ex_t this information is stored:
mp3dec_ex_t::start_delay: delay samples (pre-multiplied by channels).
mp3dec_ex_t::detected_samples: total_samples - delay_samples - padding_samples (pre-multiplied by channels).
mp3dec_ex_t::vbr_tag_found: nonzero if vbr

[2020-03-25 01:26] yongtang commented on #839
Thanks @lieff ! looks like mp3 has been well covered.

Wondering if there is any way mp4 could handle delay as well?

I saw a this link:

https://gitlab.com/mbunkus/mkvtoolnix/issues/715

which uses `iTunSMPB` to identify the delay, though not every mp4 file has this tag it looks.

[2020-03-25 13:35] lieff commented on #839
Not all mp3 files have vbr tag too. From what I know about aac - different profiles have different algorithmic delay, so delay and padding can't be guessed.
May be 2112 delay is used in most encoders and can be assumed, but padding depend on real track length (with 1 sample precision).

[2020-03-25 15:16] yongtang commented on #839
Thanks @lieff . I found another link:
https://forum.doom9.org/showthread.php?p=1563929#post1563929

Which captures different delay scenarios. I think having an option of allow user to pass a `delay` value would be a good choice. In case user give a `delay` value then it will be applied. Otherwise the `delay` will be done in a "best effort" case by case.

[2020-03-25 20:24] ghost opened #875 "Bigquery NUMERIC column not accessible"
When trying to get data from BigQuery, whenever a column of type NUMERIC is accessed, the following error is thrown when trying to map the column to **tf.double** data type:
[code]

This means that we have to use **tf.string** for NUMERIC column. So I tried that, (thought may be later I can cast it into double type) only to a different error:
[code]

When I'm trying without selecting that column a

[2020-03-25 20:48] nmatare opened #876 "[bigquery-io] - Support for `offset` in ReadRowsRequest"
The v2 BigQuery storage API [apiv1beta2](https://cloud.google.com/bigquery/docs/reference/storage/rpc/google.cloud.bigquery.storage.v1beta2#google.cloud.bigquery.storage.v1beta2.ReadRowsRequest) introduces an `offset` parameter which may be passed to select the starting position of the stream. While I understand the current implementation uses the beta1 API, it would be great to introduce this int

[2020-03-26 00:26] yongtang commented on #839
@lieff On a second thought, maybe the delay and padding is not as important in machine learning.  It may not be exactly precise, but in machine learning, several ms different is not terrible for either training and inference. So we could leave this issue alone, and see if there is a concrete need from users to ask for precise decoding first.

[2020-03-26 11:59] faroit commented on #839
I fully agree. I don't think that we should solve problems here that libs suchs as ffmpeg are trying to deal with for a long time. For example: ffmpeg's delay handling is not stable across versions... in one version you can a few samples less from one of the encoder/decoder than in other (older) versions.

[2020-03-26 13:22] tanguycdls opened #877 "[BigQuery] Support for Nested structure such as List of List"
Hi, i'm working on a project with a big query table containing a list for each row. The lists are referring to events so each user does not have the same number of items in that list. The list can also be an empty list.
I tried that use case with the following code :

[code]
But I'm hitting a
`InvalidArgumentError: unsupported data type: 8 [Op:IteratorGetNextSync]`

For the rest of the columns as

[2020-03-26 13:23] #877 closed

[2020-03-26 13:23] tanguycdls commented on #877
Sorry found the issue https://github.com/tensorflow/io/issues/627 it seems impossible.

[2020-03-26 16:48] zaccharieramzi commented on #745
Hi @yongtang ,

I hope you are doing well in these difficult times.
I wanted to know if nonetheless you had found time to look at this issue or if you plan on doing so in the near future?

Thanks in advance

[2020-03-26 19:53] yongtang commented on #839
@faroit @faroit I have been trying to implement `decode_aac` on macOS with AVFoundation. I am very close to get it done (already ignored the output delay). However, I noticed one issue we need to fix even if we don't care about the encoder delay.

When I use AVFoundation's AVAudioConverter to convert from mp4 (aac), the generated pcm was very noisy and obviously there is something wrong. After dig

[2020-03-26 22:23] yongtang commented on #745
@zaccharieramzi Sorry for the delay. I have been mostly focused on audio support for the past month or so. I was hoping to complete the audio support then to move forward for other high priorities ones like hdf5. So far audio support is mostly in place except for one outstanding issue (https://github.com/tensorflow/io/issues/839#issuecomment-604650724). Though I think I pretty much found out a way

[2020-03-26 22:29] yongtang commented on #839
@faroit @faroit I found out that if I drop the first packet (1024 samples) then the decoding seems to be fine as well (no noisy background). My guess is that this might be related to `decoder delay`. Still not exactly clear about how it works or if there is a definitive number we could use, though.

[2020-03-26 22:30] gruossomonica commented on #745
@yongtang and [#791](https://github.com/tensorflow/io/issues/791#issue-566173350)

[2020-03-27 08:21] lieff commented on #839
@yongtang Can you share such .m4a file? I can take a look.

[2020-03-27 09:22] cfangplus commented on #868
@terrytangyuan thanks your quick reply, the spotify-tf and featran project seems difficult to use, we now plan to use apache arrow as a bridge between bigdata and tf. Do you have some advices，thx.

[2020-03-27 13:13] terrytangyuan commented on #868
@cfangplus You can use our arrow integration. [Here](https://medium.com/tensorflow/tensorflow-with-apache-arrow-datasets-cdbcfe80a59f) is a blog post on how to use TensorFlow IO + Arrow together by @BryanCutler.

[2020-03-27 15:12] yongtang commented on #839
@lieff Thanks! My file is downloaded from

https://docs.espressif.com/projects/esp-adf/en/latest/design-guide/audio-samples.html

In sections `Short Samples` => `Two Channel Audio`

You can search for `gs-16b-2c-44100hz.mp4` and that is the one I use.

[2020-03-27 21:42] yongtang commented on #876
/cc @vlasenkoalexey

[2020-03-27 21:43] yongtang commented on #875
/cc @vlasenkoalexey

[2020-03-28 04:22] albangabillon commented on #867
I noticed it too

[2020-03-29 15:25] ricky3dec commented on #171
Hello @yongtang , finally got chance to work on it now.:-)

Need some clarification. I was just adding a simple test using Bigtable emulator. I have already created the script for starting docker instance of Bigtable emulator and was adding a test in "test_io_dataset_eager.py" as suggested by you earlier.

However I observe most of the tests in this file are for operations that are under "tensorfl

[2020-03-29 17:06] yongtang commented on #171
@ricky3dec I think `tensorflow_io/core/python/experimental/io_dataset_ops.py` would be a place to start. Once the API stabilizing then we could move to non-experimental API.

On a separate note, (not immediately related to Bigtable now, but soon-to-be), I am reconsidering the grouping of APIs. At the beginning of the project, we start with one-ops in one directory/module. So we ends up with many m

[2020-03-29 22:14] lieff commented on #839
Hmm. I've add basic decoding using fdk-aac https://github.com/lieff/minimp4/commit/efbe893d8ccf6705938703729e22b695996760d1 and have no issues with this file.

[2020-03-30 17:58] yongtang commented on #839
Thanks @lieff. I tested again with `preroll=0` and everything seems to be fine. I made some changes on macOS's AVFoundation before with things like `converter.primeMethod=none`. They were not supposed to be having an impact though..

Anyway, the issue seems to be resolved somehow. But thanks again for your great help 👍 !

[2020-03-30 22:10] vlasenkoalexey commented on #716
Turns out that there is significant amount of work we need to do internally in order to support BigQuery reader for TPUs.
At the same time TPU team is updating internal infrastructure to work with one VM, which should also make usage of external packages such as tensorflow-io possible.
Current very rough estimate for that work end of Q3.

[2020-03-30 22:12] vlasenkoalexey commented on #875
Here is list of existing mappings:
https://github.com/tensorflow/io/blob/master/tensorflow_io/bigquery/kernels/bigquery_lib.h

I need to take a look what NUMERIC is mapped to when data is serialized to AVRO.

[2020-03-31 14:12] ricky3dec commented on #171
sure, thanks @yongtang !

[2020-03-31 21:32] yongtang commented on #825
Let me reopen this one for the following comment:

[2020-03-31 21:39] bhack commented on #825
I don't know if we would depend on nv12 for nvidia GPU. I suppose that also intel on linux support that in https://github.com/intel/libva.
Yes hwacceleration is well known mess https://trac.ffmpeg.org/wiki/HWAccelIntro :worried:

[2020-03-31 22:23] bhack commented on #825
Yes this is super interesting also for other image processing ops that are landing in Addons PRs. Can you share something more about this topic (MLIR tensorflow-io integration)?

[2020-03-31 22:30] yongtang commented on #825
@bhack  We are still in exploration mode.. but will circle back soon.

[2020-03-31 23:07] bhack commented on #825
Let me know

[2020-04-01 13:52] bhack commented on #825
/cc @antiagainst As he is active in MLIR but also in the Vlukan ML WG. Seems that Vulkan announced HW video enc/dec for H1 2020 https://www.khronos.org/assets/uploads/apis/Vulkan-1-2-Launch_Jan20.pdf

[2020-04-01 15:00] bhack commented on #839
Will be audio augmentation in the perimeter of TF/addons? E.g. like https://towardsdatascience.com/state-of-the-art-audio-data-augmentation-with-google-brains-specaugment-and-pytorch-d3d1a3ce291e

Cause image augmentation is landing in TF/addons

[2020-04-01 15:25] bhack commented on #839
A tensorflow impl of the augmentation (we don't have an official Google Brain Tensorflow reference impl.) is available at https://github.com/mozilla/DeepSpeech/blob/master/training/deepspeech_training/util/spectrogram_augmentations.py /cc @reuben @bernardohenz

[2020-04-01 15:46] reuben commented on #839
Feel free to steal if/where applicable. `spectrogram_augmentations.py` is MPL-2.0 and `sparse_image_warp.py` is Apache-2.0 (modified from TensorFlow code). We've seen a few reports of the randomly generated parameters causing invalid shapes sometimes, so it probably needs some extra constraints and some unit tests for ease of mind, if you're putting this into a widely used library.

[2020-04-01 15:53] bhack commented on #839
@reuben The `sparse_image_warp` is now in the perimeter of TF/Addons (/cc @windqaq @facaiy) that is why I am trying to understand if audio augmenting will be in the Addons or IO perimeter.

[2020-04-01 16:09] zaccharieramzi commented on #745
As a side note, with all new versions (i.e. tf 2.2 and tfio 0.13), I don't notice this issue anymore but I notice https://github.com/tensorflow/io/issues/841 instead, when training for a large number of steps but without multithreading for the data read.
Btw, I tried multithreading with these new versions and the issue seems to be gone to be replaced by this new #841 .

[2020-04-01 16:26] yongtang commented on #839
@bhack I think that very much depending on the type of the `augmentation`. My understanding is that tensorflow-io consists of `transformation` that more or less `tf.data.Dataset` centered, while the augmentation of tensorflow-addons more or less `tf.keras` centered. In other words, tensorflow-io is a `dataset => dataset.map(transformation) => dataset` path.

For example, a user may use tensroflow-

[2020-04-01 16:40] bhack commented on #839
@yongtang There was a thread at https://github.com/tensorflow/addons/issues/332

[2020-04-01 16:44] reuben commented on #839
@bhack we had to modify `sparse_image_warp` extensively to allow the code to work with variable shapes (basically unavoidable for most audio work), so it's likely it would have to be forked or modified anyway.

[2020-04-01 16:46] bhack commented on #839
@reuben Dynamic shapes or variable shapes? Cause dynamic shapes was merged at https://github.com/tensorflow/addons/pull/446

[2020-04-01 16:47] reuben commented on #839
@bhack dynamic shapes. That PR was not merged.

[2020-04-01 16:53] sshrdp commented on #876
Do you create a single stream? Because the offset applies to each stream read operation and having a single offset applied to multiple streams doesn't make a lot of sense.
Is the goal to do sharding for distributed training?

[2020-04-01 17:03] sshrdp commented on #875
Here is the API conversion: https://cloud.google.com/bigquery/docs/reference/storage#avro_schema_details
"The NUMERIC data type is an exact numeric value with 38 digits of precision and 9 decimal digits of scale."
It should be possible to parse the string as double or float values using dataset map operation and tf.strings.to_number.

[2020-04-01 17:08] bhack commented on #839
Yes sorry I mismatched the PR status with another one that was closed.

[2020-04-01 17:50] yongtang commented on #839
@lieff @faroit @jjedele I am working on getting `encode_aac` in. While I get the AAC packets successfully encoded from PCM on macOS, I need to embed them into mp4.

The minimp4 provides a very convenient API to use except for `MP4E_set_dsi` which heavily depends on fdk-aac:
https://github.com/lieff/minimp4/blob/efbe893d8ccf6705938703729e22b695996760d1/minimp4_test.c#L263-L276

@lieff Since we are

[2020-04-01 18:48] lieff commented on #839
It's not really related to fdk-aac. DSI - it's codec specific stream parameters.
For h264 it's sps/pps in AVCC format, for aac it's AudioSpecificConfig (ASC) out-of-band params https://tools.ietf.org/html/rfc6416 .
There should be a way how to read this params from encoder.

[2020-04-01 21:35] BryanCutler commented on #863
@tanguycdls it might only be noticeable at larger batch sizes but the difference comes from doing a memcpy per column vs a memcpy per record, per column during the Arrow conversion.

[2020-04-02 14:38] nmatare commented on #876
Yup, exactly; we're only creating one stream (requested_streams=1) and then using flat_map to read the data sequentially.

For each worker, we randomly select a starting position to begin reading the underlying table. We repeat this for each epoch -- randomly selecting the starting the position on each iteration for each worker.

The google.cloud.bigquery.storage docs appear to read that you can u

[2020-04-02 15:30] yongtang opened #882 "Implement support for AV1 / AVIF for image files"
This request is form https://github.com/tensorflow/tensorflow/issues/37217 which falls into tensorflow/io's scope. The following is copied from the original issue:

/cc @Daniel451

In image processing there are scenarios, especially when you deal with higher resolution images, where compression artifacts actually deteriorates your model training sessions. This specifically applies to old image for

[2020-04-04 05:52] zouxu09 commented on #833
I already have a fix #884

[2020-04-04 05:59] zouxu09 commented on #834
@yongtang Could you please assign this issue to me? I'd like to fix this

[2020-04-04 09:51] terrytangyuan commented on #834
Could you try assigning yourself? GitHub doesn’t allow us to assign this to you since you are not a member of TensorFlow GitHub org.

[2020-04-04 15:33] yongtang commented on #834
I think it is possible to assign as long as you are the issue author.

[2020-04-06 16:52] yongtang commented on #839
Thanks @lieff for the pointers. I have managed to get a `encode_aac` in place with minimp4 and  AudioSpecificConfig synthesized by following the link.

 I am able to create a mp4 file which plays correctly on macOS:

[gs.zip](https://github.com/tensorflow/io/files/4439728/gs.zip)

The sample rate is `44100`.

However, when I try to open the created mp4 file again with minimp4, the `mp4d_demux_.tra

[2020-04-07 08:06] strayedboat2013 commented on #676
https://github.com/tensorflow/io have info of compatibility between tensorflow and tensorflow-io, for tf 2.0, you have to install tensorflow-io 0.10.0, please try "pip install tensorflow-io==0.10.0"

[2020-04-07 10:24] lieff commented on #839
Hmm, there integer overflow happen. May be I misunderstood the standard:

[code]

So, if timescale > 65536 overflow happen. As quick fix you can use timescale = 44100 instead of 90000. But for 96khz audio I need figure out how correctly write this field.

[2020-04-07 10:58] lieff commented on #839
I've checked some vectors and this field contains:
* samplerate == timescale
* 1000
* nothing

Looks like this field is informative and should not be used. Real sample rate should be decoded from DSI.

[2020-04-07 17:19] ingolfured commented on #873
Great, I'm quite interested in this feature as well, especially the from_parquet path.

[2020-04-08 00:56] vlasenkoalexey commented on #875
I added code to convert NUMERIC field which is represented as AVRO_BYTES to string.
Also tried converting it to DOUBLE, but that's not straightforward because internally field is serialized as AVRO decimal, but it doesn't provide a C++ API to work with decimals.
Will send out PR shortly.

[2020-04-08 16:45] ricky3dec commented on #171
Hello @yongtang , I raised an Initial PR for review only, request you to help with some clarifications I asked in PR. Thanks

[2020-04-08 20:43] vlasenkoalexey commented on #875
Filed AVRO bug to properly support Decimal: https://issues.apache.org/jira/browse/AVRO-2794

[2020-04-08 21:01] vlasenkoalexey commented on #876
Added code to pass through offset to BQ Storage API, also it does not return any data when offset is not 0. Filed internal bug for BQ team to address that (b/153579992).
It should work, BQ is updated.

[2020-04-08 22:46] vlasenkoalexey opened #890 "[bigquery-io] - Migrate BigQuery reader to use v1 endpoint"
Just realized that BQ released stable v1 endpoint for storage API:
https://cloud.google.com/bigquery/docs/reference/storage/rpc/google.cloud.bigquery.storage.v1
Connector is currently using v1beta1:
https://cloud.google.com/bigquery/docs/reference/storage/rpc/google.cloud.bigquery.storage.v1beta

[2020-04-08 22:48] vlasenkoalexey opened #891 "[bigquery-io] - Add ability to read data serialized in Arrow format"
Deserializing Arrow should be faster than Avro

[2020-04-09 12:38] #834 closed

[2020-04-09 12:38] #833 closed

[2020-04-09 14:56] yongtang commented on #891
Also /cc @BryanCutler for arrow-related.

[2020-04-10 03:15] emckenzi123 commented on #676
I also installed tensorflow via `conda install tensorflow-gpu` (version 2.1.0)
and I installed tensorflow-io via `pip install tensorflow-io` (version 0.12.0)

I am running in linux (Ubuntu 18.04)

However if I try to import tensorflow_io in python I am also getting an error similar to the original post.  Don't know if this additional info helps or not.

[2020-04-13 09:12] davidho27941 opened #893 "Loading HDf5 files"
Hi, on the page(https://github.com/tensorflow/io?fbclid=IwAR12ooXF1yYaCOInbPNH1H-Rcfzy9p6bMJKLogqWTG9l_H8h0gtHjb5F_Jc), there is an example of loading an hdf5 file to the script.
The returned object is "tensorflow.python.data.ops.dataset_ops.BatchDataset".
How can I load several hdf5 files(>10) and return as 1 "tensorflow.python.data.ops.dataset_ops.BatchDataset" object?

[2020-04-14 13:45] terrytangyuan opened #895 "Add support for Alibaba Cloud MaxCompute"
Alibaba Cloud MaxCompute: https://www.alibabacloud.com/product/maxcompute

@zouxu09 and other team members from Alibaba Cloud are working on a RFC for this. This issue is created to track the progress.

[2020-04-14 19:46] Svdvoort opened #898 "Parallel HDF5 loading causes mismatch between expected outputs"
This is probably related to some other bugs related to HDF5 loading (most likely #867 and #745), when using tfio.IOTensor.from_hdf5 in a mapped dataset function, it will return wrong instances of the loaded data. Presumably, this is because of #867. Gave me a real head-scratcher, as my samples and features did not match, causing the network to not learn anything.

Example google collab is here: ht

[2020-04-14 22:19] yongtang commented on #841
@nalyat  @zaccharieramzi  Created PR #899 for the fix.

[2020-04-15 05:33] zaccharieramzi commented on #841
@yongtang Thanks so much! Could you explain what you mean by "reused in graph incrorrectly"?

[2020-04-15 12:32] Svdvoort commented on #898
I just saw #899, which I believed might solve the issue. I've installed the compiled wheel from that pr to try, but it seems like the issue is not resolved

[2020-04-15 14:58] yongtang commented on #841
The hdf5 kernel ops will create a resource type in the tf graph, and a subsequent read op with resource passed as the reference. For some reason the resource lookup in tf graph always find the previous resource (the first hdf5) which should not happen. That was not the case in last version of the TF (2.1 or earlier). Not sure exactly what changed in behavior in TF, but I have created a uuid genera

[2020-04-16 09:55] chrissype commented on #676
I have exactly the same issue as above

[2020-04-16 22:19] vlasenkoalexey commented on #891
@BryanCutler, I looked at Arrow code, as far as I understand ArrowUtil::AssignTensor takes an array of Arrow serialized records and converts them to Tensor. Is it correct?
Also would you mind if I move arrow_util into a separate library so OPs don't depend on each other?

[2020-04-16 23:41] #841 closed

[2020-04-17 01:40] yongtang commented on #867
@Abhipray @albangabillon I tried with the latest nightly, believe the issue has been fixed in #899, But feel free to reopen if the issue persists.

[2020-04-17 01:40] #867 closed

[2020-04-17 01:47] yongtang commented on #898
@Svdvoort The Colab in your post is using `tfio.IODataset.from_hdf5` but in the post `tfio.IOTensor.from_hdf5` is mentioned. Wondering if this is correct? If the issue is related `tfio.IODataset.from_hdf5` then I think the issue should have been resolved in #899? Otherwise I may need to take another look.

[2020-04-17 02:10] yongtang commented on #839
With PR #892 `Add encode_aac support`, the audio related ops are pretty much in place. ( the overflow issue is temporarily resolved (see https://github.com/tensorflow/io/issues/839#issuecomment-610320481).

The only missing one is the slicing of aac (mp4a) decode. While decoding the whole mp4a audio clip is fine, decoding a chunk of the aac (not from the beginning) has mismatches of expected value

[2020-04-17 02:14] yongtang commented on #839
On another note, since all decode/encode (and most of the AudioIODataset/AudioIOTensor) are in place, I think it is time to promote `tfio.experrimental.audio` to ` tfio.audio` as the API is stable/complete enough I believe. This could also help the upcoming 0.13.0 release ad well I think?

/cc @faroit @jjedele

[2020-04-17 03:14] Abhipray commented on #867
You are right, it's been fixed. Thanks!

[2020-04-17 05:12] Svdvoort commented on #898
Apologies, you're right I accidentally linked to the Colab from #867, this is the correct one: https://colab.research.google.com/drive/1iT75uFmb2Tni9tFr4PtsMsg6ju_yLUDb

[2020-04-17 10:27] chrissype commented on #676
FWIW I was able to compile v0.12.0 from source against my conda installed tensorflow-gpu 2.1.0 and pip install the built package, and now everything seems to work correctly. This worked on my machine and inside a docker image (both linux distros). Obviously not ideal, but shows that it should be possible, and is a fix for anyone who needs one now.

[2020-04-17 17:58] yongtang commented on #891
+1 on separate library. /cc @BryanCutler

[2020-04-20 10:22] ngrislain opened #908 "Reusing the same socket may have strange side-effects."
Hi,

I think the implementation of `tfio.arrow.ArrowStreamDataset.from_record_batches` is dangerous because each invocation will use the same Unix socket, hence generating unexpected side-effects in case of multiple invocation :
https://github.com/tensorflow/io/blob/f71ef1d3b56d665561fe8b10e95ca32ed46870e5/tensorflow_io/arrow/python/ops/arrow_dataset_ops.py#L529

Why not create a different socket

[2020-04-20 15:45] gabrielctn commented on #676
Thanks for your suggestion @chrissype but I am stuck at the `pip install` step... I have this error maybe you know what the problem is since you juste went through the install ? (I am not used to install bazel compiled packages):
[code]

[2020-04-20 16:55] yongtang commented on #898
@Svdvoort I more or less figured out the reason for the issue. It is a little complicated as it may impact other ops as well. Will try to fix it soon.

[2020-04-20 19:05] yongtang commented on #908
/cc @BryanCutler. In addition to the side effect mentioned, additionally if the the dataset is running in graph mode, the passed socket may reused inside graph so additional consideration may also need to be considered.

[2020-04-20 20:04] marioecd opened #909 "bazel build //tensorflow_io/... fails in debian OS with pylint 2.4.4 not found"
I am trying to build tfio in a debian OS VM.
bazel build -s --verbose_failures //tensorflow_io/...

I get error:
ERROR: no such package '@lint_dependencies//': pip_import failed: Collecting pylint==2.4.4 (from -r /home/marioecd/io/tools/lint/requirements.txt (line 1))

I also see a black version problem:
Collecting black==19.10b0 (from -r /home/marioecd/io/tools/lint/requirements.txt (line 2))
 (

[2020-04-20 21:38] yongtang commented on #909
@marioecd Created a PR #911 for the fix. Once it is merged, you can upgrade the master and this will resolve your issue.

[2020-04-20 23:10] marioecd opened #912 "gcs_config_op_kernels.cc breaking bazel build //tensorflow_io/..."
I just got my first bazel build run of tensorflow IO, and found a compilation error. I wonder if this is something that needs fixing and other people are seeing too, or perhaps I am not getting a stable version? I am getting tfio from:

"git clone https://github.com/tensorflow/io.git"
then start the ubuntu setup and run the build command:

$ bazel build -s --verbose_failures //tensorflow_io/...

I

[2020-04-20 23:38] BryanCutler commented on #891
@vlasenkoalexey  yes that is correct. The tensor must also be pre-allocated large enough to fit the Arrow array data. Moving arrow_util into a separate library sounds great, thanks!

[2020-04-21 00:04] yongtang commented on #912
@marioecd This is very likely caused by the mismatch of TF versions. Between TF 2.2.0rc2 and TF 2.2.0rc3, TensorFlow changed some of the C++ APIs. For that reason if you are installing 2.2.0rc2 or lower, you will encounter the error.

For the master branch of tensorflow/io, you will need TF 2.2.0rc3 (or higher) installed.

[2020-04-21 00:08] #909 closed

[2020-04-21 02:26] marioecd commented on #912
Yeah, changed to a TF 2.2 image and the error went away. Thanks!

[2020-04-21 02:26] #912 closed

[2020-04-21 14:58] chrissype commented on #676
You have to run setup.py first to make the wheels binary I think, something like:

`python setup.py --data bazel-bin bdist_wheel`

And then:

`pip install ./dist/tensorflow_io-0.12.0-cp37-cp37m-linux_x86_64.whl`

[2020-04-21 15:22] yongtang commented on #676
@gabrielctn @chrissype Because tensorflow/io needs to carry the shared objects built by Bazel and located in a separate directory (`bazel-bin`), the setup.py has to create a temporarily directory, copy both python source code (in `tensorflow_io`) and shared object (`bazel-bin`) into the temporary directory, then invoke the setup.py from there.

As a result, the traditional `pip install -e .` does

[2020-04-21 16:57] marioecd opened #914 "libtensorflow_io.so not found from repo directory"
I cloned the tensorflow-io repo into my VM. Then I built it and tested it successfully.
$ bazel build -s --verbose_failures //tensorflow_io/...
$ TFIO_DATAPATH=bazel-bin python3 -m pytest -s -v tests/test_serialization_eager.py

I then go into io, create a python script with the code from the readme "https://github.com/tensorflow/io"
import tensorflow as tf
import tensorflow_io as tfio
.. etc

Whe

[2020-04-21 17:12] yongtang commented on #914
@marioecd If you want to run anything without packing a wheel and install, then you will need to pass `TFIO_DATAPATH=bazel-bin ` in environmental variable so that the shared object is exposed.

You may notice the `libtensorflow_io.so` is located in `bazel-bin/tensorflow_io/core/python/ops/libtensorflow_io.so`, not the normal `tensorflow_io/core/python/ops/libtensorflow_io.so`.

Also notice that is

[2020-04-21 17:24] marioecd commented on #914
Yep. That's what I was doing wrong. Thanks! It works now.

[2020-04-21 17:24] #914 closed

[2020-04-21 20:58] marioecd opened #915 "how to import tensorflow class in tensorflow-io"
I am thinking on adding a .h/cc class to tensorflow-io, which does:
**#include tensorflow/.../filename.h**
 on a filename from the tensorflow package.

I get error: No such file or directory on the included file. To my BUILD target component I added a dependency on **"@local_config_tf//:libtensorflow_framework",** but that does not make the filename visible.

Is this goal even possible? Does anyon

[2020-04-21 21:17] marioecd commented on #915
self-anwer: Oh I think the depdency needed here is:
"@local_config_tf//:tf_header_lib",

[2020-04-21 21:17] #915 closed

[2020-04-21 23:21] marioecd opened #916 "including a nightly tensorflow version in tensorflow-io"
I am trying to build tensorflow-io while picking up some new changes from the tensorflow lib dependency that are only available in the tf-nightly version of tensorflow. Is it possible to build tensorflow-io using tf-nightly as a dependency instead of an official version like 2.2.0rc3? I don't seem to pick up the latest bits when I try pip installing that tensorflow and then doing a tensorflow-io b

[2020-04-22 03:11] yongtang commented on #916
@marioecd You could re-build tensorflow-io with tf-nightly locally.

The `./configure.sh` will check the installed version of tensorflow, and incase already installed, it will skip the pinned version install.

So, in your case:
1. Uninstall tensorflow (`sudo pip uninstall -y tensorflow`)
2. Install tf-nightly (`sudo pip install tf-nightly`)
3. Configure with `./configure.sh` (notice no new install

[2020-04-22 18:44] marioecd commented on #916
Thanks. So, I tried that, but now I get numerous new ubiquitous compilation errors like the ones below. I assume that's because of some version miss-match?

Errors like:
include/absl/strings/internal/ostringstream.h:26:1: error: 'ABSL_NAMESPACE_BEGIN' does not name a type
 ABSL_NAMESPACE_BEGIN

include/absl/numeric/int128.h:1019:8: error: 'int128' does not name a type; did you mean 'uint128'

[2020-04-22 19:07] yongtang commented on #916
@marioecd There were lots of C++ API changes in TensorFlow recently so moving from 2.2 to nightly will not be easier.

Since tensorflow/io only release based on formal releases of TensorFlow, we can not bump our pypi package immediately.

I can create a `nightly` branch and keep up with the currently TF nightly. You can work based on `nightly` repo branch then.

On another side notes, what kind of