[2018-12-09 03:30] yongtang opened #4 "Build tensorflow-io package on MacOS"
At the moment, `tensorflow-io` package is built on Linux (and inside the `tensorflow:custom-op` image).

As users may use the package on different platforms and with different python versions, package built on different platform will be needed. At least we should provide the same support as tensorflow itself.

[2018-12-09 03:30] yongtang commented on #4
FYI @terrytangyuan

[2018-12-09 15:07] terrytangyuan opened #6 "R Interface Prototype"
- [x] Package setup and testing infrastructure
- [x] Implement R wrappers + unit tests
- [x] Integration with [tfdatasets](https://github.com/rstudio/tfdatasets) R package
- [x] Setup CI for R package and make sure tests all pass
- [x] Examples/vignettes

[2018-12-09 19:41] yongtang opened #7 "Release tensorflow-io package on pypi"
The `tensorflow-io` package could already build whl file, though the package has not been released to pypi yet.

It makes sense to publish the pip file so that users who want to use I/O packages could simply run:
[code]

Action Items:
- [X] Create a release and cut a 0.1 version.
- [X] Build tensorflow-io package for Python 2.7, 3.4, 3.5, 3.6 (matching TensorFlow build environment)
- [X] Upload to

[2018-12-09 19:43] yongtang opened #8 "Setup CI for Tensorflow I/O"
This issue tracks the efforts and progresses to setup CI for TensorFlow I/O. We plan to use Google CI so coordination with TensorFlow's CI might be needed.

[2018-12-09 19:51] yongtang opened #9 "Support Python 3 for tensorflow-io"
At the moment, tensorflow-io package could be built within docker image `tensorflow:custom-op`. By default `tensorflow:custom-op` uses python 2.7.6. The package has not been built and tested with python 3. We should support python 3.

Also, from tensorflow repo there is a lot of interests for python 3.7 support, so 3.7 should be considered as well.

[2018-12-09 20:06] yongtang opened #10 "Support libsvm for tensorflow-io"
In TensorFlow, libsvm format is supported through `tf.contrib.libsvm` which converts libsvm format into sparse tensor format. With the expected deprecation of `tf.contrib`, the libsvm will be deprecated as well.

It would be great to provide continued support of libsvm through tensorflow-io package. While the `tf.contrib.libsvm` converts libsvm format into sparse tensor, I think in tensorflow-io,

[2018-12-09 20:59] yongtang opened #11 "Support video format for tensorflow-io"
In TensorFlow, video format is supported through `tf.contrib.ffmpeg` which calls command line `ffmpeg` to decode video format to tensors and feed into tensorflow.

The `tf.contrib.ffmpeg` is pretty much unmaintained, and, the command line `ffmpeg` invocation is really unreliable due to the changes of output text over different versions.

The `tf.contrib.ffmpeg` will also be deprecated soon so user

[2018-12-09 21:05] yongtang opened #12 "Support parquet format for tensorflow-io"
There are quite some interests to support parquet for tensorflow and a PR (tensorflow/tensorflow#19461) has already been approved.

With the expected deprecation of `tf.contrib`, it makes sense to move PR tensorflow/tensorflow#19461 to tensorflow-io.

At the moment the blocking issue with the related PR is the bazel version. The PR requires bazel 1.7.1+ to incorporate boost library while tensorflo

[2018-12-09 21:11] yongtang opened #13 "Support Apache Arrow for tensorflow-io"
Note: this issue is from tensorflow/tensorflow#23001 (@BryanCutler 👍 )

Apache Arrow is a standard format for in-memory columnar data. It provides a cross-language platform for systems to communicate and operate on data efficiently.

Adding Arrow support in TensorFlow Dataset will allow systems to interface with TensorFlow in a well defined way, without the need to develop custom converters, seria

[2018-12-09 21:21] yongtang opened #14 "Add tests to make sure python modules are exposed correctly"
While tensorflow-io has tests covered for different modules (Ignite/Kafka/etc) through `bazel test`, those tests are always run inside the repo directory and no through `pip install`.

It would be good to have tests to make sure `pip install` correctly exposes python modules. Some simple tests of `pip install tensorflow-io-*.whl && python -c "import tensorflow_io.Kafka"` would be good enough to se

[2018-12-09 23:12] juwangvsu commented on #14
run test inside the repo is fine. It would be nice to have a section in the README about test procedure and
location of the test code.

[2018-12-10 17:35] BryanCutler commented on #13
Thanks for opening this issue and setting up the repo @yongtang! I'll work on porting over the PR soon, thanks!

[2018-12-10 20:56] jsimsa commented on #8
@martinwicke seeing as the I/O modules will likely not require GPUs for tests, do you think it would make more sense for the project to use Travis CI?

[2018-12-10 21:03] martinwicke commented on #8
I think that would be a fine choice, provided it can be built within the
time that Travis gives you.

[2018-12-11 05:51] yongtang commented on #8
I created a PR with Travis CI added: #16

The configuration just uses the default Ubuntu 14.04 with bazel 0.17.2

So far it looks ok. I think we could use it for now, though at some point I think an additional test from Google CI that matches the TensorFlow repos build environment would be great (so that tensorflow-io always matches tensorflow binary build).

[2018-12-11 06:13] yongtang commented on #14
Each op may have different test procedures. For example, Kafka requires setting up a docker container of kafka before running test. I think individual README.md at each repo would be nice.

[2018-12-12 16:48] terrytangyuan opened #18 "Release R package on CRAN"
[CRAN](https://cran.r-project.org/) is where most R packages are published. We can release the initial version of the package once https://github.com/tensorflow/io/issues/6 is closed as well as the following work:

- [x] Make sure all tests pass locally and on CI
- [x] Make sure certain tests that cannot run on CRAN test machines are properly skipped
- [x] Make sure all CRAN checks/requirements pa

[2018-12-13 02:34] yongtang opened #23 "Ignite tests fail with python 3.4 and 3.6"
While running tests on Travis CI, it looks like ignite tests  `//tensorflow_io/ignite:ignite_py_test` fail with python 3.4:
https://travis-ci.org/tensorflow/io/jobs/467306695

Python 3.6 tests also fail with `//tensorflow_io/ignite:ignite_py_test`
https://travis-ci.org/tensorflow/io/jobs/467306697

It may worth to take a look.

[2018-12-13 15:46] yongtang commented on #23
/cc @dmitrievanthony  The CI failure is flaky so I am wondering if the issue could be that //tensorflow_io/ignite:ignite_py_test and //tensorflow_io/ignite:igfs_py_test could not run concurrently?

[2018-12-13 21:52] yupbank opened #24 "support for libsvm format"

[2018-12-13 22:57] yongtang commented on #10
/cc @yupbank, this issue covers libsvm (#24).

[2018-12-13 22:58] yongtang commented on #10
/assign @yupbank

[2018-12-13 23:01] yongtang commented on #24
Thanks @yupbank. Since issue #10 already covers libsvm, I will just assign #10 to you and close this issue, to make the issue list clean.

[2018-12-13 23:01] #24 closed

[2018-12-13 23:46] yupbank commented on #24
Sure sure, thank you

[2018-12-14 02:10] terrytangyuan opened #26 "Set up static html documentation for R package"
We need to scaffold R package documentation website. [pkgdown](https://github.com/r-lib/pkgdown) is a popular choice in R community to generate this automatically through simple configuration. We should at least scaffold the following pages:

- [ ] API reference
- [ ] Tutorials
- [ ] Index page

[2018-12-16 17:42] yongtang opened #29 "Support BigQuery for tensorflow-io"
BigQuery is Google's serverless cloud data analytics platform. During last SIG I/O call the support for BigQuery (`BigQueryDataset`) was mentioned.

It would be good to add BigQuery (`BigQueryDataset`) to tensorflow-io so that users could use tensorflow to do more big data analytics on cloud.

Note that Google's BigQuery seems to have no C++ client library. It does have a python support and a REST

[2018-12-16 17:47] yongtang commented on #11
Added a PR #30 to support video files. The PR is pretty much working though requires Ubuntu 18.04 (exact version). Some additional work will needs to be done to make it work in more platforms.

[2018-12-18 22:49] yongtang commented on #7
The tensorflow-io on PyPI.org is up, so this issue could be closed.

[2018-12-18 22:49] #7 closed

[2018-12-18 22:50] yongtang commented on #9
We still don't have 3.7 on Travis CI yet. Though tensorflow is not supporting 3.7 anyway, and we already covered 3.4-3.6 on Ubuntu 14.04-18.04. I think this issue could be closed.

[2018-12-18 22:50] #9 closed

[2018-12-18 22:53] yongtang opened #31 "Support Cloud PubSub for tensorflow-io"
The tensorflow-io support a basic Kinesis integration which is a cloud-vendor specific (AWS) streaming platform.

A similar streaming platform provided by Google Cloud is the Cloud PubSub. It makes sense to provide support for Cloud PubSub in tensorflow-io as well.

One good thing with PubSub is that it has gRPC endpoint, which should make it a lot easier to implement in C++ than BigQuery (which o

[2018-12-19 23:27] natemurthy opened #33 "Unable to install directly using pip"
@yongtang I seem unable to download artifact from PyPI using `pip`:

[code]

Is there a step I'm missing that we could add to the README?

Referencing: https://github.com/tensorflow/io/issues/7

[2018-12-19 23:47] yongtang commented on #33
@natemurthy which OS are you using (Ubuntu 14.04/16.04?), and can you check the python versions?

[2018-12-20 01:13] natemurthy commented on #33
I'm using macOS 10.12.5 with Python 3.6.4

[2018-12-20 01:18] yongtang commented on #33
@natemurthy We are not able to support tensorflow-io on Mac yet. We have plans to support it really soon though:
https://github.com/tensorflow/io/issues/4

[2018-12-20 05:16] natemurthy commented on #33
Awesome, thanks! Closing this out and will follow online.

[2018-12-20 05:16] #33 closed

[2018-12-20 10:44] dmitrievanthony commented on #23
Thanks, @yongtang. These tests can run concurrently, I think the root cause is another. Actually, when I start Ignite in Docker container I can't easily understand outside if Ignite is ready or not and I just wait for 5 seconds. Looks like 5 seconds waiting is not the best choice.

Let me think a bit about it, I'll check if it's possible to ensure that Ignite is ready without waiting. Meanwhile, i

[2018-12-20 10:49] dmitrievanthony commented on #23
BTW, do you know if it's possible to download raw log from our Travis without special characters? Currently I see the raw log like this:

[code]

[2018-12-22 05:38] #12 closed

[2018-12-22 22:15] yongtang commented on #23
With the PR #37 merged, this issue has been fix, so closing.

[2018-12-22 22:15] #23 closed

[2018-12-27 22:15] yongtang opened #41 "AlibabaCloud OSS support"
This feature request is from  tensorflow/tensorflow#24556 (/cc @oss-developer):

AlibabaCloud Object Storage Service(OSS) is one of the most widely used cloud stroage services in the world. Could I ask for OSS support with tensorflow?

[2018-12-29 15:57] yongtang opened #42 "Support WebP for tensorflow-io"
In TensorFlow, basic image formats of bmp, png, and jpeg are supported. An issue (https://github.com/tensorflow/tensorflow/issues/18250) was opened in TensorFlow repo looking for WebP support.

This issue captures the effort to support WebP in tensorflow-io.

[2018-12-31 18:16] joehoeller commented on #13
when will this be ready?

[2019-01-01 16:39] yongtang commented on #13
@joehoeller The PR #36 has been opened to add Apache Arrow dataset support, and is in working-in-progress.

[2019-01-06 23:47] #42 closed

[2019-01-07 03:34] damienpontifex opened #46 "Guidance on custom filesystem"
The past guide for this was here https://www.tensorflow.org/guide/extend/filesystem and I'm looking at porting the [azure blob storage file system](https://github.com/tensorflow/tensorflow/pull/21649) to this repo.

I was wanting some guidance on what might have changed? I found the igfs registration here https://github.com/tensorflow/io/blob/master/tensorflow_io/ignite/ops/igfs_ops.cc and what se

[2019-01-07 04:12] yongtang commented on #46
@damienpontifex Thanks for the interest! Yes to build a custom filesystem, the `igfs_ops.cc` and `tensorflow_io/ignite/kernels/igfs/` could be a good starting point.

The ignite module actually consists of two functionalities. One is the `IgniteDataset` which will feed data into `tf.data`. Another is the `tensorflow_io/ignite/python/ops/igfs_ops.py` which implements a filesystem.

If your focus is

[2019-01-07 23:41] damienpontifex commented on #46
Thanks @yongtang I've begun copying past work over here and got it in a branch here https://github.com/damienpontifex/io/tree/azure-blob-fs/tensorflow_io/azure

I'm trying to run `bazel build //tensorflow_io/azure:azfs.so` to at least get minimal build and then work on code. Currently I'm getting errors such as:

## External dependency issue:
[code]

but no idea where the `@azure_storage_fuse//ten

[2019-01-08 00:34] damienpontifex commented on #46
Done both of these in my branch already here https://github.com/damienpontifex/io/blob/azure-blob-fs/third_party/azure_storage_fuse.BUILD and here https://github.com/damienpontifex/io/blob/azure-blob-fs/WORKSPACE#L136-L145

That's why I thought they were odd. Tried a clean and rebuild with the below steps, but same result:
[code]

[2019-01-08 00:37] damienpontifex commented on #46
@yongtang could it be related to these lines:
[code]

Had these from tensorflow and now wondering if the same select options are available in tensorflow_io

[2019-01-08 00:53] yongtang commented on #46
Ah `"//tensorflow:linux_x86_64"` is not available in tensorflow_io. They are used as placeholder for other platforms. Since tensorflow_io only support Linux at the moment anyway, you can remove the `"//tensorflow:linux_x86_64"` and ` "//conditions:default"` then I think it will work.

[2019-01-08 03:42] damienpontifex commented on #46
Thanks @yongtang
I've got to the point where bazel builds the targets successfully and just adding some tests. I'm now getting an error:

[code]

Are you able to look at the branch or fork or provide insights into why `_Curl_ssl_darwinssl` could not be found or what it is? I assume it's something to do with linking with deps `@boringssl//:ssl`

[2019-01-08 05:18] yongtang commented on #46
@damienpontifex I am able to build your branch fine:
[code]

[2019-01-09 00:13] damienpontifex commented on #46
Thanks, I was being an idiot and running them on macOS when I knew that wasn't supported yet. Proceeded and starting to add some py tests now. Thanks again

[2019-01-12 20:53] yongtang opened #49 "Support audio format for tensorflow-io"
With issue #11 and PR #30, tensorflow-io will have Video format support through FFmpeg. Since FFmpeg supports Audio as well, it is natural to add Audio format support through FFmpeg in tensorflow-io.

This issue captures the necessary effort to support Audio format in FFmpeg. Note that unlike video, many audio format need additional information feed from outside of the container. That means the AP

[2019-01-12 20:57] yongtang opened #50 "Support live audio for tensorflow-io"
One interesting usage of tensorflow from the community is to process live audio stream. For that I think it would be great to support live audio stream in tensorflow-io so that more applications could benefit from it directly.

Note this issue might be different from #49 (audio file format, not live audio).

[2019-01-12 21:01] yongtang commented on #50
FYI @Alireza89

[2019-01-12 21:09] yongtang opened #51 "Support live video for tensorflow-io"
Not sure if it is feasible though it would be interesting if tensorflow could be used for live video processing directly. For that we will need live video stream support in tensorflow-io. That will benefit many applications I think.

Note video format support (not live video) has already been captured in #11 and #30.

/cc @juwangvsu

[2019-01-13 05:14] Alireza89 commented on #50
Thanks @yongtang  for raising this issue.

Recently I've written two c/c++ programs on top of speech_commands/test_streaming_accuracy.cc which uses JACK2 audio server daemon in Linux to capture the sound and perform real-time audio recognition with little latency (~30ms).

Here is a demonstration of the working code in Ubuntu 18.04:
https://youtu.be/2CoRbuRRKbw

And these are links to the source c

[2019-01-13 17:49] #11 closed

[2019-01-13 21:38] terrytangyuan commented on #6
This is done. Next steps can be found in #18

[2019-01-13 21:38] #6 closed

[2019-01-14 02:53] yongtang commented on #8
This issue has been addressed in PR #16.

[2019-01-14 02:53] #8 closed

[2019-01-14 03:58] yongtang opened #54 "TensorFlow 1.13 support"
There are some `tf.data` API changes between TensorFlow 1.12 and 1.13 which breaks the build of tensorflow-io. This issue is created to track the the effort needed to provide TensorFlow 1.13 support for tensorflow-io.

[2019-01-14 04:00] yongtang opened #55 "TensorFlow 2.0 support"
This issue is created to track TensorFlow 2.0 support for tensorflow-io. The most visible changes in TensorFlow 2.0 is the eager execution in default. Will need to test thoroughly and see if there are any impact on tensorflow-io.

[2019-01-18 01:14] #13 closed

[2019-01-19 18:15] yongtang opened #57 "tensorflow-io 0.2.0 release"
This issue tracks the efforts to release tensorflow-io 0.2.0.

Since TensorFlow 1.13 has not been released, tensorflow-io 0.2.0 will be based on TensorFlow 1.12.

- [x] Update `README.md` to add additional supported ops since 0.1.0 (@BryanCutler)
- [x] Update `README.md` to add link to individual ops' README.md if possible.  (@BryanCutler)
- [x] Change setup.py to fix `tensorflow==1.12.0`, as `1.1

[2019-01-22 14:35] dmitrievanthony opened #60 "Add bazel into build image"
Do I understand correctly that Docker image proposed to use for build :
[code]

doesn't contain bazel and we have to setup it manually? Can we prepare a docker image that already contains bazel?

[2019-01-22 22:36] yongtang commented on #60
@dmitrievanthony The build image `tensorflow/tensorflow:custom-op` we use have bazel `0.15.0` installed. However, bazel `0.15.0` has bugs that will not work for some of the libraries we use. So manual Install Bazel 0.20.0 is needed in order to build from build image `tensorflow/tensorflow:custom-op`.

I filed a bug in tensorflow https://github.com/tensorflow/tensorflow/issues/24523, which addresse

[2019-01-23 05:44] BryanCutler commented on #57
I could take the first 2 `README.md` updates, and `Build/push `*.whl` files`

what kind of format will we make these tutorials, markdowns files also in the github repo or is it possible to have sphinx/html, or something?

[2019-01-23 05:51] BryanCutler opened #62 "Arrow Datasets missing AsGraphDefInternal impl"
The Arrow Datasets are missing the proper `AsGraphDefInternal` implementations to define the inputs and output Node for serialization. This seems to have been allowed to work for v1.12, but causes v1.13 to fail with a cryptic error of a thread being killed during `MakeDataset`.

[2019-01-24 01:11] yongtang commented on #57
Thanks @BryanCutler! I think markdown files with sample code would be a good start really.

[2019-01-27 16:10] yongtang opened #68 "Support NumPy for tensorflow-io"
In TensorFlow's guide of "Importing Data":
https://www.tensorflow.org/guide/datasets

It is possible to reading input data directly from TFRecord (`TFRecordDataset`), text (`TextLineDataset `), csv (`CsvDataset`) but not with NumPy. Reading input from NumPy still have to use a not so elegant way in the example code of the TensorFlow Guide:
[code]

It should be possible to implement NumPy support s

[2019-01-27 16:13] yongtang commented on #14
An integration test has been added to `tensorflow/io/tests`. The integration test is invoked through `pip install tensorflow-io-*.whl && python -m pytest .` so the exposure of python modules could be validated. It covers video format only at the moment but could be a start.

[2019-01-27 16:31] yongtang opened #69 "Support images natively for tensorflow-io"
With WebP format (#42/#43) it is possible to import a collections of images into `tf.data` natively without any additional steps. Due to historical reasons importing `png/jpg/bmp` files in TensorFlow still has to go through the tensor conversions. It would be good to import a collection of image file (potentially with a mixture of different format) to `tf.data` without any redundant operations.

[2019-01-28 18:36] BryanCutler commented on #57
Done, PR https://github.com/tensorflow/community/pull/59

[2019-01-29 02:50] yongtang commented on #57
I think we cover all items. The `doc/tutorials` probably could be deferred to the next release as with tensorflow 1.13 it is possible to combine `tf.data` with `tf.keras` and the examples will be more telling. With 1.12 there are still many bugs for tf.data to work with higher level apis.

[2019-01-29 15:59] yongtang commented on #57
Just tased v0.2.0. @BryanCutler Would you like to help build the *.whl files and push to PyPI.org?

The build method for *.whl files have been updated, see PR   tensorflow/community#58
[code]

Once 4 *.whl files are generated, you could push it to PyPI.org

[2019-01-29 17:25] terrytangyuan commented on #57
We might want to consider setting up automatic PyPI release on Travis going forward so whenever a release tag is made, Travis builds and pushes artifacts to PyPI:
https://docs.travis-ci.com/user/deployment/pypi/

[2019-01-29 18:19] BryanCutler commented on #57
Sure I will do it now, thanks!

[2019-01-29 19:36] BryanCutler commented on #57
The wheels have been uploaded, yay!  I ran a quick local test before publishing and will also try to install from PyPI. Nice work everyone!!

[2019-01-29 20:22] hadim opened #72 "Tiff file support"
Would that be possible to support TIFF file?

[2019-01-29 21:07] terrytangyuan commented on #57
Great work everyone! I am closing this issue now. The last item - "Release R packages to CRAN" - will be tracked separately in https://github.com/tensorflow/io/issues/18

[2019-01-29 21:07] #57 closed

[2019-01-30 03:33] yongtang commented on #57
Thanks all for great work!

[2019-01-30 17:50] yongtang opened #73 "Migrate LMDBDataset from tensorflow to tensorflow-io"
`LMDBDataset` is part of the `tf.contrib.data` and it naturally fits the tensorflow-io context. It makes sense to migrate LMDBDataset to tensorflow-io.

[2019-01-30 20:39] terrytangyuan commented on #73
I can work on this one if nobody else is working on it.

[2019-01-31 16:01] yongtang commented on #73
Thanks @terrytangyuan that would be great! Let me know if you encounter any issues with LMDBDataset.

[2019-02-01 22:45] yongtang commented on #73
This issue is related to tensorflow/datasets#34

[2019-02-01 23:48] BryanCutler opened #75 "ArrowDataset.from_pandas fails when preserve_index=True"
When making an ArrowDataset from a pandas.DataFrame, if the `preserve_index` flag is set to `True` the Dataset iterator will fail with the error:
[code]

This is because the `preserve_index` flag will add an additional column in the record batch and there is not a corresponding column index sent to the op.

[2019-02-02 00:56] BryanCutler commented on #68
@yongtang Arrow supports reading numpy arrays to record batches. So I don't think it would be much effort to add this, but there would be a limit on dimensionality - for now at least. Hopefully that will change in the future.

[2019-02-02 04:43] #75 closed

[2019-02-02 23:33] terrytangyuan commented on #73
@yongtang the support for LMDB is now ready for review: https://github.com/tensorflow/io/pull/74

[2019-02-04 23:01] BryanCutler opened #78 "Add boolean type support to Arrow Datasets"
Arrow datasets are missing support for boolean data types

[2019-02-06 02:15] #73 closed

[2019-02-06 02:16] terrytangyuan commented on #18
The package is on CRAN now!  https://CRAN.R-project.org/package=tfio

[2019-02-06 02:16] #18 closed

[2019-02-06 20:26] terrytangyuan commented on #41
As mentioned in last community call, we have support for this internally and will open source it soon. cc: @wangkuiyi @ywskycn

[2019-02-06 22:11] #78 closed

[2019-02-06 22:40] BryanCutler commented on #68
Actually the conversion from Numpy to Arrow is zero copy, so it wouldn't consume any more memory, but you're right, Arrow doesn't support reading these files. If you're able to read them directly in the op that would be cool!

[2019-02-07 00:38] yongtang commented on #54
Added the comment here as well:

I am continuing to play with tf 1.12.0 vs. 1.13.0. Noticed that the C++ binaries build against 1.12.0 will not work with 1.13.0, as the following has changed:
[code]

That means we do have to release a binary against 1.13.0 even if we use tensorflow's public endpoint Python API.

[2019-02-07 18:03] yongtang opened #80 "Setup nightly build through Travis CI"
We could set up a nightly build through Travis CI, so that users can install a preview version. This could be useful as TensorFlow 1.13 is not released yet (only 1.13.0rc0) and we need to start testing early, so that we could release roughly the same time as `1.13.0` release.

Ideally we could setup another project in PyPI.org with tensorflow-io-nightly.

[2019-02-10 10:49] yongtang commented on #72
Added a very preliminary TIFF support. TIFF  format is rather complex so compressions such as JPEG have not been supported yet, but could be added if needed.

[2019-02-10 18:54] yongtang commented on #31
Working-in-Progress in #48. It is mostly complete, only need to figure out GCP's IAM and see how it works.

[2019-02-12 22:27] yongtang commented on #80
We are almost there, except that Travis CI will not invoke environmental variable unless it is from the same repo. Once #87 passes I think this issue could be resolved.

[2019-02-13 03:14] yongtang commented on #80
#87 Passed, and the merged master passed as well:
https://travis-ci.org/tensorflow/io/jobs/492305620

And nightly version `0.3.0.dev371` is released automatically
https://pypi.org/project/tensorflow-io-nightly/#history

So this issue is resolved.

[2019-02-13 03:14] #80 closed

[2019-02-13 12:05] #72 closed

[2019-02-13 18:14] yongtang opened #91 "Rework on compressed file based Dataset"
As the number of file based Dataset is growing, code duplications start to happen. The biggest area of duplication is the compression support. There are two types of compressions:
1) ZLIB/GZIP where you have a single compressed entry
2) ZIP where you have multiple entries inside (e.g, npz file is essentially a ZIP).
The compression topic itself could be complicated, like recursive compression. The

[2019-02-13 18:50] yongtang opened #92 "Travis CI enhancement"
The Travis CI config needs to be improved, to support additional platforms and improve maintainability of .travis.yaml:

| Platform         | Build| Python Test  | R 3.5 Test |
| ------------- |----- | -------------|--------|
| Linux Python 2.7 | Ubuntu 14.04| Ubuntu 16.04+18.04 | Ubuntu 16.04+18.04 |
| Linux Python 3.4 | Ubuntu 14.04|| |
| Linux Python 3.5 | Ubuntu 14.04| Ubuntu 16.04 | |
| Linux

[2019-02-14 19:12] yongtang commented on #54
/cc @jsimsa

[2019-02-15 03:34] yongtang opened #95 "tensorflow-io 0.3.0 release"
I think we have enough new features to release 0.3.0. We could have another release 0.4.0 to match tensorflow 1.13.0, likely in a couple of weeks.

- [x] Update README.md to add additional supported ops since 0.2.0
- [x] Update RELEASE.md to capture 0.3.0 changes.
- [x] Build *.whl files and push to PyPI.org
- [x] Release R packages to CRAN.

/cc @dmitrievanthony @BryanCutler @terrytangyuan

[2019-02-17 17:31] yongtang commented on #95
0.3.0 has been released:
https://github.com/tensorflow/io/releases/tag/v0.3.0

[2019-02-17 17:31] #95 closed

[2019-02-17 17:33] yongtang opened #97 "Python 3.7 support"
Python 3.7 is a supported version in TF 1.13.0 (rc2), so we should support 3.7 as well (already saw lots of interests in TF about 3.7).

[2019-02-17 18:37] yongtang commented on #55
When trying tensorflow-io's build with TF 1.13, I noticed that the generated binary for 1.13 may not be compatible with TF 2.0. Here is some core dump:
[code]

[2019-02-17 18:38] yongtang commented on #55
Likely we may have to rebuild tensorflow-io with TF 1.13 and 2.0 separately and release separate versions for them.

[2019-02-18 17:48] BryanCutler commented on #95
Great news, thanks @yongtang !

[2019-02-18 18:38] yongtang commented on #92
Closed with #94.

[2019-02-18 18:38] #92 closed

[2019-02-19 23:37] yongtang commented on #97
Tried to repackage binary with python 3.7 (on Ubuntu 14.04). When running on Ubuntu 18.04 could see the following error:
[code]

A likely cause I guess is that Python 3.7 version of tensorflow is compiled with some flags in gcc (or a different version of gcc).

[2019-02-19 23:49] BryanCutler opened #103 "Make Dockerfile for Python Development"
It would be nice to have a Dockerfile to build an image with all the configuration and packages for a developer to start building and testing right away. This would include:

* Required OS packages
* Bazel installation
* TensorFlow
* Required pip packages

[2019-02-20 04:03] suphoff commented on #103
+ Update README.md to reflect the required bazel build parameter
[code]
works for me

[2019-02-20 16:49] #54 closed

[2019-02-21 23:34] yongtang commented on #55
With #106 merged, we have the TF 2.0 supports now. The R still has some issues but it is likely caused by upstream R package (tfdatasets of tensorflow). We could follow up to address those issues later.

[2019-02-21 23:34] #55 closed

[2019-02-22 23:02] suphoff opened #109 "Idea: DT_VARIANT type for ImageSets / ImageSource?"
When looking through the current image operations and how to add functionality I quickly came to imagine lots and lots of per file format special operations - and did not really like that picture.

Currently all operations on image and video files (on file system or as strings) parse the files, extract one (or more) pictures as 2-3 dimensional data tensors and then throw away all parsing informati

[2019-02-23 05:50] yongtang commented on #109
@suphoff These are definitely good ideas! May still need to see if these could be applied into TF's graph mode but it should work in eager mode I think.

The metadata information of those images (either as a standalone image, or as one frame within Video/TIFF, or maybe GIF animations) are very useful and could help extract images of interests. Maybe we could start building some individual ops to s

[2019-02-23 06:06] suphoff commented on #109
@yongtang OK - let me prototype something next week and we can then just play around with it. Should work just fine in graph mode.

[2019-02-25 02:01] suphoff opened #117 "tensorflow_io namespace?"
Should tensorflow-io export any symbols in  the tensorflow namespace?

In most cases directly using the tensorflow namespace the  is not an issue.
Many tensorflow-io kernels are fully contained in an anonymous namespace and REGISTER_OP just defines a static variable.

However any functionality requiring more then a single file currently exports symbols in the tensorflow namespace. If we ever get a

[2019-02-25 05:20] yongtang commented on #117
I think we could create a different namespace, or anom namespace if possible. The tensorflow-io is always complied with tensorflow, so even if there is a collision we will be able to find out quickly I believe.

[2019-02-25 16:59] suphoff commented on #117
I am a bit more worried about tensorflow changes causing collisions with current/past versions of tensorflow-io then the other way round.

[2019-02-25 17:09] yongtang commented on #117
@suphoff At the moment we pin to a specific version of tensorflow for each of the past releases. For example, in the past we pin to 1.12.0 in tensorflow-io 0.1.0-0.3.0. For the upcoming tensorflow-io 0.4.0 we plan to pin to 1.13.0.

The reason is that while our python code has largely been forward compatible, there are still some C++ changes in tensorflow from time to time to make it backward/forw

[2019-02-25 18:27] suphoff commented on #117
@yongtang : I am mechanically changing the name space of my prototype for #109
from:
[code]
to
[code]
As sources are distributed over several files anonymous namespaces are not really an option.
The prototype should be ready in a few days and can then serve as an example. (Good or bad)

[2019-02-25 22:28] wookayin commented on #97
I ran into this issue. In my environments was:

- python 3.6 (anaconda)
- Ubuntu 16.04
- g++

where I manually built TF 1.13.0-rc2 from source.

When I was using TF 1.13.0-rc2 from `pypi`, the error did not happen.

[2019-02-26 00:45] yongtang commented on #97
I haven't tried myself but I guess it may have something to do with the api compatibility. Maybe you could give `-copt="-D_GLIBCXX_USE_CXX11_ABI=0"` a try when building with bazel for both tensorflow and tensorflow-io?

[2019-02-26 04:20] suphoff commented on #109
Wrapping reference counted C++ objects in variants and passing them around in the TF's graph works just fine.

[code]

* y = image.WebPImageSourceFromFile("tests/test_image/sample.webp") - creates a new object of class  WebPImageSource (derived from ImageSource) and returns it as variant Tensor.

* s = image.ImageSourceToDebug(y) - extracts a pointer to an ImageSource object from the input variant

[2019-02-26 17:48] #103 closed

[2019-02-26 19:21] yongtang opened #121 "tensorflow-io 0.4.0 release"
TensorFlow v1.13.1 has been released:
https://github.com/tensorflow/tensorflow/releases/tag/v1.13.1

We will need to make a release of 0.4.0 for tensorflow-io. There are several additional items we really like to be in before the dev summit: macOS support, MNIST, PubSub.

But we could also make a 0.4.0 release now, and have a 0.5.0 release immediately after (before dev summit), to hopefully get be

[2019-02-27 00:24] suphoff commented on #109
* Works in Eager Mode :heavy_check_mark:
* Variant Tensors can be persistent (or Eager Mode would not work I guess) - However still searching for a clean way to bypass all the nanny code around variables. May still end up writing ops for this.
* Will pull in code from existing image code tensorflow_io and tensorflow decode_image_op.c and wrap it in this framework to have at least png, jpg and webP

[2019-02-27 00:34] yongtang commented on #109
I would be in favor of  dropping `FromFile` (e.g, `WebPImageSourceFromFile` -> `WebPImageSource`), we could use either protocol (like `file://` `s3://`), or hint as the args if needed.

[2019-02-27 00:51] suphoff commented on #109
Maybe just add an attribute to the OP to determine input(0) usage ?

decode_image_op.c contains some detection logic for file formats that could be useful to implement a generic ImageSource.

[2019-02-27 01:26] yongtang commented on #109
@suphoff Yes most of the file format consists of a magic string at the beginning and it is pretty easy to detect the file format with small read ahead.

[2019-02-28 02:32] suphoff commented on #109
* Variant Tensors work just fine with variables :heavy_check_mark:

... it really helps to keep the session open during variable testing :joy_cat:

[2019-02-28 16:11] #31 closed

[2019-03-01 02:37] wookayin opened #124 "setup.py: Dependency on tensorflow"
When installing the current version of tensorflow-io (`pip install tensorflow-io-nightly`), it tries to install its dependency package `tensorflow`, not `tensorflow-gpu` if the gpu one is installed. As a result `tensorflow` could be installed mistakenly instead of `tensorflow-gpu`.

I have no idea about specifying conditional dependencies. How about we simply do not require `tensorflow` in REQUIRE

[2019-03-01 16:18] yongtang commented on #124
@wookayin The following could be used:
[code]

For required package in setup.py, we may still need to specify the version, as `tensorflow-io` depends on specific tensorflow (or tensorflow-gpu) version to run correctly (due to C++ api). For example, tensorflow-io 0.3.0 will not work with tensorflow/tensorflow-gpu 1.13.1

Using `--no-deps` may not be ideal for now. Though there is some progress on t

[2019-03-01 17:06] yongtang commented on #121
Looks like we are almost ready. I will try to build a binary and push to PyPI.org today.

[2019-03-01 18:39] terrytangyuan commented on #121
Yes. New version of the R package is now on CRAN. It seems like it is only slow for them to review the first release. Revisions or new releases don’t take too much time.

[2019-03-01 18:57] suphoff opened #126 "FYI: Bazel 0.20.0 now really required (Newer versions no longer working)"
A new external dependency requires Bazel 0.20.0
[Google Cloud #2090](https://github.com/googleapis/google-cloud-cpp/issues/2090)

[Workaround to avoid having to globally downgrade bazel ](https://github.com/bazelbuild/bazel/issues/4396#issuecomment-396923909)

[2019-03-01 19:34] yongtang commented on #121
The 0.4.0 version of tensorflow-io has been released. Thanks all for the help! 🎉

[2019-03-01 19:34] #121 closed

[2019-03-01 21:56] yongtang commented on #126
@suphoff Created a PR #127 which upgrades grpc and indirectly upgrades protobuf. Should work with bazel 0.22.0 now.

[2019-03-01 22:09] suphoff commented on #126
@yongtang: Thanks! Just tested PR #127 and I can confirm it compiles on Bazel 0.22.0

Thanks!

[2019-03-02 05:23] #126 closed

[2019-03-02 18:49] yongtang commented on #4
MacOS has been enabled in #116.

[2019-03-02 18:49] #4 closed

[2019-03-03 19:32] yongtang opened #131 "Kafka dataset may exit in macOS"
On macOS sometimes Kafka dataset may exit early:
https://travis-ci.org/tensorflow/io/jobs/499999592

This bug is likely caused by usage of librdkafka. The resources (e.g., messages) may have to be closed before close kafka consumer.

[2019-03-03 23:16] yongtang commented on #29
One challenge is that BigQuery essentially returns a json response so a json library with good performance in C/C++ is needed.

[2019-03-03 23:16] yongtang commented on #14
Think this issue is resolved with #118.

[2019-03-03 23:16] #14 closed

[2019-03-03 23:20] yongtang opened #133 "Setup lint with CI"
We haven't had any lint checking yet and it would be good to setup a lint checking with CI.

In Python pylint/flake8 could be good choice.

In C++, clang-format was used but that was far from ideal. The reason was that clang-format differs output for different versions. This is really hard to maintain a consistent format. For now, let's not use clang-format. Instead we could check simple things li

[2019-03-04 01:24] suphoff commented on #29
@yongtang: I used jsoncpp last year (https://github.com/open-source-parsers/jsoncpp) for a RESTful API. It was nowhere near a performance critical path so I can't speak for the performance - however I can say it was trivially to use it for encoding & decoding and it was super easy to build it as an external dependency with cmake.

[2019-03-04 01:48] suphoff commented on #29
@yongtang: Just checked and it is also used in TF - so all bazel build infrastructure should be there

[2019-03-04 03:49] yongtang commented on #29
@suphoff Thanks! Will take a look at jsoncpp.

[2019-03-05 17:08] yongtang opened #137 "http/https filesystem support"
We already have support for filesystems with `igfs://`, `gs://`, `s3://` (either through tensorflow-io or through tensorflow repo). One protocol that is missing is the `https://` or `http://`. There are lots of data are referring an image (or video/audio) through the URL so it really would be great if we could provide support for `https://` or `http://`.

While HTTP protocol supports `Accept-Range

[2019-03-08 01:00] jperl opened #138 "Guidance on initializable iterators w/ numpy arrays"
I am collecting data during the training process and using Dataset.from_tensor_slices with placeholders and an initializable iterator to refresh the dataset. The dataset uses the tensor slices to then do further preprocessing.

As new data is collected, I reinitialize the iterator's placeholders with the new numpy array data.

Since initializable iterators are deprecated now, how do you recommend

[2019-03-08 14:00] jperl commented on #138
Relates to https://github.com/tensorflow/io/issues/68

[2019-03-08 14:34] suphoff commented on #138
It looks like the Iterator class even completely disappeared from the r2.0 API documentation.
As such I would concentrate on creating a dynamic modifiable dataset pipeline. This could be a custom dataset op - or a dataset pipeline using TF variables.
For a good example for the later - take a look at the replay buffer implemented in tensorflow/agent:
https://github.com/tensorflow/agents/blob/master

[2019-03-08 15:01] jperl commented on #138
Using variables is a good idea, thank you!

[2019-03-08 15:01] #138 closed

[2019-03-08 15:02] yongtang commented on #138
@jperl I think it depends on if your data is already in memory (numpy arrays) or not. If the data is already in numpy arrays then I think we could help implement a Dataset to map the numpy arrays into tensors as data continue to feed in. If you have other sources of input (like a file or a stream), we could also help implement a Dataset to take the input directly, not even necessarily to read into

[2019-03-08 15:39] jperl commented on #138
The data is paths to images stored on a local filesystem. It is queried from a database, and then in memory as an array of strings. After each training loop we reinitialize the dataset with the latest paths (and other metadata).

I believe we can accomplish this similar to the `TFUniformReplayBuffer` example from @suphoff, using a Counter, map and variables or a generator to provide the latest num

[2019-03-09 11:53] yongtang commented on #91
Looks like https://github.com/libarchive/libarchive could be a decent choice for compression. Had some initial success with cifar dataset. Will create a PR soon for some initial checkin.

[2019-03-10 00:56] yongtang opened #142 "Device and GPU/CPU in Dataset"
While working on CIFAR format, noticed we may need access to Device (like Eigen thread or GPU) for preprocessing data in Dataset. For example, some formats are channel_first while by default we output data in channel_last. That requires `Transpose` op. We could do the transformation in python but ideally we can do it within the kernel.

Also a related issue: At the moment Dataset are attached to C

[2019-03-11 16:07] wookayin opened #144 "Support decoding video from byte stream for tensorflow-io"
Video (ffmpeg) support (#30) is awesome. I was wondering if we can improve the video dataset API by having a counterpart of [`tf.contrib.ffmpeg.decode_video`](https://www.tensorflow.org/api_docs/python/tf/contrib/ffmpeg/decode_video), which decodes the video from the contents bytestream (`tf.string`) rather than a filename.

This can be useful in some use cases where videos are encoded and stored

[2019-03-11 16:24] yongtang commented on #144
@wookayin The appropriate way to achieve it, I remember, is to set callback `open/read` functions in `AVFormatContext` , so that `avformat_open_input` will use the open/read callback function instead (and bypass filename open).

In case a memory buffer is passed by, the open/read callback will simply copy the buffer around so that FFmpeg could use the copied buffer (than read buffer from file).

[2019-03-11 16:51] wookayin commented on #144
Hi @yongtang, thanks for the guidance. I will look into that soon to see if I can implement this functionality.

[2019-03-11 17:03] #133 closed

[2019-03-11 19:01] yongtang commented on #144
@wookayin Fantastic! Let me know if you encounter any issues.

[2019-03-11 20:16] yongtang opened #146 "Support Keras callback for predict"
In Keras, the `model.predict` will generate the output in batches. The data could be accessed from the callbacks.

It should be possible to add support to callbacks so that predict output can be written to somewhere else (e.g., Kafka, etc) whenever possible.

Below is the code snippet:
[code]

[2019-03-11 20:17] yongtang commented on #146
/cc @terrytangyuan as we discussed.

[2019-03-11 22:31] terrytangyuan commented on #41
@yongtang Would you be able to create release branches in the repo so that we could back-port OSS support to TF IO for different TF versions (v1.12 and v1.13). Note that currently TF IO master branch requires `tensorflow>=1.13.0,<1.14.0`. We'd want to support TF v.12 users as well and it would be better if we can avoid maintaining our own fork.

Also cc @zou000 who's porting the OSS Op over to TF

[2019-03-12 01:19] yongtang commented on #41
@terrytangyuan I think a feasible solution is to create a branch based on v0.3.0, as v0.3.0 is based on TF 1.12 and fully tested. We could release a v0.3.1 version with OSS support, then cherry-pick the changes to master branch for 1.13.1 support.

[2019-03-12 01:30] terrytangyuan commented on #41
That sounds good to me. @zou000 Would this work for you?

[2019-03-12 01:37] zou000 commented on #41
Yes, this would work for us. Thanks for doing this.

-- Li

On Mon, Mar 11, 2019 at 6:30 PM Yuan (Terry) Tang <notifications@github.com>
wrote:

[2019-03-12 02:15] yongtang commented on #41
@zou000 Added a branch R0.3, you can create a PR to this branch for 1.12 support.

[2019-03-12 18:40] terrytangyuan commented on #146
Sounds good. This is similar to [SessionRunHook](https://www.tensorflow.org/api_docs/python/tf/train/SessionRunHook).

[2019-03-12 21:22] yoavz opened #147 "Support for reading files from HDFS."
Hello -- I'm attempting to read a Parquet data file from an HDFS path (substituted `hdfs://path` for the real path below):

[code]

Apparently, it seems as though Arrow is attempting to access the file as a local path (`Failed to open local file`) and failing.

[code]

Is reading files from HDFS supported with this library? I have previously assumed it is supported through the normal TensorFlow I/

[2019-03-13 04:41] yongtang commented on #147
@yoavz Reading from a non-local file is not supported yet, as the API `OpenFile` is called (not the `Open` interface):
https://github.com/tensorflow/io/blob/master/tensorflow_io/parquet/kernels/parquet_dataset_ops.cc#L200-L204

However, it should be fairly straight ward to add support for additional protocols (like s3/gcs/hdfs). TensorFlow's `RandomAccessFile` already have the support for s3/gcs/h

[2019-03-13 19:52] yongtang opened #148 "CI enhancement in tensorflow-io?"
I have been testing CircleCI in the past couple of weeks:
https://circleci.com/gh/yongtang/io/tree/circleci

Overall better than Travis CI in several areas:
- It shares storages among jobs and stages, so that we could build once, test multiple times. For Travis CI, you have to build and test at the same job
- Travis CI has a limit of 50 minutes. CircleCI seems to be 5 hours?
- Initially I thought

[2019-03-13 21:56] BryanCutler commented on #148
+1. I don't have any direct experience with it, but the benefits seem like it's worth a shot. I'm happy to help with the migration too.

[2019-03-14 20:36] suphoff opened #149 "Random permutation range dataset (proposal)"
Proposing a dataset that generates a permutation of a range(0..n).
I believe this to be useful for table based dataset mapping ([Example from tf_agent](https://github.com/tensorflow/agents/blob/master/tf_agents/replay_buffers/table.py)) and indexed datasets.
Conceptually it would be the same as Dataset.range(n).shuffle(n) - just more efficient.
Initially I plan to use a simple [Fisher–Yates shuffl

[2019-03-14 21:21] yongtang opened #150 "[GSoC] JSON Reader for tensorflow-io"
With tensorflow and tensorflow-io, a lot of file formats have been well covered. One format which is used everywhere but has not been supported yet, is the json format file. In tensorflow, it is certainly possible to read json files with `tf.py_func` and pass it through graph or tf.data. There are some limitations with this approach as was mentioned in the tensorflow docs.

We could actually build

[2019-03-15 01:03] yongtang opened #151 "Plugin API for generator support with tensorflow-io"
It is possible to use generator to output tf.data in tensorflow through `tf.data.Dataset.from_generator`. The implementation follows similar paths as `tf.py_func` so it does have some limitations.

A plugin-like API may not be difficult to implement in order to output tf.data from within C/C++. Essentially, we could define a C API for a plugin to be exposed. Each plugin will be built as a dynamic

[2019-03-15 01:28] yongtang commented on #151
The idea comes from one issue I faced before. At one point I was doing some research in defense IDN homograph attacks. We needed images for each unicode character for analysis. That is around 1 million pictures. At one point we opened many processes on quite a few machines to generate the pictures concurrently. Which is kind of tedious. We probably could actually use tensorflow to do the task, the

[2019-03-15 03:49] suphoff commented on #151
I really like the idea.
 TF does not make it easy with using initializers at library load time to register OPs. In addition loading of the library has to be initiated by tensorflow or the registration through the initializers are disregarded.
( I implemented a module with both TF custom Ops and SWIG interface and had to ensure that TF would load the module first so that OPs worked - Python uses ta

[2019-03-15 17:07] yongtang commented on #148
Thanks @BryanCutler  Following our discussions in monthly meeting, I think we will try to see if we could use Google CI for build and testing.

[2019-03-15 17:17] terrytangyuan commented on #148
Yes as Edd mentioned in the meeting, CircleCI requires unnecessary permissions. I agree that we should try to leverage Google CI (Kokoro) so we don't have the current limitations.

[2019-03-15 17:21] yongtang commented on #148
@ewilderj @dynamicwebpaige @martinwicke In the monthly meeting we discussed about the CI enhancement. The main issue we are facing with Travis CI is the 50min execution time restriction.

With several new additions (e.g., GCP PubSub and TIFF) recently,  many C++ code/dependencies are includes.  The build time 43 min now (https://travis-ci.org/tensorflow/io/builds/504866327).

From the meeting we a

[2019-03-15 20:51] #10 closed

[2019-03-19 16:35] yongtang opened #154 "Test setup for eager and non-eager mode"
Currently we use pytest to run all tests. Some tests requires eager mode and some requires non-eager mode. While in TF 2.0 all will be moved to eager mode, we still have to support non-eager before that.

However, when running all tests with eager and non-eager mixed, issues may happen and `std::out_of_range` was encountered. May need to split the test so that eager and non-eager mode could run se

[2019-03-27 12:06] baluyotraf opened #161 "Modules fail with compiled tensorflow"
I compiled tensorflow from source. When using the arrow module of the library I get the error below.

[code]

[2019-03-27 16:34] yongtang commented on #161
@baluyotraf The release version of tensorflow-io is compiled with tensorflow 1.13.1. It may not be compatible with earlier or later versions of tensorflow, as tesorflow's C++ API experienced some changes recently (approaching TF2.0 release).

You may need to recompile tensorflow-io as well in order to make it work with your compiled tensorflow.

Can you shred's which version of tensorflow source y

[2019-03-27 23:20] baluyotraf commented on #161
I compiled the ```r1.13``` branch of the tensorflow repository with gpu support. The created install has a 1.13.1 on its name so I think it's also the correct version. I tried to build the tensorflow_io code with my tensorflow but I got the same error. After running the tests, I get the same error from different .so files so I guess this is a build problem.

Pytest Result:

[code]

[2019-03-27 23:48] yongtang commented on #161
Haven't check to deep into the issue, though a common issue that surface frequently is the `-D_GLIBCXX_USE_CXX11_ABI=0` flag. Are you using this flag for tensorflow build?

[2019-03-27 23:49] baluyotraf commented on #161
Not yet. I'll try to rebuild with that flag. Thanks.

[2019-03-28 00:56] baluyotraf commented on #161
That did the trick. Thanks.

[2019-03-28 00:56] #161 closed

[2019-03-28 07:04] zhjunqin opened #163 "Does tensorflow_io.kafka support consumer group auto-partition assignment and offset commits?"
Does Kafka support consumer group auto-partition assignment and offset commits?

I checked code, seems it doesn't support. Do you have any plan on this?

Thanks!

[2019-03-28 08:47] jjmachan commented on #150
I would like to work on this summer for GSoC. jsoncpp seems to be the best, fastest library for parsing JSON according to this [experiment](https://blog.thousandeyes.com/efficiency-comparison-c-json-libraries/). So is it ok to proceed using jsoncpp?

[2019-03-28 10:55] jjmachan commented on #150
[RapidJSON](https://github.com/Tencent/rapidjson)  is also very fast. The results are shown in this [experiment](https://github.com/mloskot/json_benchmark)

[2019-03-28 20:20] yongtang commented on #163
We could add those support with additional args.

[2019-03-28 22:49] yongtang commented on #150
Given that tensorflow uses jsoncpp already:
https://github.com/tensorflow/tensorflow/blob/5bd9569d9b7b1c871839d6a62fb93024a4909f23/tensorflow/workspace.bzl#L543-L553

I think we could start with jsoncpp (and potentially reuse some code in tensorflow).

[2019-03-29 07:00] baluyotraf opened #165 "ArrowDataset repeats the entries when using with map and batch"
I'm using ```tensorflow==1.13.1``` and ```tensorflow-io==0.4.0``` from pip

Here is the code I used to confirm the behavior

[code]

Output

[code]

It repeats the other elements for some reason.

[2019-03-29 16:48] yongtang commented on #165
/cc @BryanCutler, wondering if you have any insight?

[2019-03-29 16:58] BryanCutler commented on #165
I'll take a look

[2019-04-04 16:13] #165 closed

[2019-04-04 17:56] henrytansetiawan opened #171 "Add tfio style test for tensorflow_io/BigTable"
The original contrib.BigTable has its own internal test, but it would be fantastic if we add tensorflow_io style test using BigTable emulator.

[2019-04-04 17:57] henrytansetiawan opened #172 "Add tfio style test for tensorflow_io/Cloud"
The original tf.contrib.cloud has its own internal tests, it would be fantastic if we add TFIO style tests.

[2019-04-04 19:39] henrytansetiawan opened #173 "Update dev/Dockerfile to use gcc 4.8 by default"
The default gcc installed on the Docker image is gcc 7.0.3. Compiling custom ops using newer gcc and interop-ing with older gcc 4.8 used by official TF build prones to Segmentation Fault ABI issue: https://github.com/tensorflow/tensorflow/issues/13308.

some reference:
- https://gist.github.com/application2000/73fd6f4bf1be6600a2cf9f56315a2d91
- https://gist.github.com/vmaks/06ac9bcd859621aa589f

[2019-04-04 19:57] yongtang commented on #171
@henrytansetiawan 👍 The PubSub emulator is similar, I could help with BigTable emulator if needed.

[2019-04-04 19:59] yongtang commented on #173
@henrytansetiawan I think this is because the tfio-dev uses Ubuntu 18.04 as the base image. In our Travis CI build, we use Ubuntu 14.04 which matches with tensorflow's build. Changing the tfio-dev's base image to Ubuntu 14.04 should fix the issue I believe.

[2019-04-04 20:07] yongtang opened #174 "Support HDF5 in tensorflow-io"
The follow is from tensorflow/tensorflow#27510

[2019-04-04 20:12] yongtang commented on #174
/cc @veritas9872

[2019-04-05 02:21] henrytansetiawan commented on #173
@yongtang sounds good, that would do and a simpler fix.

[2019-04-07 03:25] suphoff opened #175 "Query tf.sysconfig.get_compile_flags() for _GLIBCXX_USE_CXX11_ABI version"
Replace hard coded  _GLIBCXX_USE_CXX11_ABI value in ./configure (and in various BUILD files) with value returned from  tf.sysconfig.get_compile_flags().

[2019-04-08 01:44] yongtang commented on #175
@suphoff That is a good solution to fix several issues we are facing 👍 . I will take a look and see if I could come up with something quick.

Also /cc @henrytansetiawan as this might be related to the issue you encountered.

[2019-04-08 01:52] suphoff commented on #175
@yongtang : I have a working prototype - will add some error checking and submit a pull request tomorrow.

[2019-04-10 21:24] yongtang commented on #109
@suphoff I have been playing with variant and resource for the past several weeks. I think in general, I agree with you that variant is more likely to be a fit. Variant is best suited for immutable data since you can always referencing it. The resource looks to be suited for writer, and, mutable (or unable to replay) data. Most of the read data are immutable, even Kafka consumer are immutable tech

[2019-04-10 23:25] yongtang commented on #175
Close this one as #176 has been merged.

[2019-04-10 23:25] #175 closed

[2019-04-12 01:04] yongtang opened #178 "tensorflow-io 0.5.0 release"
As we discussed in the meeting, given tensorflow 1.14 will be released very soon, it makes sense to have a release of 0.5.0 for tensorflow-io (support 1.13.1), and then have another release of 0.6.0 for tensorflow-io (support 1.14.0).

Here is the list of items for 0.5.0
- [x] Update README.md to add additional supported ops since 0.4.0
- [x] Update RELEASE.md to capture 0.4.0 changes.
- [x] Build

[2019-04-12 02:53] a6802739 opened #179 "global name 'core_readers' is not defined"
When I try to use function `make_libsvm_dataset`, it notice me the error that
[code]
How could I fix this?

[2019-04-12 18:28] yongtang commented on #179
@a6802739 Added a PR #181 for the fix.

[2019-04-12 20:37] #179 closed

[2019-04-12 21:48] yongtang commented on #154
See commit d24d2cb, now tests runs in eager and non-eager mode separately:
[code]

[2019-04-12 21:48] #154 closed

[2019-04-13 04:54] yongtang commented on #178
Released in https://github.com/tensorflow/io/tree/v0.5.0

[2019-04-13 04:54] #178 closed

[2019-04-14 03:49] aayushARM commented on #161
I get this error in spite of the fact that mt tf version is 1.13.1, and I am using the available pip whl. I am using python3.7 though, I changed cp36 in whl name to cp37, can this be the reason?

[2019-04-14 13:37] cclauss opened #185 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-14 20:59] yongtang commented on #185
Thanks! The sudo tag has been removed in PR #187.

[2019-04-14 21:00] #185 closed

[2019-04-14 21:31] BryanCutler commented on #178
Thanks for doing the realease @yongtang !

[2019-04-15 07:26] icyblade opened #188 "Segmentation fault when reading ParquetDataset"
Sample code:
[code]

Sample output:
[code]

My environment is:
 - Intel(R) Xeon(R) W-2123 CPU @ 3.60GHz
 - GeForce RTX 2080 Ti
 - Python 3.6.7 + virtualenv 16.4.3
 -  tensorflow==v1.13.1 (compiled from source, v1.13.1 tag, with `-D_GLIBCXX_USE_CXX11_ABI=0` flag from https://github.com/tensorflow/io/issues/161)
 - tensorflow-io-nightly==0.5.0.dev726 (tried tensorflow-io without any luck)

I can't f

[2019-04-15 09:18] icyblade commented on #161
Same issue occurred for conda python==3.6.8.

[2019-04-15 15:23] aayushARM commented on #161
What kind of data are you trying to read?

[2019-04-15 15:36] yongtang commented on #173
@henrytansetiawan PR #189 is another victim of the ABI compatibility issue.

Also /cc @BryanCutler for the Dockerfile as well.

We should always stick with Ubuntu 14.04. However, there are some underlying obstacles:
- Tensorflow's binary is built with Ubuntu 14.04 for 2.7-3.6, but seems to be Ubuntu 16.04 for 3.7.
- Tensorflow's binary is built with system default python 2.7 and 3.4 for Ubuntu 14.

[2019-04-15 15:39] yongtang commented on #188
@icyblade Wondering if you are using the release version of tensorflow-io with source built tensorflow by yourself? If that is the case then you may need to build tensorflow-io from source as well. The tensorflow-io consists of C++ binaries and the ABI might be an issue in different environment. See issue #173 and https://github.com/tensorflow/io/issues/173#issuecomment-483303410

[2019-04-15 15:41] yongtang commented on #161
@aayushARM Python 3.7 is not supported by tensorflow-io yet. As tensorflow-io use Ubuntu 14.04 for python 2.7, 3.4-3.6 build which is the same as tensorflow. However, tensorflow python 3.7 seems to be built with Ubuntu 16.04 so it may not be binary compatible. See some background information in https://github.com/tensorflow/io/issues/173#issuecomment-483303410

[2019-04-15 15:52] yongtang commented on #173
Another issue is that tf 1.14 will be released in several days (expected), but 1.14 may have changed the `.so` to `.so.1` (See PR #190 which fails with tf-nightly). We will need to see what is the format released by 1.14.

Also /cc @terrytangyuan

[2019-04-15 16:55] yongtang opened #191 "Add batch support for dataset at the creation"
The current workflow for Dataset is to read one record at a time, then use a batch() call to aggregate the result. Since Dataset is processed sequentially, it really makes sense to add batch support when reading records. In other words, data will be copied in large memory chunks (batch) with multiple records at each process. Believe this will help improve the overall performance. The batch paramet

[2019-04-15 23:22] baluyotraf commented on #188
Just to add if you are to rebuild the ```tensorflow-io``` package, it should use the ```tensorflow``` you compiled as well.

[2019-04-16 00:55] BryanCutler commented on #173
Yeah, I agree it would probably be best to use 14.04 for the dev image

[2019-04-16 15:55] yongtang commented on #173
Adding https://github.com/tensorflow/tensorflow/issues/27067 as a reference here as well. Once C API is in place, we may need to rework on some of the ops I guess.

[2019-04-17 06:00] MrShoco opened #196 "Tensorflow 2.0 io pypi doesn't have python 3.4 and 3.5 versions"
Link to pypi list of whl for tensorflow-io-2-0-preview:
https://pypi.org/simple/tensorflow-io-2-0-preview/

The reason I need this is that tensorflow docker container is still Ubuntu16.04 and have python3.5 by default. See tensorflow/tensorflow#22292

[2019-04-17 19:17] zou000 opened #200 "Strange compilation problem in Docker container"
I am trying to build PR https://github.com/tensorflow/io/pull/199, following the instructions in README.md, but met a strange problem. Here is a simplified repro:
[code]

The compilation failed with the following error message:
[code]

However, if I manually run the `gcc` command given by the message, it can find `apu_config.h` and can compile successfully.

I was using `custom-op` image with up-t

[2019-04-17 19:19] zou000 commented on #200
@wangkuiyi @terrytangyuan

[2019-04-17 23:53] yongtang commented on #200
Is `apu_config.h` included in the bazel file? Depending on the bazel version, it may explicitly requires that a header file declared in bazel BUILD file.

[2019-04-18 00:34] zou000 commented on #200
I was using the same bazel version (0.20.0) in both docker images.
Actually, I had to update the one in custom-op image, as the bazel came
with it cannot parse some of the new BUILD files.

On Wed, Apr 17, 2019, 16:53 Yong Tang <notifications@github.com> wrote:

[2019-04-18 22:24] BryanCutler commented on #173
@yongtang what do you think about using `tensorflow/tensorflow:custom-op` as the base for a dev image?  I tried it out and seems to work well so I can submit the change.

[2019-04-19 01:54] yongtang commented on #173
@BryanCutler That would be great! The `tensorflow/tensorflow:custom-op` has the same environment as tensorflow's build env so binary wise it works. Though some packages may have been outdated. For example, `bazel` version in custom-op is still 0.15.0 which will need to be updated to 0.24.1 for tensorflow to build. But otherwise it works ok.

[2019-04-19 17:42] #196 closed

[2019-04-19 17:51] BryanCutler opened #204 "Allow ArrowDataset to use an initializable iterator"
The `ArrowDataset` serializes data in memory and could be made more efficient by creating an initializable iterator and using `feed_dict` to initialize the input.

[2019-04-21 01:54] #173 closed

[2019-04-24 05:54] #204 closed

[2019-04-25 23:11] kkmsft commented on #46
Hi @damienpontifex, Thank you the work to bring it to the tensor flow io project. Please let me know if you need some help with this.

[2019-04-30 19:24] James-Montgomery opened #208 "TF2: Non-Linear Model Output Linear Predictions"
I've been having a lot of trouble using tf2 to make sensible predictions for regression use cases. When I specify a model that should provide non-linear outputs, the model still provides linear outputs.

I've tried a number of different ways of specifying the model such as using the keras sequential model api and specifying my own model using the keras subclassing api. I get consistent  results on

[2019-04-30 19:27] #208 closed

[2019-04-30 19:38] James-Montgomery commented on #208
I believe this is the wrong forum to submit this issue. I've submitted in a different issue tracker.
New Issue: https://github.com/tensorflow/tensorflow/issues/28292

[2019-04-30 21:43] zou000 commented on #200
I found the problem by comparing custom-op's [Dockerfile](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/Dockerfile.custom_op#L19) with ours.

there are some pointers in the [`.bazelrc`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/.bazelrc) file copied to the image.

After PR #203 our docker image is based on custom-op so t

[2019-05-02 11:52] captain-pool commented on #174
Hey @yongtang is this issue still open? Can I work on this?

[2019-05-02 12:29] yongtang commented on #174
@captain-pool Definitely! Let me know if you need any help. 👍

[2019-05-02 12:31] captain-pool commented on #174
I'm pretty new to the C++ API, Can you point me some resources? I've been looking through the codebase and trying to figure out the bits and pieces. However some extra resource will be really helpful.

[2019-05-02 15:20] captain-pool commented on #174
Thanks @yongtang. Can you point me some resources to write bazel BUILD files? I don't have much idea about writing BUILD Files.

[2019-05-02 18:46] zou000 commented on #200
@yongtang suggested another [way](https://github.com/tensorflow/io/pull/199#issuecomment-488730138) to circumvent the bazel-in-docker bug.

To summarize, there are 2 ways to fix this:

* Add following to `.bazelrc` or `/etc/bazelrc`

[code]

* explicitly add the files generated by bazel to build src file list, etc. like [this](https://github.com/tensorflow/io/pull/199#issuecomment-488730138).

[2019-05-02 18:46] #200 closed

[2019-05-02 19:24] yongtang commented on #174
@captain-pool Bazel has a pretty steep learning curve... The Dataset implementation pattern is also not exactly very straightforward. I have been trying to simplify the pattern for adding new ops for tensorflow-io. At the moment I think TextDataset is the easily pattern to follow. The BUILD file is also easier to understand.

In TextDataset, you can take a look at only one function `ReadRecord`:
h

[2019-05-02 19:30] yongtang commented on #191
With PR #202 the batch support has been added for Text, MNIST, and CIFAR. Will update other ops as well.

[2019-05-03 17:26] captain-pool commented on #174
Thanks for your response @yongtang , I've been looking through this.
https://www.tensorflow.org/guide/extend/formats
However, I've been wondering, how to include the HDF5 Library in the BUILD File. For HDF5, we need to download the Library, how can I include this external library in Bazel Build?

I'm downloading the Source code of HDF5 and building it.
https://www.hdfgroup.org/downloads/hdf5/sourc

[2019-05-04 02:45] #41 closed

[2019-05-04 06:59] captain-pool commented on #174
Hey @yongtang , I did some digging, and I found these bazel BUILD files for HDF5 are being used by,

https://github.com/tensorflow/models/blob/58deb0599f10dc5b33570103339fb7fa5bb876c3/research/vid2depth/third_party/hdf5.BUILD#L1

I think reusing codes from these BUILD Files and the WORKSPACE File, would be good enough for this job.

[2019-05-04 14:54] yongtang commented on #174
@captain-pool Yes let's just reuse the one if already exists. I think `cc_library(name = "hdf5",` and its dependency might be all we need to link with hdf5.

[2019-05-04 15:11] yongtang opened #212 "Build shared object library into one"
At the moment, tensorflow-io build shared object libraries for each module. The advantage is that it avoids name collision (if there is) but it also means much of the binary code are shipped multiple times. It would be good to combine shared object libraries into one to reduce the package size.

[2019-05-04 19:09] yongtang opened #215 "Support genome data formats in tensorflow-io"
Come across this:
https://medium.com/tensorflow/the-power-of-building-on-an-accelerating-platform-how-deepvariant-uses-intels-avx-optimizations-c8f0acb62344

Think it makes sense for tensorflow-io to support genome data formats like FASTA, FASTQ, BAM formats.

Note HDF5 seems to be used in biological data frequently as well, which is being covered in #174.

[2019-05-04 21:43] yongtang opened #216 "Support OpenEXR format for tensorflow-io"
OpenEXR is an interesting format that could be very useful in computer vision. This issue is to track the support of OpenEXR for tensorflow-io.

[2019-05-06 20:58] BryanCutler commented on #212
This would make sense for ops that share a lot of the same files/dependencies, but I don't know if it's a good idea to put everything into one shared object. That would end up having the user load a lot of things that might not be used right?

[2019-05-06 22:05] yongtang commented on #212
@BryanCutler It might be eventually an issue for us. At the moment Bigtable and pubsub are the biggest in code size (think they have duplications). Arrow and Parquet also are big as well.

Though compared with TensorFlow's code base itself, the tensorflow-io is still manageable even if we combine everything together (that by itself will reduce the total size).

I think we could try move into one f

[2019-05-07 03:55] yongtang commented on #147
Added non local filename support for ParquetDataset in #222.

[2019-05-07 14:16] terrytangyuan opened #223 "Add compatibility matrix of tensorflow v.s. tensorflow_io versions"
I am often asked this question "what version of TensorFlow works with what version of TensorFlow IO?". We should provide a table in README.md showing the compatibility between different versions of tensorflow and tensorflow_io.

[2019-05-07 15:12] yongtang opened #224 "Update README.md quick start example"
With the recent update, MNISTDataset automatically detect the file format and uncompress gz as needed. So there is no need to pass `compression_type="GZIP"` anymore.

The README.md should be updated to reflect the changes.

As a side note, tensorflow-io should always favor non user input if there is a way. We don't want to minimize unneeded args.

[2019-05-07 15:24] yongtang commented on #212
@BryanCutler Think further I think in the long run, we could distribute tensorflow-io with deb and rpm (in addition to the default whl). For deb and rpms we should build tensorflow-io directly with specific versions of Ubuntu/Debian/RHEL, and link against system installed libraries. This will greatly reduce the package size. (and is the standard way on those Linux distributions).

The deb/rpm may

[2019-05-07 16:00] BryanCutler commented on #223
Yes, I agree this would be very helpful

[2019-05-07 16:56] #147 closed

[2019-05-07 18:31] yongtang commented on #223
| tensorflow-io | Tensorflow |
|---|---|
| v0.1.0 | 1.12 |
| v0.2.0 | 1.12 |
| v0.3.0 | 1.12 |
| v0.4.0 | 1.13 |
| v0.5.0 | 1.13 |

Also, `v0.6.0` will likely be 1.13, given 1.14 has not been released yet and we are likely to release another version soon.

[2019-05-07 18:38] terrytangyuan commented on #223
That sounds good as long as users have something to follow when upgrading/downgrading. Probably need to add `>` and `<` wherever needed in the above table as well.

[2019-05-07 18:41] yongtang commented on #223
@terrytangyuan Yes we have `tensorflow>=1.13.0,<1.14.0` for v0.4.0 and v.0.5.0 now. For v0.3.0 and earlier we used `tensorflow == 1.12.0` which was too restrictive.

[2019-05-07 22:06] BryanCutler commented on #212
Sounds good, I'm fine with trying an all-in-one for now. I like the idea of factoring out dependencies and common code to shared objects, but that would take some effort, so we can explore that another time if it seems necessary.

[2019-05-07 22:10] BryanCutler commented on #223
I can go ahead and update the readme. I think having the release date would be helpful too.

[2019-05-07 22:18] terrytangyuan commented on #223
Sure. Go ahead then.

[2019-05-07 22:36] yongtang commented on #223
For release date, it is available in:
https://github.com/tensorflow/io/tags

| version | Date|
|---|---|
| v0.1.0 | Dec 16, 2018 |
| v0.2.0 | Jan 29 |
| v0.3.0 | Feb 15 |
| v0.4.0 |  Mar 1 |
| v0.5.0 | April 12 |

[2019-05-08 00:43] missaugustina opened #227 "Create docs/tutorial/ consistent with other TF projects"
Per mailing list conversation (https://groups.google.com/a/tensorflow.org/forum/#!topic/io/ctHeERQj5nw) we should create a docs/tutorials directory to house Colab Jupyter notebooks.

Please assign this issue to me, I'm working on a tutorial for the change referenced in the mailing list link above - https://github.com/tensorflow/io/pull/30

[2019-05-08 01:26] yongtang commented on #227
@missaugustina Assigned to you, thanks!

[2019-05-08 03:04] #223 closed

[2019-05-08 05:07] XiongKezhi commented on #224
It seems easy and I'm just trying to make contributions these days, I think this issue can help me familiar with the contribution workflow(https://www.tensorflow.org/community/contribute/code).
Here are the steps I'm trying to follow:
1. Remove arg 'compression_type='GZIP'' in the example code, and run it to see whether I make it right.
2. Adding some note behind to explain this change.

Any probl

[2019-05-08 05:09] yongtang commented on #224
@XiongKezhi That is right, looking forward to your contribution!

[2019-05-08 17:52] BryanCutler commented on #224
Yes, that warning can be ignored

[2019-05-08 17:52] #224 closed

[2019-05-09 15:56] yongtang commented on #131
This issue is closed by PR #225.

[2019-05-09 15:56] #131 closed

[2019-05-09 16:09] yongtang opened #232 "Add draw_text support for tensorflow-io"
We have plans to support both input and output of the images (and videos). Two really useful operations that will greatly help the usage of tensorflow-io, are draw_bbox(bounding box) and draw_text. The bounding box op is available, though text op is not available yet. It makes sense to add text support for images.

[2019-05-09 16:18] yongtang commented on #97
Python 3.7 has been added in PR #193 and tensorflow-io-nightly. it will show up in the next version of release (v0.6.0).

[2019-05-09 16:18] #97 closed

[2019-05-09 16:51] yongtang commented on #91
Our compression and archive support has been baked in. Now any format could add compression and archive support by specify a filter.

[2019-05-09 16:51] #91 closed

[2019-05-09 18:27] missaugustina commented on #216
Notes from SIG IO meeting - this is the open source format of one used by the Movie industry.

[2019-05-09 18:31] ivelin commented on #50
I am looking at wiring tensorflow models into live SIP/RTP streams for VoIP and WebRTC call scenarios such as live virtual agents. Still researching design and implementation options. Please let me know if  anyone is working on this and interested to coordinate effort.

@Alireza89 thank you for sharing your work. I think its relevant to my subject and will study it.

[2019-05-09 19:13] yongtang commented on #50
@ivelin As far as I know no one is actively working on this issue at the moment. The support for live audio may not be very difficult, if there is a reliable and actively maintained C/C++ audio library available (not realistic for tensorflow-io to start from scratch). I could help the implementation if a C/C++ audio library available.

The requirement is that:
- Library is in C/C++
- Actively main

[2019-05-10 03:00] ivelin commented on #50
@yongtang Thank you for the guidance.

There is a plethora of open source SIP and RTP libraries out there in C, Java and other languages. My team leads one of the more popular open source Java telephony middleware stacks - [Restcomm](https://github.com/restComm).

The search criteria here is a library that satisfies your guidelines as well as:

- Allows convenient attachment to VoIP calls for bi-d

[2019-05-10 20:29] yongtang commented on #146
We have the Keras callback support for predict now already. Think this issue could be closed. We will roll out additional support for other ops as needed.

[2019-05-10 20:29] #146 closed

[2019-05-10 20:38] yongtang commented on #50
@ivelin Thanks for the details. Thinking again I realized even C/C++ is not necessarily needed. We actually could use libraries written in other languages with various ways:
1) For RTP/SIP written in golang (or even maybe swift), we could build golang and expose `cdecl` api so that tensorflow-io could call `cdecl` API directly. This should be fairly straightforward.
2) For RTP/SIP written in Java,

[2019-05-11 02:33] yongtang commented on #188
@icyblade I will close this issue for now, as I think compiling tensorflow-io and TensorFlow will resolved your issue. Feel free to re-open if the issue stays.

[2019-05-11 02:33] #188 closed

[2019-05-12 01:10] ivelin commented on #50
@yongtang noted. Allow me a few days to dig deeper in the options and get back to you.

[2019-05-13 00:39] terrytangyuan commented on #26
FYI I'll be working on this soon. Also cc @missaugustina since you are working on docs in https://github.com/tensorflow/io/issues/227 and just realized that you are involved in the R world as well. I don't think there will be conflict with Python docs though since it's totally independent.

[2019-05-13 08:59] poryfly opened #234 "How does kafka dataset batchsize means?"
Is training data used for trained one by one like streamings? Why do we need batch_size? Does it means must wait for batch_size samples for training，if it does not have batch_size samples，the progress is hanged？

[2019-05-13 12:15] yongtang commented on #234
@poryfly Not sure which batch_size you are referring to. Can you provide you code snippet that reproduce the issue?

[2019-05-13 22:02] yongtang opened #235 "tensorflow-io 0.6.0 release"
As we discussed in the meeting, given we already have quite a few new ops/features in the past months or so, it makes sense to have a release of 0.6.0 for tensorflow-io (still support 1.13.1). We could have another release of 0.7.0 for tensorflow-io once 1.14.0 is out.

Here is the list of items for 0.6.0:

- [x] Update README.md to add additional supported ops since 0.5.0
- [x] Update RELEASE.md

[2019-05-13 23:59] BryanCutler commented on #191
I'm working on this for the Arrow Dataset ops, should have a PR ready soon.

[2019-05-14 00:03] BryanCutler commented on #235
@yongtang I'm currently working on #191 for batching Arrow Dataset at creation and should have a PR ready for review tomorrow. I think it will be a good improvement, do you think we can include it in this release since it is likely the last one for 1.13?

[2019-05-14 00:04] BryanCutler commented on #235
I can update the README/RELASE and build the wheels this time too.

[2019-05-14 04:29] yongtang commented on #235
@BryanCutler sure let’s try to include #191 for arrow as well 👍

[2019-05-14 06:33] poryfly commented on #234
@yongtang in the io/tests/test_kafka.py，`repeat_dataset = kafka_io.KafkaDataset(
        topics, group="test", eof=True).repeat(num_epochs)
    batch_dataset = repeat_dataset.batch(batch_size)`
you read data from kafka,then you set batch_size for this dataset.when the graph is runing,how does the data flow

[2019-05-14 07:35] yongtang commented on #234
@poryfly The batch_size is part of tf.data.Dataset.batch. I believe it will wait unless EOF is encountered.

[2019-05-14 14:18] terrytangyuan commented on #235
Release for R package will need to be postponed. A lot of the new ops are not exposed there yet. We could probably just release 0.7.0 R package later and it will work with both TF 1.14.0 and 1.13.1.

[2019-05-15 08:14] caszkgui opened #238 "rename function timeout in oss"
oss has no rename interface implements, then, we have to use copy & delete to simulate rename interface.
oss has several realization of copy, depends on file | dir size to be copied. In tensorflow/io we used  default realization of copy,  in which situation, rename operation could throw timeout error if directory to be renamed is very large.
As mentioned above, we could solve this problem by choos

[2019-05-15 08:23] caszkgui opened #239 "support multi oss cluster in one training job"
in one single tensorflow training job, training data, checkpoint file, exported model file could be placed on different oss cluster.
This issue is to track the support for multi oss cluster in one training job.

[2019-05-15 16:45] missaugustina commented on #26
I actually use Rstudio's Tensorflow/Keras libs so yeah I can definitely help here. What's the story behind this Issue? Is the Tensorflow IO repo going to have an R package as an output?

[2019-05-15 16:54] missaugustina commented on #235
I can help with the R package stuff if need be

[2019-05-15 17:17] missaugustina commented on #227
- [ ] look at other projects for examples of this directory structure

Other projects store these in docs starting from the parent level directory of the repository. The use of the "tutorials" directory is less consistent for projects following this structure.

tensorflow/tensorboard - https://github.com/tensorflow/tensorboard/tree/master/docs

* .yamllint
* _book.yaml
* _index.yaml
* _project.yam

[2019-05-15 17:19] missaugustina commented on #227
- [ ] determine best initial stub document

Because other projects consistently use markdown, I'm going to initialize this new directory structure with a README.md file with instructions for creating & submitting a tutorial.

[2019-05-16 00:58] ivelin commented on #50
@yongtang I've made a bit of progress educating myself on this topic. I see potential to split Issue #50 in two related but separate issues:

1. Capturing audio stream on a local operating system port (hardware or TCP/IP) and feeding it to TF for training and predictions. The code provided by @Alireza89 is a great start. He's already written a TF class that can continuously read audio input from a

[2019-05-16 16:51] yongtang opened #240 "Add Parquet ExampleGen support"
This issue is to track the progress of adding Parquet ExampleGen support, so that it could be integrated into TFX OSS.

Related issues: https://github.com/tensorflow/tfx/issues/74

Related discussion:

[2019-05-16 16:52] yongtang commented on #240
Assigned to myself.

[2019-05-16 17:22] yongtang opened #241 "Support live audio on local os for tensorflow-io"
This issue is a spin-off from https://github.com/tensorflow/io/issues/50#issuecomment-492876299 :

Capturing audio stream on a local operating system port (hardware or TCP/IP) and feeding it to TF for training and predictions. The code provided by @Alireza89 is a great start. He's already written a TF class that can continuously read audio input from a local memory file into a TF session. It would

[2019-05-16 17:39] yongtang commented on #50
Thanks @ivelin, I created a new issue #241 to cover the local os live audio capture part.

For cloud scale processing of many thousands simultaneous SIP/RTP calls, there are several potential issues though I think it is still might be feasible.
1. For grpc serialization cost, I haven't done performance for quite some time, but 30ms seems to be within the range.
2. For model processing, one thing t

[2019-05-16 21:57] terrytangyuan commented on #26
@missaugustina The R package we took for tfio is actually the same as what we did for the other TensorFlow R packages, through [reticulate package](https://github.com/rstudio/reticulate). I believe the code structure would be easier to understand once you get familiar with reticulate. The R package consists of thin wrappers of the Python API. We are definitely lack of documentations and examples t

[2019-05-17 00:22] missaugustina commented on #26
I'm familiar with using reticulate but haven't poked under the hood except when debugging. Do you have an idea of what examples you would want or would figuring that out also be part of the example documentation task?

[2019-05-17 00:38] terrytangyuan commented on #26
@missaugustina An example to start with would be using it together with keras R package and tfdatasets package. Examples for different types of datasets would be useful too.

[2019-05-17 17:44] ewilderj commented on #240
the TFX team has decided to merge the Parquet PR rather than having it maintained externally. So this particular issue isn't as urgent as it was before, it might come up again in future.

[2019-05-17 21:45] ivelin commented on #50
Thanks @yongtang for splitting the issue. To your points:

1. I will do some benchmarking to see what are the boundaries of grpc related transformation costs. As I'm still researching, I came across the 2019 Google I/O keynote announcing that the 100GB voice model was crunched to 500MB to fit on a phone. The primary reason cited was reduction in latency. This is good news for folks that can solve

[2019-05-19 16:06] ivelin commented on #50
@yongtang it seems that [bi-directional gRPC streaming](https://www.grpc.io/docs/guides/concepts/#bidirectional-streaming-rpc) could be a way forward. Here is an example:
https://grpc.io/docs/tutorials/basic/java/#bidirectional-streaming-rpc

I found a related thread under TF Serving, where the notion of bi-directional gRPC streaming was acknowledged over a year ago but declared out of scope. Do y

[2019-05-20 16:08] missaugustina opened #245 "R package documentation: add a keras + tfio example"
This stems off issue #26

[2019-05-20 16:10] missaugustina commented on #245
Please assign to me

[2019-05-20 16:13] missaugustina commented on #227
Create Readme document with the following sections:

- [ ] What content makes sense
- [ ] How to submit
- [ ] Formats (maybe just cover Jupyter to start)

[2019-05-21 04:50] #239 closed

[2019-05-21 04:50] #238 closed

[2019-05-26 14:41] #26 closed

[2019-05-26 18:36] yongtang commented on #235
Sorry for the late update as I was out of office last week. I think we are mostly there to release 0.6.0 with PR #237 merged.

On a side note, [TensorFlow 1.14.0-rc0](https://github.com/tensorflow/tensorflow/releases/tag/v1.14.0-rc0) has been released. Normally it takes around a month between rc0 and the formal release. I think we should have enough time to release 0.6.0 (matching TensorFlow 1.13)

[2019-05-26 19:00] yongtang opened #246 "Add prometheus support for tensorflow-io?"
While in kubecon was thinking about apply machine learning (tensorflow/keras) to the field of devops. One potential area of interest is the model training/inference based on metrics data collected from prometheus which is widely used for monitoring in container ecosystem.

One challenge is that prometheus does not have a official cpp client library yet. Though it might be possible to build a share

[2019-05-26 19:28] yongtang commented on #246
Build a simple .so file with:
[code]
and source code:
[code]

[2019-05-26 19:30] yongtang commented on #151
Note #246 could be related.

[2019-05-27 12:05] jiachengxu commented on #150
Hi @yongtang, can you please assign this issue to me :)

[2019-05-27 13:34] yongtang commented on #150
@jiachengxu I think assign the issue need explicit member access from you. I think I don't have the access to add you as the member. Nevertheless I created an label `assigned` to signify.

[2019-05-27 13:35] yongtang commented on #150
/assign @jiachengxu

[2019-05-27 13:48] yongtang commented on #50
@ivelin Sorry for the late reply as I was out of office last week. For bi-directional gRPC streaming, the protocol itself is straightforward and easy to implement at the first place. Since TensorFlow is protobuf based, write a gRPC server is really trivial. A `starter` server could normally done in < 100 lines of implementation, as most of the code are machine-generated automatically. Go with TF s

[2019-05-27 15:39] yongtang opened #248 "Build with bazel 0.25.3 fails"
While trying to build with bazel 0.25.3, the following error encountered:
[code]

Believe this issue is related to https://github.com/bazelbuild/bazel/issues/6867

Might need to update github.com/googleapis/google-cloud-cpp to v0.9.0, and some other fixes.

[2019-05-27 18:54] yongtang commented on #50
To rephrase the problem, I think the goal is to have a TF implementation with gRPC bi-directional streaming. Both input and output share the same resource (e.g., gRPC endpoint). The input is received from client and, after inference, returns back client the output.

[2019-05-27 21:44] ivelin commented on #50
@yongtang Hope you enjoyed time off.

Thank you for the thoughtful response.

It lead me to realize that we may want to split the problem again into two separate ones. While live RTP audio stream remains an important topic, I also see scenarios where NNs can be trained on live network audio data captured in [pcap format](https://wiki.wireshark.org/Development/LibpcapFileFormat).

One important adv

[2019-05-28 00:04] yongtang commented on #50
@ivelin There are some concepts here. The tensorflow essentially is a graph with nodes as ops. There is not a lot of limitations for the graph but you also have to build lots of parts yourself if too low-level. The Dataset (e.g., `TFRecordDataset` and others) op is a subgraph that has been abstracted and specialized for processing data pipeline inputs. Dataset ops are not capable of handling both

[2019-05-28 18:04] pjm4github opened #251 "Support for streaming data into a running process."
I would like to use tensorflow-io to listen (subscribe) to a Kakfa data feed of weather inputs in order to predict solar panel outputs.

I have created and tested a set tensorflow keras forecast models, that predict output based on this weather feed.

I get about 500 weather data sets per hour. Each data set include a current weather condition and forecasts for the next week in 1 hour steps, so I

[2019-05-28 23:41] ivelin commented on #50
@yongtang Thanks for the helpful breakdown of TF data types and flow.

I still believe there is value in separating the issue in two:

1. offline processing of pcap data sets
2. real time bi-directional streaming.

For offline processing of network packets, I would still suggest opening a separate TF IO issue. There are  several python pcap parsers that can read and write files in pcap format. [dp

[2019-05-29 18:03] yongtang commented on #235
@BryanCutler With PR #252 merged, we could build the whl with the following command and push to PyPI.org:
[code]

Note files are in `wheelhouse` directory, not `dist` directory.

Would you like to build the binary and push to PyPI.org?

[2019-05-29 18:18] BryanCutler commented on #235
Sure @yongtang I can do that. I'd like include #255 as well, then I can build the wheels right after this passes tests and merged.

Do you usually make the git tag for the release?

[2019-05-29 19:56] yongtang commented on #251
@pjm4github Here is a code snippet I shared in Gitter for Kafka and Keras training with KafkaDataset in tensorflow-io:
[code]

[2019-05-29 19:59] yongtang commented on #251
For your `model.predict` case it should be easier than training I think.

In tensorflow-io, the KafkaDataset is served as consumer/subscriber. It needs to know the format of the message you send to Kafka (on producer side).

Since Kafka is message based,

I am wondering if you have the format of the weather data that is serialized into the string and sent to kafka?

[2019-05-29 20:59] BryanCutler commented on #235
Building the wheels now

[2019-05-29 21:41] BryanCutler commented on #235
Wheels have been uploaded and I made the release tag on github

[2019-05-29 22:01] yongtang commented on #235
@BryanCutler Thanks!

[2019-05-29 22:02] yongtang commented on #235
@BryanCutler Can you also run the following to push 3.7 whl as well?
[code]

[2019-05-29 22:09] terrytangyuan commented on #235
What about wheels for MacOS? Is there a script we can leverage? Unfortunately I don't have much bandwidth to help with that this release (still catching up after the conference trip).

[2019-05-29 22:27] BryanCutler commented on #235
Sorry, I started testing out the 3.6 wheel and forgot to run this one, doing it now.

[2019-05-29 22:30] BryanCutler commented on #235
I don't have a Mac, but if it's possible to build it from Linux I can give it a try

[2019-05-29 23:18] SSaishruthi opened #257 "Support for DICOM images"
DICOM is one of the most common formats generated by vendors of imaging modalities (CT/MRI Scan images). `dicom` python package can be used to read the DICOM images. 

- If there is a need it can be converted to other image formats.
- Convert to tensor

Providing support for DICOM can be a benefit to medical researchers.

Sample dataset:
https://wiki.cancerimagingarchive.net/display/NLST/National+

[2019-05-30 00:52] yongtang commented on #235
@terrytangyuan I think the following command will work on macOS:
[code]

Let me know if you run into issues.

[2019-05-30 02:36] yongtang commented on #257
@SSaishruthi This could be a useful addition I think. Though in order to import dicom into the graph of TF I think it may need C++, or a library that could be built as part of the .so/.dll (unless we go with from_tensor_slices which could be a huge cost.). Can take a look first.

[2019-05-30 20:20] missaugustina opened #259 "Where to host generated html R package documentation?"
From comments in issue #242 where we've added pkgdown generated R documentation, but had a question about where we should host the generated html - Github pages or the Tensorflow website.

Where would the pkgdown html be hosted?

I am posting to the mailing list for further discussion as well.

[2019-05-30 20:21] missaugustina opened #260 "Improve R package documentation"
We've added generated pkgdown R docs but the content could be improved. The outcome of this issue is to evaluate what documentation improvements could be made & create subsequent issues to address them.

via Issue #242

[2019-05-30 21:48] SSaishruthi commented on #257
Thanks @yongtang
I will work on this and update soon

[2019-05-30 21:54] terrytangyuan opened #261 "Automatic publishing releases to PyPI using Travis"
Publishing new releases to PyPI for different versions of Python and different operating systems often require a relatively clean environment.

Instead of doing this manually, we could setup automatic releases on Travis whenever there are new Github tags/releases created. See [here](https://docs-staging.travis-ci.com/user/deployment/releases/#running-commands-before-or-after-release) for some inst

[2019-05-30 21:55] terrytangyuan commented on #235
@yongtang There are dependency conflicts with my local setup for my current projects so I don't think I could reuse the script and help with MacOS release this time.

One thing I am thinking is that we could setup automatic releases on Travis whenever there are new tags created. See [here](https://docs-staging.travis-ci.com/user/deployment/releases/#running-commands-before-or-after-release) for so

[2019-05-30 23:01] yongtang commented on #150
@jiachengxu It looks like if you create a new issue, I might be able to assign it to you. Can you try create a new issue?

[2019-05-31 04:33] yongtang commented on #257
GDCM seems to be a decent choice:
http://gdcm.sourceforge.net/wiki/index.php/Main_Page

[2019-05-31 05:38] SSaishruthi commented on #257
Thanks, @yongtang for the suggestion.
What do you think about using `pydicom` for reading dicom files?

[2019-05-31 06:05] veritas9872 commented on #174
@captain-pool @yongtang I found some [documentation](https://www.pytables.org/usersguide/optimization.html) from PyTables, which also uses the HDF5 library and has its own set of optimizations.
I hope that this might help.

[2019-05-31 14:44] jiachengxu opened #262 "[GSoC] JSON Reader for tensorflow-io"
Hi folks,
I am Jiacheng Xu, and I am working on this feature during this summer as my Google Summer of Code project, here is a description from my mentor @yongtang:

With tensorflow and tensorflow-io, a lot of file formats have been well covered. One format which is used everywhere but has not been supported yet, is the json format file. In tensorflow, it is certainly possible to read json files w

[2019-05-31 14:44] jiachengxu commented on #262
Hi @yongtang, can you try to assign this issue to me?

[2019-05-31 14:47] jiachengxu commented on #150
I have created #262

[2019-05-31 15:01] yongtang commented on #150
Closed through #262.

[2019-05-31 15:01] #150 closed

[2019-05-31 16:16] yongtang commented on #235
@terrytangyuan we could not build 0.6.0 on Travis without modifying the commit. Though we have nightly release which already have the binary .so available. I repackaged the binary to have 0.6.0 with Mac:
https://test.pypi.org/project/tensorflow-io/0.6.0/#files

Can you give it a try? If everything is good then I can push it to pypi.org.

[2019-05-31 16:17] yongtang commented on #235
In the long run, I think we want to have a storage somewhere (e.g., gcs, or free storage) to push the wheel file first. And after some test we push to pypi.org. I am a little concerned with tie Travis CI with the release as I could see Travis is not very reliable and encounters issues from time to time.

[2019-05-31 16:22] yongtang commented on #257
@SSaishruthi pydicom has some limitations but it could be good to start with.

Basically you can read dicom files through pydicom and then pass it to `tf.data.Dataset.from_tensor_slices`. You can create a PR and let me know if you encounter any issues.

[2019-05-31 16:30] terrytangyuan commented on #235
@yongtang Thanks. I got the following error:
[code]

[2019-05-31 17:05] yongtang commented on #235
@terrytangyuan Can you try with
[code]

and install again?

[2019-05-31 17:11] SSaishruthi commented on #257
Perfect. I will keep you updated.
Thanks @yongtang

[2019-05-31 18:16] BryanCutler commented on #262
Hi @jiachengxu , welcome!  This will be a nice addition, I'm looking forward to the PR. Thanks!

[2019-05-31 21:51] yongtang commented on #174
@veritas9872 With PR #236 merged in, the HDF5 support is almost done (partially supported with a couple of data types). I will take a look and see if #217 or a new PR could get the HDF5 support done.

[2019-05-31 22:11] jiachengxu commented on #262
Hi @BryanCutler, thanks for your warm welcome, I am also looking forward to contributing to the project!

[2019-06-01 08:11] veritas9872 commented on #174
@yongtang  Hello. I was curious to know whether the current implementation of HDF5 for TF is compatible with common features of HDF5, such as compression filters, checksums, and chunking.

I am also curious about whether multi-processing or multi-threading would be implemented.

For example, I have found that chunking data for each slice makes reading data x5 faster as unnecessary data is not bein

[2019-06-01 11:25] faroit commented on #49
@yongtang @terrytangyuan great to see that audio is getting some focus here in tf/io with the recent additions in 0.6.0. Regarding the `WAVDataset` could you please comment on this from the user perspective?

* comparing `WAVInput` and tf2.0 `decode_wav`, which one should one use to read wavs?
* for a wav reading pipeline, is `WAVDataset` faster than manually mapping `tf.audio.decode_wav`?
* do yo

[2019-06-02 03:47] yongtang opened #264 "Support for pcap offline network packet format for tensorflow-io"
This issue is to track the effort to add offline network packet format (pcap) data for tensorflow-io.

Due to the lack of pcap format support, there are many cases where users are forced to converts pcap files to CSV, XML or JSON format back and force:
- [analyze anomaly in pcap file](https://www.h21lab.com/tools/anomaly-detection),
- [deep learning for network packet forensics using TensorFlow](h

[2019-06-02 03:48] yongtang commented on #50
@ivelin Created a separate issue #264 to track offline pcap file format support. Will look into the implementation of gRPC bi-directional streaming server soon.

[2019-06-02 03:54] yongtang commented on #262
@jiachengxu The C++ code base in tensorflow-io has a pretty deep learning curve.

To get started quickly, I would suggest you to:
1. Start with a test for JSON format in python. You can look into tests/test_text.py (or other test for examples).
   In tensorflow-io we typically have two types of tests. The first is the integration with tf.keras so that dataset could be passed for training and infer

[2019-06-02 16:10] ivelin commented on #264
Thank you, @yongtang . I will keep an eye on this and try to help as I build my confidence with the code base.

[2019-06-02 17:37] yongtang opened #267 "Support for libsvm format with tf.keras"
In tensorflow-io we already have libsvm format support. However, this format is little used, mostly as libsvm outputs sparse tensor as sparse tensor is not fully supported with tf.keras yet. With recent improvement of tf.keras the sparse tensor might have been fully supported. We should revisit libsvm to make sure it works with tf.keras, and add relevant test cases to cover this scenario.

[2019-06-02 20:43] yongtang commented on #174
@veritas9872 I added another PR #266 which fixes a few issues.

The HDF5 in TF-IO is implemented through tf.data pipeline, so the biggest advantage is that you could really provide data to tf.keras for training and inference purposes easily (with a few `map` operations). The tf.data itself also support distribution strategy so many features are available already.

The HDF5 implementation is based

[2019-06-02 21:05] yongtang commented on #49
@faroit `WAVDataset` and `decode_wav` have different use cases but the biggest difference is that, `WAVDataset` is a data pipeline that directly support tf.keras for training and inference. `WAVDataset` will be similar in performance, except `WAVDataset` will performs better with really huge WAV files (e.g., GBs) as `decode_wav` requires disk IO to read the entire file into memory before doing any

[2019-06-02 22:25] alexwal commented on #174
Here's an h5 file (90 MB) containing a sequence of MRI images (spatial and frequency domain) with a couple different data types:

https://drive.google.com/file/d/1OBsTnmS2KX3GcJumRD3w0Yj_DHh_CbnG/view?usp=sharing

[2019-06-03 08:58] p1-martin commented on #264
Hi @ivelin, @yongtang

I would suggest to clarify, if you would like:

- only to decode pcap and to be able to get the raw bytes from the packets
- or the decoding of different protocol layers is requested here

As seen in the first [example](https://www.h21lab.com/tools/anomaly-detection), the wireshark/tshark is dissecting different protocol layers and only some decoded protocol fields are used

[2019-06-03 08:59] p1-martin commented on #264
Hi @ivelin, @yongtang

I would suggest to clarify, if you would like:

only to decode pcap and to be able to get the raw bytes from the packets
or the decoding of different protocol layers is requested here
As seen in the first example, the wireshark/tshark is dissecting different protocol layers and only some decoded protocol fields are used to train neural network. This is useful to train the ne

[2019-06-03 08:59] H21lab commented on #264
Hi @ivelin, @yongtang

I would suggest to clarify, if you would like:

only to decode pcap and to be able to get the raw bytes from the packets
or the decoding of different protocol layers is requested here
As seen in the first example, the wireshark/tshark is dissecting different protocol layers and only some decoded protocol fields are used to train neural network. This is useful to train the ne

[2019-06-03 16:19] jiachengxu commented on #262
Hi @yongtang, thanks for your information, and I will take a look at the `test` part and try to add some tests first.
I have started to play with [rapidjson](https://github.com/Tencent/rapidjson), and it seems this one is better than jsoncpp in terms of the performance([experiments](https://blog.thousandeyes.com/efficiency-comparison-c-json-libraries/)). Maybe we could use rapidjson.

[2019-06-03 18:01] yongtang commented on #262
@jiachengxu The issue is tensorflow already linked with jsoncpp which means we might have two libraries if rapidjson is used. I think we could start with jsoncpp.

Also, I would strongly suggest to go with python and test first to make progress. We can always worry about JSON C++ later.

[2019-06-03 18:53] missaugustina commented on #259
Sent email to list - https://groups.google.com/a/tensorflow.org/forum/#!topic/io/66MhmRimwRc

[2019-06-03 21:57] #232 closed

[2019-06-03 22:13] kmh4321 opened #270 "Support for .MAT files"
Hello,

This is a feature request which I feel will be useful to the community. .MAT Files are the default file formats used by MATLAB and would help researchers move around MATLAB and TensorFlow more freely.
I would be glad to contribute in adding it but before raising a PR/working on it, I wanted to create this placeholder issue to discuss it first! I am also not sure about any legal issues or a

[2019-06-03 23:47] yongtang commented on #264
@H21lab I think the original issue raised by @ivelin is more about specific cases for UDP where the timestamp information (which could be important for ML models) can only be extracted from UDP packet itself. The initial goal of pcap dataset is to extract and provide timestamp information together with the content itself.

With respect to the issue you raised about Wireshark/protocol decoding, I t

[2019-06-03 23:53] yongtang commented on #270
@kmh4321 I think this is definitely an area of interests for many community members. For tensorflow-io, it is licensed as Apache License 2.0 (same as TensorFlow). We could take any dependency as long as it does not conflict. So while MATLAB itself may be proprietary, as long as the code part that is build against (linked) from tensorflow-io is compatible with Apache then it should be fine.

Lookin

[2019-06-04 14:45] faroit commented on #49
@yongtang thanks for the clarification.

does this mean that WAVDataset supports seeking/memory mapping?
Maybe I can elaborate the use case: Imagine you have few but rather long audio recordings (like in [dcase](http://dcase.community/) or music datasets, a `WAVDataset` could give you access to the full decoded file. However, in practice, you would only train with chunked data of a few seconds per

[2019-06-04 15:05] yongtang commented on #49
@faroit

Definitely! please open an issue.

Yes. You can use WAVDataset in a similar way as the beginner tutorial with tf.keras (model.fit).

[2019-06-05 03:16] ntenenz commented on #257
@yongtang @SSaishruthi, I'd caution that you proceed with caution before diving head-first into a DICOM implementation as there's quite a bit of nuance to the format. Happy to discuss further and/or assist as this is something that's been top of mind for quite a while.

[2019-06-05 05:18] kmh4321 commented on #270
@yongtang Okay, thank you. I'll have a look at the current additions and start on the PR. I'll keep this issue open till I raise the PR and will reach out if I need any help/pointers.

[2019-06-05 10:08] yongtang opened #271 "Support for dynamic dataset input pipeline for batch mining for e.g. triplet training"
This issue was raised in developers mailing list. I think this is an interesting scope we should explore from tensorflow-io.

The original paper referred is:

[FaceNet: A Unified Embedding for Face Recognition and Clustering](https://arxiv.org/abs/1503.03832)

See below from the email:

I am investigating best practices in Tensorflow 2.0 for creating dynamic dataset pipelines for batch mining, but

[2019-06-05 10:22] yongtang commented on #235
@terrytangyuan Any update on macOS's package? I am thinking we could skip macOS package for this release if it is too much of an issue.

I am trying to setup the Travis so that we could save each build (non-nightly) to (maybe) bintray.com for temporarily storage. In this way, we should have a "release candidate" binary every time master is committed. And we could just pull the binary from bintray.

[2019-06-05 10:29] yongtang commented on #235
Also, I think we may want to send email to SIG-IO mailing list about this release (also cc Developers mailing list). @BryanCutler Would you or @terrytangyuan willing to send an email for this release?

[2019-06-05 13:21] terrytangyuan commented on #235
I haven't got a chance to try it yet. Please go ahead and skip mac support for this release. Since @BryanCutler helped out with publishing the release, I think it makes more sense for @BryanCutler to send the email if he's available.

[2019-06-05 16:08] yongtang opened #272 "Optimization with TensorCord Variant object?"
TensorCord Variant Object is in RFC:
https://github.com/tensorflow/community/pull/100

Once it is in TensorFlow repo I think we could look into it and see if it helps tensorflow-io as we parse strings heavily as well.

[2019-06-05 16:25] BryanCutler commented on #235
Sure, I will send the release announcment

On Wed, Jun 5, 2019 at 6:21 AM Yuan Tang <notifications@github.com> wrote:

[2019-06-05 17:40] ivelin commented on #264
@H21lab good point. As @yongtang mentioned, the main goal here is to avoid conversion from a compact binary format to a 10x bigger text format before TF can ingest the data.

My suggestion is that with a library like [dpkt](https://dpkt.readthedocs.io/en/latest/api/index.html) that can peek into pcap files layer by layer on the fly people can pick and choose programmatically which attributes to fe

[2019-06-05 21:15] SSaishruthi commented on #257
Hi @ntenenz

Thanks a lot for the response. I just collected some sample images to get started with the code.
Would definitely like to discuss pointers/plans that you have in mind. This way I can streamline my plans and avoid future conflicts.

[2019-06-05 22:31] ntenenz commented on #257
Happy to discuss further (perhaps on gitter?) and/or collaborate.

Given the complexity of the task, it may be prudent to only support a subset of the DICOM standard initially but design the API such that it supports a greater subset. I'd argue this should probably be the first step. Much of the aforementioned difficulties stem from the fact that a single DICOM file can represent:
- a single, plan

[2019-06-05 22:44] BryanCutler opened #273 "Upgrade Apache Arrow to version 0.14.1"
TensorFlow I/O is currently using Apache Arrow 0.11.1 and we should plan on upgrading soon. Arrow 0.14.0 will be released soon and it would be a good idea to update to get bug fixes / improvements.

[2019-06-05 22:46] BryanCutler commented on #273
I am thinking a good time to do this will be for tf-io v0.8.0, so after TensorFlow 1.14.0 and tf-io makes a release 0.7.0 against it.

[2019-06-05 23:04] SSaishruthi commented on #257
Can you please provide me either your id or email so that I can create a channel for discussion?

[2019-06-05 23:33] yongtang commented on #257
We have a Gitter channel [tensorflow/sig-io](https://gitter.im/tensorflow/sig-io) as well.

[2019-06-06 00:15] ntenenz commented on #257
@SSaishruthi, the gitter channel that @yongtang posted was the one I was referencing. I use my github handle there.

[2019-06-06 00:59] veritas9872 commented on #174
@yongtang By coincidence, It happens to be the case that I was working on the same dataset (the fastMRI dataset) when I requested this feature.

That is also why I asked about compression filters and chunking (this accelerates data reading a lot).

I think that [h5py ](https://github.com/h5py/h5py) is a good reference for python APIs since it is the go-to library for HDF5 files. It supports the co

[2019-06-06 05:19] H21lab commented on #264
@ivelin @yongtang This makes sense. Maybe consider also other python libraries as scapy or pyshark (pyshark maybe with param use_json for better performance). The dpkt could be the fastest, however it would be not able to decode as much. But for this use case it can be a good choice.

[2019-06-06 11:48] yongtang opened #274 "Use `import tensorflow as tf` in tensorflow-io"
In tensorflow-io for legacy reasons we used different ways of importing tensorflow. Some are through non-public api (to make TF 2.0 and 1.x work at the same time). Some used `import tensorflow`, some uses `import tensorflow as tf`.

It is desirable to use `import tensorflow as tf` if application. The reason is that this is the supported tf2_upgrade format. See https://github.com/tensorflow/tensorf

[2019-06-06 11:55] jiachengxu commented on #274
Hi @yongtang, can I work on this?

[2019-06-06 12:32] yongtang commented on #274
@jiachengxu Sure, go ahead 👍

[2019-06-06 16:39] vlasenkoalexey commented on #29
I've recently joined Google CloudAI team and going to work on this.
Btw, BigQuery has recently released https://cloud.google.com/bigquery/docs/reference/storage/rpc/google.cloud.bigquery.storage.v1beta1#google.cloud.bigquery.storage.v1beta1.ReadRowsRequest API that is using gRPC and specifically designed for high performance scenarios like this one.

[2019-06-06 22:21] yongtang commented on #29
Thanks @vlasenkoalexey 👍 ! Let me know if you have any questions or anything I could be of help.

[2019-06-06 22:22] ivelin commented on #264
@H21lab thanks for the references. I'll take a look at these alternative python pcap libs.

[2019-06-07 15:14] #274 closed

[2019-06-07 18:12] yongtang commented on #235
With #277 merged, now every commit will push a "release" to Bintray:
https://dl.bintray.com/tensorflow-io-nightly/tensorflow-io-nightly/wheelhouse/

It will override so we will not get for every version (only last version), rather Bintray is served as a temporary storage.

In the next release, we should be able to pull the "release" version for linux and Mac (python 2.7, 3.4-3.7) from Bintray and

[2019-06-07 18:12] #235 closed

[2019-06-07 20:12] yongtang commented on #235
@BryanCutler @terrytangyuan @dmitrievanthony Forget to mention if you have Bintray account I could add write access to the build we pushed. Just ping me the account id of your Bintray.

[2019-06-07 20:16] terrytangyuan commented on #235
Just registered.  It's terrytangyuan. @yongtang Thanks!

[2019-06-07 21:36] yongtang commented on #235
@terrytangyuan Invite out. You can check the message box when logged in Bintray.

[2019-06-08 21:19] yongtang commented on #50
@ivelin With grpc bi-directional streaming, it is possible to have both input and output at the same channel. However, one potential issue is that write to a channel will be block and could not truly set a time limit other than cancel the operation.

So, true bi-directional communication through grpc with one channel, could only be done through a ping-pong style (one request, one reply), or a pred

[2019-06-09 01:10] yongtang commented on #235
Looks like there are still some issues with Bintray. Will try to fix it soon.

[2019-06-09 02:45] Anton-Velikodnyy opened #282 "'DatasetV1Adapter' object has no attribute 'prefech'"
I am using tensorflow 1.13
here is the code. (was using jupyterlab, so don't pay attention to the line numbers in error)
[code]
Error
[code]

If this is because prefetch is not supported, when will it be supported?

[2019-06-09 04:05] Anton-Velikodnyy commented on #282
its working now. Not sure why it failed.

[2019-06-09 04:05] #282 closed

[2019-06-09 20:46] ivelin commented on #50
Good catch @yongtang
RTP streams are bi-directional and independent of each other. Each party in a call can speak at any time, although people normally wait for each other and ping-pong. When one of the sides is a bot and the other is a person, its more likely for the person to interrupt the bot with instructions or questions.

I think your suggestion to use two separate grpc streams could work an

[2019-06-09 23:04] yongtang commented on #235
The Bintray issue has been fixed. Once login, the files is available (currently build 1007):
`repositories/tensorflow-io-nightly/tensorflow-io-release/1007`

I will update the release process in tensorflow/community.

[2019-06-10 02:16] terrytangyuan commented on #235
Sounds good. Thanks!

[2019-06-10 16:41] BryanCutler commented on #235
This is great, thanks @yongtang !  My bintray username is cutlerb

[2019-06-10 17:38] yongtang commented on #235
@BryanCutler @terrytangyuan Invites have been sent. I think the invites go to Bintray message so you may need to login to accept. Let me know if you encounter any issues.

[2019-06-12 22:44] BryanCutler opened #294 "Build fails with dev docker image due to protobuf errors"
Currently, building locally with the dev/Dockerfile image fails with a bunch of errors:
[code]

It seems to be related to the changes in WORKSPACE from https://github.com/tensorflow/io/commit/3593b5e94210dfd86541dabef4bad7d73d610ad5#diff-09498dbadf45966909850dc8a47ebb13R214

When these are removed, the build is fine.

[2019-06-12 22:44] BryanCutler commented on #294
Any idea what the problem is @yongtang ?

[2019-06-12 22:59] yongtang commented on #294
@BryanCutler Wondering if you are installing tensorflow 1.13.1 or 1.14.0rc1 or 2.0.0beta0? If it is 1.13.1 then it may have issues as tensorflow recently upgraded protobuf version.

[2019-06-12 23:03] yongtang commented on #144
@wookayin Added a PR #295 to support reading video from streams.

[2019-06-12 23:07] yongtang commented on #262
@jiachengxu Any update or need any help?

[2019-06-12 23:10] yongtang commented on #174
@veritas9872 @alexwal sorry to get back late as was trying to get the TF 2.0's Dataset in place since last week. I will take a look at the HDF5 and get back soon.

[2019-06-12 23:11] BryanCutler commented on #294
Yup, that was it. Thanks @yongtang !

[2019-06-12 23:11] #294 closed

[2019-06-13 06:55] zhjunqin opened #298 "bigtable build error : undefined reference to 'tensorflow::strings::Printf[abi:cxx11](char const*, ...)'"
When build with `-D_GLIBCXX_USE_CXX11_ABI=1` , I met following problem, If I remove bigtable, build works fine.
BTW. I build with v0.6.0 https://github.com/tensorflow/io/tree/v0.6.0
[code]

[2019-06-13 08:53] zh794390558 commented on #161
same problem when build custom ops.

[2019-06-13 08:59] zh794390558 commented on #173
@yongtang  So this fix is for tf 1.14 ?

[2019-06-13 09:01] zh794390558 commented on #161
https://github.com/tensorflow/io/pull/203

[2019-06-13 20:17] jiachengxu commented on #262
Hi @yongtang,
Thanks for asking me.
As we discussed before, I wrote some tests for JSON format in Python, and also I just used [json](https://docs.python.org/2/library/json.html) library in Python to implement a simple json parser to make the tests pass.

Now, I am playing around the jsoncpp and try to start with a simple json parser in CPP, I will let you know when I have some progress and if I n

[2019-06-14 14:57] yongtang commented on #262
@jiachengxu Please create a working-in-progress PR. This will allow others and community to help and see progress.

[2019-06-16 16:13] yongtang commented on #298
@zhjunqin If `-D_GLIBCXX_USE_CXX11_ABI=1` is passed, the tensorflow also need to pass the same flag as well. Can you share your build configurations with TensorFlow as well?

[2019-06-16 17:07] #144 closed

[2019-06-17 17:51] #246 closed

[2019-06-17 19:07] ivelin commented on #264
@H21lab  Just fyi. Pull request #303  submitted. Feel free to take a look and chime in. @yongtang is helping me get it through the process.

[2019-06-19 02:28] yongtang commented on #49
Added a PR #307 as the first step to have FFmpeg support for audio streams.

[2019-06-19 04:07] CaptainDuke opened #308 "When reading hdf5 files compressed with gzip, error occured"
HDF5-DIAG: Error detected in HDF5 (1.10.5) thread 0:
  #000: external/hdf5/src/H5Dio.c line 199 in H5Dread(): can't read data
    major: Dataset
    minor: Read failed
  #001: external/hdf5/src/H5Dio.c line 601 in H5D__read(): can't read data
    major: Dataset
    minor: Read failed
  #002: external/hdf5/src/H5Dchunk.c line 2259 in H5D__chunk_read(): unable to read raw data chunk
    major: Low-l

[2019-06-19 05:17] CaptainDuke commented on #308
However, I can use command line h5dump to read such compressed h5files successfully.

[2019-06-19 07:11] CaptainDuke commented on #308
I think it's because hdf5.BUILD and WORKSPACE files doesn't compile hdf5 together with 'deflate' filter, but only orign hdf5-1.10.5.tar.gz.

The commmand line should be like this:
./configure --enable-cxx --enable-fortran --with-zlib=/path/to/zlib/include,/path/to/zlib/lib

But I don't know how to add this
![screen_shot](https://user-images.githubusercontent.com/24515303/59744105-6d722600-92a4-11e

[2019-06-19 08:05] CaptainDuke commented on #174
I met a problem when reading hdf5 files compressed with gzip,

HDF5-DIAG: Error detected in HDF5 (1.10.5) thread 0:
  #000: external/hdf5/src/H5Dio.c line 199 in H5Dread(): can't read data
    major: Dataset
    minor: Read failed
  #001: external/hdf5/src/H5Dio.c line 601 in H5D__read(): can't read data
    major: Dataset
    minor: Read failed
  #002: external/hdf5/src/H5Dchunk.c line 2259 in H5

[2019-06-19 08:19] alexwal commented on #174
@CaptainDuke is this related to TF-IO?

[2019-06-19 08:46] CaptainDuke commented on #174
@alexwal
Yes.
When I use TF-IO to read normal hdf5 file, it works successfully. However, when this hdf5 file is compressed with gzip, TF-IO doesn't work and throw this error.

[2019-06-19 14:56] yongtang commented on #308
@CaptainDuke Do you have a sample file I can test? I think it could an easy fix but I may need a sample file to test it.

[2019-06-20 01:54] CaptainDuke commented on #308
Here's a test file, I just compress the /io/tests/test_hdf5/tdset.h5 with gzip
`with h5py.File('compressed_h5.h5', 'w') as output_f:
    output_f.create_dataset('/dset1', data=h5f['/dset1'][()], compression='gzip')`

[compressed_h5.zip](https://github.com/tensorflow/io/files/3308451/compressed_h5.zip)

[2019-06-20 08:50] CaptainDuke commented on #308
Thanks for your contribution, I will compile new version of this code by myself.

By the way, what's the meaning of output_shape? I found that no matter how I set this value, the output results remain unchanged. Only 'batch' matters.

[2019-06-20 14:46] #308 closed

[2019-06-20 15:42] yongtang opened #313 "tensorflow-io 0.7.0 release"
As TensorFlow releases 1.14.0, I think we could have another release of 0.7.0 for tensorflow-io.

Here is the list of items for 0.7.0:

- [x] Update README.md to add additional supported ops since 0.6.0
- [x] Update RELEASE.md to capture 0.7.0 changes.
- [x] Push *.whl files to PyPI.org, including macOS package.
- [x] ~~Release R package to CRAN (optionally)~~.

/cc @dmitrievanthony @BryanCutler @

[2019-06-20 17:16] yongtang commented on #308
@CaptainDuke PR #311 has been merged, you give tensorflow-io-nightly a try. Also  new version (v0.7.0) of tensorflow-io will be rebased soon.

For `output_shape`, it used in DatasetV1, in DatasetV2 there are some changes that makes it less strict. If you can share the code you are trying to run (maybe open another issue?) then we may take a look.

[2019-06-20 23:18] yongtang opened #315 "Standardize columnized dataset?"
With the upcoming DatasetV2 a lot of the APIs are getting simplified. That also opens up some additional possibilities than just passing the dataset to tf.keras.

One area of interest, is that we already have support for many columnized dataset, e.g, Arrow, Avro, Parquet, Json, HDF5, etc. Those dataset may potentially be standardized with the same API so that we could treat them homogeneously. For

[2019-06-21 04:08] CaptainDuke opened #316 "output_shapes doesn't make sense"
Notice that the output_shape in the following code is [(1,1)], but actually the output is same as output_shape=[(2,20)]. Only 'batch' matters.

[code]

![test](https://user-images.githubusercontent.com/24515303/59896872-e0061180-941c-11e9-8f2f-88c476844942.png)

[2019-06-21 12:04] veritas9872 commented on #174
@CaptainDuke May I ask if there is also a problem with shuffle filtering? I use gzip level 1 with shuffle filter all the time because it has the best compression for floating point numbers and complex numbers. I am curious to know whether shuffle filters function in TF-IO as well.

[2019-06-21 23:00] BryanCutler commented on #315
Sounds like a good idea to me. I think it would be pretty useful to support operations and making composite columnar datasets, like merging 2 different datasets into 1.

[2019-06-22 01:30] yongtang commented on #264
@H21lab With respect to your anomaly detection my understanding is that, you may only be interested in certain fields from the network capture (pcap).

The processing of pcap files might be ok. However, it looks like wireshark/tshark also involve heavily in the packet assembly and higher (application) level protocol decoding. For that part it is tied to GPL license so we could not easily link or i

[2019-06-22 18:02] yongtang commented on #251
@pjm4github Here is another example shared in Gitter channel https://gitter.im/tensorflow/sig-io

The original question was to convert an existing [Fraud Detection](https://www.datascience.com/blog/fraud-detection-with-tensorflow) to use KafkaDataset directly.

Related background could be found in Gitter channel room https://gitter.im/tensorflow/sig-io

The following are code snippet:
[code]

[cod

[2019-06-24 10:20] H21lab commented on #264
Hi @yongtang,

thank you for the PR. Yes I think this is the right approach:
- such decoding could enable to train the neural network with just certain decoded or interpreted fields from pcap. And not to cope with raw bytes which could be encoded in various ways. This could allow to focus the neural network just on the given features from the traffic.
- Using pipe and streaming, this should be the

[2019-06-25 22:04] yongtang commented on #264
Thanks @H21lab. It looks like tshark’s -T ek is really a new line separated json format.(ndjson). The format is also widely used in some other datasets such as quickdraw. The tensorflow-io package does not support this format yet. Though once JSON parser (PR #310) is added then this ndjson format could really be added with minimal updates easily.

[2019-06-26 19:59] BryanCutler commented on #313
Sounds good. If possible, I'd like to include #321 but not a blocker.  Are there any other issues that should be included?

[2019-06-27 15:59] dmitrievanthony commented on #313
I would appreciate it if you have a look at #317 as well.

[2019-06-28 15:48] epolitis opened #325 "Guidance on external per-built library dependecies"
In building a custom file-system depending on several external and local pre-built headers/shard-libraries how to:
- make header files accessible during built
- the shared libraries are included in the wheel
- loading the custom file-system in a python script makes the symbols in the shared libraries available

[2019-06-28 19:19] areeh commented on #68
Performant solutions using tf.data and disk are quite painful right now, so this would be a welcome addition. I just want to mention that it's particularly useful if you support a case where data looks like:

`{
    'feature1': ([...], dtype=np.float32),
    'feature2': ([...], dtype=np.int16),
}`
etc. Somewhat similar to the example from the guide in the split between feature and label, if I'm un

[2019-06-28 22:59] yongtang commented on #325
@epolitis the external library are essentially handled in bazel. There are some examples in third_party directory. Bazel is quite complicated, if you could share some code snippet about what you are trying to achieve then it might be easy to see how to handle it.

[2019-07-01 11:36] epolitis commented on #325
I want my plugin to 'link' against /usr/local/lib/libT4.so
**BUILD**

[code]

**WORKSPACE**
[code]
**BAZEL Error**
[code]

[2019-07-01 14:21] terrytangyuan commented on #315
Yes, agreed that this will be helpful to users. "The implementation could start with zip + map in python (not even needed in C++)" - I am worried about the performance and the efforts spent on the implementation of each additional operations though. Is there a way to reuse what's available in pandas/pyspark, etc.?

[2019-07-02 07:53] yongtang commented on #315
In order to make dataset more useful we also need to support write (save) so that a dataset could be saved in certain format (e.g., Parquet, Arrow, HDF5, CSV, JSON, etc).

I have created an experimental PR #326 to add TextDataset's save support. (Will expand to other dataset format later).

[2019-07-02 07:54] yongtang commented on #313
Both #321 and #317 has been merged now.

[2019-07-03 08:45] yongtang commented on #325
@epolitis Think this is more of a bazel issue. Not knowing the exact code, but if you put `lib/libT4.so` as part of the `srcs` then the file has to exist within the source tree.

[2019-07-04 08:39] epolitis commented on #325
Thanks @yongtang, since the build is taking place within a container I had to copy the libs/headers from the host to the container at the location specified in WORKSPACE.

[2019-07-05 06:44] #316 closed

[2019-07-06 02:34] #29 closed

[2019-07-07 07:01] #46 closed

[2019-07-07 08:24] damienpontifex commented on #46
@kkmsft it's now merged into master. We've already identified a few fixes to make, but that'll be much easier now the bulk of that base work is there we can iterate on. Would be very happy for any testing, feedback and fixes if you find any

[2019-07-09 22:27] damienpontifex opened #335 "Using filesystem from tensorboard"
This is a question or maybe request for documentation:

How would we use a tensorflow/io filesystem from tensorboard from the command line? Similar to how we can do it with GCS as `tensorboard --logdir=gs://bucket/path/to/logs` I'd like to be able to do the same with the recent azure blob storage file system.

I believe the GCS file system is built into the main tensorflow repo and so I assume get

[2019-07-12 03:47] CaptainDuke opened #342 "output_shape doesn't make sense, the output remains no structure"
As mentioned before, I tried to read hdf5 data using tf-io, but the output_shape doesn't make sense.  ([1,8]) expected but returns ( ).

For comparing, I worte dataset2 form tf.data.Dataset.from_tensor_slices(). Also I did some tf.reshape ops, where dataset read via tf-io failed.

I thinks it's a kind of serious problem since we can not continue tf.layers.conv2d or other ops without output_shapes.

[2019-07-12 03:48] CaptainDuke commented on #342
Code above
[issue_test.py.zip](https://github.com/tensorflow/io/files/3384898/issue_test.py.zip)

[2019-07-12 17:23] BryanCutler commented on #313
I have a bug fix at #345 that should go in before the release, just waiting for tests to pass

[2019-07-12 21:33] BryanCutler commented on #313
Tests have passed and #345 is merged

[2019-07-13 21:53] yongtang commented on #313
Added PR #349 for v0.7.0.

[2019-07-14 17:00] yongtang commented on #313
For reference, all binaries are available through https://www.dropbox.com/sh/dg0npidir5v1xki/AACor-91kbJh1ScqAdYpxdEca?dl=0

macOS is also included.

[2019-07-14 17:42] yongtang commented on #313
Released v0.7.0 🎉

https://github.com/tensorflow/io/releases/tag/v0.7.0

[2019-07-14 17:42] #313 closed

[2019-07-14 17:45] terrytangyuan commented on #313
Great. Thanks! @yongtang

[2019-07-14 22:09] damienpontifex opened #352 "macOS python3 packages not published to pypi"
Just went to install latest tensorflow-io release and found that no version satisfies the requirement. Doing a `-vvv` I noticed macOS only has cp27 wheels published. See interesting part (just the 0.7.0 versions) of the `python -m pip install -U tensorflow-io -vvv` below:

[code]

I thought we were building the 3.{4567} versions as well? Is it just that they aren't automated for release to pypi? A

[2019-07-14 23:16] yongtang commented on #352
@damienpontifex We build 2.7, 3.4-3.7 on Linux. On macOS at the moment we only build 2.7 with mac's default python (and latest pip). The binary is generated from Travis CI's machine (to be consistent) with Intel CPU and osx 10.12.

Travis CI potentially support 3.x version of python:
https://docs.travis-ci.com/user/languages/python/
though I haven't tried any one of them yet.

To build macOS with

[2019-07-15 00:00] damienpontifex commented on #352
Could use `pyenv` to install and set appropriate python versions - https://docs.travis-ci.com/user/reference/osx/#python-related-tools

Maybe a macOS if check in .travis/wheel.build.sh such as

[code]

I'll have a go at adding it and see how it goes

[2019-07-15 02:17] CaptainDuke commented on #342
temporary solution:
add dataset.batch() and then tf.reshape
`
dataset = hdf5_io.HDF5Dataset(
       [filename], columns, output_types, output_shapes)
dataset = dataset.batch(10)
iterator = dataset.make_one_shot_iterator()
get_next = iterator.get_next()

 input_x = tf.reshape(get_next, output_shape)
sess = tf.Session()
vv = sess.run(tf.shape(input_x))
print(vv)
`

Besides, if we want to use dataset

[2019-07-15 18:44] BryanCutler commented on #313
Hooray! Thanks @yongtang

[2019-07-16 00:03] yongtang commented on #257
/cc @Ouwen for DICOM related.

[2019-07-16 02:47] SSaishruthi commented on #257
Apologize for not being active. I will start providing updates on this soon.

[2019-07-16 02:52] yongtang commented on #257
@SSaishruthi See discussion in:
https://gitter.im/tensorflow/sig-io?at=5d2d06b2570ac36f8d2f29f3

also:

https://github.com/gradienthealth/gradient_decode_dicom

[2019-07-16 03:03] SSaishruthi commented on #257
@yongtang I was using pydicom to read dicom files. Looks like `gradient_decode_dicom` will replace that. Is my understanding correct?
I started with uncompressed dicom image type.

[2019-07-16 14:52] #352 closed

[2019-07-16 20:26] damienpontifex commented on #352
@yongtang thoughts on pushing the extra outputs for macOS versions to 0.7.0?

[2019-07-16 20:32] yongtang commented on #352
@damienpontifex if someone could build 0.7.0 for macOS locally (from the same tag version) then we could push to PyPI.org.

[2019-07-16 20:33] yongtang commented on #352
@damienpontifex We could also have a 0.8.0 release sooner (with macOS binary built from Travis CI for consistency).

[2019-07-16 22:07] damienpontifex commented on #352
Either is fine. I built the whl file for myself and using that for now. Happy to wait for 0.8.0 release for publishing consistency and to make sure everything goes through proper CI vs uploading builds outside of that cycle

[2019-07-16 23:40] Ouwen commented on #257
@SSaishruthi
Give this a try: https://colab.research.google.com/drive/1MdjXN3XkYs_mSyVtdRK7zaCbzkjGub_B
You can upload your dicom file of interest and sees if it reads properly.

[2019-07-17 04:59] SSaishruthi commented on #257
@Ouwen Thanks for the links
I will try with this with my current work and keep you posted.

[2019-07-18 02:43] yongtang commented on #352
@damienpontifex We have one successful macOS build and all binaries are pushed to Dropbox. You can take a look at release 1298:

https://www.dropbox.com/sh/dg0npidir5v1xki/AACor-91kbJh1ScqAdYpxdEca?dl=0

and give macOS whl files a try to see if they works on your machine or not.

[2019-07-22 06:04] ChethanUK opened #367 "Support Apache Phoenix for TF-io"
TensorFlow I/O support for Apache Phoenix

[2019-07-23 16:32] yongtang opened #369 "Colab Issue with tensorflow-io"
Recently tried with Colab for the first time, and see crashes on certain versions:
[code]

Don't know if there are any binary incompatibility among those version. TF 2.0 + tensorflow-io seems to be fine (with `tensorflow-io-2.0-preview`)

[2019-07-24 01:49] damienpontifex opened #372 "Prevent replicated functionality?"
How does this repo decide what's in and what's better elsewhere in the TensorFlow ecosystem?

I ask this as I noticed the readme has a guide using
[code]

but [tensorflow/datasets also has an mnist dataset](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md).

Should the dataset data not live in here and functionality in tensorflow/io be focused on "collection of file systems and

[2019-07-24 02:26] yongtang commented on #372
@damienpontifex there might be some levels of overlap, though the `dataset` we work on here, is more about the subclass of tf.data.Dataset and its C++ implementations for working on MNIST data format, while tensorflow-datasets 's `dataset` refers to the data packages that could be downloaded and consumed directly.

For example, in our case, MNIST is not just referring to the gzip files that could

[2019-07-24 06:25] damienpontifex commented on #372
Thanks for the insights @yongtang

[2019-07-24 06:25] #372 closed

[2019-07-24 06:43] damienpontifex opened #373 "Bazel build cache"
I was trying out bazel build cache to Google Cloud Storage.

First build which must have populated the cache https://travis-ci.org/damienpontifex/io/builds/562897963
And then subsequent build that utilised the cache https://travis-ci.org/damienpontifex/io/builds/562916740

Saw significant reduction of build times to get successful builds across all. This would be great to speed up feedback time on

[2019-07-24 23:33] jiachengxu opened #377 "Adding gdb to the dev dockerfile for debugging purpose."
gdb is really necessary for debugging both python and cpp code, so it would be really useful to have gdb installed when building the dev docker image. If it is ok to add an entry of gdb, I can take care of that by following a PR.

[2019-07-25 00:49] yongtang commented on #377
@jiachengxu I think gdb is good to have. Could you open a PR?

cc @BryanCutler

[2019-07-25 02:45] BryanCutler commented on #377
Thanks @jiachengxu , that would be great to have!

Btw, it would be really good to have a guide for debugging also. It was a little tricky for me to get everything setup so I could see the tensorflow symbols and step into that code too. What do you guys think?

[2019-07-25 03:26] yongtang commented on #377
@BryanCutler That would be great. Though if I remember, Bazel automatically strips symbols unless specified explicitly with a flag `--strip=never`? I never tried but I think this is the flag to use.

@jiachengxu would you mind to also add some content about debugging with gdb if possible?

[2019-07-25 04:01] yongtang commented on #373
@damienpontifex Created a PR #376 which utilized `--disk_cache` + Travis CI caching system to help speed up.

Note Travis CI's caching is shared among stages, so I used TRAVIS_JOB_NUMBER's suffix `(12.5 => 5)` to shard the data in order to not mess up with every build job 's configuration.

We have python 3.7 on Ubuntu 16.04 and python 2.7-3.6 for Ubuntu 14.04 and it turns out this could be an iss

[2019-07-25 07:54] jiachengxu commented on #377
Hi @yongtang @BryanCutler, I will send a PR  to include gdb in the dockerfile and also add some hints of debugging with gdb in the README.md

[2019-07-26 13:59] yongtang commented on #373
We see significant drop in build time (40+min => ~15 min) for each build:
https://travis-ci.org/tensorflow/io/builds/563868019

The only issue, is that macOS python 3.5 and 3.6 build can not complete in 50min so cache was never pushed to Travis CI (and later build can not take cache).

Also, in case there are some cache failure, we may need to clean up Travis CI cache then every build has to start

[2019-07-26 16:57] terrytangyuan opened #381 "Revamp R package to be compatible with most recent version of tensorflow-io"
It looks the R package is pretty out-of-date. Here are some additional data sources that we support and should be added in R as well:

- [ ] tensorflow_io.bigquery: Google Cloud BigQuery support.
- [ ] tensorflow_io.text: Pcap network packet capture file support, Text file Dataset and TextSequence output.
- [ ] tensorflow_io.azure: Microsoft Azure Storage support.
- [ ] tensorflow_io.gcs: GCS Conf

[2019-07-26 17:49] yongtang commented on #381
I think maybe we could also use this as a chance to clean up or even rethink the API, at least for Dataset part. There are quite some discussions with respect to caching and performance, I think we could add those to our thinking into API as well?

[2019-07-26 18:08] BryanCutler commented on #273
Update since 0.14.1 was just released

[2019-07-26 18:18] BryanCutler opened #382 "Discuss Batch Standards in TFIO with Keras"
Following the discussion on #366 batching can serve different purposes and optimizing for each is not always done the same way.

Batch is a way to improve performance for record based files such as parquet, feature, etc, as we really don't want to "read one integer or one float32 at a time". This is a caching issue.

But those two batch concepts are different. @BryanCutler I am wondering if it mak

[2019-07-26 18:22] BryanCutler opened #383 "Discuss handling N/A or NULL values for Columnar Data in Eager"
Following the discussion on #366, using eager mode gives more flexibility to handle certain aspects that are common in columnar data, such as N/A or NULL values.

\# then build multiple datasets and build one dataset at a time for each column
dataset = zip([ParquetDataset(filename, column) for column in columns])

[2019-07-26 18:24] BryanCutler commented on #383
Currently, in Arrow Datasets  each record batch is checked for NULL values and raises an error if there are any, which isn't the ideal way to handle it.

[2019-07-27 18:11] yongtang commented on #382
To adds additional information, tf.data actually has a `tf.data.Dataset.concatenate` API which effectively solves the issue of multiple files:
[code]

I think we only need to focus on single filename case (as multiple files could be processed at higher level with concatenate). After Dataset has been concatenated batch mode could reapply:
[code]

I do think `rebatch` could be a useful feature which

[2019-07-28 03:38] yongtang commented on #373
With recent Travis CI cache fully utilized now it takes about 10-15min to build:
https://travis-ci.org/tensorflow/io/builds/564453037

[2019-07-28 07:31] yongtang commented on #261
The process is now pretty much automated, see:
https://github.com/tensorflow/community/pull/123

[2019-07-28 07:31] #261 closed

[2019-07-29 02:22] yongtang commented on #383
Handling NULL value under tf.data.Dataset might not be very easy, as  tf.data.Dataset is an itrable and lacks indexing.

On the other hand, processing null values with pure Tensor should be straightforward: assuming NULL values are sparse, then an array could be used to only store the indices of the location where value could be NULL. During runtime it is a matter of tf.scatter (or tf.scatter_nd)

[2019-07-29 14:43] yongtang commented on #382
Added a PR #393 to introduce `rebatch(batch_size) ~= unbatch().batch(batch_size)`.

@terrytangyuan @BryanCutler Here is my thinking on tf.keras batch vs cache batch issue:
1) We want to max out the cache batch (unless not fit into memory)
2) the tf.keras batch_size could always be placed as the last step before feeding too tf.keras (so that caching in the middle are not split into small chunks (of

[2019-07-29 14:58] yongtang commented on #381
@terrytangyuan @BryanCutler Some API discussions. With the upcoming 2.0 I think we could thinking about clean up APIs. I am in favor of removing unnecessarily user input when possible. However, due to the graph vs eager mismatch between 1.x vs. 2.0, it is hard to make an API that fits 1.x and 2.0 at the same time.

For example, in PR #384 ParquetDataset, it is possible in 2.0 we only need user to

[2019-07-29 15:22] terrytangyuan commented on #381
@yongtang Thanks for bringing this up. I am fine with the use of `**kwargs` to support multiple versions of TF. This would simplify the deprecating process once we decide to drop 1.x support.

[2019-07-29 15:23] terrytangyuan commented on #381
It would be easier to support this in R as well through `...` syntax in R. Though we may need to add better documentation on what's supported and what's not.

[2019-07-30 01:45] henrytansetiawan opened #395 "Port tensorflow/contrib/cloud:gcs_config_ops_test"
The tensorflow_io/cloud is missing the gcs_config_ops_test, this build target was originally defined in: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cloud/BUILD#L78, as:

[code]

The task here is to port tf_py_test(...) into equivalent py_test(...) for tensorflow_io

[2019-07-30 01:46] henrytansetiawan opened #396 "Port tensorflow/contrib/cloud:bigquery_reader_ops_test"
The tensorflow_io/cloud is missing the gcs_config_ops_test, this build target was originally defined in: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cloud/BUILD#L59, as:

[code]

The task here is to port tf_py_test(...) into equivalent py_test(...) for tensorflow_io

[2019-07-30 01:52] henrytansetiawan commented on #395
Some pointers from @yongtang:

By default, most likely python test could work already, if you place it in tests directory, and type TFIO_DATAPATH=bazel python -m pyrest -s -v tests/test_xxx.py.

[2019-07-30 01:53] henrytansetiawan commented on #396
Some pointers from @yongtang:

By default, most likely python test could work already, if you place it in tests directory, and type TFIO_DATAPATH=bazel python -m pyrest -s -v tests/test_xxx.py.

[2019-07-30 22:26] BryanCutler opened #398 "Add an ArrowFlightDataset with a client to bring Flight data into TensorFlow"
After Arrow is upgraded in #273, we should be able to make an `ArrowFlightDataset` to work as a client to Arrow Flight, an Arrow-native RPC framework. This will allow connecting to a remote Arrow Flight server and requesting various datasets in Arrow format.

[2019-07-31 16:37] yongtang commented on #381
@terrytangyuan I am also thinking about deprecate cifar format. MNIST which is used by many datasets and many people generates their own MNIST. The CIFAR format itself is not that often seen. It probably makes sense to deprecate it.

[2019-07-31 17:55] jiachengxu opened #400 "Bazel build doesn't work in tfio-dev docker container."
Hi folks,
I tired to use
`bazel build -c opt --copt=-match=native -s --verbose_failures //tensorflow_io/...` to build io library inside the tf-dev docker container, but this error message always pops out:
[code]
But the previous command(`bazel build -s --verbose_failures //tensorflow_io/...`) works for me. Did I miss anything?

Thanks,
Jiacheng

[2019-07-31 17:56] jiachengxu commented on #400
/cc @yongtang  @CaptainDuke

[2019-07-31 18:28] BryanCutler commented on #381
`kwargs` sound fine to me to support graph mode options

[2019-07-31 18:50] BryanCutler commented on #382
This sounds like a good paradigm to me. Do you plan some way for the user to set the cache batch size or is it determined by the Dataset?

For the Arrow datasets, I'll have to think a bit more on the best way to handle this. Currently, records are read as batch, which is effectively the "cache batch" just not in the form of tensors. If this outputs the entire batch as tensors then it would be a se

[2019-07-31 19:07] terrytangyuan commented on #381
@yongtang Yea deprecating is fine to me. I don’t see it quite often either.

[2019-07-31 19:17] yongtang commented on #382
@BryanCutler for internal cache size I am thinking about "try to fine tune automatically" unless user override (through `**kwargs`). In one PR for Parquet https://github.com/tensorflow/io/pull/384/files I am using a `capacity` to fine tune it. Currently hardcoded as 65536 but I plan to add more fine tuning later.

The capacity could be overridden in `**kwargs`.

[2019-07-31 19:21] yongtang commented on #382
@BryanCutler Haven't spend much time to look into Arrow yet, though it looks like there are two different types: the feather file format and the arrow streaming format.

The file format probably fits the Tensor case we discussed here as in theory, we could easily distribute a list of cached tensors to different nodes to improve the performance by concurrently running ops on list of chunked (cached

[2019-07-31 20:59] yongtang commented on #382
@BryanCutler @terrytangyuan Thinking again I think the problem probably goes to either tf.data should be closer to `source` (read file format into tensorflow's graph) or closer to `destination` (as tf.keras input).

The overall tf.data pipeline works well with tf.keras (closer to `destination`). But it actually has many limitations when it is only closer to `source` as it lacks many fundamental op

[2019-08-01 03:21] yongtang commented on #382
@BryanCutler Overall my experience when reworking on some of the format (hdf5, parquet, Avro) is that, if a file is splittable by nature, then we could just write primitive ops to read the file. The primitive ops could be used in a normal graph to read data into a Tensor (which could be easily accessible with many powerful operations), or it could piece together into a tf.data pipeline where memor

[2019-08-01 10:13] CaptainDuke commented on #400
Take a look here, configurations in Docker is quite different from physical machine.

[mtune and march when compiling in a docker image](https://stackoverflow.com/a/54163496)
[Distinguish between GCC optimization options for x86 and PowerPC [march-native-dev]](https://github.com/mfem/mfem/pull/219)

The following two command lines both work well on my laptop.
[code]

[2019-08-01 10:26] CaptainDuke commented on #400
/cc @yongtang
Option -match=native works well on physical machine, but not suitable for docker containers. While both
[code]
work in docker container

[2019-08-01 12:45] yongtang opened #403 "Update docker build image for both CI and dev"
From https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/fSAAd4bxQ4M

The manylinux2010 for tf seems to be built on Ubuntu 16.04 with devtoolset, which looks like a big overhaul on our CI docker image.

There is a `custom build for manylinux2010` docker file:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/ci_build

However, from my past experience normally th

[2019-08-02 12:44] yongtang commented on #49
@faroit I added a PR #406 for reading a chunk of WAV file.  You can use `read_wav` and pass `start=start, count=count` to only read a chunk of the samples.

I also tried to add `24bit` support, though I need a sample 24bit WAV file to see the actual memory layout to figure out how to fit 24bit into an `int32`.

[2019-08-02 12:47] yongtang commented on #257
As PR #359 and several follow up PRs have been added, I think this issue could be closed. Thanks @marcelolerendegui @Ouwen for the great contribution!

Feel free to open new issues if there are additional enhancement requests.

[2019-08-02 12:47] #257 closed

[2019-08-02 13:41] yongtang commented on #148
Google CI Kokoro is in place, think this issue could be resolved.

[2019-08-02 13:41] #148 closed

[2019-08-02 13:43] yongtang commented on #382
@BryanCutler @terrytangyuan Some additional discussion about the ways to process input format. It seems we are mostly dealing with the following

1) Strict streaming input where input are just concatenations of variable number of records (no way to search or locate):
   - Apache Arrow Stream (@BryanCutler to confirm?)
   - Kafka/PubSub streams
   - Compressions without meta data (gzip)
   - JOSN (

[2019-08-02 13:52] yongtang commented on #403
Update from https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/tds7vLcmIrA

tf-nightly-2.0-preview will continue to be available as before.

[2019-08-02 22:32] BryanCutler commented on #382
Thanks @yongtang for the very detailed list! For Arrow, there are 2 memory formats: Arrow Stream and Arrow File. Both support chunking as record batches. Arrow Stream is strict stream. Arrow File is random access, but not necessarily to be read all in memory. Feather files use the Arrow File format on disk, and the file could be chunked as well. I think it's just currently not implemented to read

[2019-08-02 22:39] BryanCutler commented on #382
The above proposal sounds pretty good to me. I would just want to be careful that for splittable (or chunked) files we keep a code path available that will keep memory usage at a minimum, but also support reading everything into memory if the user wants.

[2019-08-02 22:42] BryanCutler commented on #403
This is great news! I can definitely help out to get our builds up to speed with this.

[2019-08-03 21:19] yongtang commented on #68
@areeh PR #407 has been opened which should support your case. The PR allows to read a local numpy through the same address space.

It may have limitations but if your process is local then performance might be  good  for large numpy array (as there is no serialization overhead before hand).

The dict/tuple of the features has been added as well.

[2019-08-05 12:28] carlthome commented on #49
@yongtang, here's an example of a 24-bit WAV PCM file created from a MP3 with SoX (`sox example.mp3 -b 24 example.wav`

[example.zip](https://github.com/tensorflow/io/files/3467537/example.zip)

[code]

[2019-08-05 15:26] jiachengxu commented on #400
Hi @CaptainDuke,
both of these commands:
[code]
[code]
don’t work in the docker container running on my Macbook,
Here are the errors:
[code]
Any ideas about this?

Thanks,
Jiacheng

[2019-08-05 21:28] yongtang commented on #49
@carlthome Created a PR #409 for 24 bit support.

[2019-08-06 00:21] yongtang opened #411 "tensorflow 2.0 strategy for tensorflow-io"
There are lots of changes in tensorflow for 2.0 recently and that effectively makes tensorflow-io build break against tf-nightly and tf-nightly-2.0-preview (see #410 for an example).

As 2.0 release is near (see https://github.com/tensorflow/io/issues/403), we have to come up with a 2.0 strategy that is feasible.

Here are the list of issue we encounter, once we bump the version from tensorflow==2

[2019-08-06 02:24] yongtang commented on #403
@terrytangyuan @BryanCutler Well this is really messy. Looks like tf-nightly-2.0-preview already changed to use GCC 7.3.1:
[code]

I assume the upcoming 1.14.1 will not work with 0.7.0 (last release).

Haven't been able to figure out the OS that is being used though I assume it is Ubuntu 16.04.

[2019-08-06 02:30] yongtang commented on #411
I am also thinking we should stick with primitive tensor ops as the upstream API is quite stable than dataset. @BryanCutler @terrytangyuan

[2019-08-06 03:24] terrytangyuan commented on #411
+1 to switch to 2.0 by default and use of primitive tensor ops.

[2019-08-07 00:53] yongtang commented on #411
@BryanCutler @terrytangyuan Release candidate of TF 2.0.0 is imminent:
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/SIfaft4wuXY

We will need to get manylinux2010 working soon.

I have been trying to build manylinux2010. I believe it is very close to get it done.

[2019-08-07 16:47] BryanCutler commented on #411
I think having a final tf-io 0.8.0 for 1.14.x would be good. After that, I agree we should switch gears to concentrate on TF 2.0.

[2019-08-08 19:07] Ouwen opened #414 "Docker Container for Support between tf-io and tf-serving."
Can there be an official docker build or documentation to integrate tensorflow-io with tensorflow-serving? Using the tf.io ops in the tf.serving ecosystem would be a large development convenience and likely decrease inference latency.

[2019-08-08 19:18] Ouwen commented on #414
@ewilderj

[2019-08-08 19:51] ewilderj commented on #414
cc @tensorflow/serving-members @rcrowe-google

[2019-08-09 02:13] yongtang commented on #411
Update on manylinux2010 and TF 2.0:

Essentially we are able to generate manylinux2010 and it works fine (PR #410):
[code]

The only issue is that there are quite some API changes in TF 2.0. The plan
is that we will wait until a release candidate of TF 2.0 out to make another push to conform to manylinux2010.

[2019-08-09 22:15] unclepeddy commented on #414
Hi all, just a note that I'm following up on this in the sister [issue](https://github.com/tensorflow/serving/issues/1411) - from tf serving perspective, we are extremely conscious about op robustness and supportability. What are tf.io's policies regarding backward/forward compatibility, unit testing, support SLOs, ownership, etc.?

[2019-08-10 01:03] yongtang commented on #414
Thanks @unclepeddy @Ouwen @ewilderj. TFIO consists of C++ code. We have been very careful about binary compatibility with TensorFlow (core)'s released binaries. I can briefly introduce about the building/testing, and misc on tensorflow-io.

1) Building of tensorflow-io:

In order to make sure any system that could run tensorflow, can equally run tensorflow-io, we have been building tensorflow-io o

[2019-08-12 16:10] yongtang commented on #377
@jiachengxu On a side note to enable gdb `--cap-add=SYS_PTRACE ` will have to be added when running `docker run`.

`--security-opt seccomp=unconfined ` might also be needed, though I believe you could attach to another running process.

[2019-08-13 00:29] marcelolerendegui commented on #400
I think it's a typo in the readme file, the GCC flag should be -march=native (instead of -match=native).
You should try with:
`bazel build -c opt --copt=-march=native --copt=-fPIC -s --verbose_failures //tensorflow_io/...`

[2019-08-13 12:08] areeh commented on #68
@yongtang The PR looks great, it supports everything I had in mind when I wrote the comment. Thank you

[2019-08-13 20:07] #49 closed

[2019-08-18 16:06] yongtang commented on #411
The information is a little confusing:
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/tds7vLcmIrA

as tf-nightly is still updating after 08/16.

But, my guess is that TF 1.15 will be manylinux2010.

Base on that, and it is harder and harder to support
- manylinux2010(1.15)
- manylinux1 (1.14)
- 2.0.0Beta1 (2.0+manylinux1)
- 2.0.0RC (2.0+manylinux2010),

Plus recent API changes

[2019-08-19 17:15] yongtang commented on #411
@terrytangyuan @BryanCutler We are almost there with manylinux2010. In PR #426, we get the binary packed into manylinux2010, though there is one limitation.

Since tensorflow whl package carries libtensorflow.so file, and out whl have to depends on this  libtensorflow.so file, when we try to use `auditwheel` to repair our whl for manylinxu2010, it will copy the libtensorflow.so file. That means in

[2019-08-20 22:47] #400 closed

[2019-08-20 23:11] yongtang opened #431 "tf-nightly failure cases"
Since there are several recent changes in tf.data, the following has been disabled temporarily:

- Ignite tests has been temporarily disabled (9c8dce4)
- Arrow tests has been temporarily disabled (b704dee)
- Arrow has to comment out the optimization_only usage (4e6718c)

We may want to fix those before 0.8.0 release is out.

[2019-08-23 19:11] tinder-michaelallman commented on #414
Please pardon the cross-post, but, as indicated in https://github.com/tensorflow/serving/issues/1411 we are keenly interested in integrating tf-io (specifically the image operators for webp support) into our build of TFS. I don't have a lot of experience working with bazel, but I think the main difficulty is getting two dockerized builds to integrate with each other. The closest I've gotten is pub

[2019-08-23 19:22] ewilderj commented on #414
@yongtang i love that great build and test explanation above, would it make sense to excerpt that as a standalone doc to put in the repo somewhere?

[2019-08-24 14:46] yongtang commented on #411
TensorFlow 2.0.0RC0 has been released. I created a Working in Progress PR #444. We still have to wait for TensorFlow 1.15.0RC0 to merge. Though.

[2019-08-24 14:58] yongtang opened #445 "Adjustable capacity/batch to create a dataset with IOTensor"
In IOTensor's C++ implementation, data records are read as chunks. This should greatly improvement performance where small data record types (e.g., each record is an integer or float32 number).

At the moment the chunk size is hard coded as 4096 (arbitrary). See comment https://github.com/tensorflow/io/pull/437#discussion_r317241305

However, it is possible to make this number adjustable. And this

[2019-08-24 17:36] yongtang commented on #315
@BryanCutler @terrytangyuan With recent PRs I am writing down some notes about **Data Formats**:

There are many data formats available and it is hard to fit them all into one types. From data science point of view pandas could be a good reference though I noticed in some edge cases even pandas is not handling very well. Here is the list I come up with, I am also seeking some suggestions on certai

[2019-08-24 19:36] yongtang commented on #414
@tinder-michaelallman @ewilderj Thanks for the work! I update the README.md in PR #447 to includes additional information about building, testing, and CI integrations information.

@tinder-michaelallman I don't know enough about how tf-serving build, though I think have enough experience with tensorflow's core repo bazel build (as well as tensorflow-io's repo build), I could help with building iss

[2019-08-24 19:46] yongtang commented on #445
One note about this approach is that, it is a lot easier to get a 1-D array from C++ to python, then use python to implement a potentially complex logic to decide what kind of capacity strategy to take (based on natural batch or further split, etc).

[2019-08-25 06:35] liyi193328 opened #449 "streaming data for tensorflow online learning"
Hi,
    I'm learning how to use streaming data to distrbuted online training use tensorflow recently. IO is the first step for it.  I wonder how dataset.repeat do in streaming data format, because old data 's loop repeat times is not the same as new data? Or for streaming data, repeat should not be set?

[2019-08-25 17:48] yongtang commented on #449
@liyi193328 Not very clear about the description. Can you be more specific about the goal you want to achieve with `repeat`

With respect to steaming, dataset itself is an "iterable" and when you run `repeat` it will try rerun the iterable again. The underlying assumption with dataset is immutable. If, the data is mutable and could not be reproduced, it may not fit repeat or dataset.

[2019-08-25 20:08] yongtang commented on #369
With the current tensorflow-io-nightly the crash is gone in Colab:
[code]

I will label this issue as resolved.

[2019-08-25 20:08] #369 closed

[2019-08-26 03:29] suyashkumar opened #452 "Memory leak in dicom op"
The DcmFileFormat object is allocated on the heap, but is never deleted--leading to a memory leak. It is not deleted by `DicomImage` [later either](https://support.dcmtk.org/docs/classDicomImage.html#a02618dc125c543406b779aebe53f5eab).

https://github.com/tensorflow/io/blob/940dd9cec9195622c5b1cea6f9a2a1dddf8e92e2/tensorflow_io/dicom/kernels/decode_dicom_image.cc#L89

Either this object can just b

[2019-08-26 03:30] suyashkumar commented on #452
I have a fix in #451, let me know what you think @yongtang

[2019-08-26 03:32] suyashkumar commented on #452
cc: @marcelolerendegui @Ouwen

[2019-08-26 07:17] faroit opened #453 "Add support for FFMPEG (audio) substreams"
#49 added support for audio decoding using the ffmpeg ops. [`tf.contrib.ffmpeg.decode_audio`](https://www.tensorflow.org/api_docs/python/tf/contrib/ffmpeg/decode_audio) supported the ability to select the audio substream, which is really some applications like music separation. I would propose to also add this to tf.io.

[2019-08-26 07:23] faroit commented on #453
back then this was added by @yongtang and @carlthome

[2019-08-26 13:18] liyi193328 commented on #449
@yongtang much thanks. what I'm studying is how to use tensorflow to do online learning, especially for recommendation system.

[2019-08-26 19:41] SudeepDasari opened #455 "Feature Request: Support for Decoding Video Files from Memory"
It'd be awesome to extend the current FFMPEG library to support video decoding from data already in memory (rather than from given filenames). What I'm asking for is something akin to `tf.io.decode_image` except for video streams. Below is example usage of my proposed "decode_video" op:
[code]

@yongtang I'm a noob but I'd be happy to help work on this feature, if you could give me pointers for wh

[2019-08-27 00:31] yongtang opened #456 "Support scikit-learn preprocessing with IOTensor"
While working on time series such as Kafka or Prometheus, one useful feature that is in big need is to combine scikit-learn's rich preprocessing package. This will also makes IOTensor's indexing and slicing (with `__getitem__`) much more useful.

The idea is to make scikit-learn's preprocessing package operates on IOTensor directly if possible, so that we don't need to port a wide range of methods

[2019-08-27 01:26] ivelin commented on #449
Sounds awesome.  I’ll keep an eye on it. Happy to do an early code review
if you'd like.

On Mon, Aug 26, 2019 at 6:51 PM Yong Tang <notifications@github.com> wrote:

--
---- Ivelin Ivanov

[2019-08-27 16:28] jiachengxu commented on #262
As the GSoC is reaching to the end, I want to summarize my contributions in the following:
- JSONDataset is implemented for supporting reading JSON format files.
- 2 custom ops(`list_json_columns` and `read_json`) are implemented to support reading JSON format files in eager mode.
- Tests for both normal mode and eager mode are added.
- A user guide is added.
- [WIP] A blog about the JSONDataset a

[2019-08-27 16:34] jiachengxu opened #457 "Feature Request: Add MessagePack support"
[MessagePack](https://msgpack.org/index.html) is an efficient binary serialization format. It lets you exchange data among multiple languages like JSON. But it's faster and smaller.

MessagePack is widely used among various projects, like redis, flunted, etc. Also, this is also a popular data format to save data in machine learning and data science fields.

Here is a c++ library from the official

[2019-08-27 20:25] BryanCutler opened #459 "tensorflow-io 0.8.0 release"
This is to start the planning for the release of 0.8.0 for tensorflow-io.

Here is the list of items for 0.8.0:

- [x] Fix test errors in #431
- [x] Update the version in setup.py
- [x] Update README.md to add additional supported ops since 0.7.0
- [x] Update RELEASE.md to capture 0.8.0 changes and version compatibility.
- [x] Push *.whl files to PyPI.org, including macOS package.
- [x] Release R

[2019-08-28 02:12] zhjunqin commented on #298
I recompile v0.7.0 on 1.14.0 tensorflow, it passed, so I close it.

[2019-08-28 02:12] #298 closed

[2019-09-02 23:46] suyashkumar commented on #215
I think this could be pretty useful! The Google Brain Genomics team has released [Nucleus](https://github.com/google/nucleus): a C++/Python toolkit for reading and writing common genomics file formats. They used Nucleus to prepare data for their [DeepVariant model](https://github.com/google/deepvariant).

I very loosely [hacked around a little with integrating the two in a sandbox branch](https://

[2019-09-04 15:25] #377 closed

[2019-09-05 03:16] yongtang commented on #215
@suyashkumar I played with Bazel build file and it seems with some patching around, it is possible to build nucleus (See #463).

I only have a simple example just to see if the build works or not. So #463 may not be complete.

You can apply https://github.com/tensorflow/io/pull/463/commits/14f18a8a072e0853a7dc9ee16edba19b13973da0 to your branch and create a PR. Think it should work.

[2019-09-05 22:13] suyashkumar commented on #215
@yongtang fantastic, thank you! I'll pull in your changes and play around a bit with the integration later tonight and see if I can finish the op up for a PR!

[2019-09-07 08:06] jiachengxu commented on #262
Here is the blog draft: https://docs.google.com/document/d/1ph47xg9PXyp2yFR2-rui45SdG9Inn28QM8M0rnXd77c/edit?usp=sharing
It would be really great that you can take a look and give me some feedback, I am going to submit it to [ Google Open Source blog](https://opensource.googleblog.com/), and it is accepted, then it will be published there.

[2019-09-07 20:54] yongtang commented on #411
@BryanCutler  @terrytangyuan

See #444 for related discussions.

At the moment:
1) master branch is based on tf-nightly and we build against tf-nightly only
2) tf-nightly stopped updating in PyPI.org since 08/21
3) tensorflow==2.0.0rc0 has been released
4) tensorflow==1.15.0 (or RC) has not been released yet.
5) We are waiting for tensorflow==1.15.0 release to build tensorflow-io 0.8.0

However, t

[2019-09-08 09:01] yongtang commented on #248
This issue is resolved with PR #465.

[2019-09-08 09:01] #248 closed

[2019-09-08 09:17] yongtang commented on #459
Created a branch R0.8, and PR #470 as a working-in-progress. The tensorflow==1.15.0 was supposed to be rebased last month though it looks like there is some delay. So we may have to wait.

In the meantime, we are switching master and nightly build to use tensorflow==2.0.0rc0, but keep R0.8 branch to use tf-nightly (latest version was from 08/21).

[2019-09-08 15:31] Ouwen commented on #270
@kmh4321 any updates on parsing matfiles?

[2019-09-10 00:34] yongtang commented on #459
The new PR is in #472

[2019-09-10 17:17] BryanCutler commented on #411
@yongtang that sounds like a good plan to me.  Just one minor suggestion, could we call the branch something general like `branch-0.8` and have that serve as a maintenance branch in case we need to do bug fixes and might want to make a 0.8.1 release?

[2019-09-10 17:20] terrytangyuan commented on #411
Agreed. We should probably start creating release branches so we could merge in hotfixes later if needed as well as making them as protected branches.

[2019-09-10 17:46] BryanCutler commented on #459
I think we need to fix the test errors in https://github.com/tensorflow/io/issues/431 before release also

[2019-09-10 21:55] yongtang commented on #411
@terrytangyuan @BryanCutler Thanks. Currently the name of the branch (for 0.8) is named as `R0.8` which matches the naming in tensorflow core repo. We can change the name to `branch-0.8` if we prefer.

Also, it looks like `1.15.0rc0` has been released so I bumped the `R0.8` to use `tensorflow==1.15.0rc0`.

[2019-09-10 23:02] BryanCutler commented on #411
Oh sure, the name really isn't important as long as we can use it for fixes and maintenance release later, if needed. Thanks @yongtang !

[2019-09-11 17:06] BryanCutler commented on #431
I'm looking into the Arrow test failures now

[2019-09-11 22:46] tinder-michaelallman commented on #414
Hi @yongtang. I want to follow up. We have switched to using the Python PIL library for image processing. We took a performance hit moving to PIL, but it's not so substantial. Integrating webp support into TFS is not a priority for us right now, and I haven't had time to go back to attempting the integration. I'll let you know if we decide to have another go at it.

Thank you.

[2019-09-12 00:41] yongtang commented on #383
@BryanCutler Tried with NULL value with CSV. In Arrow NULL value has already been handled nicely so it is not a big issue if the data source is indexable: indexable means random access and we could always have an separate access function to take a `null()` and return bool mask.

I did notice that in pandas there is only a concept of NaN, not null. For us, I think having a separate access function

[2019-09-15 19:58] yongtang opened #482 "Add __version__ to the package"
While trying to build docs in #481, noticed that our packages misses a `__version__` symbol. We should be able to find a way to embed the `__version__` symbol into the package in setup.py I think.

[2019-09-16 05:09] Rendok opened #483 "io cannot read h5 dataset having 'u1' dtype"
Hello! Thanks for your troubles.

_tf version: 2.0.0.rc0
tf_io version: 0.9.0-dev1759_

I got a bug trying to read an h5 data set. Here the code to illustrate a problem:

[code]

As you can see, uint is missing.

Cheers

[2019-09-16 05:51] Rendok opened #484 "HDF5Dataset(path, key).batch(size) does't work"
Hello.

_tf version: 2.0.0.rc0
tf_io version: 0.9.0-dev1759_

.batch(SIZE) applied to HDF5Dataset() doesn't work. Instead of slicing the dataset, it creates an extra dimension.

For example, if I have [2560, 84, 84, 3] dims dataset, after .batch(100), the shape of a batch is [1, 2560, 84, 84, 3].

Cheers

[2019-09-16 16:36] yongtang commented on #483
@Rendok PR #486 has been created to address the issue.

I would also suggest you to take a look at use `tfio.IOTensor.from_hdf5` as it will be easier to work with in eager mode. (We may also deprecate list_hdf5_datasets once TF 2.0.0 is release).

Here is a usage example to work with `tfio.IOTensor.from_hdf5` (for tensorflow 2.0.0):

[code]

[2019-09-16 16:47] yongtang commented on #484
@Rendok my understanding is that this is largely the expected behavior for tf.data.Dataset. `batch` will always create an additional dimension. If you only have one element ` [2560, 84, 84, 3]` in the form of  tf.data.Dataset:
[code]

If your have 2560 elements of  `[84, 84, 3]` in the form of  tf.data.Dataset, then it will have the effect you desire:
[code]

[2019-09-16 20:27] yongtang commented on #484
@Rendok I will close this issue for now. But feel free to reopen if you still have questions.

[2019-09-16 20:27] #484 closed

[2019-09-17 01:36] Rendok commented on #483
@yongtang Thanks!

Your code snippet doesn't work on my machine.

However, if I comment `# f.create_dataset('uint', data=data, dtype='u1')`, it works. So the problem is with the support of uints.

Otherwise, thanks for the hint. I also can convert `hdf5('/int').to_dataset()`, which works perfectly fine.

[2019-09-17 01:58] Rendok commented on #484
@yongtang Thanks for your reply. However, I think the behaviour is not in line with the standard behaviour of `tf.data.Dataset`. Here is an example:

[code]
This prints `(2000, 2, 2, 3)`, although it should be:
[code]

Then for
[code]
This prints `(1, 2000, 2, 2, 3)`, although it should be
[code]

I believe `.shuffle()` and the rest also work incorrectly.

Cheers

[2019-09-17 15:25] #483 closed

[2019-09-17 16:47] yongtang commented on #483
@Rendok The `u1` issue has been resolved in PR #486. If you pull the latest nightly the issue should have been fixed. Let me know if the issue still exist.

[2019-09-18 17:04] liyi193328 opened #488 "How streaming dataset can be used in distributed environment?"
Hi, guys:
      I 'm considering the problem , is streaming dataset can be used directly in distributed statergy(like estimatory distritubed api).
      As I know, for static data(file list), N worker can consume N batch, and each worker is shard a dataset to consum data. But for streaming data, we don't know the whole data size(len),  what is the dataset shard method ?  we need to do other data s

[2019-09-18 19:10] yongtang opened #489 "Missing imported modules"
See #487 for more details. At the moment some of the modules in tensorflow-io are missing when importing:

- bigquery
[code]
- cloud
[code]
- dicom
[code]

We will need to fix those bugs. Thanks @MarkDaoust for providing the information!

[2019-09-18 19:13] yongtang commented on #489
/cc @tensorflow/sig-io-maintainers @ivelin

[2019-09-19 00:57] yongtang commented on #488
@liyi193328 See some related discussion in https://github.com/tensorflow/io/pull/478

When passing dataset for tf.keras, tf.keras expect dataset could be recreated and repeated. If your dataset is not repeatable, then you could use tf.keras.Sequence which will only read data once (but internally cache the whole dataset implicitly).

For tf.estimator, I am not very familiar with estimator api so do

[2019-09-19 22:50] yongtang opened #492 "build prometheus into the same .so"
At the moment we are forced to split out prometheus into a separate .so file, mostly because when linking prometheus (with code generated from go), STATIC_TLS is exposed:
[code]

For that reason we have to split out prometheus into a separate so.

Eventually, we really should build everything into one .so if possible. That likely means we change the way go build the binary. (We use `rules_go` for

[2019-09-19 22:52] yongtang commented on #492
Note in gcc, `ftls-model=global-dynamic` is the related flag.

[2019-09-20 04:17] yongtang commented on #453
Added PR #494 as the first step to obtain the shape and type info of the FFmpeg audio/video info

[2019-09-21 14:29] yongtang commented on #453
PR #494 adds the initial track information parsing for ffmpeg, which is the fist step to get sub stream support. There are more issues arise while looking into ffmpeg:
1) ffmpeg is timebase, not frame based in video/audio. While it makes sense in situations where video is processed sequentially, it may not be very helpful to training where you need indexed frames accurately.
2) ffmpeg tries to fit

[2019-09-21 14:37] yongtang commented on #453
/cc @ivelin here as audio might be related to your work.

One thing I am thinking regarding to your work, is to encode audio locally, send through the channel a raw byte stream. And on server side to decode first, then do a preprocessing, then and pass to tf.keras. See https://github.com/tensorflow/io/issues/453#issuecomment-533802219 about splitting container (e.g., mp4/WAV) parsing from decoding

[2019-09-21 15:08] yongtang commented on #455
@SudeepDasari See related discussion in https://github.com/tensorflow/io/issues/453#issuecomment-533802219

In your original example you mentioned decoding stream in mp4 format to tensors. As we also have other places that process videos in different ways, I think it makes sense to split the container parsing from the decoding.

For example, mp4 typically consists of multiple tracks (video/audio/s

[2019-09-22 04:43] liyi193328 commented on #488
@yongtang thanks. And how distributed stratergy handle the streaming dataset?

[2019-09-22 14:28] yongtang commented on #488
@liyi193328 That very much depending on the `distributed strategy`. For training, most of the time each node will have a copy of either whole or partial data. As I mentioned streaming dataset is not a good fit for distributed training as it is not truly `splittable`. To split data multiple node may have to unnecessarily repeat the data multiple times. Inference is totally different though.

[2019-09-22 20:18] yongtang commented on #453
@ivelin Apparently ffmpeg has too many required parameter in order to decode a raw packet into video. So unless those parameters could be serialized (which is pretty messy in Ffmpeg) this is not very feasible.

[2019-09-23 22:26] lamberta commented on #227
Looks like there's work on the landing page here: https://github.com/tensorflow/io/pull/498
and would be great to get some notebooks that we can pull into tensorflow.org (similiar to the tf-addons [notebook tutorials](https://github.com/tensorflow/addons/tree/master/docs/tutorials)).

Would like to link off to this from the main tutorials section, so these [load_data notebooks](https://github.com/

[2019-09-24 03:01] yongtang commented on #453
Added PR #499 for install sub stream support for audio with ffmpeg. Not all format are supported yet but adding any audio format should be straightforward with ffmpeg.

One limitation of ffmpeg is the seeking/indexing. Ffmpeg is timebased and may not really be performing in certain situations.

[2019-09-24 14:19] psitronic opened #500 "[Azure support] fails with 'std::runtime_error'"
Python 3.6.5
TF 1.14

[code]
fails with the exception:

[code]

[2019-09-24 15:13] ivelin commented on #453
@yongtang Thank you for keeping me in the loop. As I mentioned earlier, I've spent more time looking at the options for real time media streaming feeds into TF IO. Seems like we are independently reaching similar conclusions. ffmpeg works well for transforming to raw media a large number of file containers and formats, but it lacks fine grained control, which is especially important for capturing

[2019-09-24 15:44] yongtang commented on #500
@damienpontifex wondering if you have an idea about the exception?

Also, @psitronic it would be good if you could provide a small `blob.csv` that can trigger the problem.

[2019-09-24 19:43] hagianga21 opened #501 "Windows support for tensorflow-io"
Hi, I got this error:
ERROR: Could not find a version that satisfies the requirement tensorflow-io (from versions: none)
ERROR: No matching distribution found for tensorflow-io

How could I fix it?

[2019-09-25 01:06] yongtang commented on #501
@hagianga21 Can you provide more details about your tensorflow version, python pip version, and python version + platform (e.g. Ubuntu 16.04)?

[2019-09-25 08:28] psitronic commented on #500
Here it is:
[blob.zip](https://github.com/tensorflow/io/files/3651381/blob.zip)

Forgot to mention:
TF I/O 0.7.0

[2019-09-25 15:48] yongtang commented on #453
@faroit With PR  #499 in place I think this issue is resolved.

@ivelin Those are good discussions, let me open a new issue to continue the discussion.

[2019-09-25 15:48] #453 closed

[2019-09-25 15:49] yongtang opened #505 "Enhancement for media streaming"
From https://github.com/tensorflow/io/issues/453#issuecomment-534605676

@yongtang Thank you for keeping me in the loop. As I mentioned earlier, I've spent more time looking at the options for real time media streaming feeds into TF IO. Seems like we are independently reaching similar conclusions. ffmpeg works well for transforming to raw media a large number of file containers and formats, but it

[2019-09-25 15:52] yongtang commented on #453
@faroit with PR #499 in place, you can now pass a substream with the name `a:0` to select audio sub stream 0, `v:0` to select video sub stream 0, and `s:0` to select subtitles. (Yes subtitles have been supported with #PR 499.

Also, I exposed a `tfio.IOTensor.from_ffmpeg` with gives you random/indexable access to Audio and Video sub streams for convenience usage. Let me know if you want to see add

[2019-09-25 16:01] faroit commented on #453
@yongtang this is incredible useful. I will give it a try the next week and will get back here with feedback. Thanks!

[2019-09-25 16:20] hagianga21 commented on #501
Hi, I use Window, tensorflow gpu 2.0 (anaconda env), python 3.6

[2019-09-25 16:24] yongtang commented on #505
@ivelin Yes for audio and video format support, FFmpeg provides almost everything. However, for machine learning purposes I think user only care about several limited formats that are the most widely used. Less widely used formats could always be converted (since they are rare).

One note is that, patent/license could be an issue for some codec. So other than one widely used format (like H264), id

[2019-09-25 16:28] yongtang commented on #505
Also, subtitle could play an important role in audio/training, as subtitle itself is a label with associated feature in audio.

With subtitle it could be combined for training audio/video data in an easy way.

PR #499 adds the Subtitle through FFmpeg. Though Ffmpeg's support for WebVTT (an html5 standard that are normally embedded in web pages together with html5 video) seems to be subpar.

[2019-09-26 02:35] yongtang commented on #501
@hagianga21 We don't have windows build yet. It might be possible to enable Windows build as long as we could have a reliable CI to generate the binary.

I have changed the title to "windows support for tensorflow-io". We might be able to have the Windows build soon.

[2019-09-26 02:37] yongtang commented on #505
@ivelin For 2), wondering if bypass an intermediate gstreamer makes sense? Basically, once raw audio data is captured from device input, it will be serialized and send through grpc directly. (or have a preprocessing that could happen before the data is sent).

[2019-09-26 13:11] ivelin commented on #505
Yes, raw input from the capture device is certainly an option whenever its
possible to run a GRPC client for TFIO on the device.

On Wed, Sep 25, 2019 at 9:37 PM Yong Tang <notifications@github.com> wrote:

[2019-09-26 13:42] yongtang opened #507 "Add Avro Deserializer for Kafka in tensorflow-io"
This is an issue to track the progress for adding Avro deserializer for Kafka in tensorflow-io.

Initially I though Avro deserializer could be applied to Kafka directly though the raw bytes I received does not exactly fit a generic datum. There might be some additional framing in between. So decided to setup a Kafka Schema Registry to check for any raw bytes to resolve this issue.

Here is the lis

[2019-09-26 15:12] yongtang commented on #455
/cc @SudeepDasari

Added PR #509 to have decoding video from memory support. Keep in mind video could be big after decoding. Eventually there might be a need to only decode a small number of frames (e.g., start:stop = 100:200 ).

[2019-09-26 15:24] yongtang opened #510 "Add prefix for all implemented ops"
TensorFlow RFC https://github.com/tensorflow/community/pull/126 introduced namespaces for custom TF ops that are separated by `>` characters.

We should follow the same prefix rule so that tensorflow-io plays well in overall tensorflow ecosystem.

[2019-09-26 15:45] psitronic opened #511 "[Azure support] Never finishes reading a blob (EOF problem?)"
TF2.0rc2
TF I/O tensorflow-io-nightly
Python 3.7.4

I used a simple csv file:
[code]

The dataset is created by the following code:

[code]

If `<path-to-file>` is `/local/path/to/file` the dateset is created and the output of its iterations:
[code]
It exits the loop after iterating. The same result if I read from Google cloud storage using `gs://<blob>/path/to/file`.

When `<path-to-file>` is `az

[2019-09-26 21:41] kaiwaehner commented on #507
Thanks for investing time into this topic, @yongtang .

Please note that there are **two options for Avro and Kafka:**

1) Most people use **KafkaAvroSerializer** (see https://docs.confluent.io/current/schema-registry/serializer-formatter.html), which is implement by Confluent and open source on Github. It uses a magic byte in each message as Schema ID. Therefore, this KafkaAvroSerializer is only

[2019-09-26 21:44] kaiwaehner commented on #507
Another comment regarding your task "_Change test setup in our Travis CI to use confluence kafka + Schema Registry_"

First of all, it is "Confluent", not "Confluence" (which is the wiki tool). No worries, many people use the wrong name sometimes :-)

More important, there is no "Confluent Kafka". This is another thing many people say wrongly.
You can use the Confluent Platform which includes Apac

[2019-09-27 01:50] #455 closed

[2019-09-27 02:31] yongtang commented on #511
/cc @damienpontifex maybe you could take a look?

[2019-09-27 03:14] yongtang commented on #507
Thanks for the pointers @kaiwaehner! I am terribly sorry to mistype the `confluent` :flushed: ( I did type the name right in PR #507, though. :)

With your pointer I am able to figure out that Kafka message in 1) consists of 1 magic byte and 4 schema id (int) bytes. After that it matches the Avro.

I have created a PR #512 which should cover bother cases you mentioned. Since tensorflow-io already

[2019-09-27 07:47] kaiwaehner commented on #507
Great!

Can't wait to try this out in our demo MQTT + Kafka + Kubernetes - when we have set up the infrastructure soon...

[2019-09-27 18:14] yongtang opened #513 "Separation of bounded (and repeatable) and unbounded (or not repeatable) Dataset"
For tensorflow-io we always start out IO related implementation with Dataset. The reason is to tie to TF 2.0 overall and tf.keras. In the past we only have limited input sources covered and everything was fine. However, as different input sources are exposed some issues arise.

While Dataset has been well supported in tf.keras, the mechanism of inference and training are different and that caused

[2019-09-27 18:54] yongtang commented on #513
Also on `tfio.IOTensor`: it is different from Dataset in that IOTensor is indexable. You could access IOTensor randomly. In certain situations IOTensor might be cached to avoid expensive and frequent data access to disk. This could either be done at the C++ level, or python level (like `FFMpegAudioIOTensor`. So,
[code]

[2019-09-27 19:38] terrytangyuan commented on #513
Thanks for the detailed background. It makes perfect sense for me to split this into two types.

Regarding the way we expose them in top-level APIs, the approach you suggested looks good to me. We just have to give informative and instructive error messages to users when they misuse different types of IO Datasets.

[2019-09-28 01:49] damienpontifex commented on #511
Will do @yongtang

[2019-09-28 01:49] damienpontifex commented on #500
Thanks, I'll take a look and see if I can figure it out

[2019-09-29 16:17] yongtang commented on #513
Also some of the background in recent implementations on some C++ code:

1) *Will IODataset require different C++ implementation?*

   IODataset/IOStreamDataset are just a standard tf.data.Dataset class with a tag marked so that user knows they are for different purposes (training vs. inference). Any C++ Dataset implementation could be marked either IODataset or IOStreamDataset. The glitch is that

[2019-09-29 17:03] yongtang commented on #513
Another reason for `Resource` and using sequence number dataset as "seed": it splits reference out of the Dataset operation itself. In this way, Resource (reference) persist while Dataset has been recreated (during each training epoch run). This guarantees the Dataset is repeatable.

The issue was originated from the idea of using Kafka for training. While Kafka was used for streaming originally,

[2019-09-29 17:32] yongtang opened #515 "Optimize data source for TFLite"
This is an issue to track the effort for optimize data source for TFLite (see https://github.com/tensorflow/io/pull/478#issuecomment-531869193). /cc @ivelin

There is a great usage of streaming in mobile devices and optimize data source for TFLite will be very useful for the community.

This is a placeholder to see what needs to be done in this area.

[2019-09-30 14:01] #507 closed

[2019-09-30 14:05] Kat-ML commented on #489
Have you already fixed those bugs?

[2019-09-30 19:01] yongtang opened #517 "tensorflow-io 0.9.0 release"
Since TensorFlow 2.0.0 has been released:
https://pypi.org/project/tensorflow/#history

We should plan on having 0.9.0 release. This will happen once 0.8.0 is released (in #459).

/cc @dmitrievanthony @terrytangyuan @BryanCutler

[2019-09-30 21:02] yongtang commented on #489
@Kat-ML I have not been able to reproduce the issue on my local machine. If you could provide a configuration (Linux distribution type, version, tensorflow version, and tensorflow-io version/install) then I could take a further look.

[2019-09-30 23:13] BryanCutler commented on #431
Apologies for the delay, @yongtang . I believe I have fixed the arrow test failures now.

[2019-10-01 12:52] epolitis opened #520 "v0.7.0 fails to build"
`ERROR: /v/tensorflow_io/bigtable/BUILD:83:1: C++ compilation of rule '//tensorflow_io/bigtable:bigtable_lib_cc' failed (Exit 1): gcc failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/a7ecd8237744645c5d189c197108d6d2/execroot/org_tensorflow_io && \
  exec env - \
    PATH=/miniconda/envs/tfio-dev/bin:/miniconda/condabin:/miniconda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/us

[2019-10-01 14:49] kleysonr opened #521 "tf-io for tensorflow 2.0 ?"
When will tensorflow-io be compatible with the new tensorflow 2.0 ?

[2019-10-01 17:25] BryanCutler commented on #431
Is anyone looking at the Ignite test failures? I can give it a shot if no one else is..

[2019-10-01 19:23] yongtang commented on #431
@BryanCutler If you can take a look at ignite test failure that would be great. I think we are very close to release the new version soon.

[2019-10-01 20:26] yongtang commented on #511
@psitronic @damienpontifex I don't have access to Azure storage, though I am able to reproduce the issue with the Azure emulator. Think I found out where the issue arise, will send a PR soon.

[2019-10-01 21:13] yongtang commented on #511
Added a PR #525 for the fix.

[2019-10-01 22:32] yongtang commented on #521
@kleysonr At the moment tensowflow-io-nightly is based on tensorflow==2.0.0 so it is compatible with 2.0. We are actively working on getting a release version soon.

The current:
1) Release tensorflow-io 0.8.0 once TensorFlow 1.15.0 final is out.
2) Release tensorflow-io 0.9.0 immediately after tensorflow-io 0.8.0 is out.

At the moment, the update I had in SIG Build's meeting, is that TensorFlow

[2019-10-02 15:24] #511 closed

[2019-10-03 19:57] megaserg opened #527 "BigQueryClient read_session: `row_restriction` is unused"
Looks like `row_restriction` parameter is saved in Python class but never propagated to actual BigQuery client. Is my understanding correct? @vlasenkoalexey

[2019-10-03 21:14] vlasenkoalexey commented on #527
Indeed, looks like I missed to pipe it through to the C++ code. Will fix this.

[2019-10-03 22:45] megaserg commented on #527
Thank you very much! Appreciate the convenient interface.

[2019-10-04 17:46] ricky3dec commented on #510
Hello @yongtang , was just understanding the changes needed for this, and found a reference pull request in tensorflow_addons : https://github.com/tensorflow/addons/pull/516

Hope, this should be good reference point and be of some help!

[2019-10-05 01:24] yongtang commented on #510
@ricky3dec That would be great!

[2019-10-05 03:33] ricky3dec commented on #510
Referring to : tensorflow_io/pubsub/ops/dataset_ops.cc

REGISTER_OP("PubSubDataset") needs to be changed to REGISTER_OP("IO>PubSubDataset") i.e. prefix the ops with IO>.

And similarly it's usage should become and elsewhere as well:

REGISTER_KERNEL_BUILDER(Name("IO>PubSubDataset").Device(DEVICE_CPU),
                        PubSubDatasetOp);

If this looks ok, please assign this CR to me, and als

[2019-10-06 16:29] hollowgalaxy opened #528 "[Feature Request] Suppress output of ffmpeg with the VideoDataset"
Tensorflow I/O version 0.7.0 Tensorflow 1.14.0 Python 3.6
I have a couple of video files that generate `Invalid UE golomb code`, however looking at the output of the videos that produce that, there is no error. Looking on google for the error leads to this...
https://github.com/ros-drivers/video_stream_opencv/issues/32#issuecomment-497906955
https://github.com/ZoneMinder/zoneminder/issues/2341#iss

[2019-10-07 05:40] ricky3dec commented on #510
Hello @yongtang , if everything looks ok, can you help me get this going?

[2019-10-08 16:52] yongtang commented on #510
@ricky3dec Assigned the issue to you, we always creates pull requests against master branch. Once it is in master branch it will be cherry-picked to a specific branch (if needed).

[2019-10-08 16:53] #527 closed

[2019-10-08 19:08] #513 closed

[2019-10-08 22:50] yongtang commented on #528
@hollowgalaxy Created a PR #530 so that you could use `FFMPEG_LOG_LEVEL` to adjust log level. Supported log levels include:
[code]

[2019-10-09 01:07] #528 closed

[2019-10-09 01:29] megaserg opened #532 "Support for Parquet byte array (binary) column type"
Is it currently possible to read Parquet dataset with a byte array (binary) column?

I'm using `tensorflow_io_nightly-0.9.0.dev1911-cp27-cp27mu-manylinux2010_x86_64.whl` and Tensorflow 2.0. I'm constructing dataset like this:
[code]
and getting:
[code]

Thanks!

[2019-10-09 06:53] yongtang commented on #532
@megaserg Added a PR #533 for BinaryArray and FixedLenBinaryArray support.

[2019-10-09 20:51] yongtang commented on #431
With PR #519 and #526 merged, this issue could be closed.

[2019-10-09 20:51] #431 closed

[2019-10-09 22:02] BryanCutler commented on #513
Thanks for all of the details @yongtang , I agree this is an important distinction to make that could save a lot of user from improper training.

One thing to add though, from my understanding you could still train a model correctly from a streaming dataset as long as the stream can be repeated with the same sequence.Correct me if I'm wrong, but I believe for training over epochs Keras calls `tf.d

[2019-10-09 22:46] #532 closed

[2019-10-09 23:24] yongtang commented on #513
Thanks @BryanCutler. When iterator is created at each epoch, my understanding is that the dataset node will be recreated with the same input parameters. So if a Dataset can reproduce the same sequence of data with the same input argument, then training will be fine. The StreamDataset we discussed here, are strictly limited to those Dataset that could not repeat with the same input argument. One ex

[2019-10-10 00:20] yongtang opened #534 "Add native data type support for decode_tiff"
At the moment decode_tiff (TIFF support) in tensorflow-io always converts an image into a RGBA format. This means higher resolution or useful information could be lost. Instead of doing the conversion, we should add data type support so that the "native data type" (than uint8) is the output. Any additional processing (like converting to uint8) should be an extra ops outside of decode_tiff.

[2019-10-10 07:07] psitronic commented on #124
As I understood this issue was not fixed yet. Is it possible in `setup.py` just check if either `tensorflow` of `tenserflow-gpu` was installed?

[2019-10-10 07:13] psitronic opened #535 "Disable TF-IO warnings by setting TF log level"
Disable/enable Tensorflow warnings by setting TF log level similar to `TF_CPP_MIN_LOG_LEVEL` in TF.

[2019-10-10 17:40] vlasenkoalexey commented on #489
Regarding bigquery, I believe issue exists in tensorflow-io 0.7.0 and fixed by https://github.com/tensorflow/io/pull/467

[2019-10-10 17:56] yongtang commented on #513
@BryanCutler One good way to see if training is possible for stream dataset, is to try with multiple iterators (in 2.0/eager mode) with the same created dataset:
[code]

If `v1 == v2` then the dataset is safe to be used for training.

[2019-10-10 22:08] yongtang commented on #521
@hollowgalaxy version 0.8 and 0.9 will have exactly the same code base, the only difference is that 0.8 depends on tensorflow 1.15.0 and 0.9 depends on tensorflow 2.0.0.

The diff is in setup.py, and the behavior difference is controlled indirectly by tensorflow (2.0.0 has eager mode enabled by default while 1.15.0 does not).

[2019-10-11 02:44] liyi193328 commented on #488
@yongtang Got it, nice, Thanks very much

[2019-10-13 02:53] yongtang opened #536 "Decouple image decoding and rgb(a) conversion"
At the moment, the image decoding in tensorflow-io (e.g., decode_webp) actually does both decoding and conversion rgb(a) conversion in one step. WebP format could be either RGB(A) or YUV420 yet we always do the conversion to RGBA.

We should split the decoding and conversion into two steps:
1) YUV420 is a format used widely as well (e.g., in video frames). User might prefer to operate on YUV inste

[2019-10-13 03:26] yongtang opened #537 "tensorflow-io namespace consolidation and experimental"
When tensorflow-io get started, each Dataset implementation is on its own directory. Examples includes `tensorflow_io/kafka`, `tensorflow_io/ignite`, etc. This structure was inherited from original `tensorflow/contrib/[kafka/ignite]` structure as Kafka and Ignite was individually implemented.

As the number of tensorflow/io implementations grow, this becomes problematic:
1) We already have too man