[2020-04-22 19:21] marioecd commented on #916
So I created a virtual gcs_file_system method, [ParseGcsPath](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/cloud/gcs_file_system.h).

In tensorflow-io I want to add a class that inherits gcs_file_system's ParseGcsPath. A new file system will be registered (REGISTER_FILE_SYSTEM) with my new class and a new scheme. My new class will override ParseGcsPath and let gcs_

[2020-04-22 19:36] marioecd commented on #916
The issue is that the method ParseGcsPath is made virtual in a release from:
tf-nightly==2.2.0.dev20200417

[2020-04-22 22:33] yongtang commented on #916
@marioecd I have created the `nightly` branch (see https://github.com/tensorflow/io/tree/nightly) with all build break fixed. You can take a look and base your code on top of `nightly` branch for now.

[2020-04-22 22:44] marioecd commented on #916
Woohoo! Thanks! I'll try that one.

[2020-04-22 23:35] marioecd commented on #916
That worked very well! I got my local target to build.

[2020-04-22 23:35] #916 closed

[2020-04-24 16:21] dholland42 opened #918 "support partially-known and unknown shape specification in decode_json"
Hi,

I have been using `tfio.experimental.serialization.decode_json` along with `tf.data.TextLineDataset` to effectively train using newline separated json files. It feels to me like a slightly less efficient, but human readable, version of `tf.data.TFRecordDataset`. This has been a huge boon to my workflow, so first off thank you for this contribution! I have, however, run into a minor issue rece

[2020-04-24 21:13] marioecd opened #920 "lint check failing "./tensorflow_io/core/BUILD # reformat" on PR"
I have a pull request for the nightly branch that's failing the lint check.
I think the lint output doesn't really show what the problem is. The output at the end shows is basically:

./tensorflow_io/core/BUILD # reformat
##[error]Process completed with exit code 4.

The PR request check run is:
https://github.com/tensorflow/io/pull/919/checks?check_run_id=616575403

[2020-04-24 21:50] BryanCutler commented on #908
Thanks for bringing this up @ngrislain , you and @yongtang are absolutely correct. Creating a different socket should be an easy fix for the first issue at least. I'll try to get a fix in before the next release.

[2020-04-24 21:55] yongtang commented on #920
@marioecd The following command:
[code]

Will automatically reformat all bazel files (`WORKSPACE`, `BUILD`, and `.bzl`) with bazel `buildifier`.

You can add the changes and push to PR.

Once the files are reformatted, then the following command for lint checking will pass. It is also the command line run by GitHub CI.
[code]

Because Bazel's `buildifier` does not really have a `--check` option, w

[2020-04-24 22:14] marioecd commented on #920
oh thanks!

[2020-04-24 22:14] #920 closed

[2020-04-28 14:58] chaaland opened #921 "Parquet documentation refers to json"
The comments for `from_parquet` refer to json files in a couple places. Looks like a copy paste error: https://github.com/tensorflow/io/blob/4643b2af7fb22d508eba10b4e6e7144c362eedaa/tensorflow_io/core/python/ops/io_dataset.py#L260

[2020-04-28 17:14] terrytangyuan commented on #921
Thanks. I submitted a PR that corrects this in: https://github.com/tensorflow/io/pull/923

[2020-04-28 17:44] marioecd opened #924 "cc_test with dependency on tensorflow?"
Has anyone run any TFIO cc_test with a dependency on tensorflow? I am trying to add in a cc_test for a new component. The new component has a depedency on tensorflow  "@local_config_tf//:libtensorflow_framework", but when I run its bazel test I get error:

**error while loading shared libraries: libtensorflow_framework.so.2: cannot open shared object file: No such file or directory.**

When runnin

[2020-04-28 17:51] #921 closed

[2020-04-28 20:24] yongtang commented on #924
@marioecd Will it be possible to write in python? Due to the lib dependency it might not be very straightforward to get the `cc_test` working in `bazel`, as ` libtensorflow_framework.so.2` is installed from environment. This is different from tensorflow repo where the `libtensorflow_framework.so.2` is built from source and is already visible from bazel. (It could be possible, though, likely with `

[2020-04-28 20:38] marioecd commented on #924
Hmm, these would be unit tests for a cc_library component. I think python test are out of the question for these to unit test this component. The only question is whether I can extract away enough TF stuff from it and try to test the non-TF parts with cc_test. But some parts of it are going to be very hard to unit test with python. Thanks for the context!

[2020-04-28 20:52] chaaland opened #925 "ArrowFeatherDataset example broken"
Going off of [this medium blog](https://medium.com/tensorflow/tensorflow-with-apache-arrow-datasets-cdbcfe80a59f) to create an ArrowFeatherDataset, I get the following error

`tensorflow.python.framework.errors_impl_InternalError: Type error: Arrow type mismatch: expected dtype=9, but got dtype=3`

The code I used (taken almost entirely from the linked blog) is below with pandas==1.03, tensorflow=

[2020-04-29 02:40] marioecd opened #926 "tensorflow-io takes forever to build in linux-sandbox ubuntu"
I've tried to do bazel build //tensorflow_io/... in a ubuntu machine with a 100GB disk. It takes forever to compile. It seems to use a linux-sandbox when I do bazel build there. The OS version is:

NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"

[2020-04-29 02:42] #924 closed

[2020-04-29 14:07] yongtang commented on #925
/cc @BryanCutler to take a look.

[2020-04-29 14:15] yongtang commented on #926
Bazel is not exactly memory/cpu efficient, but it normally takes about 20 min or so on a decent machine to build tensorflow/io. Maybe you can try:
[code]

to see where it spend most of the time.

Things I encounter that may take very long in the past include the network. If bazel has not download the third_party packages before, then bazel will download first and this could varies.

I noticed in o

[2020-04-29 16:43] marioecd commented on #926
Yeah I've been running it with **bazel build -s --verbose_failurees //tensorflow_io/...**
I see it taking a long time on everything and anything. Gets stuck compiling any subcomponent that would have taken 20 seconds to build on Debian. The interesting thing is that in Debian it is always 20 minutes fast, while on the ubuntu os it is always hours slow. Both machines, though different type of machi

[2020-04-29 17:10] yongtang commented on #926
@marioecd Wondering what is the memory size of your machine? The bazel itself is written in Java and is really a resource intensive process. (could be several GBs of memory just for bazel, not counting gcc).

Our GitHub CI is testing against Ubuntu 18.04 and 20.04 by default:
https://github.com/tensorflow/io/runs/626946045?check_suite_focus=true

(GitHub CI is using Azure's VM. I don't think there

[2020-04-29 17:29] marioecd commented on #926
Ah good point. Just checked. It's not memory size though. It has a lot of memory.

[2020-04-30 17:10] chaaland opened #927 "[Question] Load multiple parquet files into a Dataset?"
tensorflow_io == 0.12
tensorflow == 2.1
pyarrow == 0.16

I have been trying to create a dataset from multiple parquet files using tfio but it seems `tfio.IODataset.from_parquet()` only supports a single file. I tried the code below, inspired by something similar written in [this colab](https://colab.research.google.com/drive/1iT75uFmb2Tni9tFr4PtsMsg6ju_yLUDb#scrollTo=HX9fB5ur-qkD) for hdf5 which w

[2020-04-30 18:42] BryanCutler commented on #925
Hi @chaaland , it looks like there is a dtype mixup between what schema is in the feather file and what is specified in `output_types=(tf.int64, tf.float64, tf.float64)`.  The error indicates that it was expecting an `int64` but got `int32`, which could mean somehow your label column is ending up as an `int32`.  Could you post the output of:

[code]
If you have a pandas DataFrame, you could automa

[2020-04-30 21:06] chaaland commented on #925
Running the above on Windows10 I do indeed see `label: int32`. Running on MacOS the example runs without error though

[2020-04-30 21:06] #925 closed

[2020-05-01 16:38] yongtang opened #930 "Add a generic decode_image in tensorflow/io"
This is more or less a request from https://github.com/tensorflow/tensorflow/issues/18250#issuecomment-622265251

In tensorflow/io, a wider range of image formats have been added. Though it is still not possible to wire up those additional supported formats in a generic `decode_image` way like TF. The progress will be tracked here.

One thing to take into consideration, is the output of `decode_im

[2020-05-01 23:04] vlasenkoalexey commented on #891
@BryanCutler I made prototype work, but noticed that Arrow doesn't support string to TF tensor translation:
https://github.com/apache/arrow/blob/master/cpp/src/arrow/adapters/tensorflow/convert.h
And at the same time I see that Arrow can handle strings just fine.
Do you happen to know why such limitation exists?
Would you mind if extend AssignTensor and CheckArrayType to support strings?

[2020-05-02 00:28] yongtang commented on #927
There is an issue related to the way resource is created, as TF's default resource created is fixed at graph compilation time (same with #898). I am working on a fix of #898, once fixed, will apply the same to parquet to resolve it.

[2020-05-03 15:14] yongtang opened #933 "Use"
As tensorflow/io uses Bazel to conform to TF's build system, and tensorflow/io has many projects dependencies (that uses CMake), in the past we have been manually converting CMake project to Bazel. This is really time-consuming and not very scalable.

It looks like Bazel has a project that might import CMake:

https://github.com/bazelbuild/rules_foreign_cc

We can explore and see if this fits out

[2020-05-03 18:49] yongtang commented on #898
This issue is being fixed by #922

[2020-05-04 16:55] yongtang opened #935 "Avro test fails on macOS"
The newly added Avro ops (#879) is not working well on macOS, and the tests in `test_parse_avro_eager.py` are triggering crashes.

This issue is for tracking the macOS fix.

Some additional notes:
- on macOS the GitHub CI passes optimization flag `--copt=-msse4.2 --copt=-mavx --compilation_mode=opt`
- linux is fine. Wondering if this is caused by certain buffer overflow due to the type difference?

[2020-05-04 17:43] gabrieltnishimura opened #936 "Unable to import decode_flac in 0.12.0 nor 0.11.0"
**Issue**: `decode_flac` function not available in 0.12.0 release.

Enviroment information
- **Python version**: 3.6.10
- **tensorflow version**: 2.1.0
- **tensorflow-io version**: 0.12.0

Code to reproduce:

```import tensorflow_io.core.python.experimental.audio_ops as ops```
```dir(ops)```

Returns:

```['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__'

[2020-05-04 17:51] yongtang commented on #936
@gabrieltnishimura The commit d1307e9 is merged after the release of v0.12.0. As such it is only available in nightly build at the moment (`python3 -m pip install tensorflow-io-nightly`).

We will be releasing a v0.13.0 once TF 2.2.0 final is out (TF 2.2.0 is currently in `rc4` and I am expecting a release of final in a week if no further release candidates). After that you can use tensorflow-io v

[2020-05-04 18:14] gabrieltnishimura commented on #936
Thank you!
I'm also having issues with the nightly build. Upgrading all packages to:

 - **tensorflow version**: 2.2.0rc4
 - **tensorflow-io version**: 0.13.0.dev20200501181743

**Issue**: I can't seem to find anything under `tensorflow_io`.

**Code to reproduce**:

```import tensorflow_io```
```dir(tensorflow_io)```

**Returns**:

```['__doc__', '__loader__', '__name__', '__package__', '__path__'

[2020-05-04 19:15] yongtang commented on #936
@gabrieltnishimura I don't see a problem from a fresh install of tensorflow-io-nightly on Ubuntu 18.04:
[code]

Can you specify the environment (Windows, Linux, macOS), pip?

[2020-05-04 19:32] yongtang commented on #898
@Svdvoort The PR #922 has been merged and the latest tensorflow-io-nightly is available. I tried your Colab (with `pip install tensorflow-io` changed to `pip install tensorflow-io-nightly`) and it works fine now.

I will close this issue but feel free to reopen if issue persists.

[2020-05-04 19:32] #898 closed

[2020-05-04 19:33] yongtang commented on #745
@zaccharieramzi with PR #922 merged and new tensorflow-io-nightly available, I think this issue is resolved (also see comment in #898).

I will close this issue now but feel free to re-open if issue persists.

[2020-05-04 19:33] #745 closed

[2020-05-04 19:35] yongtang commented on #791
@gruossomonica With PR #922 merged I think this issue is fixed. Can you give the nightly build `tensorflow-io-nightly` a try? Let me know if you encounter further issues.

[2020-05-04 23:15] vlasenkoalexey opened #937 "bazel run //tools/lint:check is broken in Docker"
It was broken by
https://github.com/tensorflow/io/commit/fb75864710d0669b9e18e0f5565a1cada78a1b8c
I had to revert llvm_version to 9.x because 10.x does not support Ubuntu16:

https://github.com/grailbio/bazel-toolchain/blob/edd07e96a2ecaa131af9234d6582875d980c0ac7/toolchain/internal/llvm_distributions.bzl#L91

[2020-05-04 23:38] yongtang commented on #937
@vlasenkoalexey Created a PR #938 to downgrade.

[2020-05-05 05:25] Svdvoort commented on #898
Thanks, the issue indeed seems to be resolved!

[2020-05-05 08:30] gruossomonica commented on #791
@yongtang thanks for the info. At the moment I can't try because I don't have access to the computer I used for my work (due to the pandemic). I'll try asap. I think we can close the issue and re-open it if the issue persists. Thanks again!

[2020-05-05 08:31] #791 closed

[2020-05-05 08:41] gruossomonica commented on #893
Hi! I loaded several hdf5 files and concatenated it using `.concatenate` and then `.zip`. You can see a part of my code here: #791
I'm not sure it's the most efficient way to do it. Another idea is here: #745
I hope this can help you.

[2020-05-05 12:27] gabrieltnishimura commented on #936
I'm using:
- **macOS**: 10.14.6
- **pip**: 20.0.2

[2020-05-05 17:09] BryanCutler commented on #891
Hi @vlasenkoalexey , the limitation was just due to not having the time to add it in. If you could add this, that would be great, thanks!

[2020-05-05 21:47] marioecd opened #943 "tfio fails to build with: "no such package '@speexdsp//'""
tensorflow-io nightly branch fails with error: no such package '@speexdsp//'

repro:
$ git clone https://github.com/tensorflow/io.git
then build as instructed in README for ubuntu
... install bazel... and build
$ bazel build -s --verbose_failures //tensorflow_io/...

**Fails with error:**
WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/downloads.xiph.org/releases/speex/

[2020-05-05 21:57] yongtang commented on #943
@marioecd Created a PR #944 to resolve the issue. Once merged will cherry-pick into nightly branch.

[2020-05-06 01:29] yongtang commented on #943
@marioecd The issue have been fixed in #944 now. I will close this one, but let me know if there are any other issues.

[2020-05-06 01:29] #943 closed

[2020-05-06 03:07] #937 closed

[2020-05-06 17:18] EwoutH commented on #882
There is a reference implementation available, [libavif](https://github.com/AOMediaCodec/libavif).

[2020-05-06 22:48] marioecd opened #945 "Bazel Windows upload-artifact fails"
I detected this failure during my [PR checks](https://github.com/tensorflow/io/pull/942/checks?check_run_id=651178121). I think it may be unrelated to my changes.

 Run actions/upload-artifact@v10s
##[error]Exit code 1 returned from process: file name 'c:\runners\2.169.1\bin\Runner.PluginHost.exe', arguments 'action "GitHub.Runner.Plugins.Artifact.PublishArtifact, Runner.Plugins"'.
Run actions/upl

[2020-05-07 01:52] marioecd opened #946 "test_gcs_config_ops.py fails on: pylint pyupgrade black"
As part of PR checks there is a lint error on test_gcs_config_ops.py

repro:
$ bazel run -s --verbose_failures //tools/lint:lint -- bazel pylint pyupgrade black

lint tests/test_gcs_config_ops.py
************* Module tests.test_gcs_config_ops
tests/test_gcs_config_ops.py:21:0: C0411: third party import "import tensorflow as tf" should be placed before "import pytest" (wrong-import-order)
tests/tes

[2020-05-07 04:51] yongtang commented on #936
@gabrieltnishimura Sorry for the late reply. The issue is likely caused by the fact that the binary we built on GitHub CI is with macOS Catalina and your local machine is 10.14?

In theory it should be possible to adjust the GitHub CI to build with passing additional flags to build against 10.14.

I will try to take a look tomorrow.

[2020-05-07 19:16] nmatare opened #947 "[kafka-io] - KafkaStreamIODataset eof and timeout behavior"
The first implementation of KafkaDataset (kafka_kernels_deprecated.cc) allowed the user to specify `eof` and `timeout` which blocked the calling thread if no data was present. The new `StreamIODataset` Kafka dataset ("A StreamIODataset where data generation may last forever and/or non-repeatable") immediately exits if there isn't any data, and doesn't allow for a timeout parameter.

The first beha

[2020-05-07 19:17] jpambrun opened #948 "DICOM decoder issues with @tf.function"
I get odd error when using the DICOM image loader with J2K files:
[code]

Here is  a minimum working example with some image I found in this repo:
[code]

I am running in docker:
[code]

[2020-05-07 19:17] nmatare opened #949 "[kafka-io] - Support for time-sensitive message processing"
`KafkaDataset` v0 allows a user to specify a starting offset and a commit policy but doesn't allow one to dynamically change the offset based on changing system conditions.

One such prominent use case for manually specifying offsets would be in the case of time-sensitive message processing where if the consumer falls far enough behind a specified threshold, the consumer may not attempt to catch u

[2020-05-08 02:28] yongtang commented on #948
@jpambrun JPEG2000 support for DICOM was added in #835 and merged to master. However, it is not yet part of the release. Our next version v0.13.0 will include this commit.

The release of v0.13.0 is imminent. We are just waiting for the final version of TF 2.2.0. In the meantime, you can use tensorflow-io-nightly.

You can give it a try with the following (replace `tensorflow-io` to `tensorflow-io

[2020-05-08 02:33] yongtang commented on #946
@marioecd I run the same command but didn't face the same issue.

One potential discrepancy I can think of, is the version of pylint? In my local machine I don't have pylint installed. Instead, the run relies on internal pylint configured through bazel

https://github.com/tensorflow/io/blob/master/tools/lint/requirements.txt

If your local machine have pylint installed and it is not version 2.4.4,

[2020-05-08 11:07] zaccharieramzi commented on #146
Hi,

I need exactly this and I wanted to know how we were supposed to access the result of the prediction. In the [docs](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback#on_predict_batch_end) I only see that we have access to the batch index but not necessarily to the predictions.

[2020-05-08 12:07] yongtang opened #952 "tensorflow-io 0.13.0 release"
With TensorFlow 2.2 released we should have a v0.13.0 release.

Here is the list of items for 0.13.0:

- [x] Merge any critical fixes
- [x] Update RELEASE.md/README.md to capture 0.13.0 changes.
- [x] When GitHub Actions complete the build against the master, download the artifact with the name `tensorflow-io-release`. Uncompress the content and all binaries for release are inside.
- [x] Do minima

[2020-05-08 12:09] yongtang commented on #948
@jpambrun Actually tensorflow 2.2.0 final version was just released yesterday. Now we are in the process of release tensorflow-io v0.13.0 (tracking in #952).

[2020-05-08 12:57] jpambrun commented on #948
That's for looking into this. I was actually using a modified version of the original source for this op (`jpambrun/gradient_decode_dicom`) and when I tried to reproduce on tensorflow-io I got the expected error (`can't change to unencapsulated representation for pixel data..`) but didn't notice jpeg2000 wasn't enabled. Hence the confusion.

However, I continued debugging and have identified the f

[2020-05-08 13:05] jpambrun commented on #948
I just tried with 2.2.0 by using `FROM tensorflow/tensorflow:2.2.0` above and it failed consistently  10 times in a row with `@tf.function`, but works fine without it.

I am struggling to understand why/how `@tf.function` is causing dcmtk to crap out.

[2020-05-08 16:27] marioecd commented on #946
I don't seem to have pylint installed here either. Though finally running lint:lint showed what I needed to change to avoid a pylint failure in the PR. So that's at least solved. Thanks.

[2020-05-08 16:27] #946 closed

[2020-05-08 18:51] yongtang commented on #936
@gabrieltnishimura The issue was that, while we pass  `-mmacosx-version-min=10.13` in c++,
 the swift was not covered (need `-target x86_64-apple-macosx10.13`).

Added a PR #953 for the fix. Once merged you can give new nightly build a try (and we will release v0.13.0 very soon).

[2020-05-08 20:52] #936 closed

[2020-05-08 21:49] yongtang commented on #146
@zaccharieramzi It is actually easier to add an additional layer as an output. Depending on where you want the output to go (console, text file, streaming framework like Kafka, or format files such as parquet/avro), it might be already available or need additional kernel to make it happen. What kinds of output you want the prediction to go?

[2020-05-08 21:52] zaccharieramzi commented on #146
Ah ok interesting ! So I would basically build a `SaveModel` which would have the original model as a property and save to file in the `call` method after calling the original model?

And to answer your question, of course it's me again, so I want to save to a `.h5`.

[2020-05-08 22:11] yongtang commented on #146
@zaccharieramzi Not really, you can add a `passthrough` layer at the end of you initial model. Then you can just call the mode like before. It will be replayed in background implicitly.

For `h5`..., a new kernel ops will be needed. Can you create a new issue. I will see if I can work on it (likely sometime after v0.13.0 release)

[2020-05-08 23:28] gabrieltnishimura commented on #936
@yongtang sorry but I still have the same issue using

[code]

Is this the latest from nightly? I think the same error occured:

[code]

[2020-05-09 01:35] yongtang commented on #936
@gabrieltnishimura Sorry, the commit is 0a924ff, however, due to a GitHub CI issue, it does not create a new nightly yet. As you could see there is a red `X` on the left side.

The fix for the GitHub issue is in 824251a, which is currently running (brown dot on the left side). Once it successfully finish the nightly build will be populated to pypi.org.

[2020-05-09 01:44] yongtang commented on #936
@gabrieltnishimura to be more specific, the related GitHub CI status page is in https://github.com/tensorflow/io/runs/658146066 if it finished with every button green then the nightly build is pushed to PyPI.org.

[2020-05-09 04:12] yongtang commented on #936
@gabrieltnishimura The latest nightly `pip install tensorflow-io-nightly==0.13.0.dev20200509013058` is available now:
https://pypi.org/project/tensorflow-io-nightly/0.13.0.dev20200509013058/

[2020-05-09 06:17] zaccharieramzi commented on #146
I see, but if I add this to the original model, then it will also save the prediction results during `fit` and `evaluate` right ?

Also for `h5` I don't necessarily have to wait for a new op, I can just use a python function wrapped in a tf function, no?

[2020-05-09 07:20] yongtang commented on #146
@zaccharieramzi

Not really, you can extend the pre-trained model with a new layer and wire up the output, so that output of the predict will go through your passthrough layer.

In graph mode that might be challenging, as layers are not run under the context of python. Though there might be some options to allow you to do context switch in between python and graph mode. (haven't check this part fo

[2020-05-09 07:47] zaccharieramzi commented on #146
Yes I think we have been saying the same thing the whole time actually, that's what I meant when I said create a new model. Cool.

I actually want to use the `MirroredStrategy` at inference time.

But can't I use `tf.py_function`? I tried this in [this colab](https://colab.research.google.com/drive/14Rr_t6kY8EGb3f40sf1IH07USU-nmXv4?usp=sharing), and other than this super weird bug in `predict` tha

[2020-05-09 08:00] yongtang commented on #146
py_function will be quite slow, as it involved switching back and forth though.

[2020-05-09 08:21] zaccharieramzi commented on #146
Yes definitely but isn't it better than a loop with predict then save?

[2020-05-09 08:31] yongtang commented on #948
The library we use for jpeg2k in dicom, https://github.com/DraconPern/fmjpeg2koj/tree/master/include/fmjpeg2k

is different from DCMTK used in other languages. In fmjpeg2k the cleanup is not safe until program exit. That was the reason for the strange behavior.

Created a PR #955.

[2020-05-09 08:33] yongtang commented on #146
In case of predict, you don't need mirror strategy as it will only incur additional cost. You can just shard the data and do the predict.

[2020-05-09 17:18] yongtang commented on #952
We will want to merge #955 to fix DICOM decoder issue on jpeg2k. And PR #956 for  README.md and RELEASE.md updates.

[2020-05-09 17:53] terrytangyuan commented on #952
Just approved both PRs.

[2020-05-09 18:11] #948 closed

[2020-05-09 23:31] yongtang commented on #948
@jpambrun The latest nightly should have the issue fixed now. Please let me know if the issue persists.

[2020-05-10 15:10] stephandooper opened #957 "Unable to decode multi level tiff image using decode_tiff"
Tensorflow version: 2.1
Tensorflow IO version: 0.12

Link to example TIFF file: http://www.nightprogrammer.org/wp-uploads/2013/02/multipage_tiff_example.tif:
Issue: when trying to load a multilevel TIFF file using the code below:

The ```decode_tiff_info``` does return something, but when using the ```tfio.experimental.image.decode_tiff``` function, it will return an error

[code]

The error is as

[2020-05-11 02:31] yongtang commented on #952
The generated binaries are:
[code]

[2020-05-11 02:36] yongtang commented on #952
v0.13.0 has been released and pushed to PyPI.org:
https://pypi.org/project/tensorflow-io/0.13.0/

Thanks all for the contribution! 👍 🎉

[2020-05-11 02:36] #952 closed

[2020-05-11 03:02] yongtang commented on #707
Added PR #959 for the fix. It is now possible to use:
[code]
for source installation.

It is also possible now to use
[code]
to install as well. Though after installation with
[code]
the `<datapath>` has to be passed through env
[code]
during any future python run.

Note install through
[code]
does not need further passing `TFIO_DATAPATH=<datapath>` after installation.

[2020-05-11 08:35] cfangplus commented on #868
thanks for your post, that's really helpful @BryanCutler
And I believe that this nice work must have been applied in many areas. Could you please introduce some more use cases where people bring Arrow data directly into TensorFlow?  I mean those case from Finance, Internet or some else. I really appreciate that.

[2020-05-11 14:43] jpambrun commented on #948
Yes. That seemed to have fixed it. I debugged for several hours and figured that init/cleanup was likely the issue, but I would never have been able to come up with the solution. I am very grateful.

[2020-05-11 16:54] #707 closed

[2020-05-11 17:42] yongtang commented on #855
@jjedele The issue should have been fixed by #953. All usage of 10.15 APIs in swift have been removed. You still need to pass `--copt="-mmacosx-version-min=10.13" and --linkopt="-mmacosx-verson-min=10.13" to bazel build, then build will be successful.

I will close this issue for now, but feel free to re-open if the issue persists.

[2020-05-11 17:42] #855 closed

[2020-05-11 18:03] BryanCutler commented on #952
Yay, nice work!

[2020-05-11 18:49] terrytangyuan commented on #952
Great work! 🎉

[2020-05-12 07:06] hollowgalaxy commented on #707
What's the recommendation on TFIO_DATAPATH=<datapath>?

[2020-05-12 13:58] yongtang commented on #707
@hollowgalaxy you need to build the shared object using bazel first:
[code]

After that, you will see a directory `bazel-bin` under your current directory:
[code]

You will need to pass `TFIO_DATAPATH=bazel-bin` so that shared library `libtensorflow_io.so` could be located by python.

[2020-05-12 14:05] RuhuaJiang commented on #627
Hey @vlasenkoalexey, we have internal use cases within Twitter for this.  Is there some special process in TFIO community I should follow to contribute or simply make a pull request?  I have an early prototype which enables: (for each BigQuery table row) for each column it could be REPEATED of primitive types such as STRING, FLOAT etc, RECORD is currently not supported (e.g  mode:REPEATED type:STR

[2020-05-12 14:21] chaaland commented on #927
Hi, l saw that https://github.com/tensorflow/io/issues/898 is resolved. Are there plans to update parquet as well now?

[2020-05-12 19:32] yongtang commented on #927
@chaaland PR for the fix is in #960

[2020-05-12 19:33] yongtang commented on #873
@nmatare  @ingolfured The issue is being addressed in #960

[2020-05-12 19:35] yongtang commented on #627
@RuhuaJiang Contribution is always welcomed! Please go ahead and create PR. The PR will be merged only if it is approved, though.

[2020-05-12 20:35] #875 closed

[2020-05-12 20:42] vlasenkoalexey commented on #891
SG, I'll give it a shot.

[2020-05-12 20:48] vlasenkoalexey commented on #627
@RuhuaJiang I've recently added Arrow support #891 and as far as I understand Arrow serializer supports nested structures. I wanted to try it out, but didn't get to it.
One catch is that Arrow doesn't support strings yet.
Feel free to send a PR or ping me with questions, will be happy to help.
For now as a workaround you can just flatten your dataset and materialize results in a temporary table an

[2020-05-13 13:24] gabrieltnishimura commented on #936
@yongtang thanks, the latest 0.13.0 fixes the problem as well!

[2020-05-14 04:45] Abhipray opened #964 "Feature request: Streaming HDF5"
It would be great to be able to stream data out of large HDF5 container using `tfio.from_hdf5`. Currently, if the file is on the network, it downloads the entire file which can be very slow.

[2020-05-14 15:18] RuhuaJiang commented on #627
Sounds good, will create the PR

[2020-05-14 19:35] #873 closed

[2020-05-14 19:35] #927 closed

[2020-05-14 20:56] yongtang commented on #945
Some additional update on why windows build was failing, in case anyone is interested:

In the past we used the default installation of Bazel on GitHub CI and that works fine.

Since Bazel 3.1.0 (or slightly earlier), bazel added a wrapper Bazelisk (or some script) in front of the binary bazel. And the behavior changed. With Bazelist (or front end script), bazel will look for the version string in

[2020-05-14 23:34] yongtang commented on #927
PR #960 has been merged. The latest nightly build `tensorflow-io-nightly` should have fixed this issue.

[2020-05-14 23:34] yongtang commented on #873
PR #960 has been merged. The latest nightly build `tensorflow-io-nightly` should have fixed this issue.

[2020-05-15 13:49] nmatare commented on #873
Thanks for adding this!

[2020-05-15 14:30] yongtang commented on #882
@EwoutH @Daniel451 Added a PR #966 to add initial AVIF support. Due to the complexity of AVIF, the support is still very limited, will expand later with follow up PRs.

[2020-05-15 18:29] BryanCutler commented on #868
Thanks for checking it out @cfangplus !  I definitely would like to to work towards better integration with Spark and TensorFlow using Arrow, and also hope to show more use cases and tutorials in the future. Thanks!

[2020-05-17 19:35] nmatare commented on #949
After poking around librdkafka and [Confluent's python consumer](https://docs.confluent.io/current/clients/confluent-kafka-python/#kafka-client-configuration), this might be better better suited for a callback passed to either the configuration params `consume_cb`, or `offset_commit_cb`.

[2020-05-18 12:46] chaaland commented on #927
Just a follow up question on this, how can I use this now to read multiple parquet files into a single dataset? The code I put in the original question was taken from the hdf5 example in the colab notebook. The parquet reader doesn't seem to work the same way. Below is the code I tried

[code]

This returns me the error
[code]

What's the appropriate invocation so that I can stream multiple parque

[2020-05-19 17:37] yongtang commented on #882
@EwoutH @Daniel451 The latest nightly build `pip3 install tensorflow-io-nightly==0.13.0.dev20200518224958` should have the initial AVIF support in. You can give it a try.

The support is still at the early stages so some codec might be missing. You can provide feedback  for that. We will try to address gradually.

[2020-05-19 20:35] ramonemiliani93 opened #968 "HDF5IODataset boolean mask returning always false produces index error."
While creating and HDF5 dataset using `tfio.IODataset.from_hdf5` I get:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: slice index 0 of dimension 0 out of bounds.`

This seems to be caused by line 32 in hdf5_dataset_ops.py:

`shape = tf.boolean_mask(shapes, tf.math.equal(components, dataset))[0]`

where the component is a tensor string type with a forward slash and dataset is a st

[2020-05-19 21:04] ramonemiliani93 commented on #968
Update:
 passing ` tf.convert_to_tensor("/" + dataset)` as the dataset makes everything work.

[2020-05-20 18:24] marioecd opened #971 "bazel windows setup-python fails"
I think there may be a miss-configuration causing bazel windows check to fail like:

 Run actions/setup-python@v10s
    BAZEL_OPTIMIZATION: --copt=-msse4.2 --copt=-mavx --compilation_mode=opt
Run actions/setup-python@v1
  with:
    python-version: 3.7.6
    architecture: x64
  env:
    BAZEL_VERSION: 3.0.0
    BAZEL_OPTIMIZATION: --copt=-msse4.2 --copt=-mavx --compilation_mode=opt
**##[error]Versi

[2020-05-20 18:38] yongtang commented on #971
@marioecd This issue was fixed in master branch  (in PR #954) but since nightly branch was falling behind, the error showed up again.

I will rebase the nightly branch to carry those changes. Though after my nightly rebase you may need to resubmit your local branch as well. Let me rebase the nightly first.

[2020-05-20 18:41] marioecd commented on #971
Oh ok. Will do. Thanks!

[2020-05-20 18:41] #971 closed

[2020-05-21 10:11] avnx opened #973 "InvalidArgumentError: unable to initialize encoder [Op:IO>AudioEncodeAAC]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (Bionic Beaver)
- TensorFlow installed from (source or binary): https://github.com/horovod/horovod/blob/master/Dockerfile.gpu (changed TENSORFLOW_VERSION=2.2.0)
- TensorFlow version (use command be

[2020-05-21 12:14] avnx opened #974 "encode_mp3 squashes audio in a bad way"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (Bionic Beaver)
- TensorFlow installed from (source or binary): https://github.com/horovod/horovod/blob/master/Dockerfile.gpu (changed TENSORFLOW_VERSION=2.2.0)
- TensorFlow version (use command be

[2020-05-21 14:21] yongtang commented on #968
Thanks for the report @ramonemiliani93. As you might notice a '/' is needed for specify dataset. The reason is that dataset could have a path that span into multiple nodes e..g, `/node1/node2/dataset` so '/' is needed to figure out the dataset referring to. I will close the issue as it seems this is resolved, but feel free to reopen if you have any questions.

[2020-05-21 14:21] #968 closed

[2020-05-21 14:31] yongtang commented on #964
@Abhipray The hdf5 implementation in tensorflow/io depends on [hdf5 library](https://www.hdfgroup.org/solutions/hdf5/). However, hdf5 library only have file mode (`open` and `read` syscall) and memory mode. Reading hdf5 in streaming mode is not feasible at the application level like tensorflow.

A viable solution to support streaming mode would be at the os driver level. For example, s3 could be m

[2020-05-21 15:20] yongtang commented on #973
@avnx Can you find out the version of tensorflow-io with `pip freeze`?

[2020-05-21 15:21] yongtang commented on #973
@avnx I also notice that you mentioned "after update to tf2.2.0", wondering if you are using `tensorflow-io-nightly`, or `tensorflow-io`?

[2020-05-21 16:00] avnx commented on #973
tensorflow-io==0.13.0

How can I check that?
When I check version of tfio it prints:
[code]

[2020-05-21 16:33] yongtang commented on #973
@avnx That should be fine. Would it be possible to upload the `file.mp3` file that was used in your setup, so that I can take a look?

[2020-05-21 17:06] avnx commented on #973
Now that's an interesting case.
I installed ffmpeg on machine via "apt install ffmpeg" and encode_aac starts working.
But encode_mp3 stopped working.
In particular:
[code]

[2020-05-21 17:13] yongtang commented on #973
@avnx Yes AAC utilized ffmpeg's codec.

As FFmpeg is LGPL, we can only load it dynamically (our license is Apache 2.0).

The mp3 code is done through lame. I may need to take a closer look to see where the crash happens.

If possible, an upload of `file.mp3` will definitely help.

[2020-05-21 17:28] avnx commented on #973
I figured you that encode_mp3 crashes when it is 1 channel audio. With 2 channels it works.
Actually this problem could be apparently connected with https://github.com/tensorflow/io/issues/974

[voice.mp3.zip](https://github.com/tensorflow/io/files/4663808/voice.mp3.zip)

[2020-05-21 21:26] yongtang opened #980 "Drop pylint check?"
There were some discussions about dropping pylint before https://github.com/tensorflow/io/issues/810#issuecomment-600079829

Several big issues for pylint:
1. Slow: pylint runs check 1-2 second/file while black and pyupgrade runs very fast.
2. No auto-lint: It has to be adjusted manually. In some situations, you have to be really creative to make pylint happy.

Positive side:
- tensorflow core rep

[2020-05-21 21:54] terrytangyuan commented on #980
Yes agree that we can drop it.

[2020-05-22 20:03] BryanCutler commented on #980
SGTM

[2020-05-24 14:50] leoffx opened #982 "decode_mp3 doesn't return sample rate?"
How do I get info about the file sample rate? tf.audio.decode_wav returns it, and it's an important information when you're dealing with recordings sampled from different sources.

Adding this info, or the automatic resampling as librosa.core.load have, would be interesting, as the current tfio.audio.resample also requires the input rate which you know nothing about.

[2020-05-24 18:07] yongtang commented on #982
@leoffx You can use AudioIOTensor to get the `rate` and `shape` metadata:
[code]

Alternatively, I am working on having a standalone alone ops in #847 to get all possible audio rated  metadata. Though I still need to find out a good way to represent the output info in both graph and eager mode.

I will close this issue for now, since `tfio.audio.AudioIOTensor().rate` provides the needed API. Feel

[2020-05-24 18:07] #982 closed

[2020-05-25 00:20] rmcoronado opened #983 "tfio.IODataset.from_hdf5 missing information"
I am uploading a .h5 in google colab using tfio.IODataset.from_hdf5. This is the piece of code:

d_train1 = tfio.IODataset.from_hdf5('/content/drive/My Drive/DeepLearning/Datah5/S1.h5',dataset='/Iin1')
d_train1
And this is the result:
<HDF5IODataset shapes: (128, 2), types: tf.float64>

The problem is the file has dimension of: 128x128x2. And the shape of the tensor is 128x2. It is apparently miss

[2020-05-25 03:03] yongtang commented on #973
@avnx  Added PR #984 for the fix.

[2020-05-25 06:42] #973 closed

[2020-05-26 17:57] yongtang commented on #973
@avnx The latest nightly should have fixed the mono encoding issue. Let me know if issue persists.

[2020-05-26 23:47] yongtang commented on #983
@rmcoronado For HDF5, the IODataset actually slices the dataset in dim 0 and renders the data one by one, with index=0, 1, 2,... through dim 0. This is why you see one less dimension. If you iterate through the Dataset you will notice each cycle it render one slice.

The expected usage of HDF5IODataset is that you have a data with first dimensional really large. (thus the need to slice to feed to

[2020-05-27 02:20] dav009 opened #986 "avro type unssupported error"
👋   I am trying to load an avro file as a ds, but I am getting the error below:

[code]

this is the code snippet with the avro schema:

[code]

I guess this error is coming from here https://github.com/tensorflow/io/blob/master/tensorflow_io/core/kernels/avro_kernels.cc#L360 but I cant find what `10` corresponds in `avro::`'s type enum.

I wonder if the error is due to arrays.

Please note that I

[2020-05-27 07:50] dav009 opened #987 "Docker building error"
👋  I am following the instructions in README to build and run tests in a container, however during the build process (master branch) I am getting :

[code]

the command I am running to build is as mentioned in the docs
[code]

[2020-05-27 20:00] yongtang commented on #987
@dav009 Can you provide more details about the container you use and the steps you run?

[2020-05-27 20:10] yongtang commented on #986
@dav009 `10` is mapped to `AVRO_ARRAY` which was not supported. Though the recent experimental implementation of `tfio.experimental.columnar.AvroRecordDataset` might have `AVRO_ARRAY` support. I will take a look.

[2020-05-27 20:11] yongtang commented on #986
/cc @burgerkingeater FYI

[2020-05-28 07:00] dav009 commented on #987
@yongtang I am following these commands (copy & pasted from README.md)

[code]

[2020-05-28 07:00] dav009 commented on #986
@yongtang `tfio.experimental.columnar.AvroRecordDataset` worked 👍  thank you!

[2020-05-28 07:01] #986 closed

[2020-05-28 17:36] BryanCutler commented on #987
Hi @dav009 , the build command might be out of date. Here is the command I have been using that works for me, can you give it a try?
[code]

[2020-05-29 00:56] yongtang commented on #987
@dav009 @BryanCutler  I think the issue is Ubuntu 16.04's gcc (5.4.0) is getting old and does not works well with `std=c++14` in arrow dependency. Since arrow is a dependency, it could be lowered to `std=c++11`.

Added a PR #988 for the fix.

[2020-05-29 00:57] dav009 commented on #987
@yongtang @BryanCutler  thanks for your hints/ PR fix!

[2020-05-29 03:49] #987 closed

[2020-05-29 03:50] yongtang commented on #980
The issue can be closed now as PR #985 has been merged.

[2020-05-29 03:50] #980 closed

[2020-05-29 04:05] yongtang commented on #974
@avnx Wondering if you can share a sample mp3 file that reproduces the issue? I can take a look.

[2020-05-29 05:16] s0r2637 opened #989 "Unable to load hdf5 dataset on to the CPU memory. Also, I get segmentation fault when shuffling the dataset"
Hi,

I am using tensorflow-io version 0.13.0 along with tensorflow-gpu 2.2.0 on Ubuntu 18.04.
I am trying to create tf.data.Dataset from a hdf5 file.  Although, I am able to successfully create the dataset, I find that it is using the GPU memory.  How do I specify to explicitly use the cpu memory.  I used the kwargs as device='/cpu:0', but it doesnt't work.  I also used tf.device scope to load the

[2020-06-02 21:20] sshrdp commented on #627
@RuhuaJiang Let us know if you run into any issues implementing the change.
Do you expect your repeated primitives to have the same length across the batch? I'm worried that it would cause issues with dataset.batch call.

[2020-06-04 13:29] dav009 opened #990 "Avro files with array field: "Expected type 'int' but got type 'array'.""
👋

I am trying to generate a dataset out of avro files containing a int array field.
I am using the code snippet below which is similar to that of a unit test [here](https://github.com/tensorflow/io/blob/master/tests/test_parse_avro_eager.py#L545)

I can provide the avro files if needed, but it is just a dummy sample dataset exported from spark.

[code]

I get the following error:
[code]

[2020-06-08 13:42] Deams51 opened #991 "Shape error when using HDF5 file"
When creating an HDF5IODataset, the following error occurs:
[code]

The following method from h5py is used to create the dataset:
[code]

And the dataset is loaded by:
[code]

I am using `tensorflow-io-nightly==0.13.0.dev20200515155704`

[2020-06-09 17:42] avnx commented on #974
After you fixed https://github.com/tensorflow/io/issues/973  problem disappeared.

[2020-06-09 17:42] #974 closed

[2020-06-09 18:20] yongtang opened #994 "choosing bitrate when encoding audio"
This feature request is transferred from https://github.com/tensorflow/tensorflow/issues/39761

Specifically, the request is about the following:
[code]

Note ffmpeg in tensorflow/io has been partially replaced by other license friendly libraries, modifying ffmpeg directly may not work.

[2020-06-09 18:21] yongtang commented on #994
/cc @avnx

[2020-06-09 21:42] tkolarik commented on #174
@yongtang I am unable to do anything meaningful with this using h5 files formatted for TASSEL variants

[2020-06-11 02:05] burgerkingeater commented on #990
@dav009  can you try `a[*]` instead of `a` in features? [RFC](https://github.com/tensorflow/io/blob/98f52b669496602757ee801afa6b91fab041482b/tensorflow_io/core/kernels/20190307-avro-dataset.md) has more detailed regarding avro reader, please let us know if you have further question.

[2020-06-11 15:08] RuhuaJiang commented on #627
@sshrdp  the Tensor generated from TFIO would be 1 rank variable-length dense Tensor. It would has a problem with dataset.batch.  We can convert that into a SparseTensor, where the values is the 1 rank variable-length dense Tensor, and indices is [1, 2, ... N-1] where N is size of that values.
We already made it work end to end internally.  Recently was busy with other things haven't get a chance

[2020-06-13 18:20] yongtang commented on #918
@dholland42 Sorry for the late reply. PR #996 have been created and should have the issue fixed.

[2020-06-13 18:55] yongtang commented on #882
The libgav1 format for AVIF in tensorflow-io has been added in #993

[2020-06-14 00:24] #918 closed

[2020-06-14 17:28] yongtang commented on #991
@Deams51 I tried to reproduce but couldn't see the error. If possible, can you share a complete and minimal reproducible code snippet?

[2020-06-14 18:09] yongtang commented on #811
Think this issue has been resolved with latest release. Will close for now but feel free to reopen if there are other issues.

[2020-06-14 18:09] #811 closed

[2020-06-14 21:01] yongtang commented on #918
The latest nightly build should have the fix in now.

[2020-06-14 22:36] yongtang commented on #779
@EstebanGuillen  A PR #997 has been added to support getting DICOM tag that is a sequence, as was discussion in this thread.

[2020-06-15 04:51] #779 closed

[2020-06-17 17:33] RuhuaJiang opened #999 "lint is failing on centos7"
How to reproduce:

I am using following docker file:

[code]
then build the docker
[code]
get into the docker
[code]

then run
[code]
we will see
[code]

[2020-06-17 20:31] yongtang commented on #999
@RuhuaJiang The issue is that CentOS 7's python version is too old and will not work with black or pyupgrade. I think you can use either macOS, Ubuntu 18.04, or Ubuntu 20.04 for lint check.

This is needed for lint check only. You can still use CentOS 7 for binary build.

[2020-06-17 21:20] RuhuaJiang commented on #999
sound good, thanks @RuhuaJiang

Shall we still keep this issue open?

[2020-06-17 22:40] yongtang commented on #999
@RuhuaJiang We can leave this issue open for now. I will take a look and see if it is possible to get centos 7 python3 working for lint at a later time.

[2020-06-22 15:04] terrytangyuan opened #1004 "Automatically publish release artifacts to PyPI"
Currently the process to upload artifacts to PyPI is manual. We can consider doing this automatically and leverage something like [pypa/gh-action-pypi-publish](https://github.com/pypa/gh-action-pypi-publish) to publish them to PyPI as part of our GitHub Actions pipeline.

[2020-06-22 15:28] yongtang commented on #1004
We could automate though a manual trigger (vs. PR push) might still be needed.

The GitHub Actions is not super reliable, and PyPI.org has one issue of you cannot override once a pip is pushed. On PyPI.org you can only bump a new version. The problematic scenario is that when we push or tag a commit, GitHub Actions fails half way then we will have to abandon a version and skip to a new version.

[2020-06-22 15:33] terrytangyuan commented on #1004
Okay it seems like manual trigger is more reliable for now then.

[2020-06-23 04:39] celsomilne commented on #957
Has there been any progress on this? I'm working with some medical images in tiff format and it'd be great to have support for multi-level tiffs.

[2020-06-23 17:37] yongtang opened #1006 "Add 1-D audio sample support"
can someone please provide me with an example of how to resample a 1 channel audio wave because its not clear how to use this feature

Note input has to be 2-D [samples, channels]. The quality is the quality
its not mentioned anywhere in the docs

if my understanding is correct samples is a 2d tensor with both channels stacked but when follow this logic it does not work

/cc @xnio94

[2020-06-23 21:31] yongtang commented on #1006
@xnio94 Added PR #1007 to support 1-channel (1D) audio.

[2020-06-24 03:30] yongtang commented on #957
Added a PR #1009 for the fix. Note #1009 does not enable SIMD yet so performance might not be up to speed. The SIMD enabling will be added later (once NASM is added).

[2020-06-24 11:05] xnio94 commented on #1006
i have a 1 channel waveform (taken from tfds.speech_commands ) and i want to resample it using tfio.audio.resample
from 16000hz to 8000hz

i cast the waveform to an int16 tensor
`tf.Tensor([  0  -2  -1 ... -14 -17 -20], shape=(16000,), dtype=int16)`
and i tried `tfio.audio.resample(my_1d_wave, 16000, 8000)`
and also `tfio.audio.resample([my_1d_wave,1], 16000, 8000)`
and many other things, but i st

[2020-06-25 02:08] burgerkingeater opened #1012 "make_avro_record_dataset official doc is malformatted"
https://www.tensorflow.org/io/api_docs/python/tfio/experimental/columnar/make_avro_record_dataset is messy
but not sure why make_avro_dataset(https://www.tensorflow.org/io/api_docs/python/tfio/experimental/columnar/make_avro_dataset) looks well formatted while their docstring seemingly follow the same pattern.
make_avro_record_dataset: https://github.com/tensorflow/io/blob/4643b2af7fb22d508eba10b4

[2020-06-25 15:13] yongtang commented on #1012
@burgerkingeater I think the difference is the empty lines. the doc render needs empty lines before `Args`, `Return` and some other places to properly find out the marker.

[2020-06-25 15:14] yongtang commented on #1012
You can compare with docstring in `make_avro_dataset` and see the empty lines.

[2020-06-25 16:46] Ouwen opened #1013 "Where is the `ossfs_op` module?"
In the OSS directory [README.md](https://github.com/tensorflow/io/blob/master/tensorflow_io/core/kernels/oss/README.md), it states that

Does the ossfs_op module need to be manually compiled?

Many thanks!

[2020-06-25 17:27] yongtang commented on #1013
@Ouwen ossfs is embedded in tfio automatically. So if you use the following:
[code]

then you can just reading and writing oss like normal file system.

[2020-06-25 19:26] #1006 closed

[2020-06-25 19:48] yongtang commented on #957
@stephandooper @celsomilne The latest tensorflow-io-nightly should have the needed support for TIFF file now.

[2020-06-25 20:47] stephandooper commented on #957
I just tested it, and everything seems to work just fine using the tensorflow-io-nightly release.
@celsomilne my use case also happens to be medical images in tiff format,  so it should work for you too.

[2020-06-25 20:50] #957 closed

[2020-06-25 21:31] burgerkingeater commented on #1012
thanks

[2020-06-26 01:31] JeffreyWardman opened #1017 "Decode JPEG2000 bytes"
Considering there is work done on reading JPEG2000 bytes from DICOM files, may I recommend also including a tfio.image.decode_jpeg2000 function specifically for converting JPEG2000 image bytes into a UINT16 tensor?

[2020-06-26 01:36] #1013 closed

[2020-06-27 16:20] yongtang commented on #1017
@JeffreyWardman Added a PR #1019 as a first step to support JPEG2000. The PR only adds jp2 uint8 support. Will expand if this does not cover the image you want to use.

[2020-06-28 03:11] yongtang commented on #957
The SIMD for decode_tiff is being enabled in PR #1018.

[2020-06-28 06:53] JeffreyWardman commented on #1017
@yongtang Thanks. My images are UINT16. If the PR can be expanded to accommodate for UINT16 it would be very much appreciated.

[2020-06-28 14:02] yongtang commented on #1017
@JeffreyWardman Would you mind to share a small sample file of the single channel uint16 image?

[2020-06-29 00:39] JeffreyWardman commented on #1017
@yongtang here's some code to generate a sample JPEG2000. Ideally a file-like object would be fed into the function (rather than a file specifically).

[code]

[2020-06-29 22:45] aishfenton commented on #868
@BryanCutler another +1 for this being developed further. Any updates you can share on how changes required on the Apache Spark end are progressing? Looking at SPARK-26413 it seems a bit quiet (and not sure what SPARK-27396 brings to the table).

[2020-06-30 02:15] yongtang commented on #1017
Added PR #1020 for uint16 support

[2020-06-30 11:21] JeffreyWardman commented on #1017
Thanks @yongtang :)

[2020-06-30 15:39] #1017 closed

[2020-07-01 01:43] JeffreyWardman opened #1022 "decode_dicom_image does not work in graph mode"
tfio.image.decode_dicom_image returns an image with shape (None, None, None, None) in graph mode.

Minimum steps to reproduce:
[code]

[2020-07-01 06:20] #1022 closed

[2020-07-02 00:03] yongtang opened #1023 "tensorflow-io 0.14.0 release"
With TensorFlow 2.3 release candidate out, we can consider having a v0.14.0 release for 2.2 (before TF 2.3 final is out).

The reason is that we want to give users that want to access recently added features an option to stay with TF 2.2 (vs. TF 2.3)

Here is the list of items for 0.14.0:

- [x] Merge any critical fixes
  - #995 is the outstanding one, we could wait for #995 merge then release v0.

[2020-07-02 00:40] terrytangyuan commented on #1023
What is the timeline for this? Should we hold off until next week after the holiday?

[2020-07-02 02:05] yongtang commented on #1023
@terrytangyuan I think after the holiday makes sense 👍

[2020-07-03 16:37] yongtang commented on #1006
@xnio94 The PR  #1007 has been merged and resample support 1-D data now if you install  nightly build through `python3 -m pip install tensorflow-io-nightly`.

We will release a new version next week which will allow you to use the 1-D resample support through `python3 -m pip install tensorflow-io` after that.

[2020-07-03 19:12] yongtang commented on #839
We have added quite a few higher level audio data processing and augmentation APIs recently. Operations such as fade, trim, remix, and augmentations such as frequency/time masking have been added.

A tutorial is available now in:
https://www.tensorflow.org/io/tutorials/audio

[2020-07-03 20:31] xnio94 commented on #1006
Thanks man, i already tried it last time and it looks greats.

[2020-07-03 21:52] lminer opened #1026 "Branch that works with 2.3.0?"
Is there a branch that I can build that would work with tensorflow 2.3.0-rc0? Seems as if the nightly automatically installs tensorflow 2.2.0

[2020-07-06 10:29] bhack opened #1027 "Vscode ide"
As you have documented [Vscode integration for IO](https://www.tensorflow.org/io/vscode) I think you could be interested in Tensorflow and Addons Vscode remote integration cause you could have a very similar integration for IO:

https://github.com/microsoft/vscode-dev-containers/pull/347
https://github.com/microsoft/vscode-dev-containers/pull/381

[2020-07-06 16:16] marioecd opened #1028 "Merge nightly into master branch to work with tf2.3?"
The tf 2.3 release of Tensorflow has the code required by tfio gstpufs target build. When we make tfio master branch work with tf 2.3, can we merge tfio nightly branch into into the master?

[2020-07-06 16:18] yongtang commented on #1026
@lminer We are in the process of releasing another version (#1023) this week. Once the new version is released we will immediately switch to 2.3.0.

I would suggest you to hold for a day or two. Though I have a branch on my fork (https://github.com/yongtang/io/tree/nightly) which works with 2.3.0rc0, you can give it a try. Note the branch will be merged to master once version in #1023 is released.

[2020-07-06 16:20] yongtang commented on #1028
Thanks @marioecd for the reminder. We are in the process of release v0.14.0 (#1023) this week. Once v0.14.0 is released we will immediately switch to TF 2.3.

[2020-07-06 16:21] yongtang commented on #1023
@marioecd @lminer FYI.

[2020-07-07 21:50] #627 closed

[2020-07-07 22:40] yongtang commented on #1023
PR #1029 will update the README.md and RELEASE.md. The release date is expected to be 07/08 (tomorrow), if there is no surprises.

[2020-07-08 19:12] yongtang commented on #1023
The generated binaries are:
[code]

[2020-07-08 19:23] yongtang commented on #1023
The v0.14.0 version has been released:

https://github.com/tensorflow/io/releases/tag/v0.14.0

https://pypi.org/project/tensorflow-io/0.14.0/#files

Thanks all for the contributions and support! 👍 🎉 🎆

[2020-07-08 19:23] #1023 closed

[2020-07-08 19:29] yongtang commented on #1026
@lminer The master branch has been updated and now it depends on 2.3.0rc0+. Please give it a try.

I will close this issue for now, but feel free to re-open if you encounter any problems.

[2020-07-08 19:29] #1026 closed

[2020-07-08 19:30] yongtang commented on #1028
@marioecd  The master branch has been updated and now it depends on 2.3.0rc0+. Please give it a try.

[2020-07-08 19:48] lminer commented on #1028
Any ideas when it will make it to the nightly? `pip install tensorflow-io-nightly` still install tf 2.2.0

[2020-07-08 21:32] yongtang commented on #1028
@lminer A new build of tensorflow-io-nightly is now available, which supports TF 2.3.0rc0:

https://pypi.org/project/tensorflow-io-nightly/

[2020-07-09 07:05] burgerkingeater commented on #1012
@yongtang  https://www.tensorflow.org/io/api_docs/python/tfio/experimental/columnar/make_avro_record_dataset is still malformed, is the document up to date?

[2020-07-09 16:10] yongtang commented on #1012
@MarkDaoust @lamberta @tensorflow/docs-team

Since a new version of tensorflow-io v0.14.0 has been released, wondering if it is possible to update the documentation page on  https://www.tensorflow.org/io/api_docs as well? This will address the messy format in make_avro_record_dataset docstring issue (the issue has been resolved in the python source code though it is not appeared in web site yet).

[2020-07-09 17:32] MarkDaoust commented on #1012
@lamberta took care of this. It's published now.

[2020-07-09 17:54] yongtang commented on #1012
@lamberta @MarkDaoust Just saw the update has appeared in https://www.tensorflow.org/io .  Now the docstring has been formatted correctly . Thanks a lot for the work 👍  🎉 !

[2020-07-09 17:54] #1012 closed

[2020-07-13 03:01] agkphysics opened #1035 "Apparent error in dbscale calculation"
## Versions
`tensorflow-io 0.14.0`

## Problem
I believe there is an error in the `tfio.experimental.audio.dbscale()` function:
https://github.com/tensorflow/io/blob/486aa0dd85433540e19fa474961bc04a8b75c3c0/tensorflow_io/core/python/experimental/audio_ops.py#L93

Subtracting ln(10) instead of dividing causes the resulting clipped spectrograms to look odd because they're clipped at the wrong value

[2020-07-15 16:57] yongtang commented on #1035
Thanks @agkphysics for pointing this out! A PR has #1037 been created to fix the issue.

[2020-07-15 17:40] #1035 closed

[2020-07-17 23:13] kvignesh1420 commented on #861
@yongtang I am currently adjusting the docstrings for the modules in `tensorflow_io/core/python/ops`. Will raise a PR for the same.

[2020-07-18 21:32] kvignesh1420 commented on #802
@dalelane any update/insight as to why the committed offset by the consumer-group in Kafka was not increasing? Is it because you are setting `offset=0` while initializing the dataset and when `model.fit` is called in a while loop, it is using the same data (where offset=0 in Kafka topic) ? Just a thought.

[2020-07-18 21:54] kvignesh1420 commented on #947
@nmatare I tried to reproduce the stream_ds snippet which you have pasted and got the output as follows:

[code]

So as per your message, you don't see the tensor output's after the `EOF Message: Broker: No more messages`?

[2020-07-19 17:58] nmatare commented on #947
Yup, the above is the expected output. But now if you run the next code block you'll notice that the `kafka_io.KafkaDataset` blocks until new data arrives, which is different behavior from the code snippet from above.

Given that a Kafka dataset will most likely be used during inference/production, I think that the behavior of the latter is more intuitive. We don't want to exit immediately when th

[2020-07-20 17:03] kvignesh1420 opened #1045 "Incompatible data types while preparing KafkaIODataset"
Description:

In an attempt to run the following code snippet that has been taken from `class KafkaIODataset`, I encountered a type mismatch while concatenating datasets.

Steps to reproduce:

[code]

The `indices_start` and `tf.data.Dataset.from_tensor_slices([2000])` have a data type mismatch, which prevents the concatenation.

Reference:
https://github.com/tensorflow/io/blob/98856494636097ec9f8

[2020-07-20 17:07] marioecd commented on #1028
Now I installed tfio with:
pip install tensorflow-io

to see if it has my bits; but when I ran my python test the [gstpu](https://github.com/tensorflow/io/blob/master/tensorflow_io/core/kernels/gstpufs/gs_tpu_file_system.cc#L27) does not appear registered. "File system scheme 'gstpu' not implemented"

This would work when I do bazel install:
bazel build -s --verbose_failures //tensorflow_io/...

I

[2020-07-20 17:19] yongtang commented on #1028
@marioecd the `pip install tensorflow-io` will only install the last stable version (v0.14.0) which does not have gstpu yet (v0.14.0 is based on TF 2.2.0 so could not apply gstpu.).

It is already in nightly build, you can use `pip install tensorflow-io-nightly` (depends on TF 2.3.0rc+) to give it a try.

gstpu will appear in the next stable release of v0.15.0 which will be released in a week or t

[2020-07-20 17:26] kvignesh1420 commented on #1045
@yongtang   setting the output_type in range Dataset to int32 should do the trick. Will raise PR for the same.

[2020-07-20 17:35] marioecd commented on #1028
Ah ok just tried 'pip install tensorflow-io-nightly' on a TF2.3 image but it didn't register 'gstpu' either.

[2020-07-20 18:01] marioecd commented on #1028
It worked when I installed tf-nightly though.
pip install tensorflow-io-nightly

[2020-07-20 18:52] yongtang commented on #1045
@kvignesh1420 I think the issue is that the value passed to `from_tensor_slices` and to `range` are with python integers. Depending on the API, some will interprets  python integers as tf.int32 and some will assume tf.int64.

One way to avoid confusion is to explicitly pass tensors instead. In other words, `stop = tf.constant(1024, tf.int64)`, `step = tf.constant(1024, tf.int64)`.... That will hel

[2020-07-20 18:54] kvignesh1420 commented on #1045
@yongtang right. I am adding the docstrings to avoid this confusion.

[2020-07-20 18:58] yongtang commented on #1028
@marioecd  I tried and it looks to be fine. Maybe it is because of the pip cache issue on your local system?

Here are the steps (in docker to have a clean setup):
[code]

[2020-07-20 20:30] marioecd commented on #1028
I tried again, tensorflow-io-nightly on a new machine with TF 2.3 and it worked. Thanks!

[2020-07-20 23:07] #1045 closed

[2020-07-21 20:45] kvignesh1420 opened #1050 "Bazel build fails inside development docker container"
While setting up the docker container for building tensorflow-io c++ packages, the following error was raised due to which the build fails.

Steps to reproduce:

[code]

It fails while building the `gstpufs` kernels.

Log in the attachment.

[build_error.log](https://github.com/tensorflow/io/files/4956125/build_error.log)

[2020-07-21 22:25] BryanCutler commented on #1050
I just built with the latest and it worked for me with the command:
[code]
could you try with these options?

I just noticed that perhaps we should be using a different base image. Currently we use `tensorflow/tensorflow:custom-op-ubuntu16` and looks like `2.1.0-custom-op-ubuntu16` is recommended for TF >= 2.1. Not sure of the difference, do you happen to know @yongtang ?

[2020-07-21 22:40] BryanCutler commented on #1050
nvm, from what I can tell `tensorflow:custom-op-ubuntu16` targets the image for the latest version, 2.2 now.

[2020-07-22 10:50] kvignesh1420 commented on #1050
@BryanCutler what's the version of TensorFlow inside the container? By default, `tensorflow-2.3.0rc2` is installed by the `./configure` step.

[2020-07-22 19:17] BryanCutler commented on #1050
TF isn't in the container. It's either downloaded by the config script, or you can install a version manually before running config

[2020-07-22 21:49] kvignesh1420 commented on #1050
Yes, even after using the configure.sh script to install TensorFlow and then running the above command results in a failure. Any insights from the above-provided log file?

[2020-07-23 03:20] summa-code opened #1052 "Compatibility with Latest Tensorflow nightly build"
Why does it have tight compatibility requirement with Tensorflow. Looks like Tensorflow engineers are changing the APIs at breakneck speed. How do we compile this one for Ubuntu 20.04, CUDA 11.0, and latest nightly code from Tensorflow ?

[2020-07-23 04:10] summa-code opened #1053 "Build issue"
I  have latest nightly build for Tensorflow, CUDA 11, Ubuntu 20.04

Looks like IO is not compatible with latest versions.

Use --sandbox_debug to see verbose messages from the sandbox
In file included from bazel-out/k8-fastbuild/bin/external/local_config_tf/include/tensorflow/core/platform/status.h:28,
                 from bazel-out/k8-fastbuild/bin/external/local_config_tf/include/tensorflow/cor

[2020-07-23 17:23] BryanCutler commented on #1050
The last error seems a bit odd, maybe environmental. Did you try clearing all cache and restarting the container?

[2020-07-24 12:28] kvignesh1420 commented on #163
@yongtang I guess we can't achieve this using the existing ops. Can I start working on a PR for this? We can have a discussion in that thread.

[2020-07-24 15:17] kvignesh1420 commented on #1050
@BryanCutler after I removed the cache and rebuilt the packages, I encountered this error:
[code]

but then figured out that by limiting the number of parallel jobs for the Bazel build (resource constraints) inside the container, the build was successful. Will raise a PR to document this and close the issue. Thanks.

[2020-07-24 21:31] #1050 closed

[2020-07-25 00:00] yongtang commented on #163
@kvignesh1420 Sure! Would be great if you can open a PR (even a working in progress one). Contributions are always welcomed.

[2020-07-28 02:32] lei6315 opened #1059 "tfio/kafka run with tf estimator worker normal but evaluator run 4 hours oom,"
tfio version 0.7.2
tensorflow version 1.14.0
cuda 10.0
system centos
python2.7

I run tf.estimator.train_and_evalute with input from tfio/kafla, but evaluator node run about 4 hours oom.

[code]

[2020-07-29 14:16] yongtang commented on #1059
@lei6315 0.7.2 was quite old, wondering if you observed the same behavior in later versions?

[2020-07-29 14:25] yongtang opened #1060 "tensorflow-io 0.15.0 release"
With TensorFlow 2.3 final release, we can consider having a v0.15.0 release for 2.3, as was mentioned in #1023

Here is the list of items for 0.15.0:

- [x] Bump TF version to 2.3.0 final (PR #1058)
- [x] Merge PRs with low risk (no behavior changes) if time permit (PR #1034, #1055, #1057)
- [x] Update RELEASE.md/README.md to capture 0.15.0 changes (PR #1062)
- [x] When GitHub Actions complete the

[2020-07-29 14:48] kvignesh1420 commented on #1060
@yongtang , to address point 5, the example in our README.md works fine

[code]

If we are we looking at some other sanity tests, please let me know.

[2020-07-30 14:53] yongtang commented on #1060
Thanks @kvignesh1420 ! We normally do the final sanity immediately before pushing the binary to PyPI.org. I will keep you posted. Greatly appreciate your help!

[2020-07-31 09:13] lei6315 commented on #1059
@yongtang  Since my tensorflow version is 1.14.0, other tf version haven't tried. According the doc I choose tf/io 0.7.2. Does tf/io new version support tf 1.14? Thanks a lot.

[2020-08-01 10:16] colorful-ocean opened #1064 "how to load a video data?"
I have a video(.mp4) data,  and I want to load it as 'Image-Super-Resolution' dataset using following code, but I get error.
[code]
[code]
how to load a video as dataset simply?

[2020-08-02 20:20] yongtang commented on #1064
@colorful-ocean Which Linux distribution(e.g., Ubuntu/CentOS) are you using and what is the version (16.04/18.04/20.04)?

[2020-08-03 15:38] RuhuaJiang opened #1066 "[bigquery-io] Performance issue when number of columns is relative large"
@vlasenkoalexey

Based on some of our internal benchmark within Twitter we saw BigQuery reader performance is relatively slower comparing to TFExample. Just give a sense:

With that benchmark we have 180 features (BigQuery columns, internal data so I can't share table link here), they are all primitive types (BOOLEAN, FLOAT, INTEGER) without repeated fields.

Unit is "examples per second"
Batch si

[2020-08-03 17:33] yongtang commented on #1060
The candidate wheel files are downloadable from https://github.com/tensorflow/io/actions/runs/190365823 with artifact name `tensorflow-io-release`, below are the sha256s:
[code]

[2020-08-03 18:25] yongtang commented on #1060
Will push to PyPI.org shortly.

[2020-08-03 18:31] yongtang commented on #1060
Pip Wheels pushed to https://pypi.org/project/tensorflow-io/0.15.0/
Release available in https://github.com/tensorflow/io/releases/tag/v0.15.0

[2020-08-03 21:30] yongtang commented on #1060
New docs and tutorials have been pushed as well: https://www.tensorflow.org/io/tutorials/colorspace

Thanks all for the contributions! 👍 🎉 🎆

[2020-08-03 21:30] #1060 closed

[2020-08-04 01:02] colorful-ocean commented on #1064
@yongtang I'm using in windows, and I additionally installed ffmpeg

[2020-08-04 01:08] colorful-ocean commented on #1064
if it can support decode video in windows, that would be great, looking forward to your updates
( I am a rookie (つд⊂) ).

[2020-08-04 14:40] yongtang commented on #1066
@RuhuaJiang Is the performance disparity happens only when feature columns number very large (e.g., 180 as mentioned), or it happens even when the feature columns number small (like 1-5)?

[2020-08-04 15:39] yongtang commented on #1064
@colorful-ocean The mp4 decoding on Windows is not supported yet. It may not be very difficult on Windows, as the easiest path might be through MediaFoundation which seems to be straight ward to call.

I used to work on similar things years ago but I don't have access to a Windows machine at the moment. Will need to find a Windows machine first. Also, contributions from anyone will be greatly appr

[2020-08-04 17:13] vlasenkoalexey commented on #1066
Thanks for reporting this issue. I did BQ reader benchmarks and tried to optimize it before first release for Wiki dataset with few columns and compared it to GCS. According to my tests BQ performance was about same as GCS.
BQ tended to be faster for powerful machines with multiple CPUs and slower for low power VMs.

Machine | Prefetch | Num streams | Sloppy | BQ | GCS
-- | -- | -- | -- | -- | --

[2020-08-04 17:18] yongtang commented on #1053
@summa-code Can you provide more details on the TF version and your OS (e.g., Ubuntu 18.04/etc)?

[2020-08-04 17:55] summa-code commented on #1053
Latest code, it is 2.4 i think.. Ubuntu 20.04, CUDA 11.0

[2020-08-04 19:11] yongtang commented on #1053
With tf-nightly and Ubuntu 20.04 on a clean install, the master branch code seems to be OK for me. Can you try with clean install (or try building inside a docker container) to see if this makes a difference?

[2020-08-04 20:54] RuhuaJiang commented on #1066
@yongtang good question. I had another smaller dataset that has 22 features (BigQuery 22 columns vs TFExample contains 22 features). the perf of BigQuery is slower too. Haven't tried even smaller numbers like 1...5 though.

32 | 22,500| 13,000
-- | -- | --
256 | 22,700 | 47,800
1024 | 22,700 | 52,300

@vlasenkoalexey thanks for the info, very informative.  Let me try https://github.com/vlasenkoale

[2020-08-05 01:00] summa-code commented on #1053
Ok, i will try, i kind of gave up after i found it inactive. I will try today.

[2020-08-05 02:29] yongtang commented on #1053
@summa-code Thanks. Let me know how it goes. Ideally it would be great if you can post the complete repeatable steps if the issue persists.

[2020-08-07 03:38] kvignesh1420 opened #1076 "[kafka-io] Possible support for online learning using kafka."
While working on the Kafka tutorial, I observed an interesting event which might give us some direction towards support for online-learning of ml models.

**Background**

When streaming data from Kafka into the ML model using the `KafkaGroupIODataset` during the training phase, the first epoch is unsure of the number of batches it will be provided with.  Once the first epoch has finished, the data

[2020-08-07 09:34] kyamagu opened #1077 "Potential multiple initialization calls due to out-of-range increment in `FFmpegInit`?"
It seems `FFmpegInit` uses unsigned count to check if it's initialized, but won't this reach out-of-range?

https://github.com/tensorflow/io/blob/520eaf91203cfee354943680a92ed5664042cd80/tensorflow_io/core/kernels/ffmpeg_kernels_deprecated.cc#L39

[2020-08-07 16:49] yongtang commented on #1077
@kyamagu Indeed this is problematic if the program is long running. Would you like to create a PR?

[2020-08-07 22:03] yongtang commented on #1076
@kvignesh1420 That is definitely an interesting case and I could see it might be very useful in many scenarios 👍 . The only thing that might be worth thinking could be the naming. Maybe we can change to a separate name instead of reusing the `KafkaGroupIODataset`? Having a different name could avoid confusion as the output of the dataset structures are quite different.

[2020-08-08 00:20] kyamagu commented on #1077
Alright, will prepare

[2020-08-08 02:44] #1077 closed

[2020-08-09 04:02] emkornfield commented on #273
Was Arrow ever updated.  If not this is a blocker for https://github.com/tensorflow/io/issues/890.  The V1 endpoint relies on arrow post 0.15.0

[2020-08-09 04:08] emkornfield commented on #627
@brills is there anything from TFX that could be borrowed to support nested data/string from Arrow to Tensors?

[2020-08-10 02:02] BryanCutler commented on #273
@emkornfield the Arrow version is 0.16.0, it's a little hard to find, but
in the build file here
https://github.com/tensorflow/io/blob/master/third_party/arrow.BUILD#L34.
I'm planning on upgrading to 1.0.0 also at some point now that's it's been
released.

On Sat, Aug 8, 2020, 9:02 PM emkornfield <notifications@github.com> wrote:

[2020-08-10 02:33] emkornfield commented on #273
Thanks.  Should this issue be closed then?

[2020-08-10 02:50] BryanCutler commented on #273
Yeah, didn't notice it was still open

[2020-08-10 02:50] #273 closed

[2020-08-10 05:29] summa-code commented on #1053
I had time to build today. It threw lots of 404 during the fetching, but the build went successful. There is one problem though, once i start installing the whl file, the whl downloads Tensorflow-2.3.0, But i do have latest installed from source (TF 2.4), now the configure script finds the latest tensorflow, but the whl file depends on 2.3.0 and keeps downloading them when i install.

These are th

[2020-08-10 17:23] kvignesh1420 commented on #1076
@yongtang , how about `KafkaOnlineIODataset` for the dataset name? Will look into the implementation aspect of this.

[2020-08-10 18:05] yongtang commented on #1076
@kvignesh1420 Maybe something like `KafkaBatchIODataset`, or similar?

Just wondering if `Online` is too generic and user may not connect?

[2020-08-10 18:06] yongtang commented on #1053
@summa-code Thanks. The sudo could be avoided with passing `--user` in python install. Will take a look and see if the doc could be updated.

[2020-08-10 18:17] kvignesh1420 commented on #1053
@yongtang also, I think we are looking for `tensorflow<2.4.0,>=2.3.0` in the module `tensorflow_io/core/python/ops/version_ops.py`.

[2020-08-10 21:10] kvignesh1420 commented on #1076
@yongtang, the `KafkaBatchIODataset` class seems fine. We can expose the API with some docstrings to avoid confusion as to what the `Batch` indicates.

[2020-08-10 21:37] yongtang commented on #1076
@kvignesh1420 sounds good to me 👍

[2020-08-10 21:55] vlasenkoalexey commented on #1066
I got a repro, will see what I can do to make it better.

[2020-08-11 00:56] summa-code commented on #1053
Should i edit or will it be updated in git ?

[2020-08-12 07:54] kyamagu commented on #680
Is this issue fixed? #1079

[2020-08-14 05:10] kvignesh1420 opened #1087 "Discussion: Official docker image for tensorflow-io"
As new features are being added to the library, it would be great if we can have an official Docker image for ease of use and integration.  There was a discussion going on in https://github.com/tensorflow/io/issues/414 for integration with tf-serving, but kind of went stale.

We already have our development image but that is not an efficient one. I think it will be a good work item for the upcomin

[2020-08-14 07:43] anirbanchowdhury9862 opened #1088 "Add support for "texts" with rank more than 1 in experimental.image.draw_bounding_boxes(). Cant add different names in detected objects."

[2020-08-14 15:13] yongtang commented on #1087
@kvignesh1420 That would be great! Some thing to consider, that tensorflow-io only depends on tensorflow and there is no other dependencies. We could just build a `minimal` image with tensorflow+tensorflow-io only with some lightweight base image.

Another thing to consider is to automatically push build to dockerhub (could be combined with GitHub Actions I guess).

[2020-08-18 07:07] vasilevskykv opened #1091 "Using TensorFlow IO in Windows 10"
I tried to run the following example in Windows 10:
`import tensorflow as tf
import tensorflow_io as tfio

# Read the MNIST data into the IODataset.
d_train = tfio.IODataset.from_mnist(
    'http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz',
    'http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz')

# Shuffle the elements of the dataset.
d_train = d_train.shuffle(buffer_size=10

[2020-08-18 13:07] ChaoAtUnity commented on #927
I encounter the same problem. I solved it by specifying the schema of the parquet with a form of dictionary and pass it to from_parquet function. Based on your code, you can try this:
[code]
Hope this helps.

[2020-08-18 19:17] kvignesh1420 commented on #163
@zhjunqin , the feature is now available in the `tfio.experimental.streaming.KafkaGroupIODataset` API. Would be great if you can test it and give us the feedback.

Reference: https://www.tensorflow.org/io/api_docs/python/tfio/experimental/streaming/KafkaGroupIODataset

[2020-08-18 23:28] kvignesh1420 opened #1093 "Add support for elasticsearch"
Since many organizations use the ELK stack for data analysis, I think it would be beneficial for many users if they can connect to ElasticSearch and train their ML models.

cc: @yongtang @terrytangyuan @BryanCutler @vlasenkoalexey

[2020-08-19 14:57] yongtang commented on #1093
@kvignesh1420 This will be a great addition!. ELK stack is used widely in data analysis. Combining it with tfio => tf.data => tf.keras will really helps pushing the usage of ML to wider audiences.

[2020-08-19 21:57] kvignesh1420 commented on #1093
Will explore the integration.

[2020-08-19 22:42] kvignesh1420 commented on #947
@nmatare the timeout functionality after oef is now available in the nightly build.
You can use the following snippet to prepare the dataset:

[code]

Would be great if you can try this feature and provide the feedback.

[2020-08-20 05:10] kvignesh1420 commented on #1087
@yongtang, can we reach out to the tf folks to create a repository named `tensorflow/io` in docker hub? We can tag our images as follows:

- tensorflow/io:latest
- tensorflow/io:latest-devel

GPU supported images can be added later on.

[2020-08-20 08:09] kvignesh1420 commented on #1093
@yongtang  Since the connection with Elasticsearch is HTTP based, which approach would be the fastest based on previous client implementations? For example, the Prometheus kernel uses the external `prometheus/client_golang` package for connecting to the server. Do we want to follow the same style and use the [go-elasticsearch](https://github.com/elastic/go-elasticsearch) third_party package by ela

[2020-08-20 12:55] yongtang commented on #1093
@kvignesh1420 We can start with anyone and incrementally improve later.

In prometheus, the reason to choose golang was that, prometheus by itself is a golang implementation, and golang has the first class citizen support. There is also no official C or C++ client support.

However, during the implementation we noticed that, golang does not play really well with C/C++ when embedding into one share

[2020-08-20 13:08] yongtang commented on #1087
Thanks @kvignesh1420. Also cc @seanpmorgan and @WindQAQ in case tensorflow-addons also want to publish docker images to tensorflow repo on GitHub.

[2020-08-20 13:18] kvignesh1420 commented on #1093
@yongtang this is the C++ client which was mentioned in the elasticsearch-community contributed clients section. (https://github.com/seznam/elasticlient). However, I don't think this is very actively maintained and we might run into dependency issues in the future (not sure though). For now, I will start with our own libcurl implementation and see how things turn out.

[2020-08-20 13:23] seanpmorgan commented on #1087
Please let us know how this goes. We decided to just create our own namespace since it seemed like less bureaucracy but would be happy to align:
https://hub.docker.com/repository/docker/tfaddons/dev_container

[2020-08-20 14:22] kvignesh1420 commented on #1087
@seanpmorgan, few question regarding the hub:

1. Who maintains this docker repository in the hub?
2. Do you plan to switch to the main TensorFlow repo in the hub?
3. What is the process that you are following to push the images?

[2020-08-28 09:11] carlthome commented on #580
Closing because this is pretty stale today.

[2020-08-28 09:11] #580 closed

[2020-08-28 09:48] carlthome opened #1100 "NotImplementedError: unable to open file: libtensorflow_io.so on a fresh GCP Deep Learning VM with TensorFlow 2.3"
I just setup a GCE instance based on the GCP Deep Learning images, particularly this one:

[code]

which comes with TF 2.3 and TFIO 0.15

[code]

but when I try to import tensorflow-io I get a low-level error with something missing in a TFIO specific shared library, and I'm a bit lost at this stage. I assume the intention is that these images should just work out of the box, but doesn't look like

[2020-08-31 15:27] yongtang commented on #1100
@vlasenkoalexey Wondering if you know more about GCP VM. Is GCP VM's tensorflow installation the same as the open source tensorflow release (https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0)?

[2020-08-31 17:41] kvignesh1420 commented on #1087
Thanks for the info @seanpmorgan.

@yongtang what do you think about this?

[2020-08-31 20:39] yongtang commented on #1087
@kvignesh1420 I think in the short term, we can start with a docker account (such as `tfio`) and build our containers with an automatic pipeline in GitHub Actions. Once the container stabilizes we can work with tensorflow team to see if the containers could be moved under tensorflow account gradually.

[2020-09-01 14:45] kvignesh1420 commented on #1087
@yongtang sounds good. If you can please create an account and store the creds as Github secrets, I can work on the actions and see how it turns out.

[2020-09-02 22:08] mkuchnik opened #1104 "Missing .bazelversion file"
The build system for tensorflow/io uses Bazel. Bazel can be installed (and if often [recommended](https://www.tensorflow.org/install/source#install_bazel) to be installed) using [Bazelisk](https://github.com/bazelbuild/bazelisk). Bazelisk looks for a .bazelversion file (e.g., see [Tensorflow's](https://github.com/tensorflow/tensorflow/commit/d2b02580e6f68d2360bd6ad6eda805aa1d4e9871#diff-6c232aa20b

[2020-09-03 01:51] ZyingHang opened #1106 "NotFoundError: Op type not registered 'IO>DecodeDICOMImage' in binary running on n-18b2717f-w-0. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops from tf.contrib, accessing (e.g.) `tf.contrib.resampler` should be done before importing the graph, as contrib ops are lazily registered when the module is first accessed. [Op:ParallelMapDataset]"
System information

Have I written custom : yes
OS Platform : 'Linux-4.19.112+-x86_64-with-debian-buster-sid'
TensorFlow version : 2.2.0
Python version: 3.7.6
Tensorflow_io version: 0.14.0

from kaggle_datasets import KaggleDatasets
import tensorflow as tf
import tensorflow_io as tfio
import pandas as pd
import os
from sklearn.model_selection import KFold

tpu = tf.distribute.cluster_resolver.TPUC

[2020-09-03 14:40] yongtang commented on #1104
@mkuchnik Thanks for opening the issue and create the PR! The PR #1105 has been merged 👍 🎉

[2020-09-03 14:40] #1104 closed

[2020-09-04 16:17] yongtang commented on #1106
@ZyingHang can you provide your OS version (e.g., Ubuntu 18.04, etc) and python version (and the python env such as system default, or conda)?

[2020-09-05 07:29] ZyingHang commented on #1106
OS Platform : 'Linux-4.19.112+-x86_64-with-debian-buster-sid'
TensorFlow version : 2.2.0
Python version: 3.7.6
Tensorflow_io version: 0.14.0
with GCS+TPU at kaggle
Thank you.

[2020-09-05 15:46] yongtang commented on #1106
@ZyingHang I am able to run with tensorflow-io 0.15.0 + tensorflow 2.3.0 on Kaggle (gcr.io/kaggle-images/python), after installing tensorflow-io from:
[code]

Can you give it a try? Or if you are installing tensorflow-io from other methods than pip, can you specify in details?

[2020-09-06 02:30] ZyingHang commented on #1106
1. Well, I got an error as follows with `python3 -m pip install tensorflow-io` :
[code]
It occurred a TPU setting error. Is there something I ignore?
2. I installed tfio with `!pip install tensorflow-io==0.14.0`

[2020-09-06 19:00] yongtang commented on #1106
@ZyingHang It may not be of difference, though have you give tensorflow 2.3.0+tensorflow-io 0.15.0 a try?

[2020-09-07 04:41] ZyingHang commented on #1106
Yeah, I have tried tensorflow 2.3.0+tensorflow-io 0.15.0, which is OK without TPU(both GPU and CPU is ok), but because there is a mismatch between tf2.3.0 and tpu (I guess), it results to tpu config error above, so I can't get it done with tf2.3.0+tfio0.15.0+tpu.

[2020-09-08 07:29] vlasenkoalexey commented on #1100
On GCP VMs we install stock TF.IO, but recompile TF from sources. Still they should be ABI compatible.
I'll follow up on this.

[2020-09-08 07:32] vlasenkoalexey commented on #1106
TF.IO is not yet supported on TPUs, see #716
Hope it is going to be addressed soon

[2020-09-08 10:14] ZyingHang commented on #1106
OK, I know, thank you, and wait for update.

[2020-09-08 10:14] #1106 closed

[2020-09-08 16:13] vlasenkoalexey commented on #1100
Turned out that DLVM 2.3 image and container had tensorflow-io 0.14.0 installed by mistake.
The fix is to upgrade tensorflow-io to 0.15.0, see https://github.com/vlasenkoalexey/bigquery_perftest#tfe-23--fixed-tfio-dependency and corresponding Dockerfile.

Updated DLVM 2.3 Image and Container will be released soon.

[2020-09-10 01:34] yongtang opened #1111 "Convert file system implementations to use C file system API in tensorflow"
As C file system API in tensorflow is available (see https://github.com/tensorflow/community/pull/101), we should start migrate the file system implementations in tensorflow-io to use the C file system API.

This issue track the progresses for the following:
- [ ] Azure Storage
- [ ] OSS Storage
- [ ] HTTP FS

[2020-09-10 01:38] vlasenkoalexey commented on #1100
Actually there is another issue, updating tensorflow-io is only going to work in CPU image/container, GPU is still broken. Will follow up.

[2020-09-10 15:45] vlasenkoalexey commented on #1100
Obvious workaround is to uninstall tensorflow and tensorflow-io and install them from pip:
pip uninstall tensorflow
pip uninstall tensorflow-io
pip install tensorflow-gpu
pip install --no-deps tensorflow-io
Tested that it works in container, should work for image as well.

[2020-09-11 16:40] yongtang commented on #1087
`tfio` username seems to have been taken in dockerhub. Trying to come up with a name that can fit.

[2020-09-11 16:51] yongtang commented on #1087
Created a `tfiocontainer` account instead.

[2020-09-11 18:44] kvignesh1420 commented on #1087
@yongtang how about `tensorflowio` ?

[2020-09-11 19:33] yongtang commented on #1087
`tensorflowio` is also occupied unfortunately.

[2020-09-11 20:03] yongtang commented on #1087
I manually created a docker container https://hub.docker.com/repository/docker/tfiocontainer/tfio, using the https://github.com/tensorflow/io/blob/master/tools/docker/cpu.Dockerfile

We can gradually move to an automated pipeline. And we can change the name or repo if we find a good fit.

[2020-09-11 21:03] kvignesh1420 commented on #1087
@yongtang, that's great. Last but not the least, can we give one last try to `tfsigio`, if you feel it is better? If not we can proceed with the current account. 👍

[2020-09-12 17:40] yongtang commented on #1087
@kvignesh1420 `tfsigio` works:
https://hub.docker.com/r/tfsigio/tfio/tags

[2020-09-14 21:18] zaccharieramzi opened #1118 "Access to attributes of an h5 file using tfio"
Hi,

I am interested in using `from_hdf5` features of the `IODataset` and `IOTensor` classes.
I am in addition looking for a way to access the attributes of the h5 file.

With `h5py`, you would typically have:

[code]

[2020-09-15 03:45] nmatare commented on #947
Thanks for the PR, this is great! Tried out the functionality:

---
Confused between on `message_timeout` vs `stream_timeout`. What is the difference between the two? Seeing the docs:

_"However, since we set the `stream_timeout` value to `15000` milliseconds, the dataset will wait for any new messages that might be added to the topic for that duration. The topics will be polled at `message_timeou

[2020-09-15 07:29] kvignesh1420 commented on #947
@nmatare thanks for trying it out. The `stream_timeout` parameter in `KafkaGroupIODataset` is analogous to the `timeout` parameter in confluent Kafka consumer that you have mentioned.

The `message_timeout` value is the duration that the consumer will wait before polling for new messages. However, if we receive a new message before the `message_timeout` interval finishes, the consumer doesn't resu

[2020-09-15 20:21] chaaland commented on #927
@yongtang do you have any guidance on the above? I had left this issue for awhile but it's resurfaced and I'm keen to have a streaming solution for parquet files. I have managed to use `interleave` with `from_generator` but the perf isn't great so I'm hoping there's another way

[2020-09-16 04:51] yongtang commented on #927
@chaaland Would be great if you can open a new issue.

[2020-09-16 17:33] kvignesh1420 commented on #947
@nmatare After playing around with a test kafka cluster, I felt it was necessary to expose the `mesage_poll_timeout` (previously `message_timeout`) to the users as a single hard-coded timeout value might not be suitable for all cluster configs. Also, there was an issue with the blocking logic where the new messages were not being consumed for higher `stream_timeout` values. This has been fixed now

[2020-09-16 20:58] chaaland opened #1121 "[Question] How to stream data from cache of parquet files?"
Hi, I have a cache of parquet files on a network drive that I would like to stream using `IODataset` since the total size of all the files is too large to fit into memory. How can I efficiently load my dataset into a tensorflow dataset?

Note: I've asked a similar question [here](https://github.com/tensorflow/io/issues/927) which has some examples of things I've attempted that did not work

[2020-09-16 21:45] kvignesh1420 commented on #1087
@seanpmorgan thanks for the help. We were able to push the images using Github actions.
https://hub.docker.com/r/tfsigio/tfio/tags

cc: @yongtang @terrytangyuan @BryanCutler @vlasenkoalexey

[2020-09-21 15:20] yongtang commented on #1111
Before we can migrate to modular file system, additional work on tensorflow side is needed. The following is the progress of related PRs:
- [x] PR https://github.com/tensorflow/tensorflow/pull/43209
- [ ] PR https://github.com/tensorflow/tensorflow/pull/43424

[2020-09-23 23:59] nmatare commented on #947
@kvignesh1420

I gave this a whirl and it works great! The API is much more intuitive than previously. I found that playing around with `message_poll_timeout` and `stream_timeout` to make much sense for multiple topic/partition configurations. Thanks for taking the time to put this PR together!

[2020-09-24 12:26] kvignesh1420 commented on #947
@nmatare thanks for trying it out and providing the feedback.

Also, If you are interested in exploring a Kafka dataset for **online learning**, you can explore the `tfio.experimental.streaming.KafkaBatchIODataset` API. It is similar to the `KafkaGroupIODataset` API but enables you to train on incoming streaming data perpetually.

Example:
[code]

the `mini_batch` itself is a `tf.data.Dataset` whi

[2020-09-24 20:12] YuxuanChen commented on #1100
Hi carlthome,

Thank you for notifying us of this bug. We've fixed this bug in the latest release. Please following the documentation to create a new DLVM or DL container, and please don't hesitate to create another issue if the problems persists or if you run into any new bugs.

[2020-09-24 20:48] nmatare opened #1133 "[kafka-io] - `KafkaGroupIODataset` rebalance callback does not obey offset policy."
The rebalance callback does not obey the user configuration supplied to `KafkaGroupIODataset`.

It will always default to "earliest"
https://github.com/tensorflow/io/blob/d15b659bd0fe1054cdbd22dcc31d1aeea2977736/tensorflow_io/core/kernels/kafka_kernels.cc#L782

https://docs.confluent.io/2.0.0/clients/librdkafka/classRdKafka_1_1Topic.html

Testcase:

Yup, the below makes sense:

[code]

Nope, this

[2020-09-24 20:50] nmatare commented on #947
Wonderful, that looks extremely helpful. Will play around with it in the future.

Closing this. Raised https://github.com/tensorflow/io/issues/1133 to address a callback bug.

[2020-09-24 20:50] #947 closed

[2020-09-24 20:50] nmatare commented on #1133
@kvignesh1420

[2020-09-25 11:29] yongtang commented on #1111
Additional fixes that need to happen on tensorflow/tensorflow:
- [ ] PR https://github.com/tensorflow/tensorflow/pull/43563

[2020-09-25 19:09] nmatare opened #1135 "[kafka-io] - `KafkaGroupIODataset`s rdkafka consumers go un garbage collected"
Garbage collecting `KafkaGroupIODataset`s do not release the underlying rdkafka consumers.

[code]

Via the command line (or you can see the underlying processes with `top`, etc)

[code]
[code]

Try reaping the objects
[code]

If you re-run `kafka-consumer-groups.sh` or inspect system resources you'll see the two consumers are still alive and well.

Exit the python vm.
[code]

Re-run `kafka-consum

[2020-09-26 01:37] kvignesh1420 commented on #1135
@nmatare thanks for pointing out this issue. The reason for this is that the python object is being deleted but the cpp resource still persists as the control is not passed to python for deletion. As a result, the destructor in the cpp space is not being called when you do a `del` in python space.

@yongtang this issue currently exists on other datasets as well, as they are implemented in a simila

[2020-09-26 18:54] yongtang commented on #1135
This could be an issue in TF's way of manage `RESOURCE` Tensor. We utilize ResourceKernel (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/resource_op_kernel.h) implementation, but Resource in TF will not be deleted unless the graph itself is reset. However, for default graph (graph context is not specified explicitly) the graph will not be deleted until the process

[2020-09-27 01:08] kvignesh1420 commented on #1133
@nmatare the PR has been merged, please try it out.

[2020-09-27 16:57] yongtang commented on #1111
One more fixes (remove duplication of `Env::Default()` instance) that is needed in tensorflow/tensorflow:

- [ ] PR https://github.com/tensorflow/tensorflow/pull/43594

[2020-09-28 09:30] tungnat97 opened #1137 "[Kafka-io - Suggestion] Adding monitoring options for KafkaDataset and KafkaOutputSequence"
It would be helpful for monitoring Kafka-io consuming and producing performance.

[2020-09-28 15:41] nmatare commented on #1137
Check out:

https://github.com/lightbend/kafka-lag-exporter
https://github.com/cloudworkz/kafka-minion

[2020-09-30 05:50] vlasenkoalexey commented on #1100
Confirmed that it works with containers now, images should be fixed as well. Therefore closing this issue.

[2020-09-30 05:50] #1100 closed

[2020-10-01 20:07] kvignesh1420 opened #1141 "Wrong import for tensorflow_io in the official website."
I recently observed that the example showcased on the [official website](https://www.tensorflow.org/io) has a wrong import for `tensorflow_io`.

![image](https://user-images.githubusercontent.com/25393945/94857744-9d204f80-044f-11eb-8322-5344bc754bae.png)

I searched for the content in our repo and in `tensorflow/docs` repo, but to no avail. Any idea how this can be fixed?

cc: @MarkDaoust @terryt

[2020-10-01 21:26] MarkDaoust commented on #1141
I'm sending a fix.

[2020-10-01 21:28] kvignesh1420 commented on #1141
Thanks !

[2020-10-02 16:08] kvignesh1420 commented on #1141
The import has been fixed. Thanks @MarkDaoust .

[2020-10-02 16:08] #1141 closed

[2020-10-04 23:52] nmatare commented on #1133
Confirming normal operation. Thanks for the work on the PR! Closing.

[2020-10-04 23:52] #1133 closed

[2020-10-05 03:41] kvignesh1420 opened #1142 "Docker image build for R-Package fails with the following error"
While building the image using:
`$ docker build -t tfio-r-dev -f R-package/scripts/Dockerfile .`

The initial error occurs due to GPG validations:
[code]

However, after modifying the Dockerfile to use `python3`:
[code]

The following error occurs:
[code]

cc: @terrytangyuan

[2020-10-05 04:24] kvignesh1420 commented on #1137
@tungnat97 can you let us know what exactly you are looking for? Thanks.

[2020-10-05 04:40] tungnat97 commented on #1137
I want to measure latency of KafkaDataset when comsuming messages from topics and KafkaOutputSequence when producing messages to topics.

[2020-10-05 12:21] terrytangyuan commented on #1142
Looks like there are issues in the generated wrappers. I'll take a look when I get a chance.

[2020-10-05 17:43] kvignesh1420 commented on #1142
Thanks!

[2020-10-06 15:03] marcromeyn commented on #1121
I am facing this issue as well. Is there a way to fix this?

[2020-10-07 14:42] zaccharieramzi opened #1144 "Loading boolean data from hdf5"
Hi I have the following error when loading HDF5 boolean data with the latest versions:

[code]

Here is a [link](https://colab.research.google.com/drive/11sUZgDcfQLRgG7PeE2PXBJIShR_1i6qH?usp=sharing) to a google colab.

[2020-10-07 19:33] yongtang commented on #1144
Added PR #1145 for the fix.

[2020-10-08 04:39] tungnat97 opened #1146 "KafkaDataset doesn't consume from latest with config_topic=['auto.offset.reset=latest']"
I don't know if it was a bug or not. My KafkaDataset code:
`test_ds = kafka_io.KafkaDataset('network', 'some-ip-address:9092', group='test',
                                config_topic=["auto.offset.reset=latest"])`

[2020-10-09 02:37] tungnat97 opened #1148 "KafkaGroupIODataset breaks and doesn't wait for new message after reading all messages in the topic"
My custom callback after each predict batch:
[code]
My code of predicting from KafkaGroupIODataset (and hopefully waiting for new messages):
[code]
Running the code gave this Kafka log:
[code]
The error after predicting all messages:
[code]
When I set the group_id to `''` and keep the configuration, the Kafka log showed:
[code]
Seems like it reached EOF, even though I set `enable.partition.eof=fal

[2020-10-09 02:58] kvignesh1420 commented on #1148
@tungnat97 to wait for new messages, you have to set the `stream_timeout` value:

For example:
[code]

[2020-10-09 03:05] kvignesh1420 commented on #1146
`KafkaDataset` is more useful when you want to consume messages from particular partitions and have a limit on how many are consumed. For streaming with timeouts, you can use `streaming.KafkaGroupIODataset` and `streaming.KafkaBatchIODataset`

I see that you raised a diff issue here which uses them:
https://github.com/tensorflow/io/issues/1148

[2020-10-09 03:30] tungnat97 commented on #1148
I got this error: `TypeError: __init__() got an unexpected keyword argument 'stream_timeout'` when setting the `stream_timeout` value, is it equivalent to `session.timeout.ms` in `configuration`?

[2020-10-09 03:53] tungnat97 commented on #1146
Thank you for the recommendation. I set `"auto.offset.reset=latest"` in `streaming.KafkaGroupIODataset` but its offset doesn't change to latest.

[2020-10-09 04:43] kvignesh1420 commented on #1148
@tungnat97 this is available in `tensorflow-io-nightly` as of now.

[2020-10-09 04:44] kvignesh1420 commented on #1146
Please check the comment in https://github.com/tensorflow/io/issues/1148. The feature is available in nightly release as of now.

[2020-10-09 05:01] tungnat97 commented on #1148
I'm doing a project where the stream need to be online 24/7. `stream_timeout` looks like it doesn't serve that purpose does it?

[2020-10-09 05:29] kvignesh1420 commented on #1148
set it to `-1` and it will block indefinitely.

[2020-10-09 05:46] tungnat97 commented on #1148
Thank you! I think I can close it for now.

[2020-10-09 05:46] #1148 closed

[2020-10-09 05:48] #1146 closed

[2020-10-09 12:34] tungnat97 commented on #1148
The dataset worked as intended. However when I set a low `message_poll_timeout` value, the `Local: timed out` log shows up constantly, which is quite annoying. Is there any way to disable it? Or is there any good practice with low message polling timeout?

[2020-10-09 16:48] kvignesh1420 commented on #1148
@tungnat97 you can try setting the `TF_CPP_MIN_LOG_LEVEL` env variable to disable cpp side logs.

Reference: https://stackoverflow.com/questions/35911252/disable-tensorflow-debugging-information

[2020-10-09 19:15] #1144 closed

[2020-10-12 16:06] kvignesh1420 commented on #1121
@chaaland @marcromeyn here is a small working reference as per the example defined in https://github.com/tensorflow/io/issues/927:

[code]

the key point to note is that we have to provide the `TypeSpec`s of the columns to the dataset during initialization.

[2020-10-13 02:35] kvignesh1420 commented on #1118
@zaccharieramzi can this be closed based on https://github.com/tensorflow/io/issues/1144 ?

[2020-10-13 02:37] #1076 closed

[2020-10-13 06:02] zaccharieramzi commented on #1118
Well no it's not the same thing. The attributes of an h5 files are not related to it having boolean data or not.

[2020-10-13 06:07] kvignesh1420 commented on #1118
my bad, I thought the [colab](https://colab.research.google.com/drive/11sUZgDcfQLRgG7PeE2PXBJIShR_1i6qH?usp=sharing) notebook that you referenced there might have helped you address this issue.

[2020-10-13 12:41] zaccharieramzi commented on #1118
No worries.
Well the attributes of an h5 file are metadata concerning that file.
The current API will only allow you to access data from that file.

The difference between data and meta-data (attributes) will translate to the following in `h5py`:
[code]

`tfio.IOTensor.from_hdf5` only allows you to access the data of that file.
My current workaround is to simply process the meta-data (usually very

[2020-10-14 06:58] kvignesh1420 commented on #1093
The experimental API's and the colab tutorial have been added. Enhancements/Bug-fixes will be taken up as separate issues.

[2020-10-14 06:58] #1093 closed

[2020-10-15 21:16] chaaland commented on #1121
Thanks for the example. For clarity, there is no way to work with multiple parquet files in a single dataset? Ideally I'd like to just pass a list of parquet files and be able to call things like `.batch(10)` on that dataset and have the dataset figure out whether it needs to load part of the next file to make the batch.

[2020-10-20 19:08] yongtang opened #1156 "tensorflow-io 0.16.0 release"
With TensorFlow 2.4 release candidate out soon (this week or next), we can consider having a v0.16.0 release for 2.3, as was discussed in our last meeting.

Here is the list of items for 0.16.0:

- [x] Bump tensorflow-io version to 0.16.0 (PR #1157)
- [x] Update RELEASE.md to capture 0.16.0 changes (PR #1157)
- [x] Update README.md to update 0.16.0 release date (PR #1159)
- [x] When GitHub Actions

[2020-10-20 19:09] yongtang commented on #1156
@kvignesh1420 Do you have a PyPI.org account? If you do I can add you to the maintainer of tensorflow-io repo https://pypi.org/project/tensorflow-io/ if you prefer.

[2020-10-20 22:12] kvignesh1420 commented on #1156
@yongtang my PyPI handle is https://pypi.org/user/kvignesh1420/.

Also, I have added a few points to the task list above. (related to docker releases and updates to notebooks)

[2020-10-20 23:20] yongtang commented on #1156
@kvignesh1420 Thanks! Invite for PyPI.org has been sent out.

[2020-10-21 08:04] kvignesh1420 commented on #1156
@terrytangyuan if time permits, can this issue https://github.com/tensorflow/io/issues/1142 be addressed before the release? We can build and add the `r-latest` tag to this image.

[2020-10-21 14:55] terrytangyuan commented on #1156
Looks like we are already releasing so I don't think we will have enough time.

[2020-10-22 02:22] BryanWBear opened #1158 "tfio.experimental.audio.freq_mask fails with tf.data.Dataset.map"
To reproduce:

Instantiate `dataset`, a Dataset of 2d `float-32` tensors.
Running `dataset.map(lambda x: tfio.experimental.audio.freq_mask(x, param=10))`

yields the following error:
[code]

**Fix**: Change `return tf.where(condition, 0, input)` to `return tf.where(condition, 0.0, input)` (line 286 in `io/tensorflow_io/core/python/experimental/audio_ops.py`)

[2020-10-23 06:23] kvignesh1420 commented on #1156
@yongtang here is a draft of the `overview content` in docker hub.

## TensorFlow-IO Docker Images

TensorFlow I/O is a collection of Dataset, streaming, and file system extensions maintained by TensorFlow SIG-IO that extend TensorFlow's built-in support for io related operations.

The dockerfiles are available on [Github](https://github.com/tensorflow/io/tree/master/tools/docker) along with the r

[2020-10-23 18:35] yongtang commented on #1156
Thanks @kvignesh1420 👍 ! The README page of the docker hub has been updated.

[2020-10-23 18:36] yongtang commented on #1156
I tested manually with release binary candidates and sanity looks fine.

[2020-10-23 18:37] yongtang commented on #1156
Below are the release binary candidates:
[code]

[2020-10-23 18:43] yongtang commented on #1156
The release of 0.16.0 is available:

https://pypi.org/project/tensorflow-io/0.16.0/#files

https://github.com/tensorflow/io/releases/tag/v0.16.0

[2020-10-24 18:58] Antymon opened #1161 "Issues with building IODataset from truly hierarchical hdf5"
Hi, I have hdf5 files with datasets (features) nested under groups (samples) in the following way: `/sample_id/feature_column_id`. Is it possible to make a dataset of this with `IODataset.from_hdf5`? I have been trying in eager mode but failed. Keep getting `tensorflow.python.framework.errors_impl.InvalidArgumentError: unsupported data class for /eps0_t0/label_done: 8 [Op:IO>HDF5ReadableInfo]`
by

[2020-10-25 21:51] c-subhodeep opened #1162 "tensorflow.python.framework.errors_impl.UnknownError: Error reading from Cloud BigQuery: lame client channel [Op:IO>BigQueryReadSession]"
Hello everyone, I am trying to read a table from GBQ using the `read_session().parallel_read_rows()` method of the `BigQueryClient()` class. I am facing a problem with authentication and getting the following error in stdout
[code]
I am using the following versions of TF packages on Python-3.7.8 on macOS:
[code]
For all general purposes I use a JSON file containing the credentials for my service a

[2020-10-26 07:07] kvignesh1420 commented on #1161
@Antymon I think you have to give the path to each feature column (based on the current implementation of the `IODataset`).

For example:

[code]

You can then zip multiple of these `feature_ds` datasets into a single dataset for a `sample_id`.

[2020-10-26 07:34] kvignesh1420 commented on #1121
@chaaland to achieve that you can do the following:

Assuming you have a list of parquet files

[code]

[2020-10-26 07:41] Antymon commented on #1161
Thanks, so I would use an `IODataset` object for something that is merely a feature of an example. I do wonder what would be performance implications, coz this feels like an approach that is going around the original intent of how hdf5 should be structured Perhaps my problem is the file itself as it is not really meant to be hierarchical?

[2020-10-26 16:32] yongtang commented on #1162
cc @vlasenkoalexey to take a look.

[2020-10-26 16:46] kvignesh1420 commented on #1161
@Antymon maybe you can represent your dataset in another format? Check the PR https://github.com/tensorflow/io/pull/1163 for a discussion on this.

[2020-10-27 08:00] kvignesh1420 commented on #1156
@MarkDaoust @lamberta  can we update the docs in the website as the PR https://github.com/tensorflow/io/pull/1160 has been merged?

[2020-10-28 06:30] #1087 closed

[2020-10-28 09:30] Antymon commented on #1161
Interesting. How about if I stored each feature for all samples in a single group? Wouldn't that convention make my h5 columnar? Then I would have as many datasets as features and perhaps could zip those together. Does that sound like an improvement over my current structure?

[2020-10-28 15:21] vlasenkoalexey commented on #1162
Please follow instructions from this page: https://github.com/tensorflow/io/tree/master/tensorflow_io/bigquery
I think you missed to do step 5.
Let me know if it still doesn't work.

[2020-10-29 08:40] tungnat97 opened #1165 "How to use KafkaOutputSequence properly?"
I use `KafkaOutputSequence.setitem()` to send messages to a Kafka topic. The thing is my messages come in continuously so the `index`  variable of `setitem()` may become large or eventually overflow at some point. I notice there is a `flush()` function but I don't know if it helps.

[2020-10-29 09:51] c-subhodeep commented on #1162
I think it works.. thanks a lot for your support @vlasenkoalexey

[2020-10-30 13:09] kvignesh1420 commented on #1135
@nmatare as @yongtang said, I tried deleting the kafka dataset with the graph intact and the consumer resources were released. However, when I tried to recreate the kafka dataset again, I faced segmentation fault issues. Do you have a specific use case in mind where you will delete the kafka dataset before exiting the tf graph? Let me know.

[2020-10-30 13:52] nmatare commented on #1135
I'm really glad that you brought this up. I was getting segfaults this week but I couldn't yet reproduce the problem...

I have a long-running service that callers connect to. Once callers connect, they choose a model which builds a new tf.data.Dataset, from Kafka. The callers may timeout or disconnect at irregular intervals. But because its a long-running service with multiple callers, I'd like t

[2020-10-30 14:05] kvignesh1420 commented on #1135
@nmatare In my opinion, I think it's better to create separate tf sessions (i.e separate graphs) for individual callers.

And as far as using CI/CD pipelines go, I think the best way is to use dedicated tasks for dataset operations where the programs quit and resources are freed up after the task completes.

cc: @yongtang for opinions/suggestions.

[2020-10-31 15:32] yongtang commented on #1135
I think there might be two ways to address the issue:
1. Instead of using default graph (not truly destroyable), a dedicated graph can be created so that it is destroyable. Once a graph is destroyed then all related resources will be cleaned.
2. We can also add a tracker based on user specified timeout. For example, if there is no activity for say 10 min, then the tracked kafka resource could be c

[2020-11-03 17:39] yongtang commented on #1162
Close the as the issue seems to have been fixed.

[2020-11-03 17:39] #1162 closed

[2020-11-03 17:46] yongtang commented on #1156
PR #1143 will cover most of the post 0.16.0 items. I think we haven't send out email to SIG IO list yet. Will send out shortly.

[2020-11-03 18:47] MarkDaoust commented on #1156
Okay, I tried running the updates on Oct 27th, and most of them went fine.

I hit two errors:

1. in kafka.ipynb

[code]

2.  elasticsearch.ipynb,

[code]

If I'm reading this correctly... you're trying to switch to the `daemon` user, but [`os.setuid` only works if you're root](https://www.geeksforgeeks.org/python-os-getuid-and-os-setuid-method/).

Maybe you can do this with:

[code]

[2020-11-04 00:04] MarkDaoust commented on #1156
Okay,

For kafka, I don't think this is something we can fix, because it looks like this is in the keras library. But that error looks like it has been fixed in TF2.4.

For elasticsearch I get.

`CalledProcessError: Command 'b'\ncurl -sX GET "localhost:9200/"\n'' returned non-zero exit status 7.`
and scrolling up through my logs I see a lot of:

[code]

Does anyone know how necessary this whole `d

[2020-11-04 00:34] yongtang commented on #1156
Thanks @MarkDaoust , I think the dbscale was an issue (see #1035) that has been fixed in PR #1037. So they are expected.

[2020-11-04 00:35] yongtang commented on #1156
@MarkDaoust For elasticsearch will take a look. Also /cc @kvignesh1420

[2020-11-04 07:14] kvignesh1420 commented on #1156
@MarkDaoust I see that, in a general colab notebook, the user is root by default and can change ownerships of dir's as required. Not sure if that's the case while building docs? Also, when I don't change the ownership of the directory to `daemon:daemon` and start the process as `daemon` user, I get the following error:

[code]

[2020-11-04 17:46] yongtang commented on #1158
@BryanWBear Created a PR to carry your patch. Thanks for reporting this!

[2020-11-04 18:31] gdrolet opened #1171 "Assertion failed error when reading Tiff image"
I have 4-bands GeoTiff images I want to read into Tensors and ultimately into a tf.data.Dataset.

My kernel crashes with the following message:

`Assertion failed: sizeof(tmsize_t)==sizeof(void*), file external/libtiff/libtiff/tif_open.c, line 99`

Here is the code that causes the crash:

[code]
My code runs in an anaconda environment (conda version 4.9.0) on Windows 10.
Python version 3.8.3.
Tens

[2020-11-04 18:41] MarkDaoust commented on #1156
I've published the updates for everything except elasticsearch.ipynb

@kvignesh1420, yes, in  the container that builds the site you're not root by default. So we need to find something that works on both.

Switching that chmod to `sudo chmod` gets me a little farther, but now it's failing with:

[code]

https://gist.github.com/MarkDaoust/bd7d027969b0d24b506e690a8d03b7a6

If you don't have any goo

[2020-11-04 18:50] BryanWBear commented on #1158
Thank you yongtang! The same error is present in `tfio.experimental.audio.time_mask`, which is right below `freq_mask`.

[2020-11-04 19:30] kvignesh1420 commented on #1156
@MarkDaoust I reduced the number of columns for building the feature layer as that cell was taking quite some time to execute. Please check https://github.com/tensorflow/io/pull/1172

[2020-11-04 20:10] terrytangyuan commented on #1111
cc @zouxu09 Would anyone in your team be interested in helping out with OSS storage support?

[2020-11-04 20:15] terrytangyuan commented on #701
Closing this for now since we regenerated the wrappers earlier. I'll revisit to make sure they work properly (tracked in another issue already).

[2020-11-04 20:15] #701 closed

[2020-11-04 20:16] terrytangyuan commented on #690
Unfortunately it is unmaintained and newer versions of OSS are not supported.

[2020-11-04 20:18] terrytangyuan commented on #381
This was done in https://github.com/tensorflow/io/pull/886 but I'll revisit to make sure everything is updated and works.

[2020-11-04 20:18] #381 closed

[2020-11-04 21:33] yongtang commented on #1158
@BryanWBear The PR #1170 has been merged so I will close this PR. Thanks a lot for your contribution!

[2020-11-04 21:33] #1158 closed

[2020-11-04 23:55] MarkDaoust commented on #1156
That's published now: https://www.tensorflow.org/io/tutorials/elasticsearch

[2020-11-05 07:40] kvignesh1420 commented on #1156
@MarkDaoust thanks for the help. Also, I see that the kafka.ipynb is not yet updated. Is it due to the keras issue?

[2020-11-05 16:24] MarkDaoust commented on #1156
Yes. I think this will be fixed in the 2.4 release.

[2020-11-05 23:15] yongtang commented on #1171
Created a PR #1174 for the fix. I don;'t have a windows machine though it looks like #1174 should fix the issue.

[2020-11-06 14:33] kvignesh1420 commented on #1156
@MarkDaoust please take a look at https://github.com/tensorflow/io/pull/1175.

[2020-11-06 15:40] yongtang opened #1176 "Replace DockerDub with GitHub docker repo?"
While browsing through GitHub repo I noticed that GitHub offers docker package release:
https://github.com/tensorflow/io/packages?package_type=Docker

Wondering if it makes sense to replace our docker release on DockerHub to GitHub? Several advantages:
1. DockerHub is adding more rate limiting restrictions (https://www.docker.com/blog/what-you-need-to-know-about-upcoming-docker-hub-rate-limiting)

[2020-11-06 15:43] yongtang commented on #1171
@gdrolet A new nightly build has been released https://pypi.org/project/tensorflow-io-nightly/0.17.0.dev20201106135047/

I think this will address the Windows assertion failure for TIFF. Can you give it a try with:
[code]

and let us know if the issue will be fixed?

[2020-11-06 15:56] terrytangyuan commented on #1176
+1 to use GitHub's docker registry

[2020-11-06 20:04] gdrolet commented on #1171
@yongtang Thanks for working on a fix. Unfortunately that didn't work.

I created a new environment to test the latest version of tensorflow-io:

[code]
tf and tf-io versions are now 2.4.0-rc0 and 0.17.0

Running the same code as in my original post produces the same behaviour (kernel crash) and error message.

[2020-11-06 23:37] yongtang commented on #1171
@gdrolet If possible can you provide a sample of the tiff file that triggers the crash?

I noticed you are referring to GeoTiff so I might be able to find some clue but a sample will definitely help a lot.

[2020-11-07 02:07] gdrolet commented on #1171
@yongtang you will find the file here (expires in 24h):

https://transfert.mffp.gouv.qc.ca/?ShareToken=36FE7701AA7A7918B8F4D2B6930A7038C6D90325

[2020-11-07 12:40] kvignesh1420 commented on #1176
We can setup github actions (in addition to current dockerhub actions) to publish the packages and explore.

[2020-11-07 12:48] kvignesh1420 commented on #1176
Also, was wondering if we can add tag `topics` to our repo.

For example (Tensorflow uses):

![image](https://user-images.githubusercontent.com/25393945/98441541-1123d680-2125-11eb-9bf2-fc2504f9a724.png)

similarly, we can maybe use:
- tensorflow
- io
- file-systems
- streaming-datasets

Suggestions are welcome!

[2020-11-07 16:10] terrytangyuan commented on #1176
@kvignesh1420 Yes I think only @yongtang has access to edit the topics.

[2020-11-07 18:26] yongtang commented on #1176
@terrytangyuan @kvignesh1420 Added topics to the repo.

[2020-11-08 02:45] zouxu09 opened #1180 "Convert OSS to use C modular file system API"
This PR converts OSS to use modular C file system API.

This PR is part of the #1111.

[2020-11-08 03:59] terrytangyuan commented on #1180
Did you mean yo create a PR instead of an issue?

[2020-11-08 10:15] yongtang commented on #1171
@gdrolet A new version of tensorflow-io-nightly is now available (https://pypi.org/project/tensorflow-io-nightly/0.17.0.dev20201108041428/):
[code]

I think the issue is now fixed. Can you give it a try?

[2020-11-08 11:55] kvignesh1420 commented on #1176
thanks @yongtang 👍 .

[2020-11-08 14:12] BewareMyPower opened #1181 "Question about code style"
From https://github.com/tensorflow/io/blob/master/STYLE_GUIDE.md#python

However I found the python scripts in the project don't conform to PEP8, e.g. in many python files, the line length exceeds 80.

In addition, the doc seems to be outdated like `.travis/lint.sh` doesn't exist and the `buildtools/buildifier` will modify `WORKSPACE` and `third_party/postgresql.BUILD`:

[code]

[2020-11-08 15:07] kvignesh1420 commented on #1181
@BewareMyPower The doc is yet to be updated. We generally follow the lint steps mentioned [here](https://github.com/tensorflow/io#lint)

[2020-11-08 15:39] BewareMyPower commented on #1181
Thanks @kvignesh1420 for the help. I just missed this section before.

[2020-11-08 15:39] #1181 closed

[2020-11-08 16:22] kvignesh1420 commented on #1161
@Antymon can this issue be closed?

[2020-11-08 16:23] kvignesh1420 commented on #1121
@chaaland can this issue be closed?

[2020-11-08 16:31] #488 closed

[2020-11-08 16:36] kvignesh1420 commented on #251
@pjm4github you can try exploring the `KafkaGroupIODataset` and it's `stream_timeout` functionality for continuous predictions on new data points.
Reference: https://www.tensorflow.org/io/api_docs/python/tfio/experimental/streaming/KafkaGroupIODataset
Tutorial: https://www.tensorflow.org/io/tutorials/kafka#evaluate_the_performance_on_the_test_data

[2020-11-08 16:40] kvignesh1420 commented on #68
@yongtang can this be closed?

[2020-11-08 16:50] yongtang commented on #68
@kvignesh1420 Ah yes thanks for the reminder 👍

[2020-11-08 16:50] #68 closed

[2020-11-08 17:11] kvignesh1420 commented on #149
@suphoff any updates on this?

[2020-11-08 17:14] #163 closed

[2020-11-08 17:19] kvignesh1420 commented on #227
@yongtang can this be closed?

[2020-11-08 17:25] kvignesh1420 commented on #991
@Deams51 any update on this?

[2020-11-08 17:26] kvignesh1420 commented on #990
@dav009 any updates on this?

[2020-11-08 17:27] yongtang commented on #227
@kvignesh1420 Thanks yes this can be closed now.

[2020-11-08 17:27] #227 closed

[2020-11-08 17:29] kvignesh1420 commented on #989
@s0r2637 can you please try with the latest version of tensorflow-io and let us know if the issue still persists?

[2020-11-08 17:57] chaaland commented on #1121
Sure I will can close this issue

[2020-11-08 17:57] #1121 closed

[2020-11-08 18:56] yongtang commented on #1111
@terrytangyuan One remaining issue in AZFS is that we commented out logging temporarily https://github.com/tensorflow/io/pull/1143/files#r517351641

This issue can be addressed by using C logging API in TensorFlow. A PR in tensorflow repo has been created to expose the header files in pip package: https://github.com/tensorflow/tensorflow/pull/44690

[2020-11-08 21:45] yongtang opened #1183 "Migration of modular file system plugins in tensorflow (s3/hdfs/gcs) to tensorflow-io"
As was discussed in our September monthly meetings, we are looking into migrate modular file system plugins in tensorflow (s3/hdfs/gcs) to tensorflow-io package.

Once the migration is done the size and build time of tensorflow repo could be substantially improved, this can greatly help external tensorflow contributors experience as they could selectively decide to only build some components (e.g.

[2020-11-09 06:20] vnvo2409 commented on #1183
Let me check if there is any incompatible between the core implementation and the plugins.

There are some points which I would like to make it clear.

---

Documentation: There are some issues of TF related to the behavior of the environment variables:
- `S3`:  https://github.com/tensorflow/tensorflow/issues/44564 https://github.com/tensorflow/tensorflow/issues/42389
- `GCS`: https://github.com/t

[2020-11-09 12:27] gdrolet commented on #1171
@yongtang it works! Thanks a lot for your support.

[2020-11-09 14:24] Antymon commented on #1161
Well, it can, of course. As a user, I would wish for some instructions on h5 to appear in the docs, but I leave it to your judgment. I am speculating that one could mimic TFRecord in serializing all tensors to strings and dump everything as one string matrix under a single h5 dataset, but I haven't benchmarked either this or what was originally suggested. As for my problem, I will simply go for no

[2020-11-09 15:09] kvignesh1420 commented on #1161
@Antymon we will try to put down some documentation around this. Also, it would be great if you can contribute the benchmarking with TFRecord and h5 datasets. It would be helpful to others as well. Thanks.

[2020-11-09 15:09] #1161 closed

[2020-11-09 15:14] kvignesh1420 commented on #1004
@terrytangyuan @yongtang if we are continuing with the manual process, can this be closed?

[2020-11-09 15:18] terrytangyuan commented on #1004
Yes

[2020-11-09 16:34] kvignesh1420 commented on #983
@rmcoronado any updates on this?

[2020-11-09 16:35] kvignesh1420 commented on #964
@Abhipray any updates on this?

[2020-11-09 16:36] kvignesh1420 commented on #945
@yongtang can this be closed?

[2020-11-09 16:55] yongtang commented on #945
@kvignesh1420 Yes I think this can be closed as we have `.bazelversion` in place now.

[2020-11-09 16:55] #945 closed

[2020-11-09 21:34] yongtang commented on #1171
@gdrolet Glad the issue has been resolved.

[2020-11-09 21:34] #1171 closed

[2020-11-10 02:54] yongtang commented on #1183
Thanks @vnvo2409 !

For testing: I have created a PR #1184 which setup the AWS Localstack emulator in GitHub Actions. See https://github.com/tensorflow/io/blob/master/tests/test_aws/aws_test.sh for localstack emulator setup.

The test is working for Kinesis dataset in tensorflow-io. I configured the localstack emulator to have s3 and a bare-bone stub test has been created as well as a starting. Pl

[2020-11-10 03:09] vnvo2409 commented on #1183
Thank you!

I think we could use the [emulator](https://github.com/googleapis/google-cloud-cpp/tree/master/google/cloud/storage/emulator) of `google-cloud-cpp`, which is the library underlies gcs plugins. The emulator isn't done yet ( It will be done around mid-november ). It is written entirely in python so setup should be quite easy.

I am a little busy working with the emulator of `google-cloud

[2020-11-10 03:24] yongtang commented on #1183
@vnvo2409 We don't have a hard timeline for it though we are looking at before TF 2.5 release. Since 2.4 is not released yet (likely in several weeks), the TF 2.5 release will be about early next year. I will try to take a look and see if I can help migrating a plugin or so, and may ask you for review 😄 .

[2020-11-10 03:28] vnvo2409 commented on #1183
Early next year should be enough for me.

Thank you very much 😄

[2020-11-10 16:34] suphoff commented on #149
@kvignesh1420 - Sorry - no update and not in a position to work on this. Closing the issue.

[2020-11-10 16:34] #149 closed

[2020-11-10 17:28] mihaimaruseac commented on #1183
I could help with moving issues.

Thank you for making the tracking issue to move the plugins.

[2020-11-10 20:51] yongtang commented on #1183
@mihaimaruseac One issue I noticed is that at the moment there is no way to `unload` the existing file systems embedded in TF. For example, if I am trying to register a shared object plugin for S3, the following error will thrown out because there is already a `s3` registered:
[code]

It looks like the error arises from the code in https://github.com/tensorflow/tensorflow/blob/dc3099c444d294b39cd7

[2020-11-11 20:49] mihaimaruseac commented on #1183
We should comment the `TF_REGISTER_FILESYSTEM` lines in the old code for every filesystem that is integrally moved to plugins. In fact, we can also delete the non-modular implementation.

It will be a risky thing to allow overriding filesystem registrations.

[2020-11-12 07:47] kvignesh1420 commented on #1183
@vnvo2409 @mihaimaruseac what is the current approach for testing `hdfs` plugins in tensorflow?

[2020-11-12 08:11] vnvo2409 commented on #1183
AFAIK, we could run `hdfs` locally in pseudo-distributed mode and it should be enough for testing

[2020-11-12 09:02] kvignesh1420 commented on #1183
how about `hdfs` on docker and then use it in github actions?

[2020-11-12 10:23] vnvo2409 commented on #1183
I find this [tutorial](https://clubhouse.io/developer-how-to/how-to-set-up-a-hadoop-cluster-in-docker/). I think it should work. I will try it and will report to you later.

[2020-11-12 12:29] kvignesh1420 commented on #1183
Okay.

[2020-11-12 18:24] kvignesh1420 commented on #1135
@nmatare any updates on this?

[2020-11-12 21:40] kvignesh1420 commented on #1137
@tungnat97 I see, so here is what you can do as of now. In the configurations parameter, you can pass `statistics.interval.ms" value to log the stats on the terminal.

For example:

[code]

Increase or decrease the value as per need.

[2020-11-13 18:28] kvignesh1420 opened #1192 "[Discussion] Retrieve metadata along with the data when next() is called on dataset iterators."
When datasets are created and iterated over, we retrieve the data from the cpp layer into the python layer. What would be a good approach (if any) to retrieve metadata along with the expected data.

For example:
[code]

cc: @yongtang @terrytangyuan @vlasenkoalexey @BryanCutler

[2020-11-15 19:13] nmatare commented on #1135
Apologies on the delay on this: will experiment/test with everyone's suggestions and get back on this towards the end of the week.

[2020-11-16 16:42] vnvo2409 commented on #1183
I would like to bring up the directory behavior of the cloud filesystem. To me, there's no use forcing `posix` behavior upon cloud filesystem, and it causes some misunderstoods for users ( https://github.com/tensorflow/tensorflow/issues/44884 ). If we can not have a change in this behavior, I think we should be more transparent with TF's users ( A warning or info that directory in cloud filesystem

[2020-11-16 18:12] yongtang commented on #1183
@vnvo2409 I think overall the `file systems` in tensorflow are not truly file systems that could completely replace standard file systems. Rather they are used to serve two purposes:
1. The file system (s3/gs) could be used in TF's C++ kernel for reading file content (e.g., `tf.io.read_file`)
2. The file system (s3/gs) could be used for saving and loading models. So in addition to reading file con

[2020-11-16 18:17] vnvo2409 commented on #1183
@yongtang Thank you for your reply ! I will also add it to my PR for the documentation.

[2020-11-17 16:00] ms-lolo commented on #335
can someone help me understand if this is possible? @damienpontifex, were you able to get this working?

[2020-11-17 17:11] yongtang commented on #335
@ms-lolo At the moment azure blob storage file system has been fully built into tensorflow-io, so you should be able to use `import tensorflow_io as tfio` and the file system will be ready when you run tensorflow:
[code]

For tensorboard, in theory it should be similar as long as `import tensorflow_io as tfio` is present in your python program. Please give it a try and let us know if running into

[2020-11-17 17:16] ms-lolo commented on #335
thanks for the response, @yongtang, I'm a little confused by this ticket then: https://github.com/tensorflow/tensorboard/issues/2424

I guess it's not clear to me how this support works when I am trying to run tensorboard as a terminal command and not as part of a notebooks. I am specifically trying to run something like `tensorboard --logsdir az://accountname/path/to/logs` but it sounds like the

[2020-11-17 17:30] yongtang commented on #335
@ms-lolo Yes the `import tensorflow_io as tfio` needs to happen inside the python script when tensorboard tries to run tensorflow. I am not very familiar with tensorboard but I would assume the change will not be big (except need to find the right place to add it).

[2020-11-17 17:38] ms-lolo commented on #335
ok last question! the docs you linked mention `TF_AZURE_STORAGE_KEY`, do you know if `tensorflow-io` supports using user and system managed identities for the blob operations? This should be possible if tensorflow-io is using the python blob sdk and uses something like the `DefaultAzureCredential` class: https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity#authenti

[2020-11-17 17:47] yongtang commented on #335
@ms-lolo We use Azure Storage CPP SDK (https://github.com/Azure/azure-storage-cpplite) so in theory it conforms to the same methods like python SDK. Can you give it a try, and, in case it is not supported on `tensorflow-io` yet, report back? We will fix any issues if needed.

[2020-11-17 18:14] ms-lolo commented on #335
Just tested and I am seeing 404 errors when trying to run `tf.io.gfile.mkdir(pathname)`. I think this is the default error azure returns when you lack permissions to a location (so it doesn't expose information about the location existing). I didn't set any environment variables and just ran something like this:
[code]
The command hangs for a dozen seconds or so before giving me a 404 error.

The

[2020-11-17 19:17] kvignesh1420 commented on #335
@ms-lolo yes the scheme has been changed to `az://`. I think you have to set the `TF_AZURE_STORAGE_KEY` env var to properly connect to the fs and create the dir.

[2020-11-17 19:28] ms-lolo commented on #335
if it helps, this is how I would access the same location using the python blob sdk (just listing the blobs at this path):
[code]
The important part is that this works without specifying any authentication secrets. If this code runs on a machine that has the appropriate access permissions, the code will run and be authenticated automatically.

[2020-11-18 19:20] nmatare commented on #1135
@kvignesh1420 I must have done something incorrectly the first time I tried subgraphs and mistakenly observed the resources persistening. I can confirm the resources get cleanup when using subgraphs:

[code]
By not using the default graph, resources get cleaned up as expected.

Thanks for the tips and explanations! @yongtang

[2020-11-18 19:21] #1135 closed

[2020-11-18 20:49] nmatare commented on #1135
I should have gone further with the above code. Jumping back to this. Is there a method to retrieve data from the resource while in (sub) graph mode? I'm getting stuck pulling data from the consumer when tf is in (sub) graph mode.

[code]

[2020-11-18 23:05] nmatare commented on #1135
Confirming the tf 1.0 API solves:

[code]

[2020-11-19 23:59] usryokousha opened #1205 "Error in decode_tiff and IOtensor.from_tiff"
When decoding a tiff file using the Tensorflow IO API I am getting an error in the libtiff code.  This issue was already addressed on StackOverflow [See link](https://stackoverflow.com/questions/64424426/load-tiff-images-in-tensorflow-using-tensorflow-ios-decode-tiff) but hasn't appeared here.

The failed line of code is the following:
Assertion failed: sizeof(tmsize_t)==sizeof(void*), file extern

[2020-11-20 01:13] yongtang commented on #1205
@usryokousha Can you list the details of the OS and python version? If it is on Windows then the issue may have been solved in  #1171

[2020-11-25 17:42] yongtang commented on #1111
With AZFS and HTTP file system converted to modular file system C API we can thinking about maintain forward-compatibility now. One thing we can do, is to lazy load the `libtensorflow_io.so` (non-forward-compatible) and only imperatively load `libtensorflow_io_plugins.so` (forward-compatible). In this way it will be possible to allow user to use file systems in future TF versions when they only to

[2020-11-26 07:29] 777ki opened #1209 "[Kafka dataset] Add the message offset to record like message_key"
OOOOK, first of all, I knew "kafka dataset is deprecated" !
and

I want to say, the offset is very important infomation in online deep learning when we use the kafka to handle input data  pipeline, such like ： trace the error data position， multi version model evaluation data reuse and so on
so i enrich the kafka dataset logic to support offset dump with record

[2020-11-26 15:38] usryokousha commented on #1205
Sorry, for the delayed response.  I am also on a system running Windows 10! You are right that it was addressed in #1171!  Thank you for the help!

[2020-11-26 15:38] #1205 closed

[2020-11-26 18:02] terrytangyuan commented on #1111
@zouxu09 is working on the OSS part and it's tracked in https://github.com/tensorflow/io/issues/1180. I'll defer this to @zouxu09 to comment on the timeline.

[2020-11-28 18:42] MrRobot2211 commented on #964
There sure must be away to do it in general. II came across an implementation but only worked with images stored in hd5 and produced a generator

[2020-11-28 18:52] MrRobot2211 commented on #983
I have a similar issue   i get

InvalidArgumentError: slice index 0 of dimension 0 out of bounds. [Op:StridedSlice] name: IOFromHDF5/HDF5IODataset/strided_slice/

But in my case dim 0 is the large one , the one that for each value of iindex gives you an instance

[2020-12-02 13:55] mrngbaeb commented on #282
is it not because you wrote `prefech` instead of `prefetch`?

[2020-12-06 02:36] noahtren opened #1215 "tfio.experimental.serialization.decode_json doesn't work for lists"
The `tfio.experimental.serialization.decode_json` function states that lists are invalid JSON objects.

For example, the string '[123]' is not considered valid, while the string {'a': [123]}' is considered valid.
[code]

[2020-12-06 12:53] vnvo2409 commented on #1183
@yongtang
Could you sum up what you are doing so our change doesn't overlap with each other ? Thank you.

[2020-12-07 02:55] yongtang commented on #1183
@vnvo2409 You can see the list of items that have not been done yet (https://github.com/tensorflow/io/issues/1183#issue-738561022):

Completed:
- [x] Initial S3 file system commit (PR #1191)
- [x] Initial GCS file system commit (PR #1203)
- [x] Initial HDFS file system commit (PR #1197)

Not started:
- [ ] [S3 file system] Port `s3_filesystem_test.cc` to python tests (https://github.com/tensorflow

[2020-12-07 06:57] vnvo2409 commented on #1183
@yongtang
I could not see any `BUILD` file for the tests directory. Do we have to invoke the tests directly by `python` or am I missing something ?

[2020-12-07 14:45] kvignesh1420 commented on #1183
@vnvo2409 we use `pytest` for testing the python based API's. For example:
[code]

[2020-12-07 14:48] kvignesh1420 commented on #1215
@noahtren the data should be in a `{key:value}` format for the decode_json to function properly. So `{"a": [123]}` works but `[123]` doesn't.

[2020-12-08 01:37] noahtren commented on #1215
Is there any way to extend this to all valid JSON, not just JSON objects with named fields?

I was hoping this function could be used to serialize a dataset in jsonlines format where the first line is the field names, and each following line is the values (similar to csv)

[2020-12-08 13:56] vnvo2409 commented on #1183
I think this is already done via a0a4dc7ac7ecdfdc387a9709d5b923a4958c5096

[2020-12-08 14:51] kvignesh1420 commented on #1183
@vnvo2409 I think so. Which work item are you planning to start with?

[2020-12-08 14:59] vnvo2409 commented on #1183
I am working on `s3` test. I think it will be done by tomorrow.

[2020-12-08 15:23] yongtang commented on #1183
Thanks @vnvo2409 for the update 👍

[2020-12-08 20:49] JulesGM opened #1216 "Multi dataset feature"
Hello, My pipeline has multiple features that need to be received at the same time, read from the same hdf5 file, in different datasets.
Is there a way to do that with ? Right now `tensorflow_io.core.python.ops.io_dataset.IODataset.from_hdf5` seems to only accept single datasets.

[2020-12-08 22:14] #1216 closed

[2020-12-08 22:14] JulesGM commented on #1216
I used tf.data.Dataset.zip and it works.

[2020-12-08 22:17] JulesGM opened #1217 "TPU Support? `IODataset.from_hdf5`"
Hello,
when trying to use `IODataset.from_hdf5` with `tf.distribute.TPUStrategy` and `tf.distribute.Strategy.experimental_distribute_dataset`, I get `tensorflow.python.framework.errors_impl.NotFoundError: 'IO>HDF5ReadableInfo' is neither a type of a primitive operation nor a name of a function registered in binary running on n-0b70162a-w-0. Make sure the operation or function is registered in the

[2020-12-09 10:06] vnvo2409 opened #1222 "New filesystem plugins throw segfault"
It seems that the new filesystem plugins aren't stable. In fact, I just did some experiements and here is the result:

`gfile.makedirs`:
- `s3`: `SEGFAULT`
- `gcs` : `SEGFAULT`

`io.read_file`:
- `s3` : OK
- `gcs` : OK

`gfile.exists`:
- `s3`: OK
- `gcs`: ABORT

I could not test everything right now, will update when I finish testing.

[2020-12-09 10:26] vnvo2409 commented on #1183
I found a filesystem named [gsmemcachedfs](https://github.com/tensorflow/io/tree/master/tensorflow_io/core/kernels/gsmemcachedfs). I think it has some what the same idea with the `ram_file_block_cache.h` in `gcs` plugins. In addition, it will stop working when we remove `gcs` filesystem out of `tensorflow` because it includes some headers from TensorFlow.
https://github.com/tensorflow/io/blob/0c95

[2020-12-09 14:23] yongtang commented on #1222
@vnvo2409 Is this on Windows or Linux?

[2020-12-09 14:24] yongtang commented on #1183
@vnvo2409 Yes I think gsmemcachedfs will need to be ported to C modular file system API. /cc @marioecd

[2020-12-09 14:35] vnvo2409 commented on #1222
@yongtang

I am testing on MacOS right now. But I think on Linux it will be the same.

In fact, I did see the same thing as you said in https://github.com/tensorflow/io/pull/1218#issuecomment-741802157. Maybe the filesystem plugins registration does not work correctly.

[2020-12-09 14:53] vnvo2409 commented on #1183
@yongtang  @marioecd
I think we should merge the library inside `gcs` plugins and `gsmemcachedfs` into one `ram_file_block_cache.h` and so on. gcs `ram_file_block_cache.h` is missing something like inheritance cause I am not aware that there is another filesystem depending on it.

I could work on the migration but I might need something instructions for testing and general characters of that files

[2020-12-10 16:35] kvignesh1420 commented on #1156
@yongtang all the items have been completed other than the Kafka notebook update. We can take it up after tf2.4 release or after 0.17.0 release of tfio. Shall we close this now?

[2020-12-10 16:55] yongtang commented on #1156
@kvignesh1420 Let's close this issue. Given 2.4.0 is in rc4 already, I think 2.4.0 final will likely be released early next week. We can then work on 0.17.0.

[2020-12-10 16:55] #1156 closed

[2020-12-10 17:50] kvignesh1420 commented on #1215
How are the values delimited? Maybe you can change the delimiters to `,` and then directly parse the CSV?

[2020-12-11 07:13] #1209 closed

[2020-12-13 15:29] vnvo2409 commented on #1222
@yongtang

I found the problem. In [`ModularFileSystem::RecursivelyCreateDir`](https://github.com/tensorflow/tensorflow/blob/1987dba1a166d0336ccea8176dd2a16a65ddf19a/tensorflow/c/experimental/filesystem/modular_filesystem.cc#L264-L267), we call [`FileSystem::RecursivelyCreateDir(dirname)`](https://github.com/tensorflow/tensorflow/blob/1987dba1a166d0336ccea8176dd2a16a65ddf19a/tensorflow/c/experimen

[2020-12-14 17:46] mihaimaruseac commented on #1222
It is too late for 2.4 as it will be released today.

This is a side effect of the transaction tokens. We should fix `modular_filesystem.cc` to call using the `token` argument.

Then, we can make a patch on the 2.4 branch and fix in an upcoming patch release, though I'm unsure of the timeline for that.

[2020-12-14 19:04] yongtang opened #1228 "tensorflow-io 0.17.0 release"
With TensorFlow 2.4 final release out now, we can working on a v0.17.0 release for TF 2.4, as was discussed in our meetings.

Here is the list of items for 0.17.0:

- [x] Bump tensorflow-io version to 0.17.0 (PR #1227)
- [x] Update RELEASE.md to capture 0.17.0 changes (PR #1227)
- [x] Update README.md to update 0.17.0 release date (PR #1227)
- [x] When GitHub Actions complete the build against the

[2020-12-15 00:41] yongtang commented on #1228
Tested the candidate binary on Linux with python 3.6, 3.7, and 3.8. All works fine:
[code]

[2020-12-15 00:44] yongtang commented on #1228
Files uploaded to PyPI.org:
https://pypi.org/project/tensorflow-io/0.17.0/#files

[2020-12-15 00:46] yongtang commented on #1228
Release Tag available:
https://github.com/tensorflow/io/releases/tag/v0.17.0

[2020-12-17 09:42] vnvo2409 opened #1233 "Compilation error on Ubuntu 20.10"
When compiling `//tensorflow_io/core:python/ops/libtensorflow_io.so`, it throws an error:
[code]

gcc version
[code]

Releated to https://github.com/apache/avro/pull/837

I think we need to bump `avro` to at least `1.10.1`.

[2020-12-17 16:30] yongtang commented on #1233
@vnvo2409 Created a PR #1235 for the fix.

[2020-12-17 17:39] wchargin opened #1236 "Bazel caching for GitHub Actions workflows"
It looks like your CI jobs build from scratch on every build, and thus
take many hours of workflow time (e.g., [7 hours for this workflow][w]).
These cause builds for the entire TF organization to queue.

Bazel has built-in support for [incremental remote caching][c]. This is
not a Travis-style giant opaque cache that needs to be sent to and from
the VM on each run. Instead, it’s a fine-grained ke

[2020-12-17 18:23] yongtang commented on #1236
@wchargin We will be happy to use bazel cache as this will help speed up our CI process as well. At the moment the biggest blocker is that we don't have a GCS account/credential.

@angerson @ewilderj @martinwicke Wondering if you can help with GCS account/credential to speed up the build?

[2020-12-17 18:35] #1233 closed

[2020-12-21 03:47] vnvo2409 opened #1240 "import tf-io failed when using custom tf wheel"
I've built a custom tf wheel (OS: Ubuntu 20.10, commit https://github.com/tensorflow/tensorflow/commit/b19ef9bf1f7caca22576f3cdd01b9d2aa0e13653)  with `--config=noaws --config=nogcp --config=nohdfs --config=nonccl` ( basically no `boringssl`, `curl` stuff and no filesystem ). When I tried to import `tf-io` ( both nightly and `0.17` ), I got this error
[code]

I think there are some ODR violations.

[2020-12-21 03:48] vnvo2409 commented on #1240
When importing `0.16`, it throws:
[code]

[2020-12-21 04:20] vnvo2409 commented on #1240
Inside `/home/vovannghia2409/programming/.venvs/tf-mini/lib/python3.8/site-packages/tensorflow`, I found a folder `include/external/aws/`, it there any chance that `tensorflow_io` uses these header instead of its own ?

[2020-12-21 04:53] yongtang commented on #1240
@vnvo2409 Which version of the tensorflow are you using to build customized wheels? The tensorflow-io needs to match specific version of tensorflow for C++ API compatibility, i.e., tensorflow-io 0.16.0 matches TF 2.3.0 and tensorflow-io 0.17.0 matches TF 2.4.0 (for C++ API).

For `_ZN10tensorflow4data15DatasetOpKernel11TraceStringEPNS_15OpKernelContextEb`, I am almost sure this is caused by C++ in

[2020-12-21 04:54] yongtang commented on #1240
@vnvo2409 This is very much a concern. In the past we count on using the same version of third-party libraries to avoid issues. Apparently this is causing big problems when AWS C++ SDK does not match.

[2020-12-21 04:57] yongtang commented on #1240
@vnvo2409 Some of the header files are capture in the following I believe.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/build_pip_package.sh

I will take a look and see if we could remove AWS from the header files in tensorflow.

[2020-12-21 04:57] vnvo2409 commented on #1240
I think it is Tensorflow 2.5. ( I build with master cause I have the cache already. If I switch into another commit, it will take me half a day. )

[2020-12-21 05:02] vnvo2409 commented on #1240
@yongtang

I think we could use `--config=noaws` for that thing. I think the right thing we should do right now is rebuilding `tensorflow-io` with a Tensorflow wheel without filesystem stuff to see if it success or not.

[2020-12-21 05:10] vnvo2409 commented on #1240
@yongtang

Related to this issue, If I build `libtensorflow_io_plugins.so` and load it into `tensorflow` using `tf.experimental.register_filesystem_plugin`, it throws
[code]

which makes me think that it use the symbol from TensorFlow core instead of Tensorflow_io because we should not have any mismatch here.

[2020-12-21 13:48] vnvo2409 commented on #1240
@yongtang

If I use the customized wheel to rebuild `libtensorflow_io_plugins.so`, the segfault goes away.

[2020-12-21 17:35] yongtang commented on #1240
@vnvo2409 I created a PR #1241 to remove tensorflow's AWS header file from exposing. Can you give it a try and see if that will resolve the issue without a custom tensorflow wheel?

[2020-12-22 02:24] vnvo2409 commented on #1240
@yongtang One more thought about it. As far as I understand, `libtensorflow_io_plugins.so` should work with all TensorFlow wheel. I think it is the ultimate goal of my GSoC project.

But `tensorflow_io` works only with specific TensorFlow wheel and we can't use `libtensorflow_io_plugins.so` without importing `tensorflow_io`. Does it defeat the purpose of the `C API` of Modular Filesystem ?

Is the

[2020-12-22 02:36] yongtang commented on #1240
@vnvo2409 When `import tensorflow_io as tfio` is called, only `libtensorflow_io_plugins.so` is loaded. The `libtensorflow_io.so` will not be loaded until it is actually used. You can see PR #1208 for details.

[2020-12-22 02:45] vnvo2409 commented on #1240
@yongtang Thank you! In my case, the loading of `libtensorflow_io_plugins.so` failed, so it fell back to the loading of `libtensorflow_io.so`.

[2020-12-22 17:05] marno1d opened #1245 "decode_vorbis causing RAM leak"
I'm seeing an issue where using tfio.audio.decode_vorbis is causing a RAM memory leak. If I call decode_vorbis in a loop the RAM increases. However, when I call decode_wav in a loop the RAM stays constant.

TF Version: 2.4
TF IO Version 0.17.0
OS: Ubuntu 18.04

I created a colab notebook that reproduces this issue: https://colab.research.google.com/drive/1W0ubBFr2lEEHeqAYDguXgAyFZgjuZOvl?usp=shari

[2020-12-22 19:37] angerson commented on #1236
FYI @theadactyl as well. I'm looking into the technical setup for a TF sub-project for this kind of thing.

[2020-12-22 20:59] angerson commented on #1236
@yongtang I started our internal "official" process for setting up a new GCP project to contain a bucket for SIGs to use, but unfortunately there's a production freeze and my request won't be processed until the 5th of January. This should cover due-diligence for any privacy/security related policy issues, although it's still possible we'll run into other policy issues.

FYI @perfinion

[2020-12-22 21:46] yongtang commented on #1236
@angerson Thanks for the update 👍

[2020-12-24 09:31] kvignesh1420 commented on #1245
@marno1d PR: https://github.com/tensorflow/io/pull/1249 has been opened to address this issue.

[2020-12-24 19:28] marno1d commented on #1245
@kvignesh1420 Great, thanks for getting to this so quickly. I really appreciate the whole tfio.audio library.

[2020-12-25 13:02] kvignesh1420 commented on #1245
@marno1d I didn't observe any obvious mem leaks while trying the `decode_vorbis` functionality on my mac. However, I have addresses the file cleanup in the PR. Folks might be on vacation so it might take some time to get this reviewed.

[2020-12-28 19:10] #1222 closed

[2020-12-29 22:25] dgoldenberg-audiomack opened #1252 "Support a way to load input data from AWS S3 (or a recipe for how to do it)"
I'm not sure if #27 is related; there's something about S3 there.

Environment:
- AWS EMR emr-6.2.0
- Spark 3.0.1
- TF 2.4.0
- TF IO 0.17.0

My use-case is, I have Parquet files stored in AWS S3 and I want to load them into a TF dataset. So, basically:

[code]

Currently, I'm getting a error as follows:

    filename, columns=columns, internal=True
  File "/home/hadoop/.local/lib/python3.7/site-pa

[2020-12-30 07:54] kvignesh1420 commented on #1252
@dgoldenberg-audiomack we are currently in the process of migrating filesystem plugins from `tensorflow/tensorflow` to `tensorflow/io`.  Thus, we are currently using a different `scheme` in `tensorflow/io` called `s3e` to connect to s3 storage so that it doesn't conflict with the existing symbols in tensorflow.

So, as a sanity check for reading parquet files as an `IODataset`, can you check wheth

[2020-12-30 14:21] dgoldenberg-audiomack commented on #1252
Hi @kvignesh1420, thanks for your quick response.

I've changed the code to use the "s3e" protocol. I still got an error, pls see below. Just checked; the file does exist.

- Is there anything special I need to do to enable the s3e?
- I see [this writeup](https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/s3.md) on TF on S3. Safe to assume this isn't relevant since my code

[2020-12-30 14:35] dgoldenberg-audiomack commented on #1252
@kvignesh1420,

Following up on my previous comment,

In `tests/test_s3_eager.py` in TF IO v.0.17.0, I see the following:

[code]

Which raises two questions:
1. Is s3e not actually enabled/not working yet? If so, when might it become enabled? Or will it be superseded by a full support for s3?
2. I see all the env var setups. Safe to assume those won't be necessary if running in EMR? I mean, PySpa

[2020-12-30 21:54] dgoldenberg-audiomack opened #1254 ""InvalidArgumentError: null value in column" when loading Parquet into tfio.IODataset when column has no actual null values"
Loading movielens data from Parquet I pre-generated, into an IODataset, yields error as below (stack included).

I'm attaching sample parquet files. I do not see any records where the `movie_title` column value would be null.

Code is also attached. The logic flow is:
1. Load the CSV movielens data from AWS S3.
2. Convert this data to Parquet and store Parquet in S3. This generates the Parquet we

[2020-12-30 22:30] dgoldenberg-audiomack commented on #1254
Tried with the column list as a list of just names, same error.

[code]

[2020-12-31 13:58] kvignesh1420 commented on #1252
@dgoldenberg-audiomack
1. `s3e` works as of now. The tests are passing in our Github Actions jobs. That TODO note is an old one and will be removed once the migration is complete.
2. I think you need to set the necessary env vars before reading the files from `s3` as of now. I am not sure of an alternative approach. Maybe @vnvo2409 @yongtang might be able to shed some more light on this.

[2020-12-31 14:10] vnvo2409 commented on #1252
`s3e` is working now ( at least for reading/writing ). I think we add that TODO because `s3e` isn't fully tested.

It will replace `s3` in TF 2.5.

@dgoldenberg-audiomack Could you set additional envs ( https://github.com/tensorflow/tensorflow/issues/44564#issuecomment-747599861 ) and we might get some insight about this issue ? Please remove sensitive information before posting the log !

[2020-12-31 17:00] dgoldenberg-audiomack commented on #1252
Hi @vnvo2409, @kvignesh1420,

Thanks for your comments.

I'll see if I can set up a test with the env vars in place. This alone poses a big issue due to the sensitive nature of the credentials. I've made this point earlier: "PySpark is 'simply' able to write Parquet into S3 opaquely; it doesn't require a setup of these vars. In a Production setting, asking a job to know such creds as AWS_SECRET_AC

[2020-12-31 17:27] kvignesh1420 commented on #1254
@dgoldenberg-audiomack I explored your data and prepared parquet IO dataset using the local copy. I think the issue for this error is due to the presence of `special` characters in movie names.

For example: (from csv)
[code]

The dataset was unable to read rows such as these and raised the
[code]

Please pre-process your dataset and then try to load the data.

[2020-12-31 17:38] dgoldenberg-audiomack commented on #1254
@kvignesh1420 Interesting.  I'll add some string cleansing code. However, a) why is the parquet reader so sensitive to special characters? and b) the error message is both wrong and misleading. It should say something like "invalid format", "invalid characters detected", or the like.

Can we add an enhancement to the framework's code to either allow the special chars, or disallow them. If some cha

[2020-12-31 17:45] kvignesh1420 commented on #1252
@dgoldenberg-audiomack to connect to `s3` using `pyspark` you can set the creds either in the spark context, as env vars or in the `spark-env` file I guess. Depends on your environment setup.
Reference: https://stackoverflow.com/questions/32155617/connect-to-s3-data-from-pyspark

Coming to the enhancement request, loading configurations for file-systems based on security contexts (other than env v

[2020-12-31 17:48] kvignesh1420 commented on #1254
@dgoldenberg-audiomack yes, the error message seems misleading as the `parquet-cpp` reader that we use is unable to read few rows such as these and the initial assumption was that the row value might be null.

However, just to cross-verify can you try once again after you clean up the data?

[2020-12-31 18:01] kvignesh1420 commented on #1254
UPDATE: After further exploration, I found the following behaviour of `core_ops.io_parquet_readable_read` to be the root cause of the issue:

[code]

However, when we read the items individually, there is no exception:

[code]

@dgoldenberg-audiomack as mentioned above, until I get some insight on this, please let me know after you try using clean data.

[2020-12-31 18:34] vnvo2409 commented on #1252
@dgoldenberg-audiomack

I am thinking that your problem has nothing to do with the env and credentials. Because it throws `NotFoundError` rather than `FailedPreconditionError`.

https://github.com/tensorflow/tensorflow/blob/9cfc4f740fadf04ce194e7e9b65decc0736503e4/tensorflow/core/platform/s3/s3_file_system.cc#L767-L769

So I think some additional logs could help us understand better what `aws-sdk-

[2020-12-31 18:49] dgoldenberg-audiomack commented on #1252
@kvignesh1420 Explicitly handling creds of an environment such as e.g. production in code is something I suspect a lot of users of this functionality will have a problem with. Is there a ticket for "loading configurations for file-systems based on security contexts (other than env vars)"?  If not, I propose we create one, as an enhancement request.

[2020-12-31 18:51] dgoldenberg-audiomack commented on #1252
@vnvo2409 Might this be due to the fact that I'm reading the files immediately after they're created in S3? There may be some latency due to the 'eventual consistency'. If so, this won't his us in a prod scenario, only in this prototype scenario.  I'm going to try and put a delay between the writing and the reading to see if it helps, while reading with s3e.

[2020-12-31 18:53] dgoldenberg-audiomack commented on #1254
@kvignesh1420 Vignesh, I'll add a cleansing step for the string data and update the ticket.

[2020-12-31 19:01] vnvo2409 commented on #1252
@dgoldenberg-audiomack

We have an issue here https://github.com/tensorflow/tensorflow/issues/43344. The main blocker is `aws-sdk-cpp` seems  to decide that this feature is not high-priority and we use `aws-sdk-cpp` under the hook so it is really hard for getting this work properly.

[2021-01-04 17:58] kvignesh1420 opened #1255 "Restructure README.md content"
The [development](https://github.com/tensorflow/io#development) section in the README.md file is not only being used to document instructions for the developers but is also used by Github Actions CI jobs. This section consumes a lot of space which might overwhelm new developers/contributors who just want to get a brief idea about the project through the README.md file.

[Build Status](https://gith

[2021-01-04 19:25] yongtang commented on #1255
Sounds good to me 👍

[2021-01-05 16:29] #1255 closed

[2021-01-05 16:44] dgoldenberg-audiomack commented on #1252
@vnvo2409 Hi, I've added my "vote"/comment on that issue (43344). IMO, it really should be a higher priority.

@kvignesh1420:

The "s3e" scheme is not working for me. Please take a look at my isolated code sample (attached). All it's trying to do is load a single Parquet file (attached) out of S3 into a IODataset.

Stack trace is below.

I had thought that I've got a latency due to the 'eventual c

[2021-01-05 18:49] kvignesh1420 commented on #1252
@dgoldenberg-audiomack based on your script, here are the steps that I performed based on your data and script:

1. spin up a local instance of localstack that we use for CI testing:
[code]

2. Upload the file that you provided into the s3 filesystem:
[code]

3. Read the parquet dataset
[code]

Observation:

[code]
The actual filename and the one mentioned in code is different. Is this something t

[2021-01-05 19:24] kvignesh1420 commented on #1215
@noahtren any update on this?

[2021-01-05 19:27] kvignesh1420 commented on #1028
@yongtang can this be closed?

[2021-01-05 19:28] kvignesh1420 commented on #991
Closing due to inactivity. Please reopen if required.

[2021-01-05 19:28] #991 closed

[2021-01-05 19:29] kvignesh1420 commented on #990
Closing due to inactivity. Please reopen if required.

[2021-01-05 19:29] #990 closed

[2021-01-05 19:38] noahtren commented on #1215
@kvignesh1420 Oh I ended up just using the Parquet format as that seems to be a good existing solution for serializing CSV-like data. My curiosity here was if the function could support `jsonlines` format. Happy to close the issue if this functionality isn't seen as necessary.

[2021-01-05 19:40] yongtang commented on #1028
@kvignesh1420 Yes I think this issue has been resolved.

[2021-01-05 19:40] #1028 closed

[2021-01-05 19:50] dgoldenberg-audiomack commented on #1254
Hi @kvignesh1420,

The cleansing step is not helping.  In the specific example

[code]
The "special" character is û, a Unicode character. In theory it should cause no problems anywhere, I believe it's totally legitimate for it to be in Parquet.  I've added a filter for non-ASCII and re-ran my tester. Still hitting the "null" problem on movie titles.

I can't even iterate the ratings dataset to get

[2021-01-05 19:51] dgoldenberg-audiomack commented on #1254
@kvignesh1420 So, what's the problem in `core_ops.io_parquet_readable_read`? Will you be instrumenting a fix? And in the meantime, is there a workaround? Thanks.

[2021-01-05 21:16] dgoldenberg-audiomack commented on #1252
@kvignesh1420 Sorry, I may have copy and pasted a wrong path while preparing the python snippet.

Interestingly, both the s3 and s3e protocols work. What was missing was this:

[code]

This gets the code going actually. However, ideally, one wouldn't have to set this up when running in EMR.

[2021-01-05 21:34] kvignesh1420 commented on #1254
I believe this might be due to the failure of this condition (for BYTE_ARRAY) type.

https://github.com/tensorflow/io/blob/master/tensorflow_io/core/kernels/parquet_kernels.cc#L193-L197.

However, I am somewhat puzzled based on this behaviour: https://github.com/tensorflow/io/issues/1254#issuecomment-753017262

@yongtang can you please help us with this?

[2021-01-06 03:38] MohannadEhabBarakat opened #1260 "ArrowDataset' object has no attribute 'make_one_shot_iterator'"
I used the sample code in the readme file to test loading pandas and I got this error:
ArrowDataset' object has no attribute 'make_one_shot_iterator'

code:
!pip install tensorflow_io
import tensorflow as tf
import tensorflow_io.arrow as arrow_io
import pandas as pd

df = pd.DataFrame(
        {
            "A": [1.0, 5, 7, 9, 8],
            "C": [66, 779, 90, 90, 100]
        }
    )

dataset =

[2021-01-06 06:45] kvignesh1420 commented on #1260
@MohannadEhabBarakat the code snippet is outdated:
You can use the dataset as follows:

[code]

[2021-01-06 07:35] kvignesh1420 commented on #124
@yongtang I hope this can be closed now?

[2021-01-06 08:02] kvignesh1420 commented on #142
@yongtang if we can limit the memory consumption on GPU's using this [reference](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and if the chunk of data sent to the device is relatively small, the transformation on the GPU might make sense.

Just putting in an idea here. Not sure about the feasibility.

[code]

[2021-01-06 08:12] MohannadEhabBarakat commented on #1260
@kvignesh1420
Thanks that works now

[2021-01-06 08:12] #1260 closed

[2021-01-06 08:17] kvignesh1420 commented on #251
Closing as of now. Please reopen if required.

[2021-01-06 08:17] #251 closed

[2021-01-06 08:22] kvignesh1420 commented on #831
Closing as of now. Please reopen if required.

[2021-01-06 08:22] #831 closed

[2021-01-06 08:26] kvignesh1420 commented on #802
@dalelane please take a look the updated [kafka notebook](https://github.com/tensorflow/io/blob/master/docs/tutorials/kafka.ipynb) which provides info on streaming-based inference and online learning. Closing as of now. Please reopen if required.

[2021-01-06 08:26] #802 closed

[2021-01-06 08:28] kvignesh1420 commented on #680
@hollowgalaxy any updated on this?

[2021-01-06 08:28] kvignesh1420 commented on #637
@suyashkumar any updates on this?

[2021-01-06 08:31] kvignesh1420 commented on #636
@suyashkumar any updates on this? I see that the tutorial has been published: https://www.tensorflow.org/io/tutorials/genome.

Please let me know if this can be closed.

[2021-01-06 08:35] kvignesh1420 commented on #489
@yongtang any updates on this?

[2021-01-06 08:42] kvignesh1420 commented on #893
@davidho27941 any updates on this? As @gruossomonica mentioned you can `concatenate` multiple hdf5 datasets and read them as a single one.

[2021-01-06 08:44] kvignesh1420 commented on #1066
@vlasenkoalexey @RuhuaJiang any updates on this issue?

[2021-01-06 10:53] dalelane commented on #802
@kvignesh1420 This looks fantastic, thanks so much!
Would it be okay if I submitted a small PR to tweak it to replace the Confluent-specific bits, so this could be used by any Apache Kafka user, please?

[2021-01-06 12:26] kvignesh1420 commented on #802
@dalelane that would be nice!

[2021-01-06 15:54] yongtang commented on #124
@kvignesh1420 Yes I think this can be closed.

[2021-01-06 15:54] #124 closed

[2021-01-06 17:22] kvignesh1420 commented on #142
Also, this might be related: https://github.com/tensorflow/tensorflow/issues/44873

[2021-01-06 18:03] yongtang commented on #1254
I will take a look.

[2021-01-06 18:07] hollowgalaxy commented on #680
I don't have the code anymore to test so if @kvignesh1420 would be able to answer this.

[2021-01-06 19:14] yongtang commented on #1254
Added PR #1262 for the fix.

[2021-01-07 09:28] #1254 closed

[2021-01-07 09:30] kvignesh1420 commented on #1254
@dgoldenberg-audiomack since the PR has been merged, you can use the `tensorflow-io-nightly` python package to use this fix until the next release.

[2021-01-08 17:28] marno1d commented on #1245
@kvignesh1420 I had a chance to test these changes in the new tensorflow-io-nightly build and it seemed to get rid of the memory leak. Thanks for making this fix. I'll close this issue now.

[2021-01-08 17:28] #1245 closed

[2021-01-08 22:16] kvignesh1420 opened #1265 "Performance benchmarking of tensorflow_io API's"
`tensorflow_io` supports a wide variety of API's for IO operations. However, there is a lack of benchmarking of the performance of these API's, which the users might find very useful. This issue is aimed at discussing possible design solutions to address this.

**Suggestion:**
We can use the test data available in our repo (add additional data if required or download data on the fly) and perform b

[2021-01-08 22:20] yongtang commented on #1265
@kvignesh1420 pytest support benchmark as well and in the past we have several benchmarks tests enabled in `tests/test_io_dataset_eager.py` and `tests/test_io_tensor_eager.py`. See `@pytest.mark.benchmark` within files. Combining benchmark tests with GitHub actions will be excellent.

[2021-01-08 22:23] burgerkingeater commented on #1265
+1 to this. A benchmark of this kind would be extremely helpful.

[2021-01-08 22:24] kvignesh1420 commented on #1265
@yongtang will check it out. Thanks.

[2021-01-09 01:43] vlasenkoalexey commented on #1066
Sorry, forgot to provide an update here.
After profiling reader on a benchmark with 100+ columns (see https://github.com/vlasenkoalexey/bigquery_perftest/blob/master/bq_perftest_mult_columns.py)
 I realized that the bottleneck is batch step:
[code]
If you move batching to the same thread as read, performance is going to be much better.

Here is updated sample:
[code]

Originally I planned to updat

[2021-01-11 18:02] suyashkumar commented on #637
Ah yes, this was closed by #775. Thanks for following up!

[2021-01-11 18:02] #637 closed

[2021-01-11 18:10] suyashkumar commented on #636
Hi @kvignesh1420 I don't think we got back around to exposing a return value of a `tf.data.Dataset`--this may be a somewhat useful API, but is not necessary for folks to take advantage of the genome functionality.

[2021-01-11 18:21] kvignesh1420 commented on #636
@suyashkumar It would be nice to have such an API. Please let me know your suggestions on this issue. If you can contribute and close this that would be great.

[2021-01-11 18:55] angerson commented on #1236
I'm still working on this. It's going slow because there's a complex internal approval process for things like the ability to export service account credentials for bazel.

[2021-01-13 18:41] lminer opened #1268 "Op not registered 'IO>AudioEncodeWAV'"
I'm trying to create a savedModel using tensorflow-io, but unfortunately am running into the following error when I try to load the savedmodel.  Is this a feature that isn't supported yet? I'm using tensorflow 2.4.0, tensorflow-io 0.17.0.

[code]

[2021-01-13 21:24] yongtang commented on #1268
@lminer Do you have a minimal reproducible code snippet that exposes the issue?

[2021-01-13 21:38] lminer commented on #1268
@yongtang just added one

[2021-01-15 17:49] MarkDaoust opened #1272 "Kafka.ipynb is broken in colab."
Using tensorflow_io 0.17

The kafka.ipynb notebook fails in this block:

[code]

[code]

[2021-01-15 18:00] MarkDaoust opened #1273 "Import Errors with TensorFlow IO 0.17 (tensorflow.org)"
I'm trying to regenreate tensorflow.org/io for 0.17.

In the buid_docs script's [recursive import](https://github.com/tensorflow/io/blob/master/tools/docs/build_docs.py#L52) a few subpackages are failing to import. Any ideas  what's causing these errors or how we can avoid them in the future?

[code]

[2021-01-15 18:29] kvignesh1420 commented on #1272
@MarkDaoust the online-training variant might not be stable in Colab env. I will fix this.

[2021-01-15 19:19] lminer commented on #414
Any updates on this?

[2021-01-16 16:13] kvignesh1420 opened #1275 "Inconsistent documentation in tensorflow.org/io"
![image](https://user-images.githubusercontent.com/25393945/104816811-755cc800-5843-11eb-81d6-765c22339b5c.png)

The docs for https://www.tensorflow.org/io/api_docs/python/tfio/experimental/IODataset seems to be broken.
However, the [from_parquet docstring](https://github.com/tensorflow/io/blob/ccb321cbf2fc0323e9863bacc2b34b56c6b1d25d/tensorflow_io/core/python/ops/io_dataset.py#L260) seem to be fi

[2021-01-16 16:13] kvignesh1420 commented on #1275
cc: @MarkDaoust

[2021-01-18 06:38] donglinz opened #1276 "File operations hang indefinitely when accessing azure blob storage"
Hi,

I am running the tensorflow_io colab tutorial. The code works well when working with Azurite enumerator. However, the file operation hand indefinitely when access files in azure blob storage.

The colab is over here: https://colab.research.google.com/github/tensorflow/io/blob/master/docs/tutorials/azure.ipynb#scrollTo=yZmI7l_GykcW

For instance, the following operations will hand when access

[2021-01-18 10:17] kvignesh1420 commented on #1268
@lminer when I tried to run your code-snippet, I get

[code]

Then I added the following save option and it worked.
[code]

[2021-01-18 20:03] lminer commented on #1268
@kvignesh1420 for some reason it only sporadically throws that error.

I did the same as you, but ran into the unfortunate issue that even if I whitelist IO, tfio ops are not accessible in `tensorflow-serving`, which is why I was putting it in savedmodel format in the first place.

Looks like the hold-up here is this [issue](https://github.com/tensorflow/io/issues/414).

[2021-01-19 06:16] kvignesh1420 commented on #1265
Benchmarks are now available here: https://tensorflow.github.io/io/dev/bench/

[2021-01-19 21:59] angerson commented on #1236
Another update: I've been working on this with the following assumptions:

1. `bazel build` can only cache via a GCP service account credential file
2. There is no method that doesn't require a service account credential file

Our company security team can grant an exception allowing us to export service account keys, but they must have a very short lifespan. I'm now looking at whether or not I ca

[2021-01-20 09:18] kvignesh1420 commented on #1276
@donglinz can you share some information on your azure environment?

[2021-01-20 12:26] donglinz commented on #1276
@kvignesh1420 I was using an Azure blob storage in east US region.
Performance: Standard
Access Tier: Hot
Replication: Locally-redundant storage (LRS)
Account type: BlobStorage
You can read detailed specification in below exported template.

[code]
Looks tensorflow-io is tested against non-official emulators. There might be some gaps between the live system and offline emulators:)
![image](https:/

[2021-01-21 12:03] donglinz commented on #1276
@yongtang Can you please take a look?  Here is a minimum reproducible code snippet including the azure blob storage key for testing: https://colab.research.google.com/drive/1UcyUKKVDF2ttOOG5yRSIDAO8gsw1c3mz?usp=sharing

[2021-01-21 13:48] kvignesh1420 commented on #1236
Thanks @angerson !

[2021-01-21 17:07] yongtang commented on #1276
@donglinz I used to have azure access though I don't have the access at the moment. Will take a look and see though it may take some extra time to get the azure access first.

From the my previous experiences, if an operation hangs sometime it is tied to the mismatch of endpoint (or endpoint port was blocked). Could this be the cause?

[2021-01-22 04:17] bguisard opened #1281 ""Error in `python': free(): invalid next size (normal)" when reading boolean columns from Parquet files into `tfio.IODataset`"
Hi,

I am running into a corrupted memory issue when I try to read boolean columns from parquet files.

This [colab notebook](https://colab.research.google.com/gist/bguisard/be76c89606b876227e2563c260037c40/tfio_parquet_bug.ipynb) reproduces the error. I'm also attaching my local error log for convenience since Colab doesn't seem to expose the error that caused it to crash:

[code]

[2021-01-22 04:34] donglinz commented on #1276
@yongtang Thank you for your reply. I think neither endpoint not port was blocked since I can connect to my Azure blob storage via [Python client](https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-readme?view=azure-python)

[2021-01-22 10:22] burgerkingeater commented on #1276
@donglinz  which specific operation is hanging?

[2021-01-23 08:36] donglinz commented on #1276
@burgerkingeater All call I have tried will be hanging (create folder, read, write)

[2021-01-24 11:00] touqir14 commented on #1215
@kvignesh1420 , If this is still relevant, can I work on this?

[2021-01-24 20:13] kvignesh1420 commented on #1215
@touqir14 if you can raise the PR's corresponding to the support for `jsonlines` format that would be great.

[2021-01-25 14:32] btranscend commented on #745
im having the same issue/ files check out under h5check and h5dump but when ran, it cant read the data in the files:

[code]

[2021-01-25 16:05] yongtang commented on #745
@btranscend Can you fill a new issue with additional information (e.g., OS distribution, version, python version), and ideally a sample file that triggers the crash?

[2021-01-25 21:06] pierreoberholzer opened #1284 "BigTable connector to TensorFlow 2.x"
**System information**

TensorFlow version (you are using): 2.x
Are you willing to contribute it (Yes/No): Potentially as a tester / documenter

**Describe the feature and the current behavior/state.**

On one hand TensorFlow is currently recognized as one of the main machine learning libraries [1], in particular for neural network families of models (including auto-encoders) that integrates with

[2021-01-26 22:27] yongtang commented on #1281
@bguisard Wondering if you can provide the pyarrow version, is it 3.0.0 or 2.0.0?

[2021-01-26 23:16] bguisard commented on #1281
@yashk2810

I didn't install pyarrow on my local environment. It's only used on the Colab notebook mentioned above, to generate parquet files with random data, so we can easily reproduce the error.

I'm guessing that the issue is not with pyarrow, but with the C++ ops used by tensorflow-io to parse parquet files.

[2021-01-27 16:26] yongtang commented on #1284
@pierreoberholzer wondering if there is any advantages using BigTable compared to BigQuery? BigQuery is also used widely in GCP and there is already integrations with tensorflow-io.

[2021-01-27 16:34] pierreoberholzer commented on #1284
@yongtang BigQuery has a limit of 10'000 columns that BigTable hasn't [1] (plus higher storage costs for sparse table I assume).

[1] https://stackoverflow.com/questions/65416119/bigquery-how-to-go-beyond-10000-columns/65553624#65553624

[2021-01-27 18:34] yongtang commented on #1281
@bguisard PR #1285 updates the arrow C++ library to 3.0.0, with is also the library used for parsing parquet files. Can you give the latest nightly `pip install tensorflow-io-nightly==0.17.0.dev20210127161146` a try?

[2021-01-27 19:15] bguisard commented on #1281
Thanks for the quick turn around @yongtang.

Unfortunately, the problem doesn't seem to go away after upgrading to `tensorflow-io-nightly==0.17.0.dev20210127161146`. The issue persists both in my local environment and on the Colab notebook referenced above.

[code]

[2021-01-28 23:19] yongtang commented on #1284
PR #1286 adds a stub emulator setup for test. Implementation will be added later.

[2021-01-29 00:40] yongtang commented on #1236
Added a PR #1287 as a first step to introduce the bazel cache. The PR only adds support for git push commit. The forked PR by outside contributors still do not have access yet. We will see if we can address it later.

[2021-01-29 03:36] yongtang commented on #1236
The latest master commit reduces macOS build time from `1 hours 24 mins` to `12 mins`:

https://github.com/tensorflow/io/runs/1788887957?check_suite_focus=true

[2021-01-29 18:07] ewilderj commented on #1236
That's pretty cool!

[2021-01-29 18:45] wchargin commented on #1236
That’s awesome—thanks very much to @angerson for setting this all up!

[2021-01-29 19:44] angerson commented on #1236
Great!

We're still working on allowing PRs to use the cache, which depends on another policy exemption I'm requesting.

[2021-01-29 19:54] kvignesh1420 commented on #1236
That would be great! thanks a lot, @angerson.

[2021-02-01 16:22] ds-steventondeur opened #1291 "[windows] Segmentation fault when reading certain datasets from hdf5"
Hi,

Platform: Win10
Python: 3.6.12
TensorFlow: 2.3.0
tensorflow-io: 0.16.0   (I'm currently working in an environment that does not allow me updating to tf 2.4)

I'm receiving segfaults when trying to access an hdf5 dataset through `tfio.IODataset.from_hdf5`. This occurs only on windows (couldn't reproduce on google colab on cloud, nor on amazon EC2 linux) and only seems to happen when the datase

[2021-02-03 19:50] yongtang commented on #1236
The read-only bazel cache has been enabled for forked PRs as well now (see PR #1294). We see immediate speedup in all PRs (with macOS build reducing from 1hour20min to 15min).

Thanks a lot to @angerson for the great work, and thanks a lot to tensowflow team, tensorflow community, and google for the support 👍 🎉 🎆 !

[2021-02-03 21:05] redmlr opened #1298 "arm64 support for M1"
Dear TensorFlow-io team and community,
are there any plans for adding support for arm64 machines? I use a M1 mac and I'm not able to install the wheel. Anyone who's reading this, do you know any alternatives that I can use? My goal is to create a mel-spectogram from a .wav file. ps: M1 cannot use Scipy at this time.

[2021-02-03 22:30] yongtang commented on #1298
@redmlr In order to get M1 support I think we needs
1. The M1 version of the tensorflow package (https://github.com/tensorflow/tensorflow/issues/44751 provides a way to build tensorflow on M1, though no release package)
2. A M1 build machine (ideally with GitHub Actions) (https://github.com/actions/runner/issues/805)

I don't have access to M1 laptop yet, may take a look after I get one.

[2021-02-04 20:47] redmlr commented on #1298
@yongtang Thank you for answering,
There’s a m1 accelerated version of tensorflow in apples tensorflow repo, which is in alpha version. I’m running the latest version of this and it runs fine but tensorflow-io is a separate library which won’t install.

[2021-02-04 21:33] yongtang commented on #1298
@redmlr The tensorflow-io package will need to be re-compiled for all functionalities to work. Though if you are only looking for functions that does not requires C++ code (only need python code) then it should be possible to just package the source tree.

Which function (or list of functions) you intend to use?

[2021-02-05 06:36] redmlr commented on #1298
@yongtang I'm planning to use the following:

`tfio.experimental.audio.trim
tfio.experimental.audio.spectrogram
tfio.experimental.audio.melscale
tfio.experimental.audio.dbscale
tfio.experimental.audio.freq_mask
tfio.experimental.audio.time_mask
`

[2021-02-06 08:15] diggerk commented on #1281
This is caused by a bug in the `arrow` library, see https://issues.apache.org/jira/browse/ARROW-11518 and https://github.com/apache/arrow/pull/9432.

[2021-02-06 16:54] redmlr commented on #1298
Thank you @yongtang !
I'm using not that long.. What does just package the source tree mean and how do I do this? I already downloaded the latest release of io and changed the desired file (__init__.py) as mentioned in #1302

[2021-02-06 17:28] yongtang commented on #1298
@redmlr With PR #1302 in you can build the wheel with:
[code]

The wheel file will be located under `dist` directory.

You can then install the wheel with:
[code]

That will at least allows you to use python only functions in tensorflow-io.

Note `--no-deps ` will ignore the dependency of `tensorflow` package (as the official tensorflow package is different from the apple's tensorflow package).

N

[2021-02-08 04:16] yongtang commented on #1281
@bguisard I have applied @diggerk 's patch (thanks 👍 ) to tensorflow-io and a new version of tensorflow-io-nightly is available:
https://pypi.org/project/tensorflow-io-nightly/0.17.0.dev20210208020836/#files

Can you give it a try?

[2021-02-08 13:26] kvignesh1420 commented on #1272
closing the issue as https://github.com/tensorflow/io/pull/1274 has been merged.

[2021-02-08 13:26] #1272 closed

[2021-02-08 13:30] kvignesh1420 commented on #1275
cc: @MarkDaoust can you please take a look?

[2021-02-08 17:15] #1275 closed

[2021-02-09 02:35] caubekimo opened #1306 "Importing tensorflow_io leads AttributeError: module 'tensorflow._api.v2.experimental' has no attribute 'register_filesystem_plugin'"
**Describe the bug:**
just import modules bellow
[code]

and the Traceback is:
[code]

**Environment details (please complete the following information):**
Environment location:
Docker 20.10.2

Docker image:
rapidsai/rapidsai:latest

Linux Distro/Architecture:
Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-142-generic x86_64)

GPU Model/Driver:
GeForce RTX 2080Ti * 4 and driver 418.39

CUDA:
10.1

Tensorflow

[2021-02-10 01:33] yongtang commented on #1306
@caubekimo Can you show the steps you used to install python, tensorflow, tensorflow-io?

I am not familiar with rapidsai's docker image. When I give it a try, the tensorflow is not installed:
[code]

Can you show the steps you used to install tensorflow and tensorflow-io?

[2021-02-12 19:42] #1265 closed

[2021-02-17 00:59] caubekimo commented on #1306
Sure, I install it with the most easy way:
[code]

thanks for the try.

[2021-02-17 22:31] bguisard commented on #1281
Hi @yongtang, I was able to read boolean columns successfully after you've pulled the fix in the arrow library. Thanks @diggerk for the quick fix.

[2021-02-19 14:29] donglinz commented on #1276
@yongtang Greeting! May I expect some update on this?

[2021-02-25 16:00] dgoldenberg-audiomack opened #1313 "NotImplementedError: unable to open file: libtensorflow_io.so"
Running on AWS in EMR, bootstrapping as follows:

[code]
Seeing a library load error as below. The code is basically like this:
[code]
 I'm loading a parquet file like this: Loading s3://my-bucket/dir1/dir2/part-00000-6f1f5a9d-95ac-462c-b148-fcb9404d6972-c000.snappy.parquet

Error:
[code]

[2021-02-25 19:40] yongtang commented on #1313
@dgoldenberg-audiomack With PR #1309, the tensorflow-io-nightly has been switched to depending on tf-nightly. Since there are some changes in tensorflow core repo, tf-nightly's API might be slightly different from tensorflow 2.4.0.

For your specific issues, I think if you use a specific tensorflow-io-nightly version earlier than  2021/02/10:
[code]

The issue will be resolved for your case for no

[2021-02-25 20:56] dgoldenberg-audiomack commented on #1313
@yongtang Thanks for your fast response on this one. Oddly, I pushed my configuration back to `tensorflow_io==0.17.0` from nightly. And with that, my parquet reads appear to be working. They looked broken per #1254.  Somehow, I'm not seeing the #1254 error now.  I'm thinking to run on 0.17.0 for now and if something breaks with parquet reading, then use your recommendation and switch to `tensorflo

[2021-03-04 14:51] lrothack commented on #1121
In order to directly iterate over the samples from multiple parquet files in a single dataset, you can replace `map` with `interleave` in @kvignesh1420 's original answer.

[2021-03-05 11:08] faroit opened #1318 "resample accuracy with respect to signal length"
imagine resampling a signal back and forth (e.g. first up than down) to apply some processing in the upsampled domain...

[code]

this revealed that the number of samples is not the same anymore (some samples are dropped)

[code]

This happens only for fractional sample-rate ratio (e.g. 44100/48000) so maybe this is due its internal `int` representation of the samplerate?

@yongtang I'm not really

[2021-03-07 12:46] vnvo2409 opened #1321 "Cache CI test result"
This issue is more like an opinion. I think we should cache our test results with `bazel`. Since we all know that `I/O` operations are generally unstable. Many tests usually falls ( especially on `MacOS` ) and it's hard to tell whether it is because the of that PR or there is a flake. One more thing, our HEAD is usually red which confuses users and contributors.

[2021-03-08 15:10] yongtang commented on #1321
@vnvo2409 We use pytest for python related testing as it is more friendly than Bazel's builtin python test (which is hard to setup for many first-time contributors). Though I think even with pytest it is still possible to wire up with bazel and cache the result. I think we can do some investigation here.

[2021-03-08 15:44] vnvo2409 commented on #1321
Maybe we could do some futher improvements for our tests. Because in some tests, we use `tf.test`, in some tests, we use `pytest` and other tests we use `unittest`. Maybe we should choose one testing framework for all of our tests. What do you think @yongtang ?

[2021-03-08 15:59] yongtang commented on #1321
@vnvo2409 That will be great if we can have one test framework. I am inclined to have a non-TF related test framework (like pytest or unitest) because pytest or unitest are  easily understandable than tensorflow's test framework to outside contributors. Many of our contributors in tensorflow-io are not exactly tensorflow dedicated contributors. They are more like users of tensorflow, who happened

[2021-03-09 07:12] #1318 closed

[2021-03-11 12:25] Talb27 commented on #1064
I am using Ubuntu 16.04 and getting the same error! Any help?

[2021-03-12 06:50] donglinz opened #1325 "TPU compatibility"
Hi guys,

As we know the available dependencies on a TPU server is differ from a GPU server. Can we have a cheat sheet that highlighting the TPU compatibility of different tensorflow-io data source? Maybe something like this?

| Datasource| TPU compatibility |
| ----------- | ----------- |
| Ignite | Yes/No |
| Kafka | Yes/No|
| Azure blob | Yes/No |

[2021-03-12 06:53] donglinz commented on #1325
I noticed some similar issues confusing on TPU compatibility [1217](https://github.com/tensorflow/io/issues/1217). So, I think it would be really helpful to have such a list.

[2021-03-12 20:00] abedshantti commented on #927
@yongtang is the fix only for nightly? I am currently working with the standard version '0.17.0' and I am encountering errors when attempting to read local .parquet files.

[code]

And the error I'm receiving is: `AttributeError: module 'tensorflow_io' has no attribute 'IOtensor'`.

The same happens if I try with `tfio.v0.IOtensor.from_parquet`

[2021-03-16 13:08] abedshantti commented on #1121
@kvignesh1420 do the files need to be stored in my local machine, or can I use files in AWS S3?

I have tried replacing `files = ['file1.parquet', 'file_2.parquet']` with `files = [s3bucket + "/path/file_{}.parquet".format(i) for i in range(5)]`, but the file reading never actually finish.

[2021-03-16 15:21] abedshantti commented on #1121
I managed to resolve this by using `tf..data.Dataset.from_tensor_slices` instead of `tf.data.Dataset.list_files`
[code]
It is also stated on the Tensorflow's API that `from_tensor_slices` is preferred to `list_files` for reading remotely stored data: https://www.tensorflow.org/api_docs/python/tf/data/Dataset#list_files

[2021-03-16 15:50] kvignesh1420 commented on #1121
thanks for the update @abedshantti

[2021-03-16 19:52] abedshantti commented on #1121
@kvignesh1420  no problem. I am relatively new to `tf.datasets` and I have one more question regarding the labels for the files. In my case, each file is a time-series and I want the tensorflow dataset to embed the classification labels in order to train the model. This is how I am defining my function:

[code]

Is the correct way to generate a dataset that includes both the data and labels, which

[2021-03-16 20:36] kvignesh1420 commented on #1121
@abedshantti in the above snippet, `labels` are not shuffled. Only the `inner_ds` dataset is shuffled.
To shuffle both labels and data, you can try:
[code]

[2021-03-17 08:51] abedshantti commented on #1121
@kvignesh1420 I am trying to shuffle the order of the files in the batches, so that I don't end up with exactly the same training time-series files in every batch. So instead of batch 1 being files 1, 2, ... , 32 during every epoch, I would prefer to the order of the files to be shuffled when training, but not the contents of the files (which are preprocess time-series data).

[2021-03-18 10:53] abedshantti opened #1329 "TypeError when training a model using tfio.IODataset.from_parquet"
I am currently receiving one of the following errors (depending on the sequence of data prep):

`TypeError: Inputs to a layer should be tensors. Got: <tensorflow.python.data.ops.dataset_ops._NestedVariant object at 0x000001E02F62FB00>`

or

`TypeError: Inputs to a layer should be tensors. Got: <_VariantDataset shapes: OrderedDict`

Background: I have some parquet files, where each file is a multi-

[2021-03-18 16:36] yongtang opened #1330 "Move tfio.experimental.audio and tfio.experimental.audio.spectrogram out of experimental"
This is a feature request from https://github.com/tensorflow/io/pull/1001#issuecomment-802005249

This issue is to track the progress. We may need to change several places including docs as well.

/cc 8bitmp3

[2021-03-18 19:33] 8bitmp3 commented on #1330
Thank you @yongtang

[2021-03-18 21:51] abedshantti commented on #1329
Note: my example works if I change the `train_ds` and the `val_ds` to copy the data directly from the dataframes. However, it is not working when trying to access the saved data files via `tfio.IODataset.from_parquet`.

[2021-03-19 13:13] yongtang commented on #1329
@abedshantti Are you using `label_ds` as one input element of your model, or as a batch of input elements in your model? If later then you can convert `label_ds` to a dataset, and tuple `from_parquet` and `tf.data.Dataset.from_tensor_slices(label_ds)` to form a dataset that can be passed to keras.

[2021-03-19 14:29] haf opened #1331 "Connecting to pgsql"
Hi,

I'm trying to connect to pgsql, from a Notebook kernel running on a mac with psql compiled with openssl support. I've verified I can connect to the same connection/db with psycopg2 successfully.

I'm now trying to turn a table into a dataset with tensorflow/io, with code like this:

[code]

And receiving:

[code]

It would seem the crash comes from how this library is compiled, and not how I'

[2021-03-19 15:54] abedshantti commented on #1329
@yongtang I am trying to attach the labels to their corresponding data. In the example above, I have 10 parquet files and 10 labels. You can think of each file as a timeseries on its own and the true labels are stored externally in the `label` array in the code above (each element of the array correspond to one file). In the example above, `label_ds` is just an argument to the mapping function, an

[2021-03-19 16:34] yongtang commented on #1329
@abedshantti If each parquet represent one label value then I think you may have to read at least one parquet file into tensor(memory) to form one complete `(value, label)` pair. Dataset will help when you have many `(value, label)` pairs as keras can process one at a time. Are you looking for partially (less than one `(value, label)` pair) reading data into keras?

[2021-03-19 17:01] abedshantti commented on #1329
@yongtang Thanks for clarifying. In my case, I don't believe partial reading will be appropriate since the model needs the entire sequence of a given file to be associated with the label.

But based on your explanation, does the same apply for image classification problems? Because they are usually stored in the same manner, and the model is trained on batches of images and their labels. Unless pr

[2021-03-19 17:54] yongtang commented on #1329
@abedshantti Image could differ based on file types. Most images are `[height, weight, channel(3 or 4)]` and when you treat one image as one value mapping to one label, you do need to read one complete image into the memory/tensor. However, some image types like GIF or TIFF could consists of multiple images/frames (even with different shapes). In that case, tensorflow-io provided dataset approach

[2021-03-19 19:05] abedshantti commented on #1329
In general, I am trying to do the same thing as the image classification problem in the example code I included for this issue. I have managed to accomplish it when everything is in memory in the form of `dataframe.values`, but not when reading from the files. Here is a functional example using the dataframes directly:

[code]
I can't seem to figure out how to replicate the same desired behaviour

[2021-03-19 21:09] abedshantti commented on #1329
Found a workaround, which seems to do the job as intended. However, I still believe that a functionality for reading parquet or csv files and attaching labels separately needs to be supported in the future, since `tf.data.experimental.make_csv_dataset` also assumes that the label is one of the columns in the csv and disregards use cases such as the one presented in this issue.

Here is my not-so-n

[2021-03-22 18:00] lminer opened #1335 "decode_flac not working in tfio-nightly 0.18.0 and tf-nightly 2.5.0"
I'm trying to get the nightly version of tensorflow 2.5.0-dev to work with the nightly version of tensorflow-io.

However, when running a simply `tf.data` dataset that incorporates `tfio.audio.decode_flac`, I get a `NotImplementedError`.

Versions are:
- tb-nightly-2.5.0a20210322
- tensorflow-io-nightly-0.18.0.dev20210318195435
- tf-estimator-nightly-2.5.0.dev2021032201
- tf-nightly-2.5.0.dev20210

[2021-03-23 17:05] rikuturkki opened #1337 "support for 16-bit tiff files"
Hi, would be great to have support also for 16-bit tiff files.

[2021-03-23 20:44] yongtang commented on #1335
@lminer The issue is very likely the same issue as PR #1336. I tends to believe the latest nightly `pip install tensorflow-io-nightly==0.18.0.dev20210323183735` fixed it. Can you give the new nightly a try?

[2021-03-23 21:23] lminer commented on #1335
That fixed it!

[2021-03-23 21:23] #1335 closed

[2021-03-24 15:03] karrdy89 opened #1341 "Error with decoded CSV file: InvalidArgumentError: Unquoted fields cannot have quotes/CRLFs inside"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or bin